<tr>
	<td align="center" valign="top" id="templateFooter">

		<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
			<tr>
				<td valign="top" class="footerContainer">
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
								<tbody class="mcnTextBlockOuter">
									<tr>
										<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
											<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
												<tbody>
													<tr>
														<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
															<p>Registered in England & Wales Company No. 09301554</p>
															<p>WarmZilla Limited are Authorised and regulated by the Financial Conduct Authority FRN 815093 for credit broking.</p>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="min-width:100%;">
						<tbody class="mcnFollowBlockOuter">
							<tr>
								<td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="min-width:100%;">
										<tbody>
											<tr>
												<td align="center" style="padding-left:9px;padding-right:9px;">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border: 1px none;" class="mcnFollowContent">
														<tbody>
															<tr>
																<td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
																	<table align="center" border="0" cellpadding="0" cellspacing="0">
																		<tbody>
																			<tr>
																				<td align="center" valign="top">
																					<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked" style="display:inline;">
																						<tbody>
																							<tr>
																								<td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;">
																									<a href="http://www.facebook.com/WarmZilla" target="_blank">
																										<img src="{site_url}images/email_assets/facebook-icon.png" alt="Facebook" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;">
																									</a>
																								</td>
																								<td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;">
																									<a href="http://www.twitter.com/WarmZilla/" target="_blank">
																										<img src="{site_url}images/email_assets/twitter-icon.png" alt="Twitter" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;">
																									</a>
																								</td>
																								<td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;">
																									<a href="http://www.instagram.com/warmzilla/" target="_blank">
																										<img src="{site_url}images/email_assets/instagram-icon.png" alt="Instagram" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;">
																									</a>
																								</td>
																								<td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;">
																									<a href="https://www.youtube.com/channel/UCO84ObwRL_Vk-DW8VDgJTdQ" target="_blank">
																										<img src="{site_url}images/email_assets/youtube-icon.png" alt="YouTube" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;">
																									</a>
																								</td>
																								<td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:0; padding-bottom:9px;">
																									<a href="https://www.warmzilla.co.uk" target="_blank">
																										<img src="{site_url}images/email_assets/link-icon.png" alt="Website" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;">
																									</a>
																								</td>
																							</tr>

																						</tbody>
																					</table>
																					
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>

										</tbody>
									</table>

								</td>
							</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
						<tbody class="mcnTextBlockOuter">
							<tr>
								<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
									<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
										<tbody>
											<tr>
												<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
													<p>WarmZilla Limited, Capital Tower, 3rd Floor Capital Tower, Greyfriars Road, Cardiff, CF10 3AG</p>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
									<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
										<tbody>
											<tr>
												<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
													<em>Copyright © {current_time format="%Y"} WarmZilla Ltd, All rights reserved.</em>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>