<tr>
	<td align="center" valign="top" id="templatePreheader">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
			<tr>
				<td valign="top" class="preheaderContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
						<tbody class="mcnImageBlockOuter">
							<tr>
								<td valign="top" style="padding:9px" class="mcnImageBlockInner">
									<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
										<tbody>
											<tr>
												<td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
													<img align="center" alt="header logo" src="{site_url}images/email_assets/header-logo.png" width="242" style="max-width:242px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
													{if site_url == "http://warmzilla.test/" || site_url == "http://staging.warmzilla.co.uk/" || site_url == "https://staging.warmzilla.co.uk/"}
														<h1 style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif;text-align:center;">THIS IS STAGING!</h1>
													{/if}<br><br>
												</td>
											</tr>
										</tbody>
									</table>
									{if site_url == "http://warmzilla.test/" || site_url == "http://staging.warmzilla.co.uk/" || site_url == "https://staging.warmzilla.co.uk/"}<h1 style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif;text-align:center;">THIS IS STAGING!</h1>{/if}<br><br>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>