{exp:channel:entries
	channel="products"
	disable="categories|category_fields|member_data|pagination|trackbacks"
	dynamic="no"
	entry_id="{embed:product_id}"
	require_entry="yes"
}
{p_related_boiler_description}
<tr>
	<td style="padding: 10px 5px;"><strong>Boiler model:</strong></td>
	<td style="padding: 10px 5px;">{p_related_boiler_description:title} ({product_sku})</td>
</tr>
{/p_related_boiler_description}
{/exp:channel:entries}