{exp:channel:entries
	channel="products"
	disable="categories|category_fields|member_data|pagination|trackbacks"
	dynamic="no"
	entry_id="{embed:product_id}"
	require_entry="yes"
}
{p_related_boiler_description}
	{if embed:dry == "yes"}
	{p_related_boiler_description:title} ({product_sku})
	{if:else}
	<p><strong>Boiler model:</strong> {p_related_boiler_description:title} ({product_sku})</p>
	{/if}
{/p_related_boiler_description}
{/exp:channel:entries}