///* ========================================================================
//   #BORDER-RADIUS
//   ======================================================================== */

// Mixin to add border-radius for all browsers
@mixin border-radius($int) {
    -webkit-border-radius: $int;
    -moz-border-radius: $int;
    -ms-border-radius: $int;
    -o-border-radius: $int;
    border-radius: $int;
}