///* ========================================================================
//   #BOX-SHADOW
//   ======================================================================== */

// Mixin to add box-shadow for all browsers
@mixin box-shadow($val) {
	-webkit-box-shadow: $val;
  	-moz-box-shadow: $val;
 	box-shadow: $val;
}