///* ========================================================================
//   #TRANSITION-DURATION
//   ======================================================================== */

// Mixin to add transition-duration for all browsers
@mixin transition-duration($val) {
    -webkit-transition-duration: $val;
    -moz-transition-duration: $val;
    -ms-transition-duration: $val;
    -o-transition-duration: $val;
    transition-duration: $val;
}