///* ========================================================================
//   #TRANSITION-TIMING-FUNCTION
//   ======================================================================== */

// Mixin to add transition-timing-function for all browsers
@mixin transition-timing-function($val) {
    -webkit-transition-timing-function: $val;
    -moz-transition-timing-function: $val;
    -ms-transition-timing-function: $val;
    -o-transition-timing-function: $val;
    transition-timing-function: $val;
}