///* ========================================================================
//   #TRANSITION
//   ======================================================================== */

// Mixin to add transition for all browsers
@mixin transition($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -ms-transition: $val;
    -o-transition: $val;
    transition: $val;
}