///* ========================================================================
//   #TRANSFORM-ORIGIN
//   ======================================================================== */

// Mixin to add transform-origin for all browsers
@mixin transform-origin($val) {
    -webkit-transform-origin: $val;
    -moz-transform-origin: $val;
    -ms-transform-origin: $val;
    -o-transform-origin: $val;
    transform-origin: $val;
}