///* ========================================================================
//   #TRANSFORM
//   ======================================================================== */

// Mixin to add transform for all browsers
@mixin transform($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    transform: $val;
}