///* ========================================================================
//   #USER-SELECT
//   ======================================================================== */

// Mixin to add user-select for all browsers
@mixin user-select($val) {
    -webkit-user-select: $val;
	-moz-user-select: $val;
	-ms-user-select: $val;
	-o-user-select: $val;
	user-select: $val;
}