{!--
=====================================================
    Add all questions from "Find a Boiler - Questions" Channel
    Fields:
    - Subtitle (fb_subtitle)
    - Question (fb_question)
    - Answers (fb_answers) [grid]
        Sub Fields:
        - Icon (icon)
        - Title (title)
        - Number (number)
        - Description (description)
        - Increment in Boiler Price (increment_in_boiler_price)
        - Increment in Installation charges (increment_in_installation_charge)
        - Next Question (next_question) [relationship]
        - Final Result ? (final_result)
    - Simple Content (gf_simple_content)
    - Question Weightage (question_weightage)
    - Answer Box Design (answer_box_design)
=====================================================
--}
{exp:channel:entries
    channel="find_a_boiler_questions"
    disable="member_data|pagination|trackbacks|relationships"
    dynamic="no"
}
<section class="que-sec position-relative boiler-question {if entry_id == '105'}start-questions{/if} question_{entry_id}" style="display: none;" 
    data-entry="{entry_id}" 
    data-title="{title}"
    data-step="{categories limit='1'}{question_priority}{/categories}"
>
    <div class="space-large">
        <div class="container">
            <div class="heading-second text-center">
                <h2 class="h2 main-title">
                    {if fb_question}
                        {exp:chopper words="100" append="..." allow="<em>|<span>"}{fb_question}{/exp:chopper}
                    {if:else}
                        {title}
                    {/if}
                </h2>

                {if fb_subtitle}
                    <p>{exp:chopper words="100" append="..."}{fb_subtitle}{/exp:chopper}</p>
                {/if}

                {if gf_simple_content}
                <a href="Javascript:void(0);" class="need-help-img" data-toggle="modal" data-target="#que_help_{entry_id}">
                    <span><i class="fal fa-question-circle"></i>Need Help?</span>
                    <img src="/images/site/need-help-dinosour2.png" alt="need help dino">
                </a>
                {/if}

            </div>

            {fb_answers}
            {if fb_answers:count == 1}
            <div class="que-type position-relative">
                {if entry_id != '105'}
                <a href="Javascript:void(0);" class="ic-left-arrow back-btn"></a>
                {/if}
                
                <div class="que-list row justify-content-center">    
                    {/if}
                    <div class="card col-xl-3 col-md-4 col-12 ans-{fb_answers:row_id}
                        {if answer_box_design == 'square'} 
                            {if fb_answers:number} 
                                card-number 
                            {if:else} 
                                square-box 
                            {/if} 
                        {if:else} 
                            {if fb_answers:description} 
                                card-info 
                            {if:elseif fb_answers:zoom_icon == 'yes'} 
                                full-img 
                            {/if} 
                        {/if}">

                        <div 
                            class="answer-box item bg-white flex-md-column text-center"
                            data-selection="{fb_answers:row_id}"
                            data-next="{fb_answers:next_question:entry_id}"
                            data-final="{fb_answers:final_result}"
                            data-answer="{if fb_answers:number}{fb_answers:number}{if:else}{fb_answers:title}{/if}"
                            data-incBoilerPrice="{fb_answers:increment_in_boiler_price}"
                            data-incInstallCharge="{fb_answers:increment_in_installation_charge}"
                            onclick="ga('send','event','Find a Boiler Question','{title}','{if fb_answers:number}{fb_answers:number}{if:else}{fb_answers:title}{/if}');"
                        >
                            {if fb_answers:description}
                            <i class="info ic-info"></i>
                            {/if}

                            {!--{if (fb_answers:increment_in_boiler_price != "" && fb_answers:increment_in_boiler_price != 0) || (fb_answers:increment_in_installation_charge != "" && fb_answers:increment_in_installation_charge != 0)}
                            <i class="price-info">+£{exp:warmzilla_cp:add a1="{fb_answers:increment_in_boiler_price}" a2="{fb_answers:increment_in_installation_charge}"}</i>
                            {/if}--}
                            {if fb_answers:increment_in_boiler_price != "" && fb_answers:increment_in_boiler_price != 0}
                            {if "101|115" *= entry_id}
                            {if:else}
                            <i class="price-info">+£{fb_answers:increment_in_boiler_price}</i>
                            {/if}
                            {/if}

                            <em class="hover-border"></em>

                            <div class="wrap-div">
                                {if fb_answers:number}
                                    <span class="text-center number-text">
                                        {fb_answers:number}
                                    </span>
                                {if:else}
                                    <figure class="text-center">
                                        <img src="{fb_answers:icon}" alt="{fb_answers:title}">
                                    </figure>
                                    <span class="card-title">{fb_answers:title}</span>
                                {/if}
                            </div>

                            {if fb_answers:description}
                            <p class="card-text">
                                {fb_answers:description}
                            </p>
                            {/if}

                            {if answer_box_design != "square" && fb_answers:description != ""}
                            <span class="card-select btn btn-dark">Select</span>
                            {/if}

                        </div>
                        {if entry_id == '104'}
                            <a href="Javascript:void(0);" data-toggle="modal" class="need-help" data-target="#que_help_104" style="display: block;">Need help?</a>
                        {/if}
                    </div> 
                    {if fb_answers:count == fb_answers:total_rows}
                </div>
            </div>
            {/if}
            {/fb_answers}

            {if gf_simple_content}
            <a href="Javascript:void(0);" class="mob-need-help-img" data-toggle="modal" data-target="#que_help_{entry_id}">
                <span><i class="fal fa-question-circle"></i>Need Help?</span>
                <img src="/images/site/need-help-dinosour2.png" alt="need help">
            </a>
            {/if}

            <div class="text-center reset-link">
                {if entry_id != '105'}
                <a href="Javascript:void(0);" class="ic-left-arrow back-btn mobile-btn"></a>
                {/if}
                <a href="Javascript:void(0);" class="reset-btn" data-toggle="modal" data-target="#confirm-modal">Reset survey</a>
            </div>

            {!--
            =====================================================
                Get a modal box popup if there is anything in Help box
            =====================================================
            --}
            {if gf_simple_content}
            <div class="modal fade" id="que_help_{entry_id}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times-circle"></i></span>
                        </button>      
                        <div class="modal-body">
                            <div class="content">
                                {gf_simple_content}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/if}

        </div>                  
    </div>       
</section>
{/exp:channel:entries}
{!--
=====================================================
    Include confirmation dialog box
=====================================================
--}
{embed="includes/.confirm-modal"}

<script>
    
</script>