<section class="position-relative progress-bar-wrapper" style="display: none;">
    <div class="wz-progress-bar text-center">
        <div class="wz-inner-wrap position-relative">
            <div class="wz-progress "> {!--active-2--}
                <div class="wz-progress-line"></div>
            </div>
            <div class="wz-steps-wizard  d-flex justify-content-between">
                {exp:channel:categories channel="find_a_boiler_questions" style="linear"}
                <div class="wz-step pbar-{question_priority}"> {!--finished--} {!--active--}
                    <div class="wz-step-icon"><span><i class="ic-right-sign"></i><em>{question_priority}</em></span></div>
                    <p>{category_name}</p>
                </div>
                {/exp:channel:categories}
                <div class="wz-step pbar-5">
                    <div class="wz-step-icon"><span><i class="ic-right-sign"></i><em>5</em></span></div>
                    <p>Select Your New Boiler</p>
                </div>
                <div class="wz-step pbar-6">
                    <div class="wz-step-icon"><span><i class="ic-right-sign"></i><em>6</em></span></div>
                    <p>Checkout</p>
                </div>
            </div>
        </div>
    </div>
</section>