{if embed:style == "compact"}
    <div class="new-summary-sec">
        <div class="survey-summary-acc" style="width: 100%;">
            <div class="accordion" id="summary_accordion">
                <div class="card">
                    <div class="card-header bg-orange curve-header" id="">
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne"> 
                            View / Edit Survey
                        </h5>                                                            
                        <em class="submenu-caret collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne"></em>                    
                    </div>
                    <div class="card-header bg-light-orange">
                        <a href="Javascript:void(0);" class="font-italic" data-toggle="modal" data-target="#confirm-modal" style="width:100%;">Reset Survey <em class="submenu-caret collapsed"></em></a>
                    </div>  
                    <div id="collapse1" class="collapse" aria-labelledby="" data-parent="#summary_accordion" style="">
                        <div class="card-body p-0">
                            <ul class="summary-list d-flex flex-wrap">
                                {exp:warmzilla_cp:questioncookie}
                                {if no_results}{redirect="find-a-boiler/index"}{/if}
                                <li class="d-flex justify-content-between align-items-center">
                                    <div class="survey-label">{title}</div>
                                    <div class="survey-value">{answer}</div>
                                    <a href="javascript:void(0);" class="surver-modify edit-question" data-edit="{entry}"><i class="ic-pen"></i>Edit</a>
                                </li>
                                {/exp:warmzilla_cp:questioncookie}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                       
    </div>
{if:else}
    <div class="container">
        <div class="survey-summary-acc mt-3 mb-3">
            <div class="accordion" id="summary_accordion">
                <div class="card">
                    
                    <div class="card-header bg-light-orange">
                        
                        <a href="Javascript:void(0);" class="font-italic" data-toggle="modal" data-target="#confirm-modal">Reset Survey <em class="submenu-caret collapsed"></em></a>
                    </div>
                    <div class="card-header bg-orange" id="headingOne">
                        <em class="submenu-caret collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseOne"></em>
                        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseOne"> 
                            View / Edit Survey
                        </h5>
                    </div>
                    {exp:warmzilla_cp:questioncookie}


                    {if count == 1}
                    <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#summary_accordion">
                        <div class="card-body p-0">
                            <ul class="summary-list d-flex flex-wrap">
                            {/if}
                            <li class="d-flex justify-content-between align-items-center">
                                <div class="survey-label">{title}</div>
                                <div class="survey-value">{answer}</div>
                                <a href="javascript:void(0);" class="surver-modify edit-question" data-edit="{entry}"><i class="ic-pen"></i>Edit</a>
                            </li>
                            {if count == total_results}
                            </ul>
                        </div>
                    </div>
                    
                    {!--<div class="mt-1 reset-link">
                        <a href="Javascript:void(0);" class="btn btn--primary small-btn reset-link" data-toggle="modal" data-target="#confirm-modal">Reset list and start from the beginning?</a>
                    </div>--}
                    {/if}
                    {/exp:warmzilla_cp:questioncookie}

                </div> 
            </div>
        </div>
    </div>
{/if}

{!--
=====================================================
    Include confirmation dialog box
=====================================================
--}
{embed="includes/.confirm-modal"}