<div class="c-vendigo-calc vendigo_calculator {embed:style}{if '442|443|478|479|492|493|494|499|500|501|502|503|504|1647|1648|4358|7139|7141|7203' *= embed:product} interest-0{/if}">
    <span class="close">X</span>
    {!--<form>--}
        <input type="hidden" id="original-price" value="{embed:total_price}">
        <h3>Pay Monthly</h3>
        <p style="margin-bottom: 15px !important; color: #000;"><small><strong>Please check that you have selected the correct Finance Plan with Payment Term before proceeding.</strong></small></p>
        <div class="form-group">
            <label for="finance-plan">Finance Plan</label>
            <select class="form-control" name="finance-plan" id="finance-plan" onchange="changePlan(this)">
                {if "442|443|478|479|492|493|494|499|500|501|502|503|504|1647|1648|4358|7139|7141|7203" *= embed:product}
                <option value="0.0">0% APR</option>
                {/if}
                <option selected value="9.90">9.9% APR</option>
            </select>
        </div>
        <div class="form-group fin-plan">
            <label for="finance-plan">Choose Payment Term</label>
            <select class="form-control" name="finance-term" onchange="changeTerm(this)">
                <option value="3" class="finance-12">3 Years (36 Months)</option>
                <option value="4" class="finance-12">4 Years (48 Months)</option>
                <option value="5" class="finance-12">5 Years (60 Months)</option>
                <option value="7" class="finance-12">7 Years (84 Months)</option>
                <option value="10" class="finance-12">10 Years (120 Months)</option>
                <option value="2" class="finance-0" style="display:none;">2 Years (24 Months)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="finance-deposit">Choose Deposit
                <span class="right" id="deposit-amount"></span>
            </label>
            <input type="range" min="0" value="0" class="form-control" name="finance-deposit" oninput="changeDeposit(this)" onchange="changeDeposit(this)">
        </div>
        <div class="form-group">
            <p><strong>Monthly Payment: </strong>
                <span class="right" id="monthly-payment"></span>
            </p>
        </div>
        <div class="form-group">
            <p><strong>Interest: </strong>
                <span class="right" id="total-interest"></span>
            </p>
        </div>
        <div class="form-group">
            <p><strong>Order Total: </strong>
                <span class="right" id="loan-amount">{embed:total_price}</span>
            </p>
        </div>
        <div class="form-group">
            <p><strong>Loan Amount: </strong>
                <span class="right" id="total-price">{embed:total_price}</span>
            </p>
        </div>
        <span class="less-1k" style="color: red;display: none;">Loan amount cannot be less than £1,000</span>
        {!--<input type="button" value="Proceed to Vendigo" id="vendigo">--}
    {!--</form>--}
</div>