<a href="{exp:cartthrob:get_download_link  free_file="{theme_folder_url}../user/cartthrob/images/cartthrob_logo_bg.jpg"}" }"> download free file</a>
<br />
<a href="{exp:cartthrob:get_download_link group_id="1" file="{theme_folder_url}../user/cartthrob/images/cartthrob_logo_bg.jpg"}"> download file restricted to group 1</a>


<br />Generates an encrypted download link
<br />NOTE: Standard downloads require at least a member id OR a group id. If you want no restriction use free_file parameter. 
<br />http://cartthrob.com/docs/tags_detail/get_download_link/