<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Form Name</th>
            <th>Handle</th>
            {if logged_in_group_id == "1"}
            <th>Submissions</th>
            {/if}
        </tr>
        </thead>
        <tbody>
        {exp:freeform_next:forms}
        {if form:no_results}
            <tr>
                <th colspan="{if logged_in_group_id=='1'}4{if:else}3{/if}"
                    style="text-align: center; font-size: 30px; color: #CCC;"
                >
                    There are currently no forms for this site.
                </th>
            </tr>
        {/if}
        <tr>
            <td>{form:id}</td>
            <td>
                <a href="{path='demo/bootstrap/{form:handle}'}">
                    {form:name}
                </a>
            </td>
            <td class="code">{form:handle}</td>
            {if logged_in_group_id == "1"}
            <td>
                <a href="{path='demo/bootstrap/{form:handle}/submissions'}">
                    {form:submission_count} submissions
                </a>
            </td>
            {/if}
        </tr>
        {/exp:freeform_next:forms}
        </tbody>
    </table>

</div>
