
<div class="row">
    {exp:freeform_next:form form="{embed:form}"
        submit_class="btn btn-success"
        return_url="{path='demo/foundation/{embed:form}'}"
    }

        {if form:is_submitted_successfully}
            <div class="callout success" role="alert">
                Form submitted successfully!
            </div>
        {/if}

        <h3>{form:name}</h3>

        {if form:page_count > 1}
            <ul class="menu pagemenu">
                {pages}
                    <li class="{if page:index == current_page:index}active{/if}">
                        <a href="javascript:;"{if page:index == current_page:index} class="is-active"{/if}>
                            {page:label}
                        </a>
                    </li>
                {/pages}
            </ul>
        {/if}

        {if form:has_errors}
            <div class="callout alert">
                There was an error submitting this form
            </div>
        {/if}

        {rows}
            <div class="row {form:row_class}">
                {fields}
                    <div class="{form:column_class} medium-{column:grid_width} columns {if field:type == 'checkbox' OR field:type == 'mailing_list'}checkbox{if:else}form-group{/if}{if field:has_errors} has-error{/if}{if field:type == 'submit'} submit submit-align-{field:position}{/if}">
                        {if field:type == 'checkbox_group'}

                            {field:render_label label_class="{if field:required}required{/if}"}
                            {field:options}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               name="{field:handle}[]"
                                               value="{option:value}"
                                               {if option:checked}checked{/if}
                                        />
                                        {option:label}
                                    </label>
                                </div>
                            {/field:options}
                            {field:render_instructions instructions_class="help-block"}
                            {field:render_errors error_class="help-block"}

                        {if:elseif field:type == 'radio_group'}

                            {field:render_label label_class="{if field:required}required{/if}"}
                            {field:options}
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               name="{field:handle}"
                                               value="{option:value}"
                                               {if option:checked}checked{/if}
                                        />
                                        {option:label}
                                    </label>
                                </div>
                            {/field:options}
                            {field:render_instructions instructions_class="help-block"}
                            {field:render_errors error_class="help-block"}

                        {if:elseif field:type == 'dynamic_recipients' AND field:show_as_radio}

                            {field:render_label label_class="{if field:required}required{/if}"}
                            {field:options}
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               name="{field:handle}"
                                               value="{option:index}"
                                               {if option:checked}checked{/if}
                                        />
                                        {option:label}
                                    </label>
                                </div>
                            {/field:options}
                            {field:render_instructions instructions_class="help-block"}
                            {field:render_errors error_class="help-block"}

                        {if:elseif field:type == 'submit'}

                            {field:render class="button"}

                        {if:else}

                            {field:render
                                class="{if field:type == 'checkbox' OR field:type == 'mailing_list'}checkbox{if:else}form-control{/if}"
                                label_class="{if field:required}required{/if}"
                                instructions_class="help-text"
                                instructions_below_field="yes"
                            }

                        {/if}
                    </div>
                {/fields}
            </div>
        {/rows}

        {if form:no_results}
            <div class="alert alert-danger">
                Form with the handle '{segment_3}' does not exist
            </div>
        {/if}

    {/exp:freeform_next:form}
</div>
