<script src="{exp:freeform_next:theme_folder_url}lib/codepack/js/jquery.min.js"></script>

{if embed:page=='bootstrap'}
    <script src="{exp:freeform_next:theme_folder_url}lib/codepack/js/bootstrap.min.js"></script>
{/if}


{if embed:page=='foundation'}
    <script src="{exp:freeform_next:theme_folder_url}lib/codepack/js/foundation.min.js"></script>
{/if}


{if embed:page=='materialize'}
    <script src="{exp:freeform_next:theme_folder_url}lib/codepack/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
{/if}


</body>
</html>
