<div class="container">

    {if logged_in_group_id == "1"}

        {exp:freeform_next:submissions form="{embed:form}" submission_id="{embed:submission_id}"}

            <h3>{form:name} - {submission:title}</h3>

            <table class="table table-striped">
                {submission:fields}
                <tr>
                    <th style="width: 20%;">{field:label}</th>
                    <td>
                    {if field:type == "file"} {!-- special handling for File fields --}
                        {exp:file:entries file_id="{field:value}"}
                            {if extension == "gif" OR extension == "jpg" OR extension == "jpeg" OR extension == "png"}
                                <img src="{file_url}" width="{width}" height="{height}" alt="{title}" />
                            {if:else}
                                <a href="{file_url}">{title}</a>
                            {/if}
                        {/exp:file:entries}
                    {if:else}
                        {field:value}
                    {/if}
                    </td>
                </tr>
                {/submission:fields}
            </table>

            {if submission:no_results}
                <div class="alert alert-danger" role="alert">
                    <p class="lead">
                        Sorry, no submission was found.
                    </p>
                </div>
            {/if}

        {/exp:freeform_next:submissions}

    {if:else}
        <div class="alert alert-danger" role="alert">
            <p class="lead">
                Sorry, we couldn't find what you're looking for. You must be an admin to see form submissions, or adjust your template.
            </p>
        </div>
    {/if}

</div>
