{embed="demo/inc_header" title="Materialize" page="materialize"}

<ul id="resources" class="dropdown-content">
    <li><a href="https://solspace.com">Solspace.com</a></li>
    <li><a href="https://solspace.com/expressionengine/freeform/docs">Documentation</a></li>
    <li><a href="https://solspace.com/expressionengine/freeform/support">Support</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="{path='demo/materialize'}" class="brand-logo">Freeform Demo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{path='demo/bootstrap'}">Bootstrap</a></li>
            <li><a href="{path='demo/foundation'}">Foundation</a></li>
            <li class="active"><a href="{path='demo/materialize'}">Materialize</a></li>

            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-button" href="#!" data-activates="resources">
                    Resources<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>

        </ul>
    </div>
</nav>

{if segment_4 == "submissions"}
    {if segment_5 ^= "P" OR segment_5 == ""}
        {embed="demo/materialize_submissions_list" form="{segment_3}"}
    {if:else}
        {embed="demo/materialize_submission" submission_id="{segment_5}" form="{segment_3}"}
    {/if}
{if:else}
    {if segment_3}
        {embed="demo/materialize_form" form="{segment_3}"}
    {if:else}
        {embed="demo/materialize_index"}
    {/if}
{/if}

{embed="demo/inc_footer" page="materialize"}
