///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

  $global-radius: 4px !default;
  $global-transition: all 300ms ease-in-out !default;

/* Fonts
   ========================================================================== */

   $default-font: 'Proxima Nova', 'Verdana', sans-serif !default; // main site wide font
   $secondary-font: 'Montserrat';

/* Breakpoints
   ========================================================================== */

  $breakpoints: (
    small: 480px, // mobile
    medium: 768px, // tablet
    large: 992px, // small desktop
    xlarge: 1280px, // large desktop
    xxlarge: 1600px, // xlarge desktop
  );

/* Colors
   ========================================================================== */

  // Colors shouldn't be used directly but reassigned
  $color-white: #fff;
  $color-black: #000;
  $color-charcoal: #212121;
  $color-very-light-grey: #ccc;
  $color-light-grey: #f6f5f3;
  $color-medium-grey: #666;
  $color-dark-grey: #333;
  $color-orange: #ed7622;
  $color-red: #ec4435;
  $color-yellow: #f8ce49;
  $color-grey: #757473;
  $color-green: #388811;

  // Body
  $body-bg: $color-light-grey;

  // Text
  $color-bg: $color-white;
  $color-text: $color-grey;

  // Span
  $span-color: $color-orange;

  // Links
  $color-link: $color-orange;
  $color-hover: $color-light-grey;

  // Buttons
  $button-bg: $color-orange;
  $button-primary-bg: $color-red;
  $button-secondary-bg: $color-yellow;
  $button-color: $color-white;
  $button-hover: $color-black;
  $button-green: $color-green;
  $button-secondary-text: $color-red;

  // Borders
  $color-border: $color-very-light-grey;

  // Fills
  $color-fill: $color-very-light-grey;
  
  // Footer 
  $footer-bg: $color-charcoal;

  // Font Weights
  $light: 300;
  $regular: 400;
  $normal: 500;
  $semibold: 600;
  $bold: 700;
  $extrabold: 800;



 