<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <style type="text/css">
        .container{max-width: 1200px;padding: 0 15px;margin: 0 auto;width: 100%;}

        *,
        *:before,
        *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

        body{margin: 0; color: #777777;font-size: 18px;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 1.5;background-color: #fff;}
        p{margin: 0 0 15px 0;font-size: 18px;color: #000;}
        .cf:before, .cf:after { content: ""; display: table; }
        .cf:after { clear: both; }
        .cf { zoom: 1; }

        .heading-area {padding: 50px 0 50px;border-top: 30px solid #ed7622;}
        .heading-top{margin-bottom: 30px;}
        .heading-logo {float: left;width: 30%;}
        .heading-logo img{width: 150px;}
        .heading-content {float: right;width: 60%;text-align: right;}
        .heading-content h2{margin: 0;color: #ed7622;font-size: 22px;}

        .address-inner{width: 30%;float: left;}
        .address-inner.large{width: 70%;float: right;text-align: right;}
        .address-inner p{margin-bottom: 0;}
        .address-inner .item .heading-content, .address-inner .item .heading{width: 50%;float: left;}

        .pre-install-checklist-area table{width: 100%;border-collapse: collapse;}
        table {width: 100%;margin-bottom: 15px;}
        table td{text-align: center;padding: 10px;border-bottom: 1px solid #ccc;font-size: 14px;}
         table td p{font-size: 14px;margin: 0;color: #777777}
        table th{text-align: center;padding: 10px;border-bottom: 1px solid #ccc;background-color: #ed7622;color: #fff;text-transform: uppercase;font-size: 12px;}
        .pre-install-checklist-area table th:first-child, .pre-install-checklist-area table tr td:first-child {text-align: left;width: 80%;}

        .address-inner td{width: 50%;border: 0;text-align: right;padding: 5px 10px;line-height: 1;}
        .additional-notes-heading {width: 50%;float: left;}
        .additional-notes-heading p{font-size: 16px;}
        .additional-notes-heading h3{margin: 0;color: #000;font-size: 20px;}
        .additional-message {float: left;width: 50%;border: 1px solid #ccc;padding: 5px 10px;text-align: center;font-size: 16px;}
        .additional-message p{margin: 5px 0 5px 0;line-height: 1;color: #777777;font-size: 16px;}
        .pre-install-checklist-area{margin-bottom: 50px;}
        .additional-notes-area{margin-bottom: 50px;}
        .customer-sign{width: 50%;float: left;text-align: center;}
        .engineer-sign-area{width: 50%;float: left;text-align: center;}
        .sign-area h2{font-size: 40px;color: #000;margin: 0;}
        .sign-area h5{font-size: 18px;color: #000;margin: 0;}
        
        .sign-area{margin-bottom: 50px;}
        
        .thankyou-message p{font-size: 16px;text-align: center;}

    </style>
</head>
<div class="container pre-install-checklist-pdf">
    {exp:channel:entries
    channel="orders"
    disable="categories|category_fields|member_data|pagination|trackbacks"
    entry_id="{segment_3}"
    status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
    }
    <div class="heading-area">

        <div class="heading-top cf">
            <div class="heading-logo">
                <img src="{site_url}images/site/logo.png" alt="Warmzilla Logo">
            </div>
            <div class="heading-content">
                <h2>Boiler Installation Completion Checklist</h2>
            </div>
        </div>

        <div class="address-heading cf">
            <div class="address-inner">
                <p>{order_customer_full_name}</p>                
                <p>{order_shipping_address}</p>
            </div>
            <div class="address-inner large">
                <table>
                    {if installation_date}
                    <tr>
                        <td><p><strong>Date</strong></p></td>
                        <td><p>{installation_date format="%d %F, %Y - %g:%i %A"}</p></td>
                    </tr>
                    {/if}
                    {if orders_installation_address}
                    <tr>
                        <td><p><strong>Site Address</strong></p></td>
                        <td><p>{orders_installation_address}</p></td>
                    </tr>
                    {/if}
                </table>
            </div>
        </div>
    </div>
    <div class="pre-install-checklist-area">
        <table>
            <thead>
                <th>
                    Question
                </th>                
                <th>
                    Yes
                </th>
                <th>
                    No
                </th>                
            </thead>
            <tbody>
                <tr>
                    <td>Have you checked each radiator for heat and are you satisfied that they are warm?</td>
                    <td>{if checked_each_radiator == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if checked_each_radiator == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Have you checked each hot water draw off point and are you satisfied that the water is hot?</td>                   
                    <td>{if checked_each_hot_water == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if checked_each_hot_water == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Are you satisfied with the installation of your boiler?</td>                    
                    <td>{if satisfied_with_the_installation == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if satisfied_with_the_installation == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Has the installation and decommissioning of all electrics been shown and explained to you?</td>                    
                    <td>{if installation_and_decommissioning == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if installation_and_decommissioning == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Have you been shown how to use your external controls and are you satisfied with how to
use them?</td>
                    <td>{if how_to_use_external_controls == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if how_to_use_external_controls == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>                    
                </tr>
                <tr>
                    <td>Are you in possession of all user guides?</td>                    
                    <td>{if are_you_in_possession == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if are_you_in_possession == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td> 
                </tr>
                <tr>
                    <td>Did the engineer show you how to re-pressurise your boiler with water?</td>
                    <td>{if eng_show_you_to_re_pressurise == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if eng_show_you_to_re_pressurise == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Did the engineers use dust sheets in the areas where they were working?</td>                    
                    <td>{if engineers_use_dust_sheets == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if engineers_use_dust_sheets == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Have the areas where the engineers worked been cleaned and left in an acceptable
manner?</td>                    
                    <td>{if areas_where_the_engineers_worked == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if areas_where_the_engineers_worked == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>                    
                </tr>
                <tr>
                    <td>Were the engineers polite and helpful?</td>
                    <td>{if engineers_polite_and_helpful == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if engineers_polite_and_helpful == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Did the engineers walk you around the installation areas after completion answering any questions you may have?</td>
                    <td>{if eng_walk_you_installation_area == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if eng_walk_you_installation_area == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Please can you confirm that you were you made aware before the installation commenced,
that your shower and/or shower unit may not be compatible with the new high pressure
system?</td>
                    <td>{if aware_about_install_commenced == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if aware_about_install_commenced == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                <tr>
                    <td>Would you recommend Warmzilla to a family member or friend?</td>                    
                    <td>{if recommend_warmzilla == 'Yes'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                    <td>{if recommend_warmzilla == 'No'}<img src="{site_url}images/site/check-mark.png">{/if}</td>
                </tr>
                {!--{if orders_registered_business_name}
                <tr>
                    <td>Registered Business name</td>
                    <td>{orders_registered_business_name}</td>                                        
                </tr>
                {/if}
                {if orders_registered_buss_address}
                <tr>
                    <td>Registered Business address</td>
                    <td>{orders_registered_buss_address}</td>                                        
                </tr>
                {/if}
                {if orders_phone_number}
                <tr>
                    <td>Phone Number</td>
                    <td>{orders_phone_number}</td>                                        
                </tr>
                {/if}
                {if orders_company_gas_safe_reg_no}
                <tr>
                    <td>Company Gas Safe Registration Number</td>
                    <td>{orders_company_gas_safe_reg_no}</td>                                        
                </tr>
                {/if}
                {if orders_select_boiler_type}
                <tr>
                    <td>Select Boiler Type</td>
                    <td>{orders_select_boiler_type}</td>                                        
                </tr>
                {/if}
                {if orders_boiler_make}
                <tr>
                    <td>Boiler Make</td>                                        
                    <td>{orders_boiler_make}</td>
                </tr>
                {/if}
                {if orders_boiler_model}
                <tr>
                    <td>Boiler model</td>                    
                    <td>{orders_boiler_model}</td>                    
                </tr>
                {/if}
                {if orders_boiler_serial_number}
                <tr>
                    <td>Boiler Serial Number</td>                                        
                    <td>{orders_boiler_serial_number}</td>
                </tr>
                {/if}
                {if orders_gas_rate}
                <tr>
                    <td>Gas Rate</td>                    
                    <td>{orders_gas_rate}</td>                    
                </tr>
                {/if}
                {if orders_gas_rate_unit}
                <tr>
                    <td>Gas Rate Unit</td>                                        
                    <td>{orders_gas_rate_unit}</td>
                </tr>
                {/if}
                {if operating_pressure_heat_input}
                <tr>
                    <td>Operating Pressure/heat input</td>
                    <td>{operating_pressure_heat_input}</td>                                        
                </tr>
                {/if}
                {if orders_op_heat_input_unit}
                <tr>
                    <td>Operating Pressure/heat input Unit</td>
                    <td>{orders_op_heat_input_unit}</td>                                        
                </tr>
                {/if}
                {if combustion_analyser_reading}
                <tr>
                    <td>Combustion Analyser Reading [Max / High]</td>
                    <td>{combustion_analyser_reading}</td>                                        
                </tr>
                {/if}
                {if combustion_analyser_reading2}
                <tr>
                    <td>Combustion Analyser Reading [Min / Low]</td>
                    <td>{combustion_analyser_reading2}</td>                                        
                </tr>
                {/if}
                {if standing_pressure_at_meter_mbar}
                <tr>
                    <td>Standing Pressure at the meter [MBAR]</td>
                    <td>{standing_pressure_at_meter_mbar}</td>                                        
                </tr>
                {/if}
                {if working_pressure_meter_mbar}
                <tr>
                    <td>Working Pressure at the meter [MBAR]</td>
                    <td>{working_pressure_meter_mbar}</td>                                        
                </tr>
                {/if}
                {if boiler_ownership}
                <tr>
                    <td>Boiler Ownership</td>
                    <td>{boiler_ownership}</td>                                        
                </tr>
                {/if}--}
                {!--{if additional_appliances}
                <tr>
                    <td>Additional Appliances</td>
                    <td>{additional_appliances}</td>                                        
                </tr>
                {/if}--}
                {!--{if appliance_inspected}
                <tr>
                    <td>Appliance inspected</td>
                    <td>{appliance_inspected}</td>                                        
                </tr>
                {/if}
                {if device_operating_correctly}
                <tr>
                    <td>Safety Device Operating Correctly</td>
                    <td>{device_operating_correctly}</td>                                        
                </tr>
                {/if}
                {if Defects}
                <tr>
                    <td>Defects identified</td>
                    <td>{Defects identified}</td>                                        
                </tr>
                {/if}
                {if remedial_actions_taken}
                <tr>
                    <td>Remedial Actions Taken</td>
                    <td>{remedial_actions_taken}</td>                                        
                </tr>
                {/if}
                {if engineers_notes}
                <tr>
                    <td>Engineers Notes</td>
                    <td>{engineers_notes}</td>                                        
                </tr>
                {/if}
                {if post_install_customer_print_name}
                <tr>
                    <td>Post Install Customer print name</td>
                    <td>{post_install_customer_print_name}</td>                                        
                </tr>
                {/if}
                {if post_install_engineer_print_name}
                <tr>
                    <td>Post Install Engineer print name</td>
                    <td>{post_install_engineer_print_name}</td>                                        
                </tr>
                {/if}
                {if post_install_eng_gas_safe_reg_no}
                <tr>
                    <td>Post Install Engineer gas safe register number</td>
                    <td>{post_install_eng_gas_safe_reg_no}</td>                                        
                </tr>
                {/if}
                {if post_install_date}
                <tr>
                    <td>Post Install Date</td>
                    <td>{post_install_date}</td>                                        
                </tr>
                {/if}--}                
            </tbody>
        </table>
    </div>

    <div class="additional-notes-area cf">
        <div class="additional-notes-heading">
            <p>
                Please can you leave a short review of your experience?
            </p>            
        </div>
        <div class="additional-message">
            {post_install_short_review}            
        </div>        
    </div>

    <div class="additional-notes-area cf">
        <div class="additional-notes-heading">
            <h3>Additional Notes</h3>
        </div>
        <div class="additional-message">
            {pre_install_note}
        </div>
    </div>

    <div class="sign-area cf">
        <div class="customer-sign">
            <!--<img src="{site_url}images/site/signature1.png" alt="customer sign">-->
            <h2>{if post_install_customer_print_name}{post_install_customer_print_name}{if:else}{order_customer_full_name}{/if}</h2>
            <h5>Customer Signature</h5>
        </div>
        <div class="engineer-sign-area">
            {assigned_engineer_for_this_job custom_fields="yes"}
            <!--<img src="{site_url}images/site/signature2.png" alt="engineers sign">-->
            <h2>{assigned_engineer_for_this_job:first_name} {assigned_engineer_for_this_job:last_name}</h2>
            {/assigned_engineer_for_this_job}
            <h5>Engineer Signature</h5>
        </div>
    </div>
    <div class="thankyou-message">
        <p>Thank you for taking the time to complete this survey</p>
    </div>
    {/exp:channel:entries}
</div>