<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <style type="text/css">
        .container{max-width: 1200px;padding: 0 15px;margin: 0 auto;width: 100%;}

        *,
        *:before,
        *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

        body{margin: 0; color: #777777;font-size: 18px;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 1.5;background-color: #fff;}
        p{margin: 0 0 15px 0;font-size: 18px;color: #777777;}
        .cf:before, .cf:after { content: ""; display: table; }
        .cf:after { clear: both; }
        .cf { zoom: 1; }

        .heading-area {padding: 0 0 10px}
        .heading-top{margin-bottom: 30px; text-transform: uppercase;border-bottom: 3px solid #ed7622; }
        .heading-logo {float: left;width: 12%;}
        .heading-logo img{width: 100%;}
        .heading-content {float: left; width:68%; text-align: center;}
        .heading-content h2{margin: 0;color: #ed7622;font-size: 26px; }
        .heading-ref {width: 20%; float:left; text-align: right;}
        .heading-ref h3 {font-size:18px;margin:0;font-weight:400;}

        table {width: 100%;margin-bottom: 10px;border-collapse: collapse;}
        table td{text-align: left;padding: 5px 10px;border: 1px solid #ccc;font-size: 12px;line-height: 1.1; vertical-align:top;}
        
        table td p{font-size: 14px;margin: 0;color: #777777}
        table td span{font-weight:600;color:#ed7622;}
        table th{text-align: left;padding: 10px;border: 1px solid #ccc;color: #ed7622;text-transform: uppercase;font-size: 14px;font-weight:600;}

        .safety-testing table td:nth-child(odd) {color:#ed7622;text-align: center;font-weight: 600;}
        .appliance-details td {text-align: center;}
        .appliance-details th {text-align: center;}
        .appliance-details tr:first-child td {font-weight: 600;text-transform: uppercase;}
        .footer {border-top:2px solid #ed7622;padding-top:15px;text-align:center;}
        .footer p {font-size:11px;text-transform: uppercase;color:#777;}

    </style>
</head>
<div class="container pre-install-checklist-pdf">
    {exp:channel:entries
    channel="orders"
    disable="categories|category_fields|member_data|pagination|trackbacks"
    entry_id="{segment_3}"
    status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
    }
    <div class="heading-area">
        <div class="heading-top cf">
            <div class="heading-logo">
                <img src="{site_url}images/site/logo.png" alt="Warmzilla Logo">
            </div>
            <div class="heading-content">
                <h2>Gas Safety Record</h2>
            </div>
            <div class="heading-ref">
                <h3><strong>GSR Ref:</strong> WZ/{entry_id}</h3>
            </div>
        </div>    
    </div>
    
    <table>
        <thead>
            <th>Company Details</th>
            <th>Installation details</th>
            <th>Customer Details</th>
        </thead>
        <tbody>
            <tr>
                <td>{exp:smart_members:profile member_id="{accepted_job_by_engineer}"}
                    <p>{engineer_company_name}</p>
                    <p>{address}, {if address2}{address2},{/if} {if address3}{address3},{/if} {city}, {zip}</p>
                    <br>
                    <p><strong>Tel: </strong>{phone}</p>
                    <p><strong>Email: </strong>{email}</p>
                    <p><strong>Web: </strong>{company_website}</p>
                    {/exp:smart_members:profile}
                    {assigned_engineer_for_this_job custom_fields="yes"}
                    {if assigned_engineer_for_this_job:gas_safe_number}
                    <p><strong>Gas Safe Number: </strong>{assigned_engineer_for_this_job:gas_safe_number}</p>
                    {/if}
                    {/assigned_engineer_for_this_job}
                </td>
                <td>
                    <p>{order_full_shipping_address}</p>
                    <p><strong>Date: </strong>{installation_date format="%d %F, %Y"} Between 8.00am - 11.00am</p>
                </td>
                <td>
                    <p>{order_customer_full_name}</p>
                    <br>
                    <p><strong>Tel: </strong>{order_customer_phone}</p>
                    <p><strong>Email: </strong>{order_customer_email}</p>
                </td>
            </tr>
        </tbody>
    </table>
    {parents field="order_gas_safety"}
    <div class="safety-testing">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Safety Testing</th>
                </tr>
            </thead>
            <tbody>
                {if parents:gas_tightness_test_satisfactory}
                <tr>
                    <td><strong>Gas Tightness Test</strong></td>
                    <td>{parents:gas_tightness_test_satisfactory}</td>
                </tr>
                {/if}
                {if parents:protective_equipotential_bonding}
                <tr>
                    <td><strong>Protective Equipotential Bonding</strong></td>
                    <td>{parents:protective_equipotential_bonding}</td>
                </tr>
                {/if}
                {if parents:gas_installation_pipework}
                <tr>
                    <td><strong>Gas Installation Pipework</strong></td>
                    <td>{parents:gas_installation_pipework}</td>
                </tr>
                {/if}
                {if parents:ecv_accessible}
                <tr>
                    <td><strong>ECV Accessible</strong></td>
                    <td>{parents:ecv_accessible}</td>
                </tr>
                {/if}
                {if parents:co_alarm_present}
                <tr>
                    <td><strong>CO Alarm Present</strong></td>
                    <td>{parents:co_alarm_present}</td>
                </tr>
                {/if}
                {if parents:co_alarm_working}
                <tr>
                    <td><strong>CO Alarm Working</strong></td>
                    <td>{parents:co_alarm_working}</td>
                </tr>
                {/if}
            </tbody>
        </table>
    </div>
    
    {parents:additional_appliances}
    {if parents:additional_appliances:count == 1}
    <table class="appliance-details">
        <thead>
            <tr>
                <th colspan="7">Appliance Details</tr>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight: 600; text-transform: uppercase;">
                <td></td>
                <td>Type</td>
                <td>Location</td>
                <td>Manufacturer</td>
                <td>Model</td>
                <td>Ownership</td>
                <td>Flue Type</td>
            </tr>
            {/if}
            <tr>
                <td><span>{parents:additional_appliances:count}</span></td>
                <td>{parents:additional_appliances:type}</td>
                <td>{parents:additional_appliances:location}</td>
                <td>{parents:additional_appliances:manufacturer}</td>
                <td>{parents:additional_appliances:model}</td>
                <td>{parents:additional_appliances:ownership}</td>
                <td>{parents:additional_appliances:flue_type}</td>
            </tr>
        {if parents:additional_appliances:count == parents:additional_appliances:total_rows}
        </tbody>
    </table>
    {/if}
    {/parents:additional_appliances}

    {parents:additional_appliance_inspection}
    {if parents:additional_appliance_inspection:count == 1}
    <table class="appliance-details">
        <thead>
            <tr>
                <th colspan="10">Inspection Details</th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight: 600; text-transform: uppercase;">
                <td></th>
                <td>HI (KW)</td>
                <td>Safety Device operating correctly</td>
                <td>Ventilation</td>
                <td>Terminal</td>
                <td>Flue Visual</td>
                <td>Combustion Analyser Reading</td>
                <td>Appliance Inspected</td>
                <td>Serviced</td>
                <td>Safe to Use</td>
            </tr>
            {/if}
            <tr>
                <td><span>{parents:additional_appliance_inspection:count}</span></td>
                <td>{parents:additional_appliance_inspection:hi_kw}</td>
                <td>{parents:additional_appliance_inspection:safety_device_operating_correctl}</td>
                <td>{parents:additional_appliance_inspection:ventilation}</td>
                <td>{parents:additional_appliance_inspection:terminal}</td>
                <td>{parents:additional_appliance_inspection:flue_visual}</td>
                <td>{parents:additional_appliance_inspection:combustion_analyser_reading}</td>
                <td>{parents:additional_appliance_inspection:appliance_inspected}</td>
                <td>{parents:additional_appliance_inspection:serviced}</td>
                <td>{parents:additional_appliance_inspection:safe_to_use}</td>
            </tr>
            {if parents:additional_appliance_inspection:count == parents:additional_appliance_inspection:total_rows}
        </tbody>
    </table>
    {/if}
    {/parents:additional_appliance_inspection}


    {parents:defects_identified}
    {if parents:defects_identified:count == 1}
    <table class="appliance-details">
        <thead>
            <tr>
                <th colspan="4">Defects Identified</tr>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight: 600; text-transform: uppercase;">
                <td></td>
                <td>Defect classification</td>
                <td>Defect Description</td>
                <td>Remedial action taken</td>
            </tr>
        {/if}
        <tr>
            <td><span>{parents:defects_identified:count}</span></td>
            <td>{parents:defects_identified:defect_classification}</td>
            <td>{parents:defects_identified:defect_description}</td>
            <td>{parents:defects_identified:remedial_action_taken}</td>
        </tr>
        {if parents:defects_identified:count == parents:defects_identified:total_rows}
        </tbody>
    </table>
    {/if}
    {/parents:defects_identified}
    
    <table>
        <thead>
            <th colspan="4">Engineers Notes (if any)</th>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">{parents:gas_safety_engineer_notes}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="{parents:gas_safety_engineer_signature}" alt="engineer signature">
                </td>
                <td colspan="2">
                    <img src="{parents:gas_safety_customer_signature}" alt="customer signature">
                </td>
            </tr>
            <tr>
                <td><strong>Customer Name:</strong> {order_customer_full_name}</td>
                <td><strong>Date:</strong> {parents:entry_date format="%d.%m.%y"}</td>
                
                <td>{assigned_engineer_for_this_job custom_fields="yes"} <strong>Engineer Name:</strong> {assigned_engineer_for_this_job:first_name} {assigned_engineer_for_this_job:last_name}{/assigned_engineer_for_this_job}</td>
                <td><strong>Date:</strong> {parents:entry_date format="%d.%m.%y"}</td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <p>Please refer to accompanying warning notice(s) for further information regarding any defects. Further guidance regarding safety records may be found at www.gassafetyregister.co.uk</p>
    </div>
    {/parents}
    {/exp:channel:entries}
</div>