<head>
    <link href="/fonts/generated/generated-font.css" rel="stylesheet"/>
    <link href="/fonts/styles.css" rel="stylesheet"/>   
    <style type="text/css">
        .container{max-width: 1200px;padding: 0 15px;margin: 0 auto;width: 100%;}

        *,
        *:before,
        *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

        body{margin: 0; color: #777777;font-size: 18px;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 1.5;background-color: #fff;}
        p {margin-top:0; margin-bottom:10px;}
        h3 {font-size:16px;font-weight:600;color:#ed7622;}

        .h4{color: #000;line-height: 1.2;letter-spacing: 0.002em;font-weight: 600;font-size: 24px;margin: 0 0 20px 0;}
        address{font-style: normal;font-size: 18px;}
        .desc{width: 50%;display: inline-block;vertical-align: top;}
        .desc p {margin: 0 0 15px 0;font-size: 18px;line-height: 1;}
        .desc p strong{font-weight: 700;line-height: 1;margin-right: 10px;display: inline-block;}
        a{color: #ed7622;text-decoration: none;}
        table{border-collapse: collapse; width: 100%;margin-bottom: 20px;}
        table th {color: #ed7622; text-transform: uppercase;text-align: left;font-size: 20px;font-weight:600;border: 1px solid #ccc;padding:7px 20px;}
        table td {border: 1px solid #ccc;font-size: 12px;line-height: 1.1; vertical-align:top;padding:20px;}
        table tr:nth-child(2) td { padding: 7px 20px;}
        table td p {font-size: 14px;margin: 0;color: #777777; margin-bottom:7px;}
        .cf:before, .cf:after { content: ""; display: table; }
        .cf:after { clear: both; }
        .cf { zoom: 1; }

        .survey-label{font-weight: 700;}
        .survey-value{padding-left: 10px;}

        .job-property-data {margin-bottom:20px;}

        .job-property-data .survey-value:before { content: ":";display: inline-block;font-weight: 700;margin-right: 5px;}
        .card, .job-property-data, .card-body{clear: both;overflow: hidden;}

        .job-product-list{margin: 0;padding: 0;width: 100%;border-collapse: collapse;}
        .job-product-list tr{font-size: 15px;list-style: none;padding: 10px;}
        .job-product-list tr:nth-child(odd){background-color: #f6f5f3;}
        .job-product-list tr td{padding: 10px;border: 1px solid #ccc;font-size: 0;}
        .job-product-list tr td > div{ width: 50%;display: inline-block;vertical-align: top;font-size: 14px;}
        .heading-area{border-bottom:2px solid #ed7622;}
        .heading-logo {float:left;width:200px;}
        .heading-logo img{width:100%;}
        .heading-content{float:right;}
        .heading-content h2{margin:0;text-transform:uppercase;color:#ed7622;font-size:32px;}
    </style>
</head>
<div class="container job-view-detail-pdf">
    {exp:cartthrob:order_items order_id="{segment_3}" limit="1"}
    {exp:channel:entries
    channel="orders" status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
    disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
    dynamic="no" entry_id="{segment_3}" limit="1" search:installation_date="not IS_EMPTY" 
    }
    <div class="heading-area">
        <div class="heading-top cf">
            <div class="heading-logo">
                <img src="{site_url}images/site/logo.png" alt="Warmzilla Logo">
            </div>
            <div class="heading-content">
                <h2>Job Sheet</h2>
            </div>
        </div>        
    </div>

    {embed="includes/.get-product-name" entry_id="{entry_id}" type="landing"}


    {boiler_questions}
    {if boiler_questions:count == 1}
    <div class="job-property-data">
        <table class="job-product-list cf">
            {/if}
            {if boiler_questions:count % 2 == 1}
            <tr>
                {/if}
                <td>
                    <div class="survey-label">{boiler_questions:question}</div>
                    <div class="survey-value">{boiler_questions:answer}</div>
                </td>
                {if boiler_questions:count % 2 == 0}
            </tr>
            {/if}
            {if boiler_questions:count == boiler_questions:total_rows}
            {!--<tr>
                <td>
                    <div class="survey-label">{boiler_questions:question}</div>
                    <div class="survey-value">{boiler_questions:answer}</div>
                </td>
            </tr>--}
        </table>
    </div>
    {/if}
    {/boiler_questions}

    <table>
        <thead>
            <th>Company Details</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {exp:smart_members:profile member_id="{accepted_job_by_engineer}"}
                    <p>{engineer_company_name}, {address}, {if address2}{address2},{/if} {if address3}{address3},{/if} {city}, {zip}</p>
                    <br>
                    <p><strong>Tel: </strong>{phone}</p>
                    <p><strong>Email: </strong>{email}</p>
                    <p><strong>Web: </strong>{company_website}</p>
                    {/exp:smart_members:profile}
                    {assigned_engineer_for_this_job custom_fields="yes"}
                    {if assigned_engineer_for_this_job:gas_safe_number}
                    <p><strong>Gas Safe Number: </strong>{assigned_engineer_for_this_job:gas_safe_number}</p>
                    {/if}
                    {/assigned_engineer_for_this_job}
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <th>Installation Details</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>{exp:warmzilla_cp:replace}
                    {if order_full_shipping_address == ''}
                    {order_full_shipping_address}
                    {if:else}
                    {order_full_billing_address}
                    {/if}
                    {/exp:warmzilla_cp:replace}</p>
                </td>
            </tr>
            <tr>
                <td>
                    {if installation_date}<p><strong>Installation Date: </strong>{installation_date format="%d %F, %Y - %g:%i %A"}</p>{/if}
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <th>Customer Details</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {if order_customer_full_name == ''}
                    <p>Sorry, no Customer found for this order.</p>
                    {if:else}
                    <p>{order_customer_full_name}, {order_full_billing_address}</p>
                    {/if}
                    <br>
                    {if order_customer_phone != ''}<p><strong>Tel: </strong>{order_customer_phone}</p>{/if}
                    {if order_customer_email != ''}<p><strong>Email: </strong>{order_customer_email}</p>{/if}
                </td>
            </tr>
        </tbody>
    </table>

    {/exp:channel:entries}
    {/exp:cartthrob:order_items}
</div>