
<head>
    <link href="/fonts/generated/generated-font.css" rel="stylesheet"/>
    <link href="/fonts/styles.css" rel="stylesheet"/> 
    <style type="text/css">
        .container{max-width: 1200px;padding: 0 15px;margin: 0 auto;width: 100%;}
        .container .container {padding: 0 40px;}

        *,
        *:before,
        *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

        body{margin: 0; color: #777777;font-size: 18px;font-weight: 400;line-height: 1.5;background-color: #fff;}
        p{margin: 0 0 10px 0;font-size: 16px;color: #757473;}
        .cf:before, .cf:after { content: ""; display: table; }
        .cf:after { clear: both; }
        .cf { zoom: 1; }

        .heading-area {padding: 0 0 10px;background-color:#ef7c24;height:160px;margin-bottom: 40px;background-image:url('{site_url}images/site/warmzilla-black-white-logo.svg');background-repeat:no-repeat;background-size:30%;background-position: center;position: relative;width:100%;}
        .heading-area span {color:#fff; margin-top: 20px;margin-right:20px;float:right;font-size:24px;}
        .heading-area span.triangle {position: absolute;left:50%; bottom:0; margin: 0; border-left: 30px solid transparent; border-right: 30px solid transparent; border-bottom: 30px solid #fff;}

        span {color:#ed7622; text-transform: uppercase;font-weight:600;display:block;margin-bottom:15px;}
        .order_customer {float: left; width: 50%; margin-bottom: 20px;}
        .order_invoice {float: right; text-align: right; width: 50%;}
        .installation_address {border-top: 1px solid rgba(125,125,125,0.5);border-bottom: 1px solid rgba(125,125,125,0.5);margin-bottom: 40px;text-align: center;padding-top: 20px;margin-top:20px;width:100%;}
        .installation_address p{margin:0;padding-bottom:20px;}
        .items{width: 100%;margin-bottom: 200px;border-collapse: collapse;margin-top: 20px;}
        .items td{padding: 10px;border: 1px solid #ccc;font-size: 12px;vertical-align:top;}
        .items thead {background-color:#2d2729;}  
        .items thead th {color:white;padding:10px;text-align:left;font-size:20px;}
        .items thead th:first-child {padding-left:20px;}
        .items thead th:nth-child(3) {text-align:center;}
        .items thead th:last-child {text-align: right; padding-right: 30px;}
        .items tr td:nth-child(3) {text-align: right;}
        .items tr.item {border-bottom:1px solid rgba(172,172,172,0.5);}
        .items tr.item td:nth-child(3) {text-align: center;}
        .items tr td:nth-child(4) {text-align: right;padding-right:30px;}
        .items td {border:0;padding:15px 10px;}
        .items td:first-child {padding-left:20px;}
        .items td p {color:#2d2729;font-weight:600;font-size:16px;margin:0;}
        .items tfoot td {color:#fff;padding:10px;font-weight:bold;font-size:16px;}
        .items tfoot td:nth-child(3), .items tfoot td:last-child {background-color: #2d2729;}
        .warmzilla-details {background-color:#dedede; text-align:center; padding:40px; width: 100%; display:block;}
        .paid-img {width:25%;left:25%;bottom:-130px;position:absolute;}

        .footer {text-align:center;padding-top:25px;}
        .footer p {font-size:11px;font-style:italic;}
    </style>
    </head>
    <div class="container paid-invoice-pdf">
        {exp:channel:entries
        channel="orders"
        disable="categories|category_fields|member_data|pagination|trackbacks"
        entry_id="{segment_3}"
        status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
        limit="1"}
        <div class="heading-area">
            <span>Invoice</span>
            <span class="triangle"></span>
        </div>

        <div class="container">
            <div class="order_customer">
                <span>Invoice For</span>
                <p><strong>Name:</strong> {order_customer_full_name}</p>
                <p><strong>Email:</strong> {order_customer_email}</p>
            </div>

            <div class="order_invoice">
                <span>Invoice Number</span>
                <p><strong>Sent on: </strong>{entry_date format="%d.%m.%y"}</p>
                <p><strong>Status: </strong>Paid</p>
            </div>

            <div style="clear:both;width:100%;"></div>
            
            <div class="installation_address">
                <p><strong>Installation Address:</strong> {order_full_shipping_address}</p>
            </div>

            {order_items limit="1"}
            <div class="items-breakdown">
                <table class="items">
                    <thead>
                        <th>#</th>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        <tr class="item">
                            <td><p>1</p></td>
                            <td><p>{item:title}</p></td>
                            <td><p>{item:quantity}</p></td>
                            <td><p>{item:price}</p></td>
                        </tr>
                        <tr class="item">
                            <td><p>1</p></td>
                            <td><p>Wireless Smart Thermostat</p></td>
                            <td><p>1</p></td>
                            <td><p>FREE</p></td>
                        </tr>
                        <tr class="item">
                            <td><p>1</p></td>
                            <td><p>Vertical Flue kit</p></td>
                            <td><p>1</p></td>
                            <td><p>FREE</p></td>
                        </tr>
                        <tr class="item">
                            <td><p>1</p></td>
                            <td><p>Plume Kit</p></td>
                            <td><p>1</p></td>
                            <td><p>FREE</p></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><p>Subtotal:</p></td>
                            <td><p>£{exp:math formula="[1] - ([1] * 0.2)" params="{order_total}" trailing_zeros="yes" decimals="2"}</p></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><p>VAT @ 20%:</p></td>
                            <td><p>£{exp:math formula="[1] * 0.2" params="{order_total}" trailing_zeros="yes" decimals="2"}</p></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total:</td>
                            <td>{order_total}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            {/order_items}
            <!-- <img src="{site_url}images/email_assets/thank-you-paid.png" alt="paid image"> -->
            <img src="{site_url}images/email_assets/thank-you-paid.png" alt="paid image" class="paid-img">
        </div>

        <div class="warmzilla-details">
            <p><strong>Address: </strong>WarmZilla Ltd, Capital Tower, Greyfriars Road, Cardiff, CF10 3AG</p>
            <p><strong>Email: </strong>ask@warmzilla.co.uk</p>
            <p><strong>Tel: </strong>0333 577 9090 (freephone)</p>
        </div>

        <div class="footer">
            <p>Thank you for choosing WarmZilla. If you have any queries about your purchase please call 0333 577 9090 or email us on ask@warmzilla.co.uk.<br>Our terms are strictly payment in advance (PIA).</p>
        </div>
        {/exp:channel:entries}
    </div>