
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <style type="text/css">
        .container{max-width: 1200px;padding: 0 15px;margin: 0 auto;width: 100%;}

        *,
        *:before,
        *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

        body{margin: 0; color: #777777;font-size: 18px;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 1.5;background-color: #fff;}
        p{margin: 0 0 15px 0;font-size: 18px;color: #000;}
        .cf:before, .cf:after { content: ""; display: table; }
        .cf:after { clear: both; }
        .cf { zoom: 1; }

        .heading-area {padding: 0 0 10px}
        .heading-top{margin-bottom: 30px; text-transform: uppercase;border-bottom: 3px solid #ed7622; }
        .heading-logo {float: left;width: 12%;}
        .heading-logo img{width: 100%;}
        .heading-content {float: left; width:68%; text-align: center;}
        .heading-content h2{margin: 0;color: #ed7622;font-size: 26px; }
        .heading-ref {width: 20%; float:left; text-align: right;}
        .heading-ref h3 {font-size:18px;margin:0;font-weight:400;}

        .address-inner{width: 30%;float: left;}
        .address-inner.large{width: 70%;float: right;text-align: right;}
        .address-inner p{margin-bottom: 0;}
        .address-inner .item .heading-content, .address-inner .item .heading{width: 50%;float: left;}

        .post-install-checklist-area table td {font-weight: 600;}
        .post-install-checklist-area table td:nth-child(odd) {color:#ed7622;text-align: center; text-transform:uppercase; width:10%;}
        .post-install-checklist-area table td:nth-child(even) {width: 80%;}
        table {width: 100%;margin-bottom: 15px;border-collapse: collapse;}
        table td{padding: 10px;border: 1px solid #ccc;font-size: 12px;vertical-align:top;}
        table td p{font-size: 12px;margin: 0;color: #777777}
        table td strong {font-weight: 600;}
        table th{text-align: left;padding: 10px;border: 1px solid #ccc;color: #ed7622;text-transform: uppercase;font-size: 14px;}
        .post-install-checklist-area table th:first-child, .post-install-checklist-area table tr td:first-child {text-align: left;width: 80%;}
        .footer {border-top:2px solid #ed7622;padding-top:15px;text-align:center;}
        .footer p {font-size:11px;text-transform: uppercase;color:#777;}
    </style>
</head>
<div class="container pre-install-checklist-pdf">
    {exp:channel:entries
    channel="orders"
    disable="categories|category_fields|member_data|pagination|trackbacks"
    entry_id="{segment_3}"
    status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
    }
    <div class="heading-area">

        <div class="heading-top cf">
            <div class="heading-logo">
                <img src="{site_url}images/site/logo.png" alt="Warmzilla Logo">
            </div>
            <div class="heading-content">
                <h2>Post-Installation Checklist</h2>
            </div>
            <div class="heading-ref">
                <h3><strong>POIC Ref:</strong> WZ/{entry_id}</h3>
            </div>
        </div>

        <table>
            <thead>
                <th>Company Details</th>
                <th>Installation details</th>
                <th>Customer Details</th>
            </thead>
            <tbody>
                <tr>
                    <td>{exp:smart_members:profile member_id="{accepted_job_by_engineer}"}
                        <p>{engineer_company_name}</p>
                        <p>{address}, {if address2}{address2},{/if} {if address3}{address3},{/if} {city}, {zip}</p>
                        <br>
                        <p><strong>Tel: </strong>{phone}</p>
                        <p><strong>Email: </strong>{email}</p>
                        <p><strong>Web: </strong>{company_website}</p>
                        {/exp:smart_members:profile}
                        {assigned_engineer_for_this_job custom_fields="yes"}
                        {if assigned_engineer_for_this_job:gas_safe_number}
                        <p><strong>Gas Safe Number: </strong>{assigned_engineer_for_this_job:gas_safe_number}</p>
                        {/if}
                        {/assigned_engineer_for_this_job}
                    </td>
                    <td>
                        <p>{order_full_shipping_address}</p>
                        <br>
                        <p><strong>Date: </strong>{installation_date format="%d %F, %Y"} Between 8.00am - 11.00am</p>
                    </td>
                    <td>
                        <p>{order_customer_full_name}</p>
                        <br>
                        <p><strong>Tel: </strong>{order_customer_phone}</p>
                        <p><strong>Email: </strong>{order_customer_email}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {parents field="order_post_install"}
    <div class="post-install-checklist-area">
        <table>
            <thead>
                <th colspan="2">
                    Customer survey, post-installation
                </th>                              
            </thead>
            <tbody>
                <tr>
                    <td>Have you checked each radiator for heat and are you satisfied that they are warm?</td>
                    <td>{parents:checked_each_radiator}</td>
                </tr>
                <tr>
                    <td>Have you checked each hot water draw off point and are you satisfied that the water is hot?</td>                   
                    <td>{parents:checked_each_hot_water}</td>
                </tr>
                <tr>
                    <td>Are you satisfied with the installation of your boiler?</td>                    
                    <td>{parents:satisfied_with_the_installation}</td>
                </tr>
                <tr>
                    <td>Has the installation and decommissioning of all electrics been shown and explained to you?</td>                    
                    <td>{parents:installation_and_decommissioning}</td>
                </tr>
                <tr>
                    <td>Have you been shown how to use your external controls and are you satisfied with how to use them?</td>
                    <td>{parents:how_to_use_external_controls}</td>  
                </tr>
                <tr>
                    <td>Are you in possession of all user guides?</td>                    
                    <td>{parents:are_you_in_possession}</td>
                </tr>
                <tr>
                    <td>Did the engineer show you how to re-pressurise your boiler with water?</td>
                    <td>{parents:eng_show_you_to_re_pressurise}</td>
                </tr>
                <tr>
                    <td>Did the engineers use dust sheets in the areas where they were working?</td>                    
                    <td>{parents:engineers_use_dust_sheets}</td>
                </tr>
                <tr>
                    <td>Have the areas where the engineers worked been cleaned and left in an acceptable manner?</td>                    
                    <td>{parents:areas_where_the_engineers_worked}</td>               
                </tr>
                <tr>
                    <td>Were the engineers polite and helpful?</td>
                    <td>{parents:engineers_polite_and_helpful}</td>
                <tr>
                    <td>Did the engineers walk you around the installation areas after completion answering any questions you may have?</td>
                    <td>{parents:eng_walk_you_installation_area}</td>
                </tr>
                <tr>
                    <td>Please can you confirm that you were you made aware before the installation commenced, that your shower and/or shower unit may not be compatible with the new system?</td>
                    <td>{parents:aware_about_install_commenced}</td>
                </tr>
                <tr>
                    <td>Would you recommend WarmZilla to a family member or friend?</td>                    
                    <td>{parents:recommend_warmzilla}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <table>
        <thead>
            <tr>
                <th>Customer review</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{parents:post_install_short_review}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <th colspan="4">Engineers Notes (if any)</th>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">{parents:post_install_engineer_notes}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="{parents:post_install_customer_signature}" alt="customer signature">
                </td>
                <td colspan="2">
                    <img src="{parents:post_install_engineer_signature}" alt="engineer signature">
                </td>
            </tr>
            <tr>
                <td><strong>Customer Name:</strong> {order_customer_full_name}</td>
                <td><strong>Date:</strong> {parents:entry_date format="%d.%m.%y"}</td>
                
                <td>{assigned_engineer_for_this_job custom_fields="yes"} <strong>Engineer Name:</strong> {assigned_engineer_for_this_job:engineer_name}{/assigned_engineer_for_this_job}</td>
                <td><strong>Date:</strong> {parents:entry_date format="%d.%m.%y"}</td>
            </tr>
        </tbody>
    </table>
    {/parents}
    <div class="footer">
        <p>Thank you for completing the Warmzilla Post-Installation checklist form (POIC Form)</p>
    </div>
    {/exp:channel:entries}
</div>