<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <script src="http://warmzilla.test/js/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <style type="text/css">
        .container{max-width: 1200px;padding: 0 15px;margin: 0 auto;width: 100%;}

        *,
        *:before,
        *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

        body{margin: 0; color: #777777;font-size: 20px;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 1.5;background-color: #fff;}
        p{margin: 0 0 15px 0;font-size: 18px;color: #000;}
        .cf:before, .cf:after { content: ""; display: table; }
        .cf:after { clear: both; }
        .cf { zoom: 1; }

        .heading-area {padding: 0 0 10px}
        .heading-top{margin-bottom: 30px; text-transform: uppercase;border-bottom: 3px solid #ed7622; }
        .heading-logo {float: left;width: 12%;}
        .heading-logo img{width: 100%;}
        .heading-content {float: left; width:68%; text-align: center;}
        .heading-content h2{margin: 0;color: #ed7622;font-size: 26px; }
        .heading-ref {width: 20%; float:left; text-align: right;}
        .heading-ref h3 {font-size:18px;margin:0;font-weight:400;}

        .address-inner{width: 30%;float: left;}
        .address-inner.large{width: 70%;float: right;text-align: right;}
        .address-inner p{margin-bottom: 0;}
        .address-inner .item .heading-content, .address-inner .item .heading{width: 50%;float: left;}

        .pre-install-checklist-area{display: inline-block;}
        table {width: 100%;margin-bottom: 15px; border-collapse: collapse;}
        table td{padding: 10px; border: 1px solid #ccc;font-size: 12px;vertical-align:top;}
        table td p{font-size: 12px;margin: 0;color: #777777}
        table th{text-align:left;padding: 10px;border:1px solid #ccc;color: #ed7622;text-transform:uppercase;font-size: 14px;}
        .pre-install-checklist-area table th:first-child, .pre-install-checklist-area table tr td:first-child {text-align: left;width: 80%;}
        .pre-install-checklist-area table td:nth-child(odd) {color:#ed7622;text-align: center;text-transform: uppercase; font-weight: 600;}
        .pre-install-checklist-area table td:nth-child(even) {font-weight: 600;}

        .address-inner td{width: 50%;border: 0;text-align: right;padding: 5px 10px;line-height: 1;}
        .additional-notes-heading {width: 50%;float: left;}
        .additional-notes-heading h3{margin: 0;color: #000;font-size: 20px;}
        .additional-message {float: left;width: 50%;border: 1px solid #ccc;padding: 5px 10px;}
        .additional-message p{margin: 0;line-height: 1;}
        .additional-notes-area{margin-bottom: 50px;}
        .customer-sign{width: 50%;float: left;text-align: center;}
        .engineer-sign-area{width: 50%;float: left;text-align: center;}
        .sign-area h2{font-size: 40px;color: #000;margin: 0;}
        .sign-area h5{font-size: 18px;color: #000;margin: 0;}
        .sign-area{margin-bottom: 50px;}
        .footer {border-top:2px solid #ed7622;padding-top:15px;text-align:center;}
        .footer p {font-size:11px;text-transform: uppercase;color:#777;}
    </style>
</head>
<div class="container pre-install-checklist-pdf">
    {exp:channel:entries
    channel="orders"
    disable="categories|category_fields|member_data|pagination|trackbacks"
    entry_id="{segment_3}"
    status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
    }
    <div class="heading-area">

        <div class="heading-top cf">
            <div class="heading-logo">
                <img src="{site_url}images/site/logo.png" alt="Warmzilla Logo">
            </div>
            <div class="heading-content">
                <h2>Pre-Installation Checklist</h2>
            </div>
            <div class="heading-ref">
                <h3><strong>PIC Ref:</strong> WZ/{entry_id}</h3>
            </div>
        </div>

        <table>
            <thead>
                <th>Company Details</th>
                <th>Installation details</th>
                <th>Customer Details</th>
            </thead>
            <tbody>
                <tr>         
                    <td>{exp:smart_members:profile member_id="{accepted_job_by_engineer}"}
                        <p>{engineer_company_name}</p>
                        <p>{address}, {if address2}{address2},{/if} {if address3}{address3},{/if} {city}, {zip}</p>
                        <br>
                        <p><strong>Tel: </strong>{phone}</p>
                        <p><strong>Email: </strong>{email}</p>
                        <p><strong>Web: </strong>{company_website}</p>
                        {/exp:smart_members:profile}
                        {assigned_engineer_for_this_job custom_fields="yes"}
                        {if assigned_engineer_for_this_job:gas_safe_number}
                        <p><strong>Gas Safe Number: </strong>{assigned_engineer_for_this_job:gas_safe_number}</p>
                        {/if}
                        {/assigned_engineer_for_this_job}
                    </td>
                    <td>
                        <p>{order_full_shipping_address}</p>
                        <br>
                        <p><strong>Date: </strong>{installation_date format="%d %F, %Y"} Between 8.00am - 11.00am</p>
                    </td>
                    <td>
                        <p>{order_customer_full_name}</p>
                        <br>
                        <p><strong>Tel: </strong>{order_customer_phone}</p>
                        <p><strong>Email: </strong>{order_customer_email}</p>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
    {parents field="order_pre_install"}

    <div class="pre-install-checklist-area">
        <table>
            <thead>
                <th colspan="2">You have confirmed that you are happy with the following:</th>                
            </thead>
            <tbody>
                {if parents:position_of_the_boiler}
                <tr>
                    <td>Position of the boiler</td>                    
                    <td>{parents:position_of_the_boiler}</td>
                </tr>
                {/if}
                {if parents:routes_for_all_pipe_work}
                <tr>
                    <td>Routes for all pipework</td>                                                            
                    <td>{parents:routes_for_all_pipe_work}</td>
                </tr>
                {/if}
                {if parents:route_for_external_flue_supply}
                <tr>
                    <td>Route for external flue supply (if applicable)</td>                                        
                    <td>{parents:route_for_external_flue_supply}</td>
                </tr>
                {/if}
                {if parents:position_of_all_radiators}
                <tr>
                    <td>Position of all radiators (if applicable)</td>                                                            
                    <td>{parents:position_of_all_radiators}</td>
                </tr>
                {/if}
                {if parents:route_for_work_and_terminal}
                <tr>
                    <td>Route for condensate pipework & roof terminal</td>                                        
                    <td>{parents:route_for_work_and_terminal}</td>
                </tr>
                {/if}
                {if parents:location_of_system_controls}
                <tr>
                    <td>Location of system controls</td>                                                            
                    <td>{parents:location_of_system_controls}</td>
                </tr>
                {/if}
                
            </tbody>
        </table>

        <table>
            <thead>
                <th colspan="2">You have also confirmed</th>
            </thead>
            <tbody>
                {if parents:awareness_about_my_shower}
                <tr>
                    <td>You are aware that your shower may not be compatible with the new boiler</td> 
                    <td>{parents:awareness_about_my_shower}</td>
                </tr>
                {/if}
                {if parents:engineer_full_access_to_move}
                <tr>
                    <td>You accept responsiblity for moving furniture for engineer access</td>                    
                    <td>{parents:engineer_full_access_to_move}</td>
                </tr>
                {/if}
                {if parents:hsw_cannot_be_responsible}
                <tr>
                    <td>We cannot be held responsible to damage sustained to furniture or belongings moved by an engineer at your request</td>
                    <td>{parents:hsw_cannot_be_responsible}</td>
                </tr>
                {/if}
                {if parents:understand_that_you_may_lose_gas}
                <tr>
                    <td>You understand that you may lose gas, electric and water for a period of time during the works</td>
                    <td>{parents:understand_that_you_may_lose_gas}</td>
                </tr>
                {/if}
            </tbody>
        </table>

        <table>
            <thead>
                <th colspan="2">Final confirmation checks prior to installation</th>
            </thead>
            <tbody>
                {if parents:engineer_adequately_protected}
                <tr>
                    <td>The engineer has adequately protected my property using dust sheets</td>
                    <td>{parents:engineer_adequately_protected}</td>
                </tr>
                {/if}
                {if parents:the_engineer_has_fully_explained}
                <tr>
                    <td>The engineer has fully explained to me the scope of the works to be carried out and the impact it will have on my home</td>
                    <td>{parents:the_engineer_has_fully_explained}</td>
                </tr>
                {/if}
                {if parents:happy_to_proceed_installation}
                <tr>
                    <td>I am happy to proceed with the installation</td>
                    <td>{parents:happy_to_proceed_installation}</td>
                </tr>
                {/if}
            </tbody>
        </table>

    </div>

    <table>
        <thead>
            <th colspan="4">Engineers Notes (if any)</th>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">{parents:pre_install_engineer_notes}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="{parents:pre_install_customer_signature}" alt="customer signature">
                </td>
                <td colspan="2">
                    <img src="{parents:pre_install_engineer_signature}" alt="engineer signature">
                </td>
            </tr>
            <tr>
                <td><strong>Customer Name:</strong> {order_customer_full_name}</td>
                <td>Date: {parents:entry_date format="%d.%m.%Y"}</td>
                
                <td>{assigned_engineer_for_this_job custom_fields="yes"} <strong>Engineer Name:</strong> {assigned_engineer_for_this_job:engineer_name}{/assigned_engineer_for_this_job}</td>
                <td>Date: {parents:entry_date format="%d.%m.%Y"}</td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <p>Thank you for completing the Warmzilla Pre-Installation checklist form (PIC Form)</p>
    </div>
    {/parents}
    {/exp:channel:entries}
    <script src='http://warmzilla.test/js/jquery.ui.touch-punch.min.js' type="text/javascript"></script>
    <script src='http://warmzilla.test/js/jquery.signature.min.js' type="text/javascript"></script>
    <script type="text/javascript">
        var jpgCode = $('#signatureJpg').val();
        $('#redrawSignature').signature();
        $('#redrawSignature').signature('draw', jpgCode);
    </script>
</div>

