
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <style type="text/css">
        .container{max-width: 1200px;padding: 0 15px;margin: 0 auto;width: 100%;}

        *,
        *:before,
        *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

        body{margin: 0; color: #777777;font-size: 18px;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 1.5;background-color: #fff;}
        p{margin: 0 0 15px 0;font-size: 12px;color: #000;}
        .cf:before, .cf:after { content: ""; display: table; }
        .cf:after { clear: both; }
        .cf { zoom: 1; }

        .heading-area {padding: 0 0 10px}
        .heading-top{margin-bottom: 30px; border-bottom: 2px solid #ed7622; }
        .heading-content h2{margin: 0;color: #ed7622;font-size: 20px; }

        .address-inner{width: 30%;float: left;}
        .address-inner.large{width: 70%;float: right;text-align: right;}
        .address-inner p{margin-bottom: 0;}
        .address-inner .item .heading-content, .address-inner .item .heading{width: 50%;float: left;}

        .post-install-checklist-area table td {font-weight: 600;}
        .post-install-checklist-area table td:nth-child(even) {color:#ed7622;}
        table {width: 100%;margin-bottom: 15px;border-collapse: collapse;}
        table td{padding: 10px;border: 1px solid #ccc;font-size: 12px;vertical-align:top;}
        table td p{font-size: 12px;margin: 0;color: #777777}
        table td strong {font-weight: 600;}
        table th{text-align: left;padding: 10px;border: 1px solid #ccc;color: #ed7622;text-transform: uppercase;font-size: 14px;}
    </style>
</head>
<div class="container pre-install-checklist-pdf">
    {exp:channel:entries
    channel="orders"
    disable="categories|category_fields|member_data|pagination|trackbacks"
    entry_id="{segment_3}"
    status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
    }
    <div class="heading-area">
        <div class="heading-top cf">
            <div class="heading-content">
                <h2>Satisfaction Notes</h2>
            </div>
        </div>
    </div>
	<p>By signing you agree	that the job has been completed	to your	satisfaction and according to the contract. After you have signed the document,	the	funds will be disbursed	to the merchant	from the lender.</p>
    <div class="post-install-checklist-area">
        <table>
            <tbody>
                <tr>
                    <td>Vendigo Reference</td>
                    <td>{vendigo_reference_number}</td>
                </tr>
                <tr>
                    <td>Lender Reference</td>                   
                    <td>{vendigo_refrence_number_lender}</td>
                </tr>
                <tr>
                    <td>Goods Description</td>                    
                    <td>Boiler Installation (Gas)</td>
                </tr>
                <tr>
                    <td>Name</td>                    
                    <td>{order_customer_full_name}</td>
                </tr>
                <tr>
                    <td>Customer Address</td>
                    <td>{order_full_shipping_address}</td>  
                </tr>
                <tr>
                    <td>Date</td>                    
                    <td>{current_time format="%d.%m.%y"}</td>
                </tr>
                <tr>
                    <td>Merchant Name</td>
                    <td>Warmzilla Limited</td>
                </tr>
                <tr>
                    <td>Merchant Address</td>                    
                    <td>{contact_address}</td>
                </tr>
                <tr>
                    <td>Loan Amount (£)</td>                    
                    <td>{order_total}</td>               
                </tr>
                {parents field="order_post_install"}
				<tr>
                    <td>Customer Signature</td>                    
                    <td><img src="{parents:post_install_customer_signature}" alt="customer signature"></td>               
                </tr>   
                {/parents}
            </tbody>
        </table>
    </div>
    {/exp:channel:entries}
</div>