/*
* Author: Leevi Grahan
* Contact: leevi@newism.com.au
* Version: 2.0
* Notes: Alert styles
*
* CONTENTS
* -------------------------
* =alerts 	Alerts
*
*/
/* =alerts Alerts and info
------------------------------------------------------------------------------ */
/* line 18, ../../sass-src/screen/alerts.scss */
.mor .inlinealert {
  background: #fff;
  color: inherit;
  font-size: 12px;
  line-height: 1.5em;
  list-style-type: none;
  margin: 9px 0;
  padding: 7px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

/* line 32, ../../sass-src/screen/alerts.scss */
.mor .tg h2 + .inlinealert {
  border-top: 0; }

/* line 35, ../../sass-src/screen/alerts.scss */
.mor td.inlinealert {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

/* line 38, ../../sass-src/screen/alerts.scss */
.mor .inlinealert > :first-child {
  margin-top: 0 !important; }

/* line 41, ../../sass-src/screen/alerts.scss */
.mor .inlinealert > :last-child {
  margin-bottom: 0 !important; }

/* line 45, ../../sass-src/screen/alerts.scss */
.mor .tg .inlinealert {
  border-width: 0 0 1px 0;
  margin: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

/* General information for the user before or after they tak an action */
/* line 52, ../../sass-src/screen/alerts.scss */
.mor .inlinealert.info {
  background-color: #fffcbf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }

/* User has completed an action successfully */
/* line 57, ../../sass-src/screen/alerts.scss */
.mor .inlinealert.success {
  background-color: #74a92d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.85)), color-stop(100%, rgba(255, 255, 255, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)); }

/* line 61, ../../sass-src/screen/alerts.scss */
.mor .inlinealert .success {
  color: #74a92d; }

/* User has made an error due to an action */
/* line 66, ../../sass-src/screen/alerts.scss */
.mor .inlinealert.error {
  background: #a72226;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.85)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85)); }

/* line 70, ../../sass-src/screen/alerts.scss */
.mor .inlinealert .error {
  color: #a72226; }

/* line 74, ../../sass-src/screen/alerts.scss */
.mor .tg .inlinealert {
  border-width: 0 0 1px 0;
  margin: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

/* line 80, ../../sass-src/screen/alerts.scss */
#accessoryTabs li .badge {
  display: inline-block;
  border: 1px solid #D1D5DE;
  line-height: 11px;
  font-size: 11px;
  text-align: center;
  padding: 3px;
  margin-left: 5px;
  min-width: 11px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px; }

/* line 92, ../../sass-src/screen/alerts.scss */
#accessoryTabs li.current .badge {
  border-color: rgba(0, 0, 0, 0.2); }
