{exp:channel:form id="add-engineer-uploads" channel="gas_installation_photos" 
secure_return="no" secure_action="no" 
return="{segment_1}/{segment_2}/{segment_3}"}

	<div class="form-group">
		<div class="row">
			<input type="hidden" name="engineer_uploads_directory" value="10">
			<div class="form-box">
				<label>Front of boiler with pipework <span class="req">*</span></label>
				<label for="engineer_uploads[rows][new_row_0][col_id_126]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_126]" id="engineer_uploads[rows][new_row_0][col_id_126]" data-content-type="image" data-directory="10" class="form-control accept requ validate[required] inputfile" value="engineer_uploads[rows][new_row_0][col_id_126]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_126_hidden_dir]" value="10">
			</div>

			<div class="form-box">
				<label>Flue termination <span class="req">*</span></label>
				<label for="engineer_uploads[rows][new_row_0][col_id_127]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_127]" id="engineer_uploads[rows][new_row_0][col_id_127]" data-content-type="image" data-directory="10" class="form-control accept requ validate[required] inputfile" value="engineer_uploads[rows][new_row_0][col_id_127]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_127_hidden_dir]" value="10">
			</div>

			<div class="form-box">
				<label>Condensate termination <span class="req">*</span></label>
				<label for="engineer_uploads[rows][new_row_0][col_id_128]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_128]" id="engineer_uploads[rows][new_row_0][col_id_128]" data-content-type="image" data-directory="10" class="form-control accept requ validate[required] inputfile" value="engineer_uploads[rows][new_row_0][col_id_128]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_128_hidden_dir]" value="10">
			</div>
		</div>

		<br>
		
		<div class="row">
			<div class="form-box">
				<label>Serial number of boiler <span class="req">*</span></label>
				<label for="engineer_uploads[rows][new_row_0][col_id_129]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_129]" data-content-type="image" data-directory="10" id="engineer_uploads[rows][new_row_0][col_id_129]" class="form-control accept requ validate[required] inputfile" value="engineer_uploads[rows][new_row_0][col_id_129]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_129_hidden_dir]" value="10">
			</div>

			<div class="form-box">
				<label>Serial number of filter <span class="req">*</span></label>
				<label for="engineer_uploads[rows][new_row_0][col_id_132]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_132]" data-content-type="image" data-directory="10" id="engineer_uploads[rows][new_row_0][col_id_132]" class="form-control accept requ validate[required] inputfile" value="engineer_uploads[rows][new_row_0][col_id_132]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_132_hidden_dir]" value="10">
			</div>

			<div class="form-box">
				<label>Benchmark <span class="req">*</span></label>
				<label for="engineer_uploads[rows][new_row_0][col_id_130]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_130]" data-content-type="image" data-directory="10" id="engineer_uploads[rows][new_row_0][col_id_130]" class="form-control accept requ validate[required] inputfile" value="engineer_uploads[rows][new_row_0][col_id_130]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_130_hidden_dir]" value="10">
			</div>
		</div>

		<br>

		<div class="row">
			<div class="form-box">
				<label>Smart Thermostat <span class="req">*</span></label>
				<label for="engineer_uploads[rows][new_row_0][col_id_131]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_131]" data-content-type="image" data-directory="10" id="engineer_uploads[rows][new_row_0][col_id_131]" class="form-control accept requ validate[required] inputfile" value="engineer_uploads[rows][new_row_0][col_id_131]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_131_hidden_dir]" value="10">
			</div>

			<div class="form-box">
				<label>Gas safety record <span class="req">*</span></label>
				<label for="engineer_uploads[rows][new_row_0][col_id_133]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_133]" data-content-type="image" data-directory="10" id="engineer_uploads[rows][new_row_0][col_id_133]" class="form-control accept requ validate[required] inputfile" value="engineer_uploads[rows][new_row_0][col_id_133]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_133_hidden_dir]" value="10">
			</div>

			<div class="form-box">
				<label>Airing Cupboard</label>
				<label for="engineer_uploads[rows][new_row_0][col_id_134]" class="inputfile-label"><span class="upload"></span>Upload File</label>
				<input type="file" name="engineer_uploads[rows][new_row_0][col_id_134]" data-content-type="image" data-directory="10" id="engineer_uploads[rows][new_row_0][col_id_134]" class="form-control accept inputfile" value="engineer_uploads[rows][new_row_0][col_id_134]"/>
				<input type="hidden" name="engineer_uploads[rows][new_row_0][col_id_134_hidden_dir]" value="10">
			</div>
		</div>
		<br>
		<input type="hidden" name="author_id" value="{logged_in_member_id}" />
		<input type="hidden" name="order_gas_installation_photos[data][]" value="{segment_3}">
		<input type="hidden" name="title" value="Installation Photos_{segment_3}">
		<button class="btn btn--small btn--print mb-3 submit-uploads" style="float: right;">Submit Photos</button>
		{error:engineer_uploads}
	</div>
{/exp:channel:form}
