{exp:smart_members:profile member_id="{embed:member_id}"}
<tr>
	<td>{member_id}</td>
	<td><a href="{path='dashboard/view-engineer/{member_id}'}" target="_blank">{if first_name}{first_name} {last_name} {if:else}{screen_name}{/if}</a></td>
	<td><a href="{path='dashboard/my-calendar/{member_id}'}" target="_blank">Availability</a></td>
	<td>{email}</td>
	<td>{embed:postcodes}</td>
</tr>
{/exp:smart_members:profile}