<div class="comments mb-3" id="comments">
	<div class="row no-gutters">
		<div class="col-12 d-flex no-gutters bg-gray row-heading">
			<div class="data-item">Comments: </div>                                              
		</div>
		<div class="col-12 no-gutters data-view">
			<div class="data-item" data-label="Install Date">
				{exp:comment:entries entry_id="{segment_3}" sort="asc" limit="10" paginate="bottom"}
				<ul>
					{if thread_start}
					{!--<li>--}
						<ul>
							{/if}
							<li>
								<div class="comment-heading">
									<span><strong>{name}</strong></span>
									<span>{comment_date format="%d-%m-%Y %H:%i"}</span>
									{if editable}Show Edit{/if}
								</div>
								<div class="comment-text">{comment}</div>
								<a href="javascript:void(0)" class="reply" rel="{comment_id}" data-toggle="modal" data-target="#reply">Reply to this comment</a>
							</li>
							{if thread_end}
						</ul>
					{!--</li>--}
					{/if}

					{paginate}
					<li>Page {current_page} of {total_pages} pages {pagination_links}</li>
					{/paginate}
				</ul>
				{/exp:comment:entries}
				{exp:comment:form entry_id="{segment_3}"} 
				<input type="hidden" class="form-control" name="name" id="name" value="{screen_name}" size="50"  />
				<input type="hidden" name="email" class="form-control" id="email" value="{logged_in_email}" size="50">
				{exp:smart_members:profile member_id="{assigned_engineer_for_this_job}"}
				<input type="hidden" name="engineer" class="form-control" id="engineer" value="{}" size="50">
				{/exp:smart_members:profile}
				<div class="form-group">                                          
					<label>Please add any comments you have on the job below</label>
					<textarea class="form-control required validate[required]" name="comment" id="comment" rows="4" style="font-size: 14px; border-radius: 10px;">{comment}</textarea>
					<input type="checkbox" style="display:none;" name="notify_thread" value="yes" {notify_thread} /> 
					<button class="btn btn--small btn--print comment mt-3 mb-3" type="submit">Comment</button>
				</div>
				{/exp:comment:form}
			</div>
		</div>
	</div>
</div>

<!-- popup -->
<div class="modal fade" id="reply" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fal fa-times-circle"></i></span>
			</button>      
			<div class="modal-body">
				<div class="content">
					<div class="form-group">
						{exp:comment:form entry_id="{entry_id}"}
						<div class="inner-group d-flex flex-wrap justify-content-between">                                        
							<input type="hidden" class="form-control" name="name" id="name" value="{screen_name}" size="50"  />
							<input type="hidden" name="email" class="form-control" id="email" value="{email}" size="50">
							<input type="hidden" name="parent_id" class="form-control" id="parent_id">

							<div class="form-box">
								<label for="comment">Message</label>
								<textarea class="form-control required validate[required]" name="comment" id="comment" rows="5" placeholder="Message">{comment}</textarea>
							</div>
							<div class="row pt-2 no-gutters">
								<div class="col-12">
									<button class="btn small-btn btn-dark reply-comment" type="submit">Comment</button>
								</div>
							</div>
							
						</div>
						{/exp:comment:form}                
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end popup -->