<div class="container">
    <div class="desc">
        <div class="heading">
            <h1 class="h2 font-weight-bold text-orange">Dashboard</h1>
        </div>
        <div class="c-dashboard-tabs">
            <ul class="d-flex flex-wrap {if logged_in_group_id == 7}engineer-tabs{/if}">
                <li {if segment_2 == 'my-orders' || segment_2 == 'new-job-offers' || segment_2 == 'manage-jobs' && segment_1 == 'dashboard'} class="active" {/if}><a href="{path='dashboard'}">Dashboard<i class="ic-dashboard"></i></a></li>

                {if "1|6" *= logged_in_group_id}
                <li {if segment_2 == 'all-engineers'} class="active" {/if}><a href="{path='dashboard/all-engineers'}">All Engineers</a></li>
                {/if}
                {if logged_in_group_id == 7}
                <li {if segment_2 == 'my-calendar'} class="active" {/if}><a href="{path='dashboard/my-calendar'}">My Calendar <i class="ic-my-calendar"></i></a></li>
                <li {if segment_2 == 'recent-jobs'} class="active" {/if}><a href="{path='dashboard/recent-jobs'}">Recently Completed Jobs <i class="ic-rc-jobs"></i></a></li>
                <li {if segment_2 == 'scheduled-jobs'} class="active" {/if}><a href="{path='dashboard/scheduled-jobs'}">Scheduled Jobs <i class="ic-schedule-job"></i></a></li>
                <li {if segment_2 == 'jobs-under-reviewing'} class="active" {/if}><a href="{path='dashboard/jobs-under-reviewing'}">Jobs Under Review <i class="ic-review-job"></i></a></li>
                {/if}

                {!--{if logged_in_group_id == 5}
                <li {!--{if segment_2 == 'my-orders'} class="active" {/if}><a href="{path='dashboard/my-orders'}">My Orders <i class="ic-rc-jobs"></i></a></li>
                {/if}--}

                <li {if segment_2 == 'update-profile'} class="active" {/if}><a href="{path='dashboard/update-profile'}">Update Profile <i class="ic-profile-update"></i></a></li>
                <li {if segment_2 == 'change-password'} class="active" {/if}><a href="{path='dashboard/change-password'}">Change Password <i class="ic-change-password"></i></a></li>
            </ul>
        </div>
    </div>
</div>
