{exp:channel:form channel="gas_installation_photos" return="{segment_1}/{segment_2}/{segment_3}"}
	<h3>Engineer Uploads</h3>	
	<div class="form-group">
		{field:gas_installation_photos}
		<input type="hidden" name="order_gas_installation_photos[data][]" value="{segment_3}">
		<input type="hidden" name="title" value="Installation Photos_{segment_3}">
		<button class="btn btn--print mb-3 submit-uploads" style="float: right;">Submit Photos</button>
	</div>
{/exp:channel:form}