<ul>
	{exp:channel:entries
		channel="orders" disable="categories|category_fields|member_data|trackbacks"
		dynamic="no" status="open|New|Scheduled|Installation Done|Installed|Completed|Under Review" search:order_customer_email="not {email_value}"
	}
	<li>{submission:email:value}</li>
	{/exp:channel:entries}
</ul>