{exp:smart_members:profile member_id="{embed:memberid}"}
	<img src="/images/site/engineer-icon.svg" class="engineer-icon" alt="engineer icon">
	<a href="/dashboard/view-engineer/{engineer_found_in_area}">{engineer_company_name}</a>
	{if assigned_engineer_for_this_job == engineer_found_in_area}
		<img src="/images/site/tick-inside-circle-green.svg" style="width: 20px; margin-left:5px; margin-top: 10px;" alt="tick">
	{if:else}
		<img src="/images/site/warning-icon-yellow.svg" style="width: 20px; margin-left:5px; margin-top: 10px;" alt="warning">
	{/if}

	{if decline_job_by_member_list == engineer_found_in_area}Declined{/if}<br>
	{exp:channel:form channel="orders" class="reassign_engineer" entry_id="{segment_3}" return="{segment_1}/{segment_2}/{segment_3}" secure_action="no" secure_return="no"}
		<input type="hidden" name="engineer_found_in_area" value="">
		<input type="hidden" name="accepted_job_by_engineer" value="">
		<input type="hidden" name="assigned_engineer_for_this_job" value="">
		<input type="hidden" name="status" value="{status}">
		<button class="btn btn-dark small-btn reassign-job">Remove</button>
	{/exp:channel:form}
{/exp:smart_members:profile}