{exp:smart_members:profile}
<div class="c-warminstaller-tabs">
    <ul class="d-flex flex-wrap engineer-tabs">
        {if logged_in_group_id == "10"}
            <li {if segment_2 == 'jobs-available'} class="active" {/if}><a href="{path='dashboard/jobs-available'}"><i class="ic-jobs-available"></i><span>Jobs Available</a></li>
            <li {if segment_2 == 'my-calendar'} class="active" {/if}><a href="{path='dashboard/my-calendar/{member_id}'}"><i class="ic-update-availability"></i><span>Update Availability</span></a></li>
            <li {if segment_2 == 'scheduled-jobs'} class="active" {/if}><a href="{path='dashboard/scheduled-jobs'}"><i class="ic-scheduled-jobs"></i><span>Scheduled Jobs</span></a></li>
            
            <li {if segment_2 == 'jobs-under-reviewing'} class="active" {/if}><a href="{path='dashboard/jobs-under-reviewing'}"><i class="ic-jobs-review"></i><span>Jobs Under Review</span></a></li>
            <li {if segment_2 == 'completed-jobs'} class="active" {/if}><a href="{path='dashboard/completed-jobs'}"><i class="ic-completed-jobs"></i><span>Completed Jobs</span></a></li>
        {/if}
        {if "1|6" *= logged_in_group_id}
            <li {if segment_2 == 'manage-jobs'} class="active" {/if}><a href="{path='dashboard/manage-jobs'}"><i class="ic-jobs-available"></i><span>Manage Jobs</a></li>
            <li {if segment_2 == 'all-engineers'} class="active" {/if}><a href="{path='dashboard/all-engineers'}"><i class="ic-jobs-available"></i><span>All Engineers</a></li>
            <li {if segment_2 == 'all-postcodes'} class="active" {/if}><a href="{path='dashboard/all-postcodes'}"><i class="ic-jobs-available"></i><span>All Postcodes</a></li>
        {/if}
        {if logged_in_group_id == "10"}
        <li {if segment_2 == 'update-your-profile'} class="active" {/if}><a href="{path='dashboard/update-your-profile'}"><i class="ic-update-profile"></i><span>Update Profile</span></a></li>
        <li {if segment_2 == 'talk-to-us'} class="active" {/if}><a href="{path='dashboard/talk-to-us'}"><i class="ic-talk-to-us"></i><span>Talk to us</span></a></li>
        {/if}
    </ul><!-- .engineer-tabs -->
</div><!-- .c-warminstaller-tabs -->
{/exp:smart_members:profile}