/*!
 * Freeform Next for Expression Engine
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2018, Solspace, Inc.
 * @link          https://solspace.com/expressionengine/freeform-next
 * @license       https://solspace.com/software/license-agreement
 */.freeform-widget-statistics h3{color:#b9bfc6;text-transform:uppercase;font-family:HelveticaNeue, sans-serif;font-size:11px;font-weight:bold}.freeform-widget-statistics .freeform-widget-statistics-container .freeform-widget-digit{display:inline-block;min-width:50px;padding-right:4px;text-align:right;font-weight:bold;white-space:nowrap}.freeform-widget-statistics .freeform-widget-statistics-container.freeform-widget-statistics-main{font-size:20px}.freeform-widget-statistics .freeform-widget-statistics-container.freeform-widget-statistics-main .freeform-widget-description{font-size:14px}.freeform-widget-statistics .freeform-widget-statistics-container.freeform-widget-statistics-secondary{color:#a1a1a1;font-size:14px}.freeform-widget-statistics .freeform-widget-statistics-container.freeform-widget-statistics-secondary .freeform-widget-description{font-size:12px}
