@charset "UTF-8";

@font-face {
  font-family: "warmzilla-icon";
  src:url("fonts/warmzilla-icon.eot");
  src:url("fonts/warmzilla-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/warmzilla-icon.woff") format("woff"),
    url("fonts/warmzilla-icon.ttf") format("truetype"),
    url("fonts/warmzilla-icon.svg#warmzilla-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "warmzilla-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "warmzilla-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-home:before {
  content: "\61";
}
.ic-pen:before {
  content: "\62";
}
.ic-info:before {
  content: "\63";
}
.ic-left-arrow:before {
  content: "\64";
}
.ic-right-arrow:before {
  content: "\65";
}
.ic-call:before {
  content: "\66";
}
.ic-dashboard:before {
  content: "\67";
}
.ic-profile-update:before {
  content: "\68";
}
.ic-change-password:before {
  content: "\69";
}
.ic-my-calendar:before {
  content: "\6a";
}
.ic-rc-jobs:before {
  content: "\6b";
}
.ic-installation-man:before {
  content: "\6c";
}
.ic-mail:before {
  content: "\6d";
}
.ic-chat-people:before {
  content: "\6e";
}
.ic-right-sign:before {
  content: "\6f";
}
.ic-up-arrow:before {
  content: "\70";
}
.ic-down-arrow:before {
  content: "\71";
}
.ic-check-sign:before {
  content: "\72";
}
.ic-upload:before {
  content: "\73";
}
.ic-trash:before {
  content: "\74";
}
.ic-arrow-move:before {
  content: "\75";
}
.ic-schedule-job:before {
  content: "\76";
}
.ic-review-job:before {
  content: "\77";
}
.ic-survey-icon:before {
  content: "\78";
}
.ic-tick-inside-circle:before {
  content: "\79";
}
.ic-left-arrow2:before {
  content: "\7a";
}
.ic-right-arrow2:before {
  content: "\41";
}
