/* ==========================================================================
   #ALIGN
   ========================================================================== */

   .u-float-left {
    float: left;
  }
  
  .u-float-right {
    float: right;
  }
  
  .u-clear {
    clear: both;
  }
  
  .u-text-center {
    text-align: center;
  }
  
  .u-text-left {
    text-align: left;
  }
  
  .u-text-right {
    text-align: right;
  }

  [class*='ic-'] {
    @include inline-flex;
    margin: 0 5px;
  }

  .u-mob-center {
    text-align: center;
    
    @include bp(large) {
      text-align: left;
    }
  }


