/* ==========================================================================
   #CLEARFIX
   ========================================================================== */

/**
 * Attach our clearfix mixin to a utility class.
 */

 .u-clearfix {
    @include clearfix();
  }

  /* ie10 and IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .general-form .checkbox label.required{display: inline-block;position: relative;padding-left: 25px;}
  #enquiry_form .checkbox label input[type='checkbox']{position: absolute; opacity: 0;/*height: 100%;width: 100%;left: 0;*/}
  .custom-control-span::after{pointer-events: none;}       
  .que-sec .que-list figure img{width: auto;}
  .que-sec .que-list .full-img figure img{width: 100%;}
  .que-sec .need-help-img{bottom: 0;}
  .que-sec .que-list .card{max-width: 300px;}
  .order-details .o-icon img{width: auto;}       
  body .white-calendar #calendar :not(.fc-day-top)::before{position: relative !important; display: block !important; margin-top: 75% !important;}
  #enquiry_form .checkbox label input[type=hidden]{pointer-events: none;width: 0; height: 0;}
}
/* IE11 and IE12 for windows 10  */
@supports (-ms-ime-align:auto) {
.general-form .checkbox label.required{display: inline-block;position: relative;padding-left: 25px;}
  #enquiry_form .checkbox label input[type='checkbox']{position: absolute; opacity: 0;/*height: 100%;width: 100%;left: 0;*/}
  .custom-control-span::after{pointer-events: none;}       
  .que-sec .que-list figure img{width: auto;}
  .que-sec .need-help-img{bottom: 0;}
  .que-sec .que-list .card{max-width: 300px;}
  .order-details .o-icon img{width: auto;}       
  body .white-calendar #calendar :not(.fc-day-top)::before{position: relative !important; display: block !important; margin-top: 75% !important;}
  #enquiry_form .checkbox label input[type=hidden]{pointer-events: none;width: 0; height: 0;}
}
