/* common */
.bg-gray {
  background-color: #f1f1f1;
}

.bg-black {
  background-color: $color-black;
}

.bg-orange {
  background-color: $color-orange;
}

.text-orange {
  color: $color-orange !important;
}

.text-yellow {
  color: $color-yellow;
}

.text-black {
  color: $color-black;
}

.text-red {
  color: $color-red;
}

.req, .error-inner {
  color: #FF0000;
}

.bg-yellow {
  background-color: #ffcc09;
}

.bg-yellow *{
  color:$color-black;
}

.bg-orange-gradiant {
    background-image: -moz-linear-gradient( 90deg, rgb(210,76,33) 0%, rgb(248,171,16) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(210,76,33) 0%, rgb(248,171,16) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(210,76,33) 0%, rgb(248,171,16) 100%);
}

.mobile-btn {
  display: none !important;
}

.light-orange-bg h1 {
  color: #ed7622;
}

.item-closed {
  display:none;
}

.item-open {
  display:block !important;
}

.width-60 {
  width: 60%;
}

.width-25 {
  width: 25%;

  @include bp(large) {
    width: auto;
  }
}

.img-location {
  width: 23%;
  margin-top: 30px;

  @include bp(large) {
    width: 18%;
  }

  @include bp(large) {
    width: 70%;
  }
}

.heading h1 {
  .btn {
    margin-top: 10px;

    @include bp(medium) {
      margin-top: 0;
      float: right;
    }
  }
}

.save-time-vector {
  width: 50%;

  @include bp(medium) {
    width: 60%;
    margin-right: -50px;
  }
}

.no-padding {
  padding: 0;
}

.disc-list {
  list-style-type: disc;
  margin-left: 20px;

  li {
    font-size: 14px;

    @include bp(medium) {
      font-size: 16px;
    }
  }
}

.c-share-competition-bar .sharethis-inline-share-buttons {
  text-align: left !important;
}

.mob-text-center {
  text-align: center;

  .btn {
    margin: 0 auto;
  }

  @include bp(medium) {
    text-align: initial;

    .btn {
      margin: initial;
    }
  }
}

.red-line {
  width: 50px;
  height: 4px;
  background-color: $color-red;
  margin: 0 auto;
  margin-bottom: 20px;
}

.covid-warning {
  background-color: #ECE6DA;
  text-align: center;
  padding: 10px 0;

  p {
      font-size: 12px;

      @include bp(medium) {
          font-size: 14px;
      }

      @include bp(large) {
          font-size: 16px;
      }
      
      span, a {
          color: $color-red;
          font-weight: $semibold;
      }
  }
}

.custom-control-span {
  position: relative;

  &:before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    width: 1rem;
    height: 1rem;
    content: "";
    @include user-select(none);
    border:1px solid #ced4da;
  }

  &:after {
    position: absolute;
    top: 0.15rem;
    left: -1.5rem;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.top-banner-video {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}