/* ==========================================================================
   #HIDE
   ========================================================================== */

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .u-hidden-visually {
    @include hidden-visually();
  }
  
  /**
   * Hide visually and from screen readers.
   */
  
  .u-hidden {
    display: none !important;
  }
  
  .u-hidden\@small {
    display: none;
  
    @include bp(medium) {
      display: block;
    }
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .light-orange-bg {
    background-color: #fbba09;
    position: relative;

    &:before {
      content: "";
      background-color: #fef5d7;
      position: absolute;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: -19%;
      top: -100px;
      -webkit-transform: skewY(-3deg);
      -ms-transform: skewY(-3deg);
      -o-transform: skewY(-3deg);
      transform: skewY(-3deg);
      pointer-events: none;
    } //:before

  } //.light-orange-bg

.orange-gradiant-bg{background-image: -moz-linear-gradient( 14deg, rgb(239,131,21) 21%, rgb(251,192,14) 100%);background-image: -webkit-linear-gradient( 14deg, rgb(239,131,21) 21%, rgb(251,192,14) 100%);background-image: -ms-linear-gradient( 14deg, rgb(239,131,21) 21%, rgb(251,192,14) 100%);}
.orange-gradiant-bg *{color: #fff;}
.orange-gradiant-bg .promise-list ul li{border-top-color: #f4a418 !important;border-bottom-color: #ee7610 !important;}

.dark-orange-bg{background-color: #ef8439; position: relative; overflow: hidden;}
.dark-orange-bg:before{content: ""; background-color:#ed7622; position: absolute; height: 100%;width: 100%; position: absolute;left: 0;top: -19%; top: -190px; -webkit-transform: skewY(3.6deg);-ms-transform: skewY(3.6deg);-o-transform: skewY(3.6deg);transform: skewY(3.6deg); pointer-events: none;}
.dark-orange-bg *{color: #fff;}
.bg-black {background-color: $color-black;}