{exp:cartthrob:customer_info}
<div class="form-box half-box">
	<label for="">First Name <span class="req">*</span> </label>
	<input type="text" id="first_name" name="first_name" value="{first_name}" class="form-control required validate[required]" placeholder="e.g Daniel">
</div>
<div class="form-box half-box">
	<label for="">Last Name <span class="req">*</span> </label>
	<input type="text" id="last_name" name="last_name" value="{last_name}" class="form-control required validate[required]" placeholder="e.g Baxter">
</div>
<div class="form-box half-box">
	<label for="">Email <span class="req">*</span> </label>
	<input type="email" name="email" value="{email}" class="form-control required validate[required] email" placeholder="mail@mailer.com">
</div>
<div class="form-box half-box">
	<label for="">Phone number <span class="req">*</span> </label>
	<input type="text" name="phone" value="{phone}" class="form-control required validate[required]" placeholder="e.g 07777 777777">
</div>
<div class="custom-control custom-checkbox">
    <input type="checkbox" name="signup_reminder_boiler_service" value="yes" class="custom-control-input signup_reminder_boiler_service" id="signup_reminder_boiler_service">
    <label class="custom-control-label" for="signup_reminder_boiler_service">
        We recommend you get your boiler serviced annually. If you’d like a reminder, tick 
        the box. We’ll also keep you up-to-date with any important news or offers.
    </label>
</div>
<div class="submit-btn-block text-center w-100 mt-md-4 mb-md-4 inner-form-group position-relative step-loader">
	<img src="/images/site/ajax-loader.gif" alt="spinner" class="ajax-loader" style="display: none;">
	<button type="button" class="btn btn-square save-basic-info">Continue</button>
</div>
{/exp:cartthrob:customer_info}