{exp:channel:entries channel="free_items"disable="categories|category_fields|member_data|pagination|trackbacks"dynamic="no" sort="asc"}
<div class="item">
    <div class="o-icon">
        <img src="{image}" alt="free image icon">
    </div>
    <div class="o-data">
        <h6>
            {title}
            <span class="price">free</span>
        </h6>
    </div>
</div>    
{/exp:channel:entries}