<div class="c-sticky-price-bar">
    <div class="container">
        <p>total: <span class="price text-orange">£{embed:total_price}</span></p>
        <button type="submit" class="btn btn--print btn-block mob"><span class="calendar"></span>Choose Install Date</button>
    </div>
</div>