<fieldset class="billing" id="billing">
    <legend>Billing Info</legend>
    <div class="control-group">
        <label for="first_name" class="control-label required">First Name</label>
        <div class="controls"><input type="text" name="first_name" value="" id="first_name" class="required"  /></div>
        <!-- end control -->
    </div>
    <div class="control-group">
        <label for="middle_name" class="control-label required">Middle Name</label>
        <div class="controls"><input type="text" name="middle_name" value="" id="middle_name" class="required"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="last_name" class="control-label required">Last Name</label>
        <div class="controls"><input type="text" name="last_name" value="" id="last_name" class="required"  /></div>
        <!-- end control -->
    </div>
    <div class="control-group">
        <label for="date_of_birth" class="control-label">Date of birth</label>
        <div class="controls"><input type="text" name="date_of_birth" value="" id="date_of_birth"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <!-- end control group -->
    <div class="control-group">
        <label for="address" class="control-label">Address</label>
        <div class="controls"><input type="text" name="address" value="" id="address"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="address2" class="control-label">Address 2</label>
        <div class="controls"><input type="text" name="address2" value="" id="address2"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="city" class="control-label">City</label>
        <div class="controls"><input type="text" name="city" value="" id="city"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="state" class="control-label">State</label>
        <div class="controls">
            <select name="state"  id="state">
                <option value="" selected="selected">---</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">Dist of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="zip" class="control-label">Zip</label>
        <div class="controls"><input type="text" name="zip" value="WC2N 5DU" id="zip"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
</fieldset>
<fieldset class="shipping" id="shipping">
    <legend>Shipping</legend>
    <div class="control-group">
        <label for="shipping_first_name" class="control-label">Shipping First Name</label>
        <div class="controls"><input type="text" name="shipping_first_name" value="" id="shipping_first_name"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="shipping_last_name" class="control-label">Shipping Last Name</label>
        <div class="controls"><input type="text" name="shipping_last_name" value="" id="shipping_last_name"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="shipping_address" class="control-label">Shipping Address</label>
        <div class="controls"><input type="text" name="shipping_address" value="" id="shipping_address"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="shipping_address2" class="control-label">Shipping Address (line 2)</label>
        <div class="controls"><input type="text" name="shipping_address2" value="" id="shipping_address2"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="shipping_city" class="control-label">Shipping City</label>
        <div class="controls"><input type="text" name="shipping_city" value="" id="shipping_city"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="shipping_state" class="control-label">Shipping State</label>
        <div class="controls">
            <select name="shipping_state"  id="shipping_state">
                <option value="" selected="selected">---</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">Dist of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="shipping_zip" class="control-label">Shipping Zip</label>
        <div class="controls"><input type="text" name="shipping_zip" value="WC2N 5DU" id="shipping_zip"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
</fieldset>
<fieldset class="additional_info" id="additional_info">
    <legend>Additional Info</legend>
    <div class="control-group">
        <label for="phone" class="control-label">Phone</label>
        <div class="controls"><input type="text" name="phone" value="" id="phone"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
    <div class="control-group">
        <label for="email_address" class="control-label required">Email Address</label>
        <div class="controls"><input type="text" name="email_address" value="" id="email_address" class="required"  /></div>
        <!-- end control -->
    </div>
    <!-- end control group -->
</fieldset>