<style type="text/css">
    .card-wrapper{padding: 10px; border: 1px solid; border-radius: 0.25rem;}
    #card-element {height: 20px;}
    #card-errors {color: #ff0000;}
    div#payment-errors {font-size: 14px;margin-bottom: 0; padding: 0;}
    .processing {padding: 10px; margin-bottom: 15px; background-color: #ffffe6; border: 1px solid #e1e11b;}

</style>
{exp:charge:form
    form_class="form-horizontal"
    form_id="charge-form"
    return="/{segment_1}/{segment_2}/{segment_3}"
}
    <input type="hidden" name="customer_name" value="{embed:order_customer_full_name}" />
    <input type="hidden" name="customer_email" value="{embed:order_customer_email}" />
    <input type="hidden" name="plan_amount" value="{embed:vendigo_deposit}" />
    <input type="hidden" name="meta:entry_id" value="{embed:order_id}" />

    {if have_errors}
        <div class="alert alert-error">
            <h4>We have {error_count} errors</h4>
            <ul>
            {errors}
                <li>{error_message}</li>
            {/errors}
            </ul>
        </div>
    {/if}

    <div class="stripe-card">
        <label for="card-element">Credit or debit card</label>
        <div class="card-wrapper">
            <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
            </div>
        </div>

        <!-- Used to display form errors -->
        <div id="card-errors" role="alert"></div>
    </div>

    <div id="progress" class="processing mt-1" style="display:none;">We are processing your payment... please wait.</div>

    <div class="form-group">
        <div id="payment-errors" class="mt-1" style="display:none;"></div>
        <div class="mt-2">
            <button id="pay-button" type="button" class="btn btn-dark btn-success" data-processing="Please Wait...">Pay Now</button>
        </div>
    </div>
{/exp:charge:form}
<script src="{exp:charge:stripe_js}"></script>
<script src="{exp:charge:js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(this).chargeForm({
            stripe_key: '{exp:charge:public_key}',
            form: '#charge-form',
            card: '#card-element',
            pay_button: '#pay-button',
            pay_button_processing_text: 'Please Wait...',
            pay_errors: '#payment-errors',
            progress: '#progress',
            coupon_form: '#coupon-form',
            coupon_field: '#coupon',
            coupon_status: '#coupon_status',
        });
    });
</script>