<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <style type="text/css">
        .container{max-width: 1200px;padding: 0 15px;margin: 0 auto;width: 100%;}

        *,
        *:before,
        *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

        body{margin: 0; color: #777777;font-size: 18px;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: 1.5;background-color: #fff;}
        p{margin: 0 0 15px 0;font-size: 18px;color: #777777;}
        .cf:before, .cf:after { content: ""; display: table; }
        .cf:after { clear: both; }
        .cf { zoom: 1; }

        .heading-area {padding: 30px 0 30px;border-top: 30px solid #ed7622;}
        /*.heading-top{margin-bottom: 30px;}*/
        .heading-logo {float: left;width: 50%;}
        .heading-content {float: right;width: 50%;text-align: right;}
        .heading-content h2{margin: 0;color: #ed7622;font-size: 22px;}

        table {width: 100%;margin-bottom: 10px;border-collapse: collapse;}
        table td{text-align: center;padding: 5px 10px;border: 1px solid #ccc;font-size: 14px;line-height: 1.1;}
        
        table td strong{display: block;}
        table td p{font-size: 14px;margin: 0;color: #777777}
        table th{text-align: center;padding: 10px;border-bottom: 1px solid #ccc;background-color: #ed7622;color: #fff;text-transform: uppercase;font-size: 12px;}
        
        h3 {margin: 0 0 20px 0;color: #777777;}
        .notes-message {border: 1px solid #ccc;padding: 15px;margin-bottom: 20px;}

    </style>
</head>
<div class="container pre-install-checklist-pdf">
    {exp:channel:entries
    channel="orders"
    disable="categories|category_fields|member_data|pagination|trackbacks"
    entry_id="{segment_3}"
    status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
    }
    <div class="heading-area">

        <div class="heading-top cf">
            <div class="heading-logo">
                <img src="{site_url}images/site/logo.png" alt="Warmzilla Logo">
            </div>
            <div class="heading-content">
                <h2>Gas Safety Record (CP1)</h2>
            </div>
        </div>        
    </div>
    
    <h4>Reference: {segment_3}</h4>
    <table>
        <thead>
            <th>Company Details</th>
            <th>Installation Details</th>
            <th>Client Details</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>{orders_registered_business_name}</strong> <br>
                    {orders_registered_buss_address}
                </td>
                <td>{orders_installation_address}</td>                
                <td>
                    {assigned_engineer_for_this_job custom_fields="yes"}
                    {assigned_engineer_for_this_job:engineer_company_name} <br>                    
                    {assigned_engineer_for_this_job:mobile_telephone_number}
                    {/assigned_engineer_for_this_job}
                </td>
            </tr>
            <tr>            
                <td>Telephone: {order_customer_phone}</td>
                <td>Gas Safe Register: {orders_company_gas_safe_reg_no}</td>
                <td>
                    {assigned_engineer_for_this_job custom_fields="yes"}
                        Telephone: {assigned_engineer_for_this_job:mobile_telephone_number}
                    {/assigned_engineer_for_this_job}
                </td>
            </tr>            
        </tbody>
    </table>
    

    <h3>Installation Details</h3>
    <table>
        <tr>
            {if gas_tightness_test_satisfactory}
            <td>
                <strong>
                    GAS TIGHTNESS TEST SATISFACTORY
                </strong>
                {gas_tightness_test_satisfactory}
            </td>
            {/if}
            {if protective_equipotential_bonding}
            <td>
                <strong>
                    PROTECTIVE EQUIPOTENTIAL BONDING
                </strong>
                {protective_equipotential_bonding}
            </td>
            {/if}
            {if gas_installation_pipework}
            <td>
                <strong>
                    GAS INSTALLATION PIPEWORK
                </strong>
                {gas_installation_pipework}
            </td>
            {/if}
        </tr>
        <tr>
            {if ecv_accessible}
            <td>
                <strong>
                    ECV ACCESSIBLE
                </strong>
                {ecv_accessible}
            </td>
            {/if}
            {if co_alarm_present}
            <td>
                <strong>
                    CO ALARM PRESENT 
                </strong>
                {co_alarm_present}
            </td>
            {/if}
            {if co_alarm_working}
            <td>
                <strong>
                    CO ALARM WORKING 
                </strong>
                {co_alarm_working}
            </td>
            {/if}
        </tr>
    </table>
    

    <h3>Appliance Details</h3>
    {additional_appliances}
    {if additional_appliances:count == 1}
    <table>
        <thead>
            <th></th>
            <th>Location</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Ownership</th>
            <th>Flue Type</th>
            <th>Serviced</th>
        </thead>
        <tbody>
        {/if}
        <tr>
            <td>{additional_appliances:count}</td>
            <td>{additional_appliances:location}</td>
            <td>{additional_appliances:type}</td>
            <td>{additional_appliances:manufacturer}</td>
            <td>{additional_appliances:model}</td>
            <td>{additional_appliances:ownership}</td>
            <td>{additional_appliances:flue_type}</td>
            <td>{additional_appliances:serviced}</td>
        </tr>
        {if additional_appliances:count == additional_appliances:total_rows}
        </tbody>
    </table>
    {/if}
    {/additional_appliances}
    

    <h3>Inspection Details</h3>
    {additional_appliance_inspection}
    {if additional_appliance_inspection:count == 1}
    <table>
        <thead>
            <th></th>
            <th>HI (KW)</th>
            <th>Ventilation</th>
            <th>Flue Visual</th>
            <th>Flue operation</th>
            <th>Appliance Inspected</th>
            <th>Safety Device operating correctly</th>
            <th>Safe to Use</th>
        </thead>
        <tbody>
        {/if}
        <tr>
            <td>{additional_appliance_inspection:count}</td>
            <td>{additional_appliance_inspection:hi_kw}</td>
            <td>{additional_appliance_inspection:ventilation}</td>
            <td>{additional_appliance_inspection:flue_visual}</td>
            <td>{additional_appliance_inspection:flue_operation}</td>
            <td>{additional_appliance_inspection:appliance_inspected}</td>
            <td>{additional_appliance_inspection:safety_device_operating_correctl}</td>
            <td>{additional_appliance_inspection:safe_to_use}</td>
        </tr>
        {if additional_appliance_inspection:count == additional_appliance_inspection:total_rows}
        </tbody>
    </table>
    {/if}
    {/additional_appliance_inspection}
    

    <h3>Boiler Test Information</h3>
    <table>
        <tr>
            {if operating_pressure_heat_input}
            <td>
                <strong>
                    Operating pressure/heat input
                </strong>
                {operating_pressure_heat_input}
            </td>
            {/if}
            {if orders_op_heat_input_unit}
            <td>
                <strong>
                    Operating pressure/heat input unit 
                </strong>
                {orders_op_heat_input_unit}
            </td>
            {/if}
            {if combustion_analyser_reading}
            <td>
                <strong>
                    Combustion analyser reading (max/high)
                </strong>
                {combustion_analyser_reading}
            </td>
            {/if}
        </tr>
        <tr>
            {if standing_pressure_at_meter_mbar}
            <td>
                <strong>
                    Standing pressure at the meter (MBAR)
                </strong>
                {standing_pressure_at_meter_mbar}
            </td>
            {/if}
            {if working_pressure_meter_mbar}
            <td>
                <strong>
                    Working pressure at the meter (MBAR)
                </strong>
                {working_pressure_meter_mbar}
            </td>
            {/if}
            {if combustion_analyser_reading2}
            <td>
                <strong>
                    Combustion analyser reading (min/low)
                </strong>
                {combustion_analyser_reading2}
            </td>
            {/if}
        </tr>
    </table>
    

    {if defects_identified}
    <h3>Defects Identified</h3>    
    <div class="notes-message">
        {defects_identified}
    </div>
    
    {/if}
    
    {if remedial_actions_taken}
    <h3>Remedial Action Taken</h3>    
    <div class="notes-message">
        {remedial_actions_taken}
    </div>
    
    {/if}
    
    {if engineers_notes}
    <h3>Engineer Notes</h3>
    <div class="notes-message">
        {engineers_notes}
    </div>
    
    {/if}
    
    <h3>Signatures</h3>    
    <table>
        <thead>
            <th>
                Engineer 
            </th>
            <th>
                Customer
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {assigned_engineer_for_this_job custom_fields="yes"}
                    {assigned_engineer_for_this_job:first_name} {assigned_engineer_for_this_job:last_name}
                    {/assigned_engineer_for_this_job}
                </td>
                <td>{order_customer_full_name}</td>
            </tr>
            <tr>
                {assigned_engineer_for_this_job custom_fields="yes"}
                <td>(gas ID number): {assigned_engineer_for_this_job:company_gas_safe_reg_no}</td>
                {/assigned_engineer_for_this_job}                
                <td>Date: {entry_date format="%d %F, %Y"}</td>
            </tr>
            <tr>
                <td>Date: {entry_date format="%d %F, %Y"}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {/exp:channel:entries}
</div>