/* ==========================================================================
   #ABOUT-SECTION
   ========================================================================== */

.c-about-section {

    .col-md-6 {
        padding-right: 10px;
    }

    .content {
        padding-top: 10px;

        h1 {
            font-family: $secondary-font;
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 20px;
            padding: 30px 15px;

            img {
                width: 43px;
                margin-right: 20px;
                margin-top: -6px;
                vertical-align: middle;
            }
        }

        ul {
            li {
                margin-bottom: 10px;
                padding: 15px;

                .date {
                    text-transform: uppercase;
                    font-weight: $semibold;
                    color: $color-orange;
                    text-align: center;
                    
                    hr {
                        color: $color-red;
                        margin: 2px auto 2px;
                        border: 0 $color-red solid;
                        border-top-width: 3px;
                    }
                }
            }
        }
    }
}