/* ==========================================================================
   #AVAILABILITY
   ========================================================================== */

.c-availability {   
    ul {
        flex-wrap: wrap;
        
        @include bp(large) {
            width: 100%;
        }

        li {
            @include flexbox;
            @include flex(1 0 100%);
            margin: 0 0 10px;

            @include bp(medium) {
                @include flex(1 0 50%);
            }

            @include bp(large) {
                @include flex(none);
                margin-right: 30px;
            }

            &.available {
                span {
                    background-color: #7fcc4c;
                }
            }
            
            &.not-available {
                span {
                    background-color: #fc6058;
                }
            }

            &.confirmed {
                span {
                    background-color: $color-orange;
                }
            }

            &.pending-job {
                span {
                    background-color: #ecb808;
                }
            }

            span {
                min-width: 30px; 
                height: 30px; 
                @include border-radius(100%); 
                margin-right: 10px; 
                color: $color-white !important; 
                @include flexbox;
                align-items: center; 
                justify-content: center;
            }
        }
    } // ul
}