/* ==========================================================================
   #BEST-PRICE-BANNER
   ========================================================================== */

.c-best-price-banner {
    text-align: center;
    background-color: #f1f1f1;
    padding-bottom: 40px;

    @include bp(medium) {
        background-image: url('/images/site/grey-bg.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        height: 558px;
        background-size: auto;
        text-align: left;
        padding-bottom: 0;
    }

    @include bp(large) {
        height: 488px;
    }

    .container {
        position: relative;
        height: 100%;

        .price-match {
            background-repeat: no-repeat;
            width: 75px;
            height: 100px;
            z-index: 99;
            background-size: contain;
            background-image: url(/images/site/best-price-icon.png);
            margin: 0 auto 10px;
            display: block;
            top: 20px;

            @include bp(medium) {
                display: inline-block;
                position: absolute;
                right: 90px;
                width: 104px;
                height: 138px;
            }
        }

        h2 {
            margin-bottom: 10px;
        }

        .image {
            background-image: url('/images/site/best-price-image.png');
            width: 440px;
            height: 231px;
            position: absolute;
            right: 0;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 16px;
            display: none;

            @include bp(medium) {
                display: block;
            }
        }

        .btn {
            background: transparent;
        }

        .content {
            @include bp(medium) {
                padding: 85px 182px 0 20px;
            }

            @include bp(large) {
                padding: 100px 250px 0 100px;
            }

            img {
                display: none;
                height: 205px;
                width: auto;
                float: left;
                margin-right: 46px;

                @include bp(medium) {
                    display: block;
                }
            }
        }
    }
}