/* ==========================================================================
   #BLOG-SEC
   ========================================================================== */
   
.c-blog-sec {
    overflow: hidden;

    .container {
        position: relative;
    }

    .cloud-img1 {
        position: absolute;
        left: -248px;
        top: -70px;
        width: 263px;
        height: 223px;
    }

    .cloud-img2 {
        position: absolute;
        top: -40px;
        right: -200px;
        width: 263px;
        height: 223px;
    }

    .blog-post-list {
        .item {
            margin-bottom: 35px;

            a {
                color: inherit;

                &:hover {
                    text-decoration: none;
                }
            }

            .blog-category {
                background-color: $color-red;
                color: $color-white;
                padding: 8px 20px;
                @include border-radius(0 0 5px 5px); 
                position: absolute;
                bottom: 0;
                margin: 0 -10px -10px -10px;
                width: 100%;
            }
            
            .inner-item {
                padding: 10px;
                position: relative;
                display: flex;
                flex-direction: column;
                background-color: $color-white;
    
                figure {
                    @include border-radius(5px);
    
                    .view-date {
                        background-color: #fdc400;
                        padding: 7px 10px;
                        line-height: 1;
                        @include border-radius(0 0 5px 5px);
                        top: -10px;
                        right: 15px;
                        color: $color-black;
    
                        &:before {
                            content: "";
                            border-style: solid;
                            border-width: 0 0 10px 10px;
                            border-color: transparent transparent #000 transparent;
                            position: absolute;
                            right: 100%;
                            top: 0;
                        }
    
                        em {
                            font-size: 24px;
                            display: block;
                            font-style: normal;
                        }
                    } //.view-date
                } //figure
    
                .desc {
                    padding: 0 10px;
    
                    h2 {
                        height: 40px;
                        font-size: 16px;
                        font-weight: $semibold;
                        line-height: 1.4;
    
                        @include bp(medium) {
                            font-size: 20px;
                            height: 60px;
                        }
                    }

                    h4 {
                        height: 52px;
                    }

                    span {
                        height: 62px;
                        margin-bottom: 15px !important;
                        overflow: hidden;
                        display: block;

                        @include bp(medium) {
                            height: 101px;
                            margin-bottom: 20px !important;
                        }

                        p {
                            font-size: 14px;
                            line-height: 1.6;

                            @include bp(medium) {
                                font-size: 16px;
                            }
                        }
                    }
                } //desc
            }
        }

        &.related {
            .item {
                padding: 20px 0;
                border-bottom: 1px solid #ccc;
                margin: 0;

                a {
                    figure {
                        height: 90px;
                        width: 90px;
                        border-radius: 0;
                        float: left;
                        margin-right: 20px;
                    }
                    
                    span {
                        color: #757473;
                        font-size: 14px !important;
                        height: auto;
                        margin: 0 !important;
                    }
                }
            }
        }
    }

    .blog-post-details {
        h2 {
            font-size: 28px;
        }

        ul {
            list-style-type: disc;
            padding: 0 0 0 40px;
            margin-bottom: 20px;
        }
        
        ol li {
            font-size: 18px;

            a {
                font-weight: 600;
            }
        }

        table {
            width: 100% !important;

            @include bp(medium) {
                width: auto;
            }
        }

        .sharethis-inline-share-buttons {
            margin-bottom: 20px;
            text-align: left !important;
        }
    } //.blog-post-details

    .blog-categories {
        margin: 50px auto;
        text-align: center;

        form {
            width: auto;
            display: inline;
        }

        span {
            margin-left: 20px;
            margin-right: 20px;
        }

        .form-box {
            &.text {
                width: 400px !important;

                @include bp(medium) {
                    width: 450px !important;
                }
            }
            
            display: inline-block;
        }

        .btn {
            font-size: 20px;
            margin-left: -5px;
            border-radius: 0;
            margin-top: -5px;
            height: 50px;
            border: 0;
            box-shadow: none;
        }
    
        .form-control {
            font-size: 20px;
            font-weight: $semibold;
            width: 68%;
            display: inline;
            height: 50px;
            border-radius: 0.25rem 0 0 0.25rem;
    
            @include bp(medium) {
                width: 72%;
            }

            &#blog_categories {
                width: auto;
                color: rgba(73,80,87,0.5);

                &::-ms-expand {
                    display: none;
                }

                option {
                    color: rgba(73,80,87,1);
                }
            }
        }

        select::-ms-expand {
            display: none;
        }
    } //.blog-categories

    .blog-pagination {
        a {
            border: 2px solid $color-orange;
            @include border-radius(50%); 
            height: 40px;
            width: 40px;
            display: inline-block;
            line-height: 40px;
            color: inherit;
    
            &.prev-next {
                width: 90px;
                @include border-radius(20px); 
            }
    
            &:hover, 
            &.active {
                text-decoration: none;
                background-color: $color-orange;
                color: $color-white;
            }
        }
    }
}