/* ==========================================================================
   #BOILER-BRANDS
   ========================================================================== */

.c-boiler-brands {
   .container {
      max-width: 1400px;
      padding: 0;

      .heading {
         margin: 0 15px;
      }

      .c-boiler-brands__item {
         -webkit-box-flex: 0 0 100%;
         -moz-box-flex: 0 0 100%;
         -webkit-flex: 0 0 100%;
         -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         padding: 20px;
         position: relative;
         border-bottom: 1px solid #e5e5e5;
         border: 2px solid $color-orange;
         border-radius: 8px;
         text-align: left;
         margin-bottom: 20px;
         margin: auto 10px;
         height: 285px;

         @include bp(medium) {
            height: 320px;
         }

         @include bp(large) {
            -webkit-box-flex: 1 0 0%;
            -moz-box-flex: 1 0 0%;
            -webkit-flex: 1 0 0%;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            margin: auto 20px;
         }

         img {
            display: inline-block;
         }

         .vokera-logo {
            width: 92px;

            @include bp(medium) {
               width: 90px;
            }

            @include bp(large) {
               width: 120px;
            }
         }

         .ideal-logo {
            width: 83px;

            @include bp(medium) {
               width: 94px;
            }

            @include bp(large) {
               width: 110px;
            }
         }

         .worcester-logo {
            width: 120px;

            @include bp(medium) {
               width: 140px;
            }

            @include bp(large) {
               width: 160px;
            }
         }

         .guarantee-icon {
            float: right;
            width: 94px;
            position: absolute;
            right: 20px;
            top: 10px;

            @include bp(medium) {
               width: 105px;
            }
         }

         .boiler-img {
            margin-top: 20px;
            height: 160px;
            width: auto;

            @include bp(medium) {
               height: 192px;
            }
         }

         .content {
            width: 127px;
            position: absolute;
            right: 30px;
            top: 68px;
            padding-bottom: 10px;
            border-bottom: 1px solid $color-red;

            @include bp(medium) {
               top: 85px;
               right: 15px;
               width: 170px;
            }

            @include bp(large) {
               top: 75px;
               right: 30px;
            }

            @include bp(xlarge) {
               right: 40px;
            }

            .price {
               font-weight: $extrabold;
               color: $color-orange;
               line-height: 1;
               font-size: 36px;
               display: block;

               @include bp(medium) {
                  font-size: 40px;
               }

               @include bp(large) {
                  font-size: 50px;
               }
            }
         }

         .text-center {
            font-size: 12px;

            @include bp(medium) {
               font-size: 14px;
            }

            @include bp(large) {
               font-size: 16px;
            }
         }
      }
   }
}