/* ==========================================================================
   #BOILER-COMP-SEC
   ========================================================================== */
   
.c-boiler-comp-sec {
    h2 {
        font-size: 24px;

        @include bp(small) {
            font-size: 26px;
        }

        @include bp(medium) {
            font-size: 30px;
        }

        @include bp(large) {
            font-size: 37px;
        }
    }

    p {
        font-size: 14px;
        
        @include bp(medium) {
            font-size: 18px;
            line-height: 1.7;
        }
    }

    .text-part {
        .comp-date {
            font-size: 26px; 
            color: $color-orange;
            font-weight: $semibold; 
            display: block;
            line-height: 1.2;
        }
    } //.text-part

    .img-text-wrap {
        .img-part {
            display: none;
            width: 180px;
            margin-left: 20px;

            @include bp(medium) {
                margin-left: 50px; 
                width: 230px;
            }

            @include bp(large) {
                @include flexbox;
                @include flex(1 0 auto);
                margin-left: 90px;
                width: 280px;
            }
        }
    } //.img-text-wrap
}





