/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */
   
.c-breadcrumb { 
    background: #fbba09 url(../images/site/breadcrumbs-bg.jpg) no-repeat top left / cover;
    padding: 12px 0;
    margin-bottom: 0; 
    @include border-radius(0);

    @include bp(medium) {
        padding: 17px 0;
    }

    ul {
        overflow: hidden;
        padding-left: 20px;

        li {
            margin: 0;
            position: relative;
            display: inline-flex;

            a {
                display: inline-flex; 
                align-items: center; 
                font-weight: $normal;
                padding: 8px 15px 8px 30px;
                margin-left: -20px;
                color: #777777;
                background-color: $color-white;
                text-decoration: none;
                letter-spacing: 0.01em;
                @include border-radius(0 100px 100px 0);
                position: relative;
                line-height: 1.3;
                font-size: 9px;

                @include bp(small) {
                    font-size: 11px;
                }

                @include bp(medium) {
                    padding: 10px 20px 10px 35px;
                }

                @include bp(large) {
                    padding: 14px 20px 14px 40px;
                    font-size: 14px;
                }

                &:hover {
                    background-color: #f08a14; 
                    color: $color-white;
                }

                &:after {
                    content: "";
                    width: 100vw;
                    height: 100%;
                    box-shadow: -1px 0 18px 0 rgba(0, 0, 0, 0.4);
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include border-radius(0 100px 100px 0);
                    pointer-events: none;
                } //:after

            } //a

            &.active {
                a {
                    background-color: $color-orange; 
                    color: $color-white; 
                    font-weight: $bold; 
                    text-transform: uppercase; 
                    pointer-events: none;
                }
            }

            &:last-of-type {
                a {
                    padding-left: 54px;
                    @include border-radius(100px);

                    @media (max-width:640px) {
                        padding-left: 30px;
                    }

                    @media (max-width:576px) and (orientation:portrait) {
                        font-size: 0;
                        padding-right: 5px;
                    }
                }
            }

            &:first-child {
                a {
                    &:after {
                        box-shadow: none;
                    }
                }
            }

            i {
                font-size: 23px;
                position: absolute;
                left: 15px;

                @media (max-width:640px) {
                    left: 5px;
                    font-size: 14px;
                }

            }

            &.breadcrumb-item {
                & + .breadcrumb-item {
                    padding: 0;

                    &:before {
                        display: none;
                    }
                }
            }

        } //li
    } //ul

    .login-id-view {
        @media (max-width:640px) {
            width: 100%; 
            margin-top: 5px; 
            text-align: right;
        }

        * {
            color: $color-white; 
            font-size: 16px;

            @media (max-width:640px) {
                font-size: 14px;
                text-align: left;
                margin-top: 10px;
            }
        }

        a {
            font-weight: $bold;
        }
    } //.login-id-view
} //.breadcrumb