/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.btn {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: $semibold;
  @include transition(all 0.3s ease);
  position: relative; 
  white-space: normal;
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
  @include border-radius(0.25rem);
  @include box-shadow(0px 3px 10px 0px rgba(1, 1, 1, 0.15));

  @include bp(large) {
	  font-size: 22px;
  }

  &:focus,
  &.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.fileupload-btn {
    border-radius: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.btn--primary {
	background-color: $button-primary-bg;
	color: $button-color !important;

	&:hover {
		color: $button-color !important;
		background-color: $color-black; 
	}

	&.btn--inverted {
		background-color: $button-color;
		color: $button-primary-bg !important;
		border: 2px solid $button-primary-bg;
		@include box-shadow(0);

		&:hover {
			background-color: $button-primary-bg !important;
			color: $button-color !important;
		}
	}

	&:focus, .focus {
		color: $button-color;
		background-color: $color-black;
	}
}

.btn--secondary {
	background-color: $button-secondary-bg;
	color: $button-secondary-text;

	&:hover {
		color: $button-color;
		background-color: $color-black; 
	}
}

.btn--green {
	background-color: $button-green;

	&:hover {
		background-color: $color-black;
		color: $color-white;
	}
}

.btn--small {
	font-size: 16px;
	width: auto;
}

.btn:disabled,
.btn[disabled] {
  background-color: $color-grey;
  color: $color-white;
  cursor: default;
}

.btn--large {
	@include bp(large) {
		font-size: 30px;
		padding: 0;
		max-width: 430px; 
		height: 80px;
	}
}

.btn--success {
	background-color: $button-secondary-bg;
	padding: 5px 10px;
	font-size: 16px; 
	color: $button-hover;
	border-color: $button-secondary-bg; 

	&:hover {
		background-color:$color-grey;
		color: $button-color;
		border-color:$color-grey;
	}
}

.btn--print {
	background-color: $color-orange; 
	color: $button-color;

	&:hover {
		background-color: $button-hover;
		color: $button-color;
	}
}

.btn-dark {
	background-color:$color-orange; 
	color: $button-color;
	background-color: $color-orange;
	border-color: $color-orange; 
	@include border-radius(30px);

	&:hover {
		color: $button-color;
		background-color: #1d1d1b;
		border-color: #1d1d1b;
	}
}