/* ==========================================================================
   #BUYING-BOILER
   ========================================================================== */

.c-buying-boiler {
    img {
        &.desk {
            display: none;

            @include bp(medium) {
                display: block;
            }
        }

        &.mob {
            @include bp(medium) {
                display: none;
            }
        }
    }

    .num {
        display: none;

        @include bp(medium) {
            display: block;
        }
    }

    .text {
        margin-top: 0 !important;

        @include bp(medium) {
            margin-top: 3rem !important;
        }
    }

    .text-mob {
        display: block;
        
        @include bp(medium) {
            display: none;
        }
    }

    .text-desk {
        display: none;

        @include bp(medium) {
            display: block;
        }
    }
}