/* ==========================================================================
   #CALENDAR
   ========================================================================== */

   /* small ui calendar */
.ui-widget.ui-widget-content{-webkit-box-shadow: 0px 2px 13px 0 rgba(0, 0, 0,0.2);
    box-shadow: 0px 2px 13px 0 rgba(0, 0, 0,0.2);}
.ui-widget-header{background-color: #ffcc09 !important; color: #000 !important;}
.ui-widget.ui-widget-content{background-color: $color-white !important;}
.ui-widget.ui-widget-content .ui-datepicker-week-end{color: #525252 !important;}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active{border: 1px solid #d9d0af !important; @include border-radius(3px);background-color: $color-white !important; color: #000 !important; text-align: center;}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover{background-color: $color-orange !important; color: $color-white !important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{background-color: $color-white !important; border: 1px solid #000000 !important; background-color: $color-orange !important;}
.ui-datepicker .ui-datepicker-next{right: 3px !important; top: 3px !important;}
.ui-datepicker .ui-datepicker-prev{left: 2px !important; top: 3px !important;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{background-image: none !important; text-indent: 0 !important; font-size: 0; width: auto !important; height: auto !important; position: relative !important; top: auto !important; left: auto !important; margin-top: 0 !important; margin-left: 0 !important;}
.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:before{content: ""; display: block;font-family: "warmzilla-icon" !important;font-style: normal !important;font-weight: $normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; font-size: 20px;}
.ui-datepicker .ui-datepicker-prev span:before{content: "d";}
.ui-datepicker .ui-datepicker-next span:before{content: "e";}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{@include flexbox; align-items: center; justify-content: center;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{}

.energy-rating ul li{margin-bottom: 25px;}
.energy-rating ul li:last-child{margin-bottom: 0;}
.energy-rating ul li .lightest-green{background-color: #898c7a;}
.energy-rating ul li .light-green{background-color: #bed730;}
.energy-rating ul li .dark-green{background-color: #00a651;}
.energy-rating ul li span{padding: 15px 40px 15px 23px; display: inline-flex; align-items: center; justify-content: center; color: $color-black;line-height: 1;font-size: 24px;position: relative;margin-left: 30px;margin-right: 10px;}
.energy-rating ul li span:before{content: ""; width: 0;height: 0;border-style: solid;border-width: 27px 29px 27px 0;border-color: transparent #007bff transparent transparent;    position: absolute;right: 100%; top: 0;}
.energy-rating ul li .lightest-green:before{border-right-color: #898c7a;}
.energy-rating ul li .light-green:before{border-right-color: #bed730;}
.energy-rating ul li .dark-green:before{border-right-color: #00a651;}
.select-boiler > .btn{@include flex(1 0 auto); max-height: 100px;}
.energy-rating ul li{@include flexbox; align-items: center; justify-content: center;}
.energy-rating ul li i{width: 60px; display: inline-flex; align-items: center;/* justify-content: center;*/}




@media (min-width:768px) and (max-width:1023px) {
    /* Update Your Availability */
    .calendar-date .slick-arrow{ height: 34px; width: 34px;}
    .calendar-date .slick-arrow .fal {font-size: 32px;line-height: 1;}
    .calendar-title-slider h3{ font-size: 30px;}
    .single-calendar{ padding: 20px 55px;}
    .single-calendar .bottom-calendar .box{ height: 85px;}
    .property-details{padding: 10px;}
    .product-spec .specification .card .card-dd, .product-spec .specification .card .card-dt{padding: 10px 10px;font-size: 15px;}
    .product-spec .specification .output-info ul li{font-size: 12px;}
    .price-slider{padding: 0 20px;}
}

@media (max-width:767px) {
    .button-grp .btn { padding: 0.5em 1.5em; height: auto;}

    /* My Calendar */

    .calendar-date .slick-arrow{ height: 30px; width: 30px;}
    .calendar-date .slick-arrow .fal {font-size: 27px;line-height: 1;}
    .calendar-title-slider h3{ font-size: 26px;}
    .calendar-title-slider p{ font-size: 16px;}
    .single-calendar{ padding: 20px 45px;}
    .single-calendar .bottom-calendar .box{ height: 65px; padding: 3px 6px;}

    #calendar .fc-header-toolbar .fc-state-default .fc-icon{ font-size: 16px; top: -2px;}
    #calendar th.fc-day-header{font-size: 14px;}
}

@media (max-width:640px) {
    /* Update Your Availability */

    .button-grp .btn { padding: 0.5em 1.5em; height: auto;}

    /* My Calendar */
    .calendar-title-slider{ padding: 1rem 3.5rem !important;}
    .calendar-title-slider h3{ font-size: 20px;}
    .calendar-title-slider .slick-arrow{ height: 30px; width: 30px; border-radius: 50%; background-color: #fff; border: 2px solid #ed7622;}
    .calendar-title-slider .slick-arrow .fal {font-size: 27px;text-align: center;width: 100%;line-height: 1;}
    .calendar-title-slider .slick-arrow:hover{ background-color: #ed7622; color: #fff;}
    .calendar-title-slider .slick-arrow.slick-prev{ left: 10px;}
    .calendar-title-slider .slick-arrow.slick-next{ right: 10px;}
    .single-calendar{ padding: 0;}
    .single-calendar .top-calendar{ padding: 0 5px;}
    .single-calendar .top-calendar div{ padding: 10px 9px; font-size: 12px; font-weight: 400;}
    .single-calendar .bottom-calendar{ padding: 5px;}
    .single-calendar .bottom-calendar .box{ height: 55px;}
}

@media (max-width:576px) and (orientation:portrait) {
    /* Update Your Availability */

    .button-grp{ flex-wrap: wrap;}
    .button-grp .btn{ width: 100%; margin: 5px 0 0;}

    /* My Calendar */

    .single-calendar .bottom-calendar .box{ text-align: center;}
    .single-calendar .bottom-calendar .box .fal {position: absolute;bottom: 5px;left: 50%;transform: translate(-50%,0);}
    .item .price-details .price-tag .inner-wrap{padding-right: 0;margin-bottom: 10px;}
	.new-boiler-banner .text-part h1{font-size: 8.4vw;}
}

.c-calendar {
    .fc-toolbar {
        &.fc-header-toolbar {
            background-color: #fc6058;
            padding: 1.2rem;
            margin-bottom: 0;

            .fc-left, .fc-right {
                top: 15px; 
                position: absolute;
            }

            .fc-left {
                left: 15px;
                float: left;

                @include bp(medium) {
                    left: 25px;
                }
            }   
            
            .fc-right {
                right: 15px;
                float: right;

                @include bp(medium) {
                    right: 25px;
                }
            }

            .fc-center {
                h2 {
                    font-size: 18px;
                    text-align: center;
                    float: none;
                    display: block;
                    color: $color-white;
                    font-weight: $regular;
                    margin-bottom: 0.25rem;

                    @include bp(small) {
                        font-size: 22px;
                    }

                    @include bp(medium) {
                        font-size: 30px;
                    }
                }
            }

            .fc-state-default {
                height: 25px;
                width: 25px;
                @include border-radius(50%);
                background-color: transparent;
                border: 2px solid $color-white;
                padding: 0;
                line-height: 1;
                color: $color-white; 
                box-shadow: none; 
                background-image: none;

                @include bp(small) {
                    height: 40px;
                    width: 40px;
                }

                &:hover {
                    background-color: $color-orange; 
                    color: $color-white;
                }

                .fc-icon {
                    top: 0;
                    height: auto;
                    line-height: 0;
                    color: $color-white;
                    font-size: 14px;

                    @include bp(small) {
                        font-size: 1em;
                    }

                    &:after {
                        top: 0;
                        line-height: 0.8;
                    }
                }
            }
        } //.fc-header-toolbar
    } //.fc-toolbar

    .fc-view-container {
        .fc-basic-view {
            margin: 0;

            table {
                th {
                    &.fc-day-header {
                        border-left: 1px solid #2d2d2d; 
                        border-right: 1px solid #777777; 
                        padding: 11px 10px; 
                        font-weight: $semibold; 
                        font-size: 18px; 
                        background-color: #525252; 
                        color: $color-white;

                        span {
                            color: $color-white;
                        }
                    }
                }

                .fc-day-grid-container {
                    background-color: #f7f5ed; 
                    height: auto !important;
                    overflow: hidden !important;
                }

                .fc-widget-content {
                    td {
                        &.fc-widget-content {
                            border: 1px solid #f7f5ed; 
                            position: relative;

                            &.fc-disabled-day {
                                background-color: #d7d7d7 !important;

                                &:after {
                                    display: none;
                                }
                            }

                            &.not-avil:not(.fc-past) {
                                background-color: #fc6058;

                                &:after {
                                    content: "\f00d"; 
                                    display: inline-block; 
                                    color: $color-white;  
                                    font-family:'Font Awesome\ 5 Pro'; 
                                    position: absolute; 
                                    right: 10px; 
                                    bottom: 10px; 
                                    font-size: 22px; 
                                    line-height: 1;
                                }
                            }

                            &.avail-box:not(.fc-past) {
                                background-color: #03d66a !important;

                                &:after {
                                    content: none;
                                }
                            }
                        }

                        .avail-box {
                            .fc-day-number {
                                color: $color-black;
                                background-blend-mode: color;
                                color: $color-white;
                                float: left;
                                padding: 5px 10px;
                            }
                        }
                    }
                }

                .available {
                    color: $color-white; 
                    @include transition(all 0.4s ease);
                    opacity: 1 !important; 
                    position: relative;
                }

                .pending {
                    background-color: #ecb808 !important; 
                    color: $color-white; 
                    border-color: $color-white;
                    @include transition(all 0.4s ease);
                    position: relative;

                    &:hover {
                        background-color: #fbc91e !important;
                    }

                    &:after {
                        content: "!"; 
                        display: inline-block; 
                        color: $color-white;  
                        font-family:inherit; 
                        font-weight: $semibold; 
                        position: absolute; 
                        right: 10px; 
                        bottom: 10px; 
                        font-size: 22px; 
                        line-height: 1;
                    }
                }

                .confirmed {
                    background-color: #ed7622 !important; 
                    color: $color-white; 
                    @include transition(all 0.4s ease);
                    position: relative;

                    &:hover {
                        background-color: #94ec59 !important;
                    }

                    &:after {
                        content: "\f00c"; 
                        display: inline-block; 
                        color: $color-white;  
                        font-family:'Font Awesome\ 5 Pro'; 
                        position: absolute; 
                        right: 10px; 
                        bottom: 10px; 
                        font-size: 22px; 
                        line-height: 1;
                    }
                }

                .avail-box {
                    .fc-day-number {
                        color: $color-black;
                    }
                }

                .fc-day-number {
                    float: left; 
                    padding: 5px 10px;
                    background-blend-mode: color; 
                    color: $color-white;
                }
            }
        }
    }
}



.bg-light-yellow{ background-color: #f1ebd2;}
.single-calendar{ border: 1px solid #f7f5ed; border-top: 0; padding: 20px 65px;}
.single-calendar .top-calendar{@include flexbox; justify-content: space-around; background-color: #525252; border-radius: 5px 5px 0 0; padding: 0 15px;}
.single-calendar .top-calendar div {color: $color-white;font-weight: $semibold;font-size: 18px;border-right: 1px solid #777777;border-left: 1px solid #2d2d2d;width: 100%;text-align: center; padding: 11px 10px;}
.single-calendar .top-calendar div:first-child{ border-left: 0;}
.single-calendar .top-calendar div:last-child{ border-right: 0;}
.single-calendar .bottom-calendar{ background-color: #f7f5ed;@include flexbox; padding: 20px 15px; flex-wrap: wrap;}
.single-calendar .bottom-calendar .box {@include flex(1 0 12.5%);height: 95px; margin: 1px; padding: 10px; position: relative;}
.single-calendar .bottom-calendar .box.avail{ background-color: $color-white;}
.single-calendar .bottom-calendar .box.not-avail{ background-color: #fc6058; color: $color-white;}
.single-calendar .bottom-calendar .box.confirm{ background-color: #7fcc4c; color: $color-white;}
.single-calendar .bottom-calendar .box.pending{ background-color: #ecb808; color: $color-white;}
.single-calendar .bottom-calendar .box .fal { position: absolute; bottom: 10px; right: 10px;}
.calendar-title-slider h3{ font-size: 40px;}
.calendar-title-slider p{ color: #000000; font-size: 18px;}
.calendar-date .slick-arrow{ height: 40px; width: 40px; @include border-radius(50%); background-color: $color-white; border: 2px solid $color-orange;}
.calendar-date .slick-arrow .fal {font-size: 38px;text-align: center;width: 100%;line-height: 36px;}
.calendar-date .slick-arrow:hover{ background-color: $color-orange; color: $color-white;}
.calendar-date .slick-arrow.slick-prev{ left: 10px;}
.calendar-date .slick-arrow.slick-next{ right: 10px;}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{ border-color: #f7f5ed; }
.fc-content-skeleton .fc-event {height: 100%; width: 100%; background-color: transparent;border: 0;}
#calendar .fc-other-month .fc-day-number {display: none;}
.custom-arrow-links a:hover{text-decoration: none;}
iframe{width:100%;}