/* ==========================================================================
   #CALLBACK-BANNER
   ========================================================================== */

.c-callback-banner {
    display: none;
    margin-bottom: 30px;

    @include bp(medium) {
        display: block;
    }
}