.c-calendar-slider {
    h3 {
        font-size: 40px;
        padding: 0 50px;
    }

    .slick-arrow {
        top: 15px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $color-white;
        border: 1px solid $color-orange;

        .fal {
            font-size: 27px;
            line-height: 1.1;
            text-align: center;
            width: 100%;
        }

        &.slick-next {
            right: 0;
        }
    }
}