.c-call-back {
    background-color: #f8ce49;
    text-align: center;
    padding: 20px;

    h3 {
        margin: 0 0 15px 0;
        vertical-align: middle;
        color: $color-red;

        @include bp(medium) {
            margin: 0 20px 0 0;
        }

        @include bp(large) {
            display: inline;
        }

        span {
            font-weight: $bold;
        }

        .btn {
            font-weight: $bold;
            @include flexbox;
            width: 250px;
            margin: 15px auto 0 auto;

            @include bp(medium) {
                width: 300px;
            }

            @include bp(large) {
                float: right;
                margin-top: 0;
                font-size: 16px;
                display: inline-flex;
                width: auto;
            }

            &:hover {
                background-color: #ec4435;
                color: $color-white;

                span {
                    background-image: url('/images/site/phone-icon-white.svg');
                }
            }

            span {
                background-image: url('/images/site/phone-icon-red.svg');
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
                margin-left: 15px;
            }
        }
    }
}