/* ==========================================================================
   #CARD-DETAILS
   ========================================================================== */

.card-details { 
    margin: 0; 
    background-color: #f6f5f3; 
    padding: 20px 10px; 

    .card-number-details { 
        width: 100%; 
        padding: 0 10px; 
        margin-bottom: 20px; 
        @include flex(1 0 0); 
        min-width: 200px;
    } //.card-number-details

    .validity-details {
        width: 190px;
        padding: 0 10px;

        span {
            @include flexbox; 
            justify-content: space-between;

            &#expiration_month {
                width: 37%;
            }

            &#expiration_year {
                width: 55%;
            }
        }

        input {
            width: 48%;
        }

        .custom-select {
            font-size: 16px;
        }
    } 

    .cvv-details {
        width: 110px;
        padding: 0 10px;
    }
}		
	