/* ==========================================================================
   #CARD
   ========================================================================== */
   
.card {
    .card-header {
        border-bottom: 0;
    
        &.bg-orange, 
        &.light-orange-bg { 
            * {
                color: $color-white;
            }
        }

        &.light-orange-bg {
            &:before {
                content: none;
            }
        }
    }
}

