/* new checkout phase */
.checkout-step {
    .step {
        border: 1px solid #555555; 
        background-color: $color-white; 
        opacity: 0.3;

        &.is-show,
        &.is-completed {
            opacity: 1;

            h3 {
                color: $color-orange;
            }
        }

        .step-header {
            padding: 30px 28px; 
            padding-left: 85px; 
            position: relative; 
            cursor: pointer;

            h3 {
                margin-bottom: 0;
                font-size: 26px;
                color: #727272;

                span {
                    color: $color-orange;
                }
            }

            .c-icon {
                display: inline-flex;
                position: absolute;
                left: -60px;
                top: 50%;
                width: 45px;
                align-items: center;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);

                img {
                    max-height: 100%;
                }
            } //.c-icon

            p {
                color: #757473;
                font-size: 16px;
                line-height: 0;
                overflow: hidden;
                -webkit-transition: 0.4s ease line-height;
                -o-transition: 0.4s ease line-height;
                transition: 0.4s ease line-height;
                margin-bottom: 0;
            }

            .before,
            .after {
                position: relative;
            }

            .after {

                .c-icon { 
                    width: 40px;
                }
            } //.after
            
        } //.step-header

        .step-body {
            padding: 0 0 40px 0;
            display: none;

            p {
                font-size: 16px;
                line-height: 1.5;

                &.selected-date-info {
                    display: none;
                }
            }

            .step-loader {
                @include flexbox;
                align-items: center;
                justify-content: center;
                flex-direction: row-reverse;

                .ajax-loader {
                    position: absolute;
                    top: 43%;
                    right: 15%;
                    width: 25px;
                    position: static;
                    left: auto;
                    right: auto;
                    margin-right: -40px;
                    margin-left: 15px;
                    margin-top: 10px;
                }
            } //.step-loader

            .btn {
                margin-top: 10px;
                min-width: 375px;
            }
        } //.step-body

        & + .step {
            margin-top: 25px;
        }

    } //.step
} //.checkout-step

.new-checkout-sec {
    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: url(/images/site/cogs.gif) center center no-repeat rgba(0,0,0,0.6);
        display: none;
        z-index: 99;

        &:before {
            content: "Order Processing...";
            display: block;
            font-size: 40px;
            color: rgba(255,255,255,0.7);
            text-align: center;
            margin-top: 14%;
        }
    }
}

.installation_date_btn{background-color: $color-orange; color: $color-white;@include border-radius(0);font-size: 26px; padding: 10px 40px;line-height:1.47;}
.btn.disabled{background-color: #727272; color: $color-white;}
.installation_date_btn:hover{background-color: $color-black; color: $color-white;}

.checkout-step .step .step-body .detail{padding: 0 20px;}
.checkout-step .step .step-body .btn{margin-top: 10px; min-width: 375px;}
.checkout-step .step .step-body .btn:hover{background: $color-black; color: $color-white;}
.gradiant-bg{background-image: -moz-linear-gradient( 0deg, rgb(252,130,6) 0%, rgb(252,154,6) 38%, rgb(251,177,6) 67%, rgb(252,130,6) 100%);background-image: -webkit-linear-gradient( 0deg, rgb(252,130,6) 0%, rgb(252,154,6) 38%, rgb(251,177,6) 67%, rgb(252,130,6) 100%);background-image: -ms-linear-gradient( 0deg, rgb(252,130,6) 0%, rgb(252,154,6) 38%, rgb(251,177,6) 67%, rgb(252,130,6) 100%); width: 100%;}
.checkout--wrap .reset-click{color: $color-white;padding: 0 0;margin-bottom: 30px;}
.checkout--wrap .reset-click a{color: inherit;font-size: 20px;font-weight: $semibold; line-height: 1.2; padding: 12px 25px; display: block;}
.checkout--wrap .reset-click i{font-size: 25px; width: 1em; height: 1em; display: inline-block;margin-right: 1em;vertical-align: middle;}
.checkout--wrap .reset-click a:hover{text-decoration: none;}

.step-body .gas-installer{padding: 0 23px 0 23px;}
.step-body .profile-img{display: inline-block;vertical-align: top; padding: 15px 15px; -webkit-box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.26);box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.26); -webkit-transform: rotate(-7deg);-ms-transform: rotate(-7deg);-o-transform: rotate(-7deg);transform: rotate(-7deg); margin: 14px;}
.step-body .profile-img figure{margin: 0 auto; max-width: 185px;}
.step-body .profile-img figcaption{text-align: center;font-size: 26px;font-family: 'Signatura Monoline Script'; color: #656565;font-weight:600;}
.step-body .gas-installer .img-part{display: inline-block;vertical-align: top;margin-right: 29px; max-width: 225px;}
.step-body .installer-desc{display: inline-block;vertical-align: top; max-width: calc(100% - 286px);}
.step-body .installer-desc .gs-logo {
    border: 1px solid rgba(161, 161, 161, 0.8);
    border-radius: 8px;
    padding: 10px 25px;
    margin-top: 30px;
    width: 100%;
}
.step-body .installer-desc .gs-logo p {
    margin: 15px 20px;
    display: inline-block;
}

.step-body .installer-desc .gs-logo p span {
    font-weight: $semibold;
    color: $color-orange;
}

.step-body .installer-desc .gs-logo img {
    max-width: 70px;
}

.step-body .gi-wrap .desc-wrap .gs-logo{max-width: 54px; @include flex(1 0 auto);margin-left: 40px;margin-bottom: 20px;max-height: 58px;height: 58px;}
.step-body .gi-wrap .desc-wrap .gs-logo img {max-height: 100%;}
.step-body .gi-wrap .desc-wrap p{font-size: 16px; color: #757473; line-height: 1.5;}
.step-body .station-and-exp{border: 1px solid #acacac; @include border-radius(9px); padding: 12px 24px;}
.step-body .station-and-exp .content{display: inline-flex;align-items: center;}
.step-body .station-and-exp .se-logo{width: 42px; height: 38px; display: inline-block;vertical-align: top;}
.step-body .station-and-exp .content h6{margin-bottom: 0;font-size: 12px;color: $color-orange;}
.step-body .station-and-exp .content span{font-size: 12px; color: #757473;display: block;}
.step-body .station-and-exp .se-logo img{max-height: 100%;}
.btn-square{background-color: $color-orange; color: $color-white; @include border-radius(0);font-size: 26px; padding: 10px 75px;line-height:1.47;}
.btn-square.disabled {cursor: not-allowed;}
.btn-square:not(:disabled):not(.disabled):active:focus,
.btn-square:not(:disabled):not(.disabled).active:focus{background-color: #1d1d1b; color: $color-white;}
.step-body  .form--wrap {max-width: 600px;margin: 0 auto;padding: 20px 0;}
.step-body .step-inner{padding: 0 30px;}
.checkout-step .form--wrap label{color: #757473;font-size: 16px;margin-bottom: 5px; font-weight: $semibold;}
.checkout-step .form--wrap .form-control:not(textarea){height: 42px;}
.checkout-step .form--wrap .custom-select{font-size: 15px; color: rgba(117,116,115,0.5);}
.checkout-step .form--wrap .custom-select:focus,
.checkout-step .form--wrap .custom-select:visited{color: $color-black;}
.checkout-step .form-group .half-box{width: 48%;margin-bottom: 40px;}
.checkout-step .form-control{border-color: #acacac;}
.checkout-step .custom-checkbox label{font-size: 12px; font-weight: $normal; color: $color-orange;line-height: 18px; line-height: 1.5;}
.checkout-step .custom-checkbox.normal label {color: #757473; font-size: 16px; line-height: 18px;}
.checkout-step .custom-control-label::before{border-color: $color-orange;}
.checkout-step .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{background-color: $color-orange;}
.checkout-step .form--wrap .form-group p{font-size: 12px;line-height: 1.5; color: #757473;}

.checkout-step .step .step-body p a{font-weight: $bold;}
.checkout-step .remember .custom-checkbox label{color: #757473; font-size: 16px;}
.checkout-step .remember .custom-control-label::before{border-color: #727272;}
.checkout-step .remember .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{background-color: #727272;}
.checkout-step .form--wrap .forgot-link a{font-size: 15px;display: inline-block; vertical-align: top;}
.checkout-step .remember{margin-top: -25px;}
.checkout-step .form--wrap .form-desc p{font-size: 16px;}
.checkout-step .form--wrap .custom-radio .custom-control-label::before{border-color: #727272;}
.checkout-step .pay-wrap{@include flexbox; justify-content: space-between; margin-bottom: 10px; flex-direction: row-reverse;}
.checkout-step .pay-wrap .custom-control{width: 49%; display: inline-block; padding: 0; @include border-radius(1px);}

.checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label{padding: 20px; padding-right: 40px;height: 132px; position: relative; margin-bottom: 0;border: 1px solid $color-orange;}
.checkout-step .form--wrap .pay-wrap [aria-expanded="true"]{pointer-events: none;}
.checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label.collapsed{border-color: #acacac;cursor: pointer;}
.checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label.collapsed em{opacity: 0; visibility: hidden;}
.checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label .vendor-image{position: absolute; bottom: 20px; right: 20px;}
.checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label::before,
.checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label::after{display: none;}
.checkout-step .form--wrap .pay-wrap .custom-control-label span{color: $color-orange;font-size: 16px; font-weight: $semibold; display: block;margin-top: 10px;}
.checkout-step .form--wrap .pay-wrap .custom-control-label span strong{font-size: 28px; font-weight: $semibold;}
.checkout-step .form--wrap .card--details .form-box{display: inline-flex;@include flex(1 0 0);flex-wrap: wrap; align-items: flex-start; align-content: flex-start;}
.checkout-step .form--wrap .card--details .form-box.validity-details{margin: 0 18px;max-width: 170px;}
.checkout-step .form--wrap .card--details{}
.checkout-step .form--wrap .card--details .form-box.cvv-details{max-width: 84px;}
.checkout-step .form--wrap .card--details .form-box .custom-select{height: 42px;}
.checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label em{display: none; position: absolute; right: 20px;top: 20px;font-size: 25px;width: 1em; height: 1em;}
.checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label.checked em {display: block;}
.checkout--wrap .thank--you{padding: 20px; border: 1px solid #555555; margin-bottom: 30px; background-color: $color-white;}
.checkout--wrap .thank--you .t-icon{font-size: 25px; width: 2em; height: 1em; display: inline-block; vertical-align: top; margin-right: 1em; @include flex(1 0 auto); margin-top: 4px;max-width: 2em;}
.checkout--wrap .thank--you h3{text-transform: uppercase; color: $color-orange; margin-bottom: 30px; font-size: 26px;}
.checkout--wrap .thank--you p a{font-weight: $semibold;}
.checkout--wrap .thank--you .payment-id{padding: 13px; border: 1px solid $color-orange; @include border-radius(1px); margin: 10px 0 30px 0; display: inline-block;}
.checkout--wrap .thank--you .payment-id p{font-size: 13px;font-weight: $semibold; color: $color-orange;}
.checkout--wrap .thank--you .payment-id p span{font-weight: $regular;color: #757473;margin-left: 2px;}
.checkout--wrap .thank--you .img-part{@include flex(1 0 auto); position: relative; align-self: flex-end;}
.checkout--wrap .thank--you p{font-size: 15px;}
.checkout--wrap .thank--you .thanku-desc{margin-bottom: -28px; position: relative;}
.checkout--wrap .thank--you .text-part{padding-bottom: 25px; padding-right: 6px;}
.checkout--wrap .upload--images{padding: 30px;margin-bottom: 30px;}
.checkout--wrap .upload--images .heading-wrap{margin-bottom: 20px;}
.checkout--wrap .upload--images .u-logo{font-size: 25px; width: 1em; height: 1em; display: inline-block; vertical-align: top; margin-right: 1em; @include flex(1 0 auto); margin-top: 4px; max-width: 1em;}
.checkout--wrap .upload--images h3{color: $color-white;}
.checkout--wrap .upload--images p{color: $color-white; font-size: 15px;}
.checkout--wrap .upload--images .c-upload-img{background-color: $color-white; color: $color-orange; @include border-radius(0); width: 375px; padding: 10px 15px; font-size: 26px;border: 0;}
.checkout--wrap .proprty--details .pd-logo{font-size: 43px; width: 1em; height: 1em; display: inline-block; vertical-align: top; margin-right: 25px; @include flex(1 0 auto); margin-top: 0; max-width: 1em;}
.checkout--wrap .proprty--details .pd-logo img{max-height: 100%;}
.checkout--wrap .proprty--details{border: 1px solid #555555;}
.checkout--wrap .proprty--details .inner-wrap{padding: 20px 30px;}
.checkout--wrap .proprty--details h3{color: $color-orange;}
.checkout-step .step .step-header .c-icon img{max-height: 100%;}
.checkout--wrap .left-part .reset-click{display: none;}
.checkout--wrap .thank--you .payment-id p{margin-bottom: 0;}
.property-data .summary-list{ /*border: 1px solid #dbdbdb;*/ width: 100%;margin-bottom: 0;margin-bottom: 15px;}
.property-data .summary-list li{color: #525252;font-weight: $bold; line-height: 1.4;padding: 6px 10px; border-right: 1px solid #dbdbdb; width: 50%;}
/*.property-data .summary-list li:nth-child(4n+0),
.property-data .summary-list li:nth-child(4n+1){background-color: #f6f5f3;}*/
.property-data .summary-list li:nth-child(4n-7),
.property-data .summary-list li:nth-child(4n+2){background-color: #f6f5f3;}
.property-data .survey-label{font-weight: $bold;font-size: 12px; flex-basis: 300px;line-height: 1.3; @include flex(1 0 0);padding-right: 10px;}
.property-data .survey-value{font-size: 13px;font-weight: $regular;@include flex(1 0 0); max-width: 40%; position: relative;padding-left: 15px;}
.property-data .survey-value:before{content: ":"; display: inline-block;font-weight: $bold; position: absolute; left: 0;}
.property-data .card{border: 0;}
.property-data .card-body{border-radius: 0 0 5px 5px; border: 1px solid #dbdbdb;}
.property-data .surver-modify{font-size: 12px;font-weight: $semibold; color: $color-orange; position: relative;line-height: normal; align-items: center; display: inline-flex;margin-left: 12px;}
.property-data .surver-modify [class*='ic-']{font-size: 11px; text-decoration: none !important; position: absolute; left: -23px; opacity: 0; visibility: hidden; @include transition(all 0.4s ease);}
.property-data .surver-modify:hover [class*='ic-']{opacity: 1; visibility: visible;}
.upload--images .input-file-container {position: relative;} 
.upload--images .input-file {position: absolute;top: 0;left: 0;width: 0;opacity: 0;padding: 14px 0; pointer-events: none;}
.upload--images .input-file:hover + .input-file-trigger,
.upload--images .input-file-trigger:hover {background: #1d1d1b;/* color: $color-white;*/}
.file-return {margin: 0;}
.file-return:not(:empty) {margin: 1em 0;}
.upload--images .file-return {font-style: italic;font-size: .9em;font-weight: $bold;}
.upload--images .file-return:not(:empty):before {content: "Selected file: ";font-style: normal;font-weight: $normal;}
.checkout--wrap  .c-upload-img .upload-icon{width: 37px;display: inline-flex; align-items: center;margin-right: 15px;}

.step-loader .ajax-loader{position: absolute;top: 43%;right: 15%;width: 25px;}
form .step-loader .ajax-loader { right: 13% }
.step .before{display: block;}
.step .after{display: none;}
.step.is-completed .before{display: none;}
.step.is-completed .after{display: block;}
.checkout-step .form--wrap .discount-applied {
    border: 1px solid $color-orange;
    padding: 20px;
    position: relative;
    padding-left: 56px;
    margin-bottom: 40px !important;

    @include bp(large) {
        width: 49%;
    }

    span {
        color: $color-orange;
        font-size: 16px;
        font-weight: $semibold;
        margin-top: 10px;
    }

    img {
        width: 33px;
        margin-top: -12px;
        margin-right: 0;
        position: absolute;
        left: 13px;
        top: 25px;
    }
}

@media (min-width:1024px) and (max-width:1199px) {	
    .checkout-step .step .step-header .c-icon{left: -55px; /*top: 18px;*/ width: 35px;}
    .checkout-step .step .step-header .after .c-icon{width: 30px;}
    .checkout-step .step .step-header h3{font-size: 20px;}
    .checkout-step .step .step-header{padding: 20px 20px;}
    .checkout-step .step .step-header .title-wrap a.edit{font-size: 20px;}
    .checkout-step .step .step-header{padding-left: 75px;}
    .step-body .station-and-exp{padding: 12px 12px;}
    .checkout-step .step .step-body .detail{padding: 0 7px;}
    .step-body .station-and-exp .se-logo{width: 35px;}
    .step-body .gi-wrap .desc-wrap .gs-logo{margin-left: 20px;}
    .step-body .gi-wrap .desc-wrap p{font-size: 14px;}    
    .btn-light-gray{font-size: 20px;}
    .checkout-step .step .step-body .btn{min-width: 300px;}
    .btn-square{font-size: 20px;}
    .checkout--wrap .thank--you .payment-id{margin: 10px 0 20px 0}
    .checkout--wrap .upload--images .c-upload-img{font-size: 22px;}
}

@media (min-width:768px) and (max-width:1023px) {
    .checkout-step .step .step-header h3{font-size: 17px;}
    .checkout-step .step .step-header .title-wrap a.edit{font-size: 17px;}
    .checkout-step .step .step-header{padding: 18px 20px; padding-left: 70px;}
    .checkout-step .step .step-header .c-icon{width: 40px;left: -50px; /*top: 12px;*/}
    .step-body .gas-installer .img-part{width: 100%;margin: 15px 0 30px;text-align: center;}
    .step-body .profile-img{margin-left: auto;margin-right: auto;}
    .step-body .installer-desc{max-width: 100%;}
    .step-body .installer-desc .desc-wrap{margin-bottom: 20px; align-items: flex-start;}
    .step-body .gi-wrap .desc-wrap .gs-logo{margin-left: 10px;}
    .step-body .station-and-exp{padding: 10px 10px;}
    .step-body .station-and-exp .content{width: 50%;}
    .step-body .station-and-exp .se-logo{width: 35px;}
    .checkout-step .step .step-body .detail{padding: 0 12px;}
    .checkout-step .step .step-body .btn{min-width: auto;}
    .step-body .step-inner{padding: 0 20px;}
    .checkout-step .remember{margin-top: 0;}
    .checkout-step .form-group .form-desc{margin-bottom: 20px;}
    .checkout-step .step .step-body{padding: 0 0 20px 0;}
    .checkout-step .pay-wrap{flex-wrap: wrap;}
    .checkout-step .pay-wrap .custom-control{width: 100%;margin: 10px 0;}
    .checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label{padding-right: 50px;padding-bottom: 40px;}
    .checkout-step .form--wrap .card--details .form-box{@include flex(1 0 auto);}
    .checkout-step .form--wrap .card--details .form-box.validity-details{margin: 0 10px 0 0;}
    .step-body .gas-installer{padding: 0 20px 0 20px;}
    .step-body .gi-wrap .desc-wrap p{font-size: 14px;}
    .step-body .installer-desc .desc-wrap p{margin-bottom: 0;}
    .checkout-step .step .step-body p{font-size: 14px;}
    .checkout-step .step .step-header .c-icon{height: 34px; align-items: center;}
    .step-body .form--wrap{padding: 20px 0 0 0;}
    .new-summary-sec .survey-summary-acc .summary-list li{width: 100%;}
    .new-summary-sec .survey-summary-acc .summary-list li:nth-child(odd){background-color: #f6f5f3;}
    .new-summary-sec .survey-summary-acc .summary-list li:nth-child(even){background-color: #fff;}
    .new-summary-sec .survey-summary-acc .card-header{padding: 10px 20px;padding-right: 45px;border-radius:0.25rem;}
    .checkout-step .pay-wrap{margin-bottom: 20px;}
    .checkout--wrap .thank--you{padding: 15px;}
    .checkout--wrap .thank--you .t-icon{margin-right: 15px;}
    .checkout--wrap .thank--you .img-part{width: 110px;}
    .checkout--wrap .thank--you h3{font-size: 20px;margin-bottom: 10px;}
    .checkout--wrap .thank--you .payment-id{margin: 10px 0 15px 0;}
    .checkout--wrap .thank--you p{font-size: 14px;}
    .checkout--wrap .upload--images{padding: 15px;}
    .checkout--wrap .upload--images .u-logo{margin-right: 10px;}
    .checkout--wrap .upload--images h3{font-size: 22px;}
    .checkout--wrap .upload--images .c-upload-img{width: auto; padding: 10px 30px;font-size: 22px;}
    .checkout--wrap .proprty--details .inner-wrap{padding: 20px 15px;}
    .checkout--wrap .proprty--details h3{font-size: 22px;}
    .checkout--wrap .thank--you .thanku-desc{margin-bottom: -20px;}
    .checkout--wrap .reset-click a{padding: 9px 25px;}
    .step-loader .ajax-loader{right: 0;}
}

@media (max-width:767px) {
    .new-checkout-sec .checkout--wrap .right-part{display: none;}
    .checkout-step .step .step-header{padding: 16px 18px;}
    .checkout-step .step .step-header h3{font-size: 18px;}
    .checkout-step .step .step-header{padding-left: 75px;}
    .checkout-step .step .step-header .title-wrap a.edit{font-size: 18px;line-height: 1;}
    .checkout-step .step .step-header .c-icon{left: -60px;/*top: 9px;*/height: 34px;width: 42px;}    
    .checkout-step .step.is-completed .step-header h3 span{display: inline-block;vertical-align: middle;}
    .step-body .profile-img figure{max-width: 140px;}
    .step-body .gi-wrap .desc-wrap .gs-logo{display: none;}    
    .step-body .installer-desc{max-width: calc(100% - 225px); display: inline-flex; flex-wrap: wrap;}
    .step-body .gas-installer .img-part{margin-right: 20px;}
    .step-body .gi-wrap .desc-wrap p{font-size: 14px;}
    .step-body .gas-installer .gi-wrap{margin-bottom: 20px;}
    .step-body .station-and-exp{border: 0; background: transparent; order: -1;}
    .step-body .station-and-exp .content{margin: 5px 0;}
    .checkout-step .form-group .half-box{width: 100%;margin-bottom: 20px;}
    .checkout-step .form-group .inner-group{margin-bottom: 20px;}
    .checkout-step .step .step-body{}
    .checkout-step .remember{margin-top: 0;}
    .checkout-step .form-group .form-desc{margin-bottom: 10px;}
    .checkout-step .form-group .form-box{margin-bottom: 10px;}
    .checkout-step .form--wrap label{font-size: 14px;}    
    .checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label{padding:45px 10px 45px 10px; height: auto; text-align: center;}
    .checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label .vendor-image{bottom: 10px; right: 15px;}
    .checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label em{top: 9px; left: 0; right: 0;margin: auto;}
    .checkout-step .form--wrap .card--details .form-box{@include flex(1 0 auto);}
    .checkout-step .form--wrap .card--details .form-box.validity-details{margin: 0 10px 0 0;}
    .new-checkout-sec .checkout--wrap{padding-bottom: 50px;}
    .new-summary-sec .survey-summary-acc .card-header h5{font-size: 14px;}
    .checkout-step .step .step-body .btn{min-width: auto;}
    .step-body .step-inner{padding: 0 20px;}    
    .checkout--wrap .left-part .reset-click{display: block;}
    .checkout--wrap .thank--you .t-icon{font-size: 30px;margin-right: 15px;}
    .checkout--wrap .thank--you .img-part{width: 170px;}
}

@media (max-width:640px) {
    .checkout-step .step .step-header p{font-size: 12px;}
    .checkout--wrap .thank--you h3{font-size: 16px;}
    .checkout--wrap .thank--you .payment-id{margin: 10px 0 15px 0;}
    .checkout--wrap .thank--you p{font-size: 12px;}
    .checkout--wrap .upload--images .c-upload-img{width: auto; padding: 10px 30px;font-size: 20px;}
    .checkout--wrap .upload--images h3{font-size: 16px;}
    .checkout--wrap .upload--images .u-logo{font-size: 30px;margin-right: 15px;}
    .checkout--wrap .upload--images{padding: 20px;}
    .checkout--wrap .proprty--details .inner-wrap{padding: 20px;}
    .checkout--wrap .proprty--details .pd-logo{font-size: 30px;margin-right: 15px;}
    .checkout--wrap .proprty--details h3{font-size: 16px;}
    .property-data .summary-list li{width: 100%;}
    .property-data .summary-list li:nth-child(odd){background-color: #f6f5f3;}
    .property-data .summary-list li:nth-child(even){background-color: #fff;}
    .checkout--wrap .thank--you .img-part{width: 130px;}
}

@media (max-width:480px) {
    .checkout-step .step .step-body p{font-size: 12px;}
    .checkout-step .step .step-header h3{font-size: 16px;}
    .checkout-step .remember{flex-wrap: wrap;}
    .checkout-step .step .step-header .c-icon{/*top: 7px;*/ left: -48px;}
    .step-body .form--wrap{padding: 20px 0 0;}
    .checkout-step .form--wrap .pay-wrap .custom-control-label span{font-size: 12px;}
    .checkout-step .form--wrap .pay-wrap .custom-control-label span strong{font-size: 18px;}
    .checkout-step .form--wrap .pay-wrap .custom-radio .custom-control-label{height: 100%;}
    .new-summary-sec .survey-summary-acc .card-header i{margin-right: 15px;}
    .new-summary-sec .survey-summary-acc .card-header{padding: 10px 20px;}
    .checkout--wrap .thank--you{padding: 15px;}
    .checkout--wrap .thank--you .t-icon{font-size: 20px;margin-right: 10px; position: absolute;}
    .checkout--wrap .thank--you .img-part{position: absolute; bottom: -30px; right: -30px;width: 120px;}
    .checkout--wrap .thank--you .text-part{padding-right: 0;}
    .checkout--wrap .thank--you h3{margin-bottom: 10px;}
    .checkout--wrap .thank--you p{margin-bottom: 15px;}
    .checkout--wrap .thank--you .text-part .heading-wrap{padding-left: 32px;}
    .checkout--wrap .thank--you .thanku-desc{margin-bottom: 0;}
    .checkout--wrap .thank--you .text-part{padding-bottom: 0;}
    .checkout--wrap .thank--you .payment-id{padding: 8px;padding-right: 55px;width: 100%;}
    .checkout--wrap .thank--you .payment-id p{font-size: 12px;}
    .checkout--wrap .thank--you .desc-wrap > p{padding-right: 90px;}
    .checkout--wrap .thank--you .desc-wrap > p:last-child{margin-bottom: 0;}
    .checkout--wrap .upload--images .c-upload-img{font-size: 16px;}
    .checkout--wrap .c-upload-img .upload-icon{width: 30px;}
    .checkout--wrap .thank--you .payment-id p span{word-wrap: break-word;word-break: break-all;display: block;}
    .checkout--wrap .thank--you .text-part .desc-wrap{min-height: 150px;}
    .checkout-step .step .step-body .detail{padding: 0 10px 0 10px;}
    .checkout--wrap .reset-click a{font-size: 16px; padding: 9px 15px; @include flexbox; align-items: center;}
    .checkout--wrap .reset-click i{margin-right: 10px;font-size: 20px;}
    .step-body .station-and-exp .content{margin: 8px 0;}
    .step-body .gas-installer .img-part{display: block; margin: 20px auto 20px auto;}
    .checkout-step .step.is-completed .step-header .c-icon{width: 30px; /*top: 10px;*/}
    .checkout-step .form--wrap .form-control{font-size: 16px;}
    .step-body .station-and-exp .se-logo{width: 28px; height: 30px;}
    form .step-loader .ajax-loader{right: 0;}
    .btn-square,
    .installation_date_btn{padding: 10px 40px;}
    .step-loader .ajax-loader{right: 0;}
    .checkout-step .step .step-header{padding-left: 60px;}
    .checkout-step .step.is-completed .step-header h3 span{display: block;}
    .step-body .profile-img figure{width: 120px;}
    .step-body .gas-installer{padding: 0 15px;}
    .step-body .profile-img{padding: 10px 10px 0;}
    .step-body .profile-img figcaption{font-size: 18px;}
    .step-body .profile-img{margin: 7px;}
    .step-body .station-and-exp{padding: 0;}
    .step-body .gas-installer .img-part{margin-right: 10px;}
    .step-body .installer-desc{max-width: 100%;}
    .step-body .gas-installer .img-part{width: 100%; margin: 0 0 20px 0; text-align: center; margin: 0 auto 20px auto !important;}
    .step-body .step-inner{padding: 0 15px;}
}

@media (min-width:1024px) and (max-width:1199px) {	
    .checkout-step .step .step-header .after .c-icon{width: 30px;}
    .checkout-step .step .step-header h3{font-size: 20px;}
    .checkout-step .step .step-header{padding: 20px 20px;}
    .checkout-step .step .step-header .title-wrap a.edit{font-size: 20px;}
    .checkout-step .step .step-header{padding-left: 75px;}
    .step-body .station-and-exp{padding: 12px 12px;}
    .checkout-step .step .step-body .detail{padding: 0 7px;}
    .step-body .station-and-exp .se-logo{width: 35px;}
    .step-body .gi-wrap .desc-wrap .gs-logo{margin-left: 20px;}
    .step-body .gi-wrap .desc-wrap p{font-size: 14px;}    
    btn-light-gray{font-size: 20px;}
    .checkout-step .step .step-body .btn{min-width: 300px;}
    .btn-square{font-size: 20px;}

    .checkout--wrap .thank--you .payment-id{margin: 10px 0 20px 0}
    .checkout--wrap .upload--images .c-upload-img{font-size: 22px;}
}