/* ==========================================================================
   #CHECKSIGN-LIST
   ========================================================================== */

.checksign-list {
    margin: 0 0 0 30px;

    li {
        position: relative; 
        margin: 0 0 10px 0;

        &:before {
            content: "\72"; 
            font-family: "warmzilla-icon" !important;
            font-style: normal !important;
            font-weight: $normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            left: -30px;
            top: 0.45em;
            font-size: 14px;
            color: $color-orange;
        }
    }
}

