/* ==========================================================================
   #CHOOSE-BOILER-LIST
   ========================================================================== */

.choose-boiler-list {
    .item {
        border: 1px solid;
        margin: 20px 0;
        @include border-radius(4px); 
        
        &:first-child {
            border: 1px solid $color-orange;
            margin-top: 0;
            
            .derek-recommends-img {
                position: absolute;
                right: -22px;
                top: -50px;
                width: 150px;
                height: 100px;

                @include bp(large) {
                    width: 200px;
                    height: 140px;
                }

                span {
                    position: absolute;
                    top: 2.5em; 
                    width: 7.77em;
                    left: 13px; 
                    color: $color-white; 
                    font-size: 9px; 
                    line-height: 1.2;
                    text-transform: uppercase;
                    font-weight: $bold;
                    text-align:center;

                    @include bp(large) {
                        font-size: 10px;
                        left: 23px;
                        top: 2.8em;
                    }
                }
            }
        }

        .desktop {
            display: none !important;

            @include bp(medium) {
                display: block !important;
            }
        }

        .mobile {
            @include bp(medium) {
                display: none !important;
            }
        }

        .inner-item {
            // @include flexbox;
            // flex-wrap: wrap;
            padding: 15px;
            background-color: $color-white;

            @include bp(medium) {
                padding: 20px;
            }

            .details {
                &.mobile {
                    margin-bottom: 10px;
                    width: 100%;
                }
            }

            h2 {
                font-size: 24px;
                padding: 0;
                text-align: center;

                @include bp(medium) {
                    font-size: 31px;
                    text-align: left;
                }

                @include bp(large) {
                    font-size: 36px;
                    padding-top: 20px;
                    margin-bottom: 10px;
                }

                span {
                    color: $color-text;
                    font-weight: $regular;
                    display: block;
                    margin-top: 5px;
                    opacity: 0.8;

                    @include bp(medium) {
                        display: inline;
                        font-size: 20px !important;
                        opacity: 1;
                    }
                }

                &.mobile {
                    width: 84%;

                    @include bp(medium) {
                        display: none;
                    }

                    
                }
            }

            p {
                &.discount-text {
                    img {
                        width: 38px;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }

                &.mobile {
                    @include bp(medium) {
                        display: none;
                    }
                }
            }

            .img-block {
                @include inline-flex; 
                width: 100%;
                justify-content: center;
            } //.img-block

            .one-in-100 {
                width: 100%;
                padding: 25px;
                @include inline-flex; 
                justify-content: center;

                @include bp(medium) {
                    display: none;
                }

                @include bp(large) {
                    display: block;
                    padding: 25px 15px;
                }

                &.tab {
                    @include inline-flex;
                    width: 40%;
                    padding: 0;
                    vertical-align: top;
                    display: none;

                    @include bp(medium) {
                        @include inline-flex;
                        width: 44%;
                    }

                    @include bp(large) {
                        display: none;
                    }

                }

                div {
                    max-width: 212px;

                    @include bp(large) {
                        max-width: 270px;
                        margin: 0 auto;
                    }
                }
            }

            .energy-rating {
                display: inline-block;
                padding: 0 !important;
                vertical-align: top;
                margin-top: 30px;

                @include bp(medium) {
                    padding: 1rem !important;
                    margin-top: unset;
                }

                ul {
                    text-align: center;

                    li {
                        @include inline-flex;
                        width: auto;

                        @include bp(medium) {
                            width: 40%;
                        }

                        &.show-desc {
                            text-decoration: underline;
                            padding-left: 0;
                            cursor: pointer;

                            @include bp(medium) {
                                display: none;
                            }
                        }

                        i {
                            width: 20px;
                            margin-left: -30px;
                            @include inline-flex;
                            align-items: center;
                            margin-right: 20px;
                        }

                        .dark-green {
                            background:url(/images/site/green-box.svg); 
                            background-repeat:no-repeat; 
                            background-size: 60%; 
                            padding: 0; 
                            margin-right: 0;
                            height: 44px; 
                            width: 106px;
                            margin-left:0;

                            @include bp(medium) {
                                background-size: 60%;
                                
                            }

                            &:before {
                                content: none;
                            }
                        } //.dark-green
                    }
                }
            } //.energy-rating

            .quote-buttons {
                display: none;

                @include bp(medium) {
                    display: block;
                    margin-top: 32px;
                }

                @include bp(large) {
                    margin-top: 0;
                }

                @include bp(xlarge) {
                    width: 100%;
                    text-align: center;
                }

                &.mob {
                    display: block;
                    margin: 20px 15px;
                    text-align: center;
                    
                    @include bp(medium) {
                        display: none;
                    }
                }

                a {
                    background:#7d7d7d; 
                    color: $color-white; 
                    width: 100%;
                    max-width: 300px; 
                    padding: 8px 10px;

                    &:hover {
                        background: $color-orange;
                    }
                }

                span {
                    background-repeat: no-repeat;
                    margin-right: 12px;
                }

                .save-quote {
                    span {
                        background-image: url(/images/site/download-icon-white.svg); 
                        width: 31px; 
                        height:24px;
                        background-size:35px;
                    }
                } //.save-quote

                .email-quote {
                    span {
                        background-image: url(/images/site/email-icon-white.svg); 
                        background-size:24px; 
                        width:25px;
                        height:18px;
                    }
                } //.email-quote
            } //.quote-buttons

            .tab-title {
                padding: 20px 40px 0 40px;
                
                h2 {
                    font-weight: $semibold;
                    font-size: 34px;
                    margin-bottom: 10px;

                    span {
                        font-size: 25px;
                        font-weight: $regular;
                        color: $color-grey;
                    }
                }
            }
    
            .product-info {
                .details {
                    h2 {
                        padding-left: 13px; 
                        font-size:35px; 

                        span {
                            font-size:25px; 
                            font-weight:$regular; 
                            color: $color-text;
                        }
                    }
        
                    p {
                        padding-left: 13px;
                    }
                } //.details

                .buttons {
                    margin-bottom: 4px !important;
                }

                .price-details {
                    @include inline-flex;
                    background-color: #f7f7f7; 
                    padding: 15px; 
                    @include inline-flex;  

                    @include bp(medium) {
                        padding: 15px;
                    }

                    @include bp(large) {
                        padding: 25px 40px;
                    }
        
                    p {
                        font-size: 15px; 
                        width: 80%; 
                        margin: 8px auto;
                    }
        
                    .heading {
                        h5 {
                            font-size: 16px;
                            margin-bottom: 0;  
                            color: $color-text;

                            @include bp(medium) {
                                font-size: 18px;
                            }
                            
                        }
        
                        figure {
                            width: 26px; 
                            margin-right: 15px;
                        }
                    } //.heading
        
                    .price-tag {
                        @include bp(medium) {
                            border: 1px solid #3e3c3c; 
                            background-color: $color-white; 
                            @include border-radius(10px);
                            // padding: 25px 38px 30px 38px;
                            padding: 15px;
                            justify-content: space-between;
                        }

                        @include bp(large) {
                            justify-content: normal;
                            padding: 20px;
                        }
        
                        .inner-wrap {
                            padding-right: 10px;
                        }

                        .left-part {
                            width: 44%;
                            text-align: right !important;

                            @include bp(medium) {
                                width: auto;
                                margin-right: 15px;
                                text-align: left !important;
                            }

                            @include bp(large) {
                                padding: 0;
                                width: auto;
                            }

                            span {
                                font-size: 24px;

                                @include bp(large) {
                                    font-size: 25px;
                                }

                                @include bp(xlarge) {
                                    font-size: 36px;
                                }
                            }
                        }
        
                        .left-part,
                        .right-part {
                            span {
                                color: $color-orange; 
                                font-weight: $semibold;

                                &.divido-widget-launcher {
                                    font-size: 0 !important;
                                    display: inline-block;
                                    position: relative;

                                    a {
                                        font-size: 24px;
                                        color: $color-orange;
                                        display: inline-block;

                                        @include bp(small) {
                                            font-size: 26px;
                                        }

                                        @include bp(large) {
                                            font-size: 25px;
                                        }

                                        @include bp(xlarge) {
                                            font-size: 36px;
                                        }

                                        &:hover {
                                            text-decoration: none;
                                        }

                                        .duration {
                                            font-size: 12px;
                                            color: $color-text;
                                            font-weight: $normal;
                                            margin-top: -7px;
                                            text-align: right;
                                            display: block;

                                            @include bp(medium) {
                                                display: inline;
                                                font-size: 14px;
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
        
                                i {
                                    font-size: 24px;
                                    margin-left: 5px;
                                }
                            }
        
                            small {
                                font-size: 12px;
                                color: $color-text;
                                margin-top: -7px;
                                display: block;

                                @include bp(medium) {
                                    display: inline;
                                    font-size: 14px;
                                    margin-left: 5px;
                                }
                            }
                        } //.left-part, .right-part
        
                        .right-part {
                            text-align: left !important;
                            width: 27%;

                            @include bp(medium) {
                                width: auto;
                                margin: 0 20px;
                            }

                            @include bp(large) {
                                width: auto;
                                text-align: right !important;
                            }

                            .divido-widget-logo-link {
                                @include border-radius(4px);
                                font-family: Arial;
                                font-size: 11px;
                                background: #3E4F8B;
                                padding: 3px 7px 5px 7px !important;
                                text-decoration: none;
                                border: 1px solid #296AB3;
                                cursor: pointer;
                                display: none;

                                .divido-widget-logo {
                                    width: 40px;
                                    height: 12px;
                                    vertical-align: middle;
                                    display: inline;
                                }
                            }

                            small {
                                text-decoration: underline;
                            }
                        } //.right-part
        
                        em {
                            &.center-part {
                                font-style: normal; 
                                color: $color-black; 
                                width: 1.7em; 
                                height: 1.7em;
                                background-color: #dbdbdb; 
                                @include border-radius(100%);
                                @include flexbox; 
                                align-items: center; 
                                justify-content: center;
                                margin: 20px 20px;
                                transform: translate(0,-50%);
                                
                                @include bp(medium) {
                                    margin: 0 auto; 
                                    margin-left: 10px; 
                                    margin-right: 10px; 
                                    transform: unset;
                                }
                            }
                        } //em

                        .btn {
                            font-size: 12px;
                            width: 100%;
                            max-width: 300px;
                            background-color: #7d7d7d;
                            color: $color-white;
                            margin: 10px auto 0 auto;

                            @include bp(medium) {
                                margin: 0 auto;
                                width: 300px;
                                margin-top: 10px;
                            }

                            @include bp(large) {
                                width: auto;
                                max-width: none;
                                margin: 0;
                            }

                            @include bp(xlarge) {
                                font-size: 14px;
                            }

                            &:hover {
                                background-color: $color-orange;
                            }
                        }
        
                    } //.price-tag
        
                } //.price-details

                .show-desc {
                    margin-bottom: 0;
                    margin-top: 20px;
                    font-weight: $semibold;
                    text-decoration: underline;
                    cursor: pointer;
                    padding: 0 20px;

                    @include bp(large) {
                        display: none;
                    }
                }

                .features {
                    padding: 20px;
                    display: none;

                    &.open {
                        display: block;
                    }

                    @include bp(medium) {
                        padding-left: 0;
                        padding-top: 15px;
                        margin-bottom: -32px;
                    }
                    
                    @include bp(large) {
                        padding-left: 15px;
                        padding-top: 37px;
                        padding-bottom: 15px;
                        display: block;
                        margin-bottom: 0;
                    }

                    @include bp(xlarge) {
                        padding-left: 40px;
                        padding-top: 30px;
                        padding-bottom: 20px;
                    }
                    
                    div {
                        display: block;
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid $color-grey;
                        
                        @include bp(medium) {
                            display: inline;
                            padding-right: 15px;
                            border-bottom: 0;
                        }

                        @include bp(large) {
                            padding-right: 20px;
                        }


                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }
                    
                    .list {
                        width: 100%;
                        display: inline-block;
                        vertical-align: top;

                        @include bp(medium) {
                            width: 29%;
                        }
        
                        li {
                            font-size: 14px; 
                            margin-bottom: 0;
                            padding-left: 15px;

                            &:last-of-type {
                                border-bottom: 0;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }

                            &.less {
                                display: none;
                            }
                        }
                    }
                } //.features
                
                form {
                    .add-to-cart-form-wrapper {
                        margin-top: 15px;

                        @include bp(medium) {
                            margin-top: 32px;
                        }

                        @include bp(large) {
                            width: 100%;
                        }

                        .add-to-cart-form-inner {
                            margin: 0 15px;

                            @include bp(medium) {
                                padding: 0;
                                width: 50%;
                                display: inline-block;
                                margin: 0 12px;
                            }

                            @include bp(large) {
                                width: 36%;
                                margin: 0 15px;
                            }

                            @include bp(xlarge) {
                                width: 38%;
                            }

                            h6 {
                                font-size: 16px;
                            }

                            .add-to-cart-form-border {
                                border: 2px dashed #00a651;
                                padding: 15px;
                                @include border-radius(10px);

                                label {
                                    font-size: 12px;
                                    font-weight: $semibold;
                                    margin-bottom: 5px;
                                    color: $color-orange !important;
                                }

                                select {
                                    width: 78%;
                                    margin: 0; 
                                    height: 1.8rem; 
                                    font-size: 15px; 
                                    margin-bottom: 0 !important;

                                    @include bp(large) {
                                        width: 76%;
                                    }
                                }

                                .btn {
                                    &.small-btn {
                                        padding: 0;
                                        font-size: 14px;
                                        height: 28px;
                                        width: 28px;
                                        margin-left: 15px;
                                        @include border-radius(28px);
                                    }
                                }
                            }
                        } //.add-to-cart-form-inner

                        .btn-block {
                            width: 100%;
                            @include border-radius(0);
                            font-size: 18px;
                            @include bp(small) {
                                font-size: 20px;
                            }

                            @include bp(medium) {
                                @include border-radius(0.25rem);
                                margin-bottom: unset;
                            }

                            @include bp(large) {
                                font-size: 25px;
                                width: 56%;
                                margin-top: -25px;
                                padding: 23px 19px;
                            }

                            &:before {
                                background-image: url(/images/site/calendar-white.svg);
                                content: "";
                                display: inline-block;
                                color: #fff;
                                height: 30px;
                                margin-right: 10px;
                                position: relative;
                                top: -3px;
                                vertical-align: middle;
                                width: 30px;
                                background-repeat: no-repeat;
                            }
                        } //.btn-block

                    } //.add-to-cart-form-wrapper
                } //form

                .email-quote {
                    border: 1px solid #f9a606;
                    color: #f9a606;
                    width: 100%;
                    max-width: 330px;
                    font-size: 16px;
                    display: inline-block;
                    margin: 0 auto;

                    span {
                        background-image: url('/images/site/email-icon-orange.svg');
                        display: inline-block;
                        height: 21px;
                        width: 30px;
                        vertical-align: middle;
                        margin-right: 15px;
                        margin-top: -2px;
                    }

                    @include bp(medium) {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    @include bp(large) {
                        width: 330px;
                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                }

                .boiler-info {
                    span {
                        background-image: url(/images/site/view-magnifying-glass-white.svg);
                        display: inline-block;
                        width: 23px;
                        height: 23px;
                        opacity: 0.7;
                        margin-right: 15px;
                        vertical-align: middle;
                    }

                    @include bp(medium) {
                        width: 100%;
                        display: none !important;
                        max-width: 330px;
                    }

                    @include bp(large) {
                        display: inline-block !important;
                        width: 330px;
                    }
                }

            } //.product-info
        } //.inner-item


        .boiler-info {
            width: 100%;
            font-size: 20px;
            border-radius: 0;

            &.mobile {
                @include bp(medium) {
                    display: block !important;
                }

                @include bp(large) {
                    display: none !important;
                }
            }

            &.desktop {
                font-size: 16px;
                @include border-radius(4px);

                @include bp(medium) {
                    display: none !important;
                }
            }

            span {
                background-image: url(/images/site/view-magnifying-glass-white.svg);
                display: inline-block;
                width: 23px;
                height: 23px;
                opacity: 0.7;
                margin-right: 15px;
                vertical-align: middle;
            }
        }

        .btn-block {
            &:before {
                background-image: url(/images/site/calendar-white.svg);
                content: "";
                display: inline-block;
                color: #fff;
                height: 30px;
                margin-right: 10px;
                position: relative;
                top: -4px;
                vertical-align: middle;
                width: 30px;
                background-repeat: no-repeat;
            }

            &.mob {
                font-size: 20px;
                border-radius: 0;

                @include bp(large) {
                    display: inline-block;
                    border-radius: 0;
                }
            }

            &.desk {
                display: none;
                border-radius: 0;

                @include bp(medium) {
                    display: block;
                }

                @include bp(large) {
                    width: 400px;
                    float: right;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    font-size: 28px;
                    @include border-radius(4px);
                    display: none;
                }

                span {
                    background-image: url(/images/site/calendar-white.svg);
                    width: 25px;
                    height: 28px;
                    background-size: 100%;
                    margin-right: 10px;
                    background-repeat: no-repeat;
                    position: absolute;
                    margin-left: -35px;
                    margin-top: -3px;
                }
            }
        }
    } //.item

    &.view-boiler {
        .item .inner-item {
            .product-image {
                margin-top: 0;
            }

            .img-block {
                margin-top: 0;
                padding: 0;
            }

            h2 {
                padding-top: 10px;
            }

            .details div {
                width: 100%;
                float: none;
                margin-bottom: 15px;

                p {
                    text-align: center;
                    
                    @include bp(medium) {
                        text-align: left;
                    }
                }
            }

            .price-details {
                @include bp(large) {
                    padding: 25px 15px;
                }

                .price-tag {
                    .left-part {
                        small {
                            display: block;
                            text-align: right;
                        }
                    }
                    .duration {
                        display: block !important;
                    }

                    .btn {
                        width: 100%;
                        margin-top: 10px;
                    }
                }
            }

            .product-info {
                .buttons {
                    margin-bottom: 5px !important;
                }
            }

            .email-quote {
                margin: 0 auto;
                display: block;
                margin-top: 30px;
            }
        }
    }
} //.choose-boiler-list

.summary-sec {
    overflow: hidden;
    background-color: #fcfcfc;

    .container {
        @include bp(medium) {
            max-width: 720px;
        }

        @include bp(large) {
            max-width: 1200px;
        }
    }

    h1 {
        margin-bottom: 10px;
        font-weight: $regular;
    }

    p {
        font-weight: $light;
    }

    a {
        &.back-link {
            display: block;
            margin-bottom: 15px;
            font-weight: $semibold;
            margin-top: -20px;

            @include bp(large) {
                margin-top: 0;
            }
        }
    }

    .btn-block {
        &:before {
            background-image: url(/images/site/calendar-white.svg);
            content: "";
            display: inline-block;
            color: #fff;
            height: 30px;
            margin-right: 10px;
            position: relative;
            top: -4px;
            vertical-align: middle;
            width: 30px;
            background-repeat: no-repeat;
        }
    }
    
    .heading {
        text-align: center;

        @include bp(medium) {
            text-align: left;
        }
    }
}