/* ==========================================================================
   #CHOOSE-WARMZILLA
   ========================================================================== */

.c-choose-warmzilla {
    background: rgb(239,131,21);
    background: url(/images/site/family-vector.png), linear-gradient(0deg, rgba(239,131,21,1) 60%, rgba(251,192,14,1) 100%);
    background-repeat: no-repeat, repeat;
    background-position: -41px 97%, left top;
    color: $color-white;
    position: relative;
    padding-top: 120px;
    padding-bottom: 80%;
    background-size: 100%, contain;

    @include bp(small) {
        background-size: 75%, contain;
        padding-bottom: 60%;
    }

    @include bp(medium) {
        padding-top: 190px;
        background-size: 55%, contain;
        background-position: 0 95%, left top;
        padding-bottom: 46%;
    }

    @include bp(large) {
        padding-top: 240px;
        background-size: 550px, contain;
        background-position: 0 85%, left top;
        padding-bottom: 75px;
    }

    @include bp(xlarge) {
        background-size: 40%, contain;
    }

    h2 {
        color: $color-white;
    }

    .rounded-icon {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translate(-50%);
        width: 135px;

        @include bp(medium) {
            width: 200px;
            top: -45px;
        }

        @include bp(large) {
            width: auto;
        }
    }

    .c-tick-list {
        li {
            font-size: 14px;
            font-weight: $semibold;
            border-bottom: 0;

            @include bp(medium) {
                font-size: 18px;
            }

            &:before {
                color: $color-white;
            }
        }
    }
}