/* competition form */
.comp-form-sec {
    border: 1px solid #555;
    
    #mc_embed_signup {

        form {
            padding: 0 100px;

            @media (max-width: 1199px) and (min-width: 1024px) {
                padding: 0 80px;
            }

            @media (max-width: 1023px) and (min-width: 768px) {
                padding: 0 70px;
            }

            @media (max-width: 767px) {
                padding: 0 50px;
            }

            @media (max-width:480px) {
                padding: 0 15px;
            }

            #mc_embed_signup_scroll {
                @include flexbox;
                flex-wrap: wrap;

                h2 {
                    margin: 0 0 20px 0; 
                    color: $color-orange; 
                    font-size: 26px; 
                    font-weight: $semibold; 
                    width: 100%;

                    @media (max-width:480px) {
                        padding-left: 35px;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }

                p {
                    @media (max-width:480px) {
                        padding-left: 35px;
                    }
                }
    
                .mc-field-group {
                    width: 260px;
                    @include inline-flex;
                    flex-direction: column; 
                    justify-content: flex-start; 
                    margin: 0 9.6% 0 0;

                    @media (max-width: 1199px) and (min-width: 1024px) {
                        margin: 0 3% 0 0;
                    }

                    @media (max-width: 1023px) and (min-width: 768px) {
                        margin: 0 12.7% 0 0;
                    }

                    @media (max-width: 767px) {
                        margin: 0 5.5% 0 0;
                        width: 240px;
                    }

                    @media (max-width:640px) {
                        width: 100%; 
                        margin-right: 0;
                    }

                    input {
                        font-size: 18px; 
                        padding: 8px 14px;
                        text-indent: 0;
                        height: 42px;
                    }
    
                    select {
                        width: 100%; 
                        height: 42px;
                    }
    
                    .asterisk {
                        position: absolute; 
                        top: -4px; 
                        margin-left: 3px;
                    }
    
                    &:nth-of-type(3n) {
                        margin:0;
                    }
    
                    &.terms-condition {
                        width: 100%;
                    }
    
                } //mc-field-group
    
                .button {
                    background-color: $color-orange;
                    font-size: 26px; 
                    font-weight: $semibold; 
                    height: auto;
                    margin: 0;
                    padding: 14px 20px;
                    min-width: 374px;

                    @media (max-width: 1023px) and (min-width: 768px) {
                        font-size: 22px; 
                        min-width: 330px;
                    }

                    @media (max-width: 767px) {
                        font-size: 20px;
                        min-width: auto;
                        padding: 10px 20px;
                    }

                    @media (max-width: 480px) {
                        font-size: 18px;
                        padding: 6px 20px;
                    }
                }
    
                .submit-group {
                    width: 100%;
                    text-align: center;
                }

                .f-icon {
                    position: absolute;
                    width: 40px; 
                    display: inline-flex; 
                    align-items: center;
                    left: 32px;

                    @media (max-width: 1199px) and (min-width: 1024px) {
                        left: 21px;
                    }

                    @media (max-width: 1023px) and (min-width: 768px) {
                        width: 35px;
                        left: 19px;
                    }

                    @media (max-width: 767px) {
                        left: 10px;
                        width: 30px;
                    }

                } //.f-icon
            } //#mc_embed_signup_scroll
        } //form
    } //#mc_embed_signup
}


.whysing-text {
    ul, ol {
        margin-left: 20px; 
        padding: 0;
        margin-top: 5px;

        li {
            padding-left: 25px; 
            font-size: 16px;
            margin-bottom: 15px; 
            color: #3e3c3c; 
            line-height: 1.7;
        }
    }

    ol {
        ol li {
            list-style-type: upper-roman;
        }
    }
} //.whysing-text

.queries-contact {
    padding: 35px; 
    border: 1px solid #555;

    p {
        font-size: 18px;
        line-height: 1.65;
    }
}
