/* ==========================================================================
   #CONTACT-LINKS
   ========================================================================== */
   
.c-contact-links {
    flex-wrap: wrap;

    @include bp(large) {
        flex-wrap: none;
    }

    a {
        max-width: 100%;
        width: 100%; 
        @include flex(none);
        color: #525252;
        margin: 5px 15px;
        @include border-radius(5px);
        padding: 20px;
        text-align: center;
        background-color: #f1f1f1;

        @include bp(large) {
            padding: 25px;
            @include flex(1 0 25%);
        }

        &:hover {
            text-decoration: none;
            background-color: $color-orange;
            color: $color-white;

            & [class*='ic-'] {
                color: $color-white;
            }
        }

        & + a {
            @media (min-width:768px) and (max-width:1023px) {
                margin-left: 15px;
            }

            @media (max-width:767px) {
                margin-left: 15px;
                margin-top: 10px;
            }

            @media (max-width:640px) {
                margin-left: 16px;
            }
        }

        & [class*='ic-'] {
            color: $color-orange;
            font-size: 30px;
            margin-right: 15px;

            @media (min-width:768px) and (max-width:1023px) {
                margin: 0 0 10px 0;
            }

            @media (max-width:767px) {
                margin: 0 0 10px 0;
            }
        }

        &.live-chat-click {
            padding: 15px;
            background-color: $color-orange;
            color: $color-white;

            @media (max-width:640px) {
                width: 100%;
                margin:16px 0 0 0; 
                flex-direction: row;
            }

            & [class*='ic-'] {
                font-size: 63px;
                color: $color-white;

                @media (max-width:767px) {
                    font-size: 45px;
                }

                @media (max-width:640px) {
                    margin: 0 15px 0 0;
                }
            }

            p {
                font-weight: $bold;
                font-size: 18px;

                @media (max-width:767px) {
                    font-size: 15px;
                }
            }

            em {
                background-color: $color-white;
                color: $color-orange;
                font-style: normal;
                display: block;
                text-align: center;
                line-height: 1.2;
                @include border-radius(18px);
                padding: 8px 10px;
                font-weight: $normal;
            }
        }
    }
}