/* ==========================================================================
   #CONFIRM-MODAL
   ========================================================================== */
   
.confirm-modal {
    .modal-dialog {
        max-width: 380px;
    }

    .modal-body {
        padding: 10px 0;
    }

    .modal-content {
        button {
            color: $color-orange; 
            opacity: 1;
        }
    }

    .content {
        p {
            font-size: 18px;
        }
    }

    .confirm-btn {
        .btn {
            padding: 0.35em 1.67em 0.43em; 
            height: auto;
        }
    }

    .close {
        top: 0;
        z-index: 1;
        right: 0;
    }
}