/* ==========================================================================
   #CRISIS-BANNER
   ========================================================================== */

.c-crisis-banner {
    img {
        max-width: 400px;
        width: 80%;
        display: block;
        margin: 0 auto;

        @include bp(large) {
            max-width: 100%;
        }

        &.logo {
            @include bp(large) {
                max-width: 100%;
            }
        }
    }
}