/* ==========================================================================
   #CUSTOMER-UPLOAD
   ========================================================================== */
   
.c-customer-upload {
	.overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: url(/images/site/cogs.gif) center center no-repeat rgba(0,0,0,0.6);
        display: none;
        z-index: 99;

        &:before {
            content: "Thank you for your patience, uploading can sometimes take a few minutes depending on connection speed and area";
            display: block;
            font-size: 25px;
            color: rgba(255,255,255,0.7);
            text-align: center;
            margin-top: 14%;

            @include bp(large) {
                font-size: 40px;
            }
        }
    }
}