/* ==========================================================================
   #DASHBOARD-TABS
   ========================================================================== */

.c-dashboard-tabs {
    ul {
        li {
            margin: 5px 5px 5px 0;
            max-width: 20%;
            @include flex(1 0 0%);
            display: inline-flex;

            @include bp(medium) {
                margin-right: 10px;
            }

            @include bp(large) {
                margin-right: 18px;
            }

            a {
                color: #727272;
                font-size: 17px; 
                letter-spacing: 0.01em;
                padding: 18px;
                display: block; 
                @include border-radius(5px); 
                background-color: #f6f5f3;
                @include flexbox; 
                align-items: center; 
                justify-content: space-between; 
                width: 100%;
                font-weight: $semibold; 
                line-height: 1.2;

                @media (min-width:1024px) and (max-width:1199px) {
                    padding: 15px 10px;
                    font-size: 15px;
                }

                @media (min-width:768px) and (max-width:1023px) {
                    flex-wrap: wrap; 
                    flex-direction: column;
                    justify-content: space-between; 
                    text-align: center;
                    font-size: 15px;
                    padding: 15px 10px;
                }

                @media (max-width:767px) {
                    flex-wrap: wrap;
                    flex-direction: column; 
                    text-align: center; 
                    font-size: 12px;
                    padding: 10px;
                }

                @media (max-width:640px) {
                    font-size: 0;
                    justify-content: 0;
                    padding: 5px;
                }

                &:hover {
                    text-decoration: none;
                }
            }

            figure {
                max-width: 50px;
                margin-left: 10px; 
                -webkit-filter: grayscale(100%); 
                filter: grayscale(100%);
            }

            &.active {
                a {
                    background-color: $color-orange; 
                    color: $color-white;
                    cursor: default;
                }

                [class*='ic-']{
                    color: #f6bb91;
                }

            }

            [class*='ic-']{
                font-size: 57px; 
                margin: 0 0 0 5px; 
                color: #bebebe;

                @media (min-width:1024px) and (max-width:1199px) {
                    font-size: 35px;
                }

                @media (min-width:768px) and (max-width:1023px) {
                    margin: 5px 0 0 0;
                    font-size: 40px;
                }

                @media (max-width:767px) {
                    font-size: 30px;
                    margin: 5px 0 0 0;
                }  
                
                @media (max-width:640px) {
                    margin: 0;
                    font-size: 20px;
                }
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

        &.engineer-tabs {
            li {
                @media (min-width:1024px) {
                    margin-right: 15px;
                }

                a {
                    @media (min-width:1024px) {
                        padding: 8px 15px;
                        padding-bottom: 11px;
                        font-size: 15px;
                    }
                }

                i {
                    @media (min-width:1024px) {
                        font-size: 37px;
                    }
                }
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1199px) {	
    .dashboard-tabs ul li [class*='ic-']{font-size: 45px;}
    .dashboard-tabs ul li a{padding: 15px 10px;font-size: 15px;}    
    .dashboard-tabs ul li{margin-right: 15px;}
    .dashboard-tabs ul li [class*='ic-']{font-size: 35px;}
    .checkout-step .step .step-header .c-icon{left: -55px; /*top: 18px;*/ width: 35px;}
}