/* ==========================================================================
   #DAY-LIST 
   ========================================================================== */
   
.day-list {
    background-color: $color-white;
    border: 1px solid #cdcdcd;
    padding: 0;

    .single-day {
        @include flexbox;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #cdcdcd;
        align-items: center;

        p {
            margin: 0;
        }

        .switch {
            position: relative;
            display: inline-block;
            font-size: 60px;
            width: 1em;
            height: 0.5em;
            margin: 0;

            input {
                display: none;

                &:checked {
                    & +.slider {
                        background-color: #8fd43a;

                        &:before {
                            -webkit-transform: translate(0.55em,-50%);
                            -ms-transform: translate(0.55em,-50%);
                            transform: translate(0.55em,-50%);
                        }
                    }
                }
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #c92d39;
                transition: .4s;
                border-radius: 30px;

                &:before {
                    position: absolute;
                    content: "";
                    height: 0.35em;
                    width: 0.35em;
                    left: 0.06em;
                    top: 50%;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                    box-shadow: 0.731px 0.682px 2px 0px rgba(1, 1, 1, 0.3);
                    -webkit-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }
            }
        }
    }
}