/* ==========================================================================
   #DIVIDO-WIDGET
   ========================================================================== */

.divido-widget-container {
	* {
		background-color: #fff5ce !important;
		color: #525252 !important; 
		font-size: 12px !important; 
		font-family: 'Proxima Nova' !important;
		max-width: 300px;
	}

	.divido-widget-wrapper {
		padding: 50px 20px 20px !important; 
		border-color: #fff5ce !important;
		background-image: none !important;

		.divido-widget-heading {
			background-color: #ffcc09 !important;
			color: #000 !important;
			font-size: 20px !important;
			padding: 10px 20px;
			line-height: 1.3; 
			@include border-radius(5px 5px 0 0); 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%;
		}

		.divido-widget-close {
			z-index: 1;
			width: 2em;
			height: 2em;
			@include flexbox;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			color: $color-orange !important;
			border: 1px solid $color-orange;
			background-color: $color-white !important;
			text-align: center;
			top: 10px !important;
			@include border-radius(100%);
		}

		.divido-widget-control {
			label {
				margin-top: 5px !important;
			}

			select {
				border: 1px solid $color-orange !important;
				@include border-radius(5px); 
				background-color: $color-white !important; 
				height: 30px; 
				padding: 5px 5px;

				&:focus {
					outline: 0 !important;
				}
			}

			input {
				&[type="range"] {
					width: calc(100% - 30px) !important;
				}
			}
		}

		.divido-widget-info {
			border: 1px solid #d9d0af; 
			@include border-radius(5px);

			dd {
				&.divido-widget-term {
					padding: 8px 1px 8px 10px !important; 
					border-top: 1px solid #d9d0af !important;
				}

				&.divido-widget-data {
					padding: 8px 10px 8px 1px !important;
					border-top: 1px solid #d9d0af !important;
				}

				&:first-of-type {
					border-top: 0 !important;
				}

			}
		}
	}
}

.post-code-box form input{max-width: 250px;}
.post-code-box .form-group{text-align: center;}
.post-code-box .form-group button{margin-top: 20px;}
.post-code-box .item{@include border-radius(5px);}

input.error-inner { border: 1px solid red;}
div.error-inner {color: #FF0000; font-size: 15px;background-color: #f8d7da;border: 1px solid red;padding:7px 10px;border-radius:3px;margin-top: 10px;}
.post-code-box .form-group .inner-form-group{padding: 0 25px;}
.post-code-box .form-group .ajax-loader{position: absolute; right: 0; top: 17px;}