/* divido widget */
.divido-target {
	.divido-widget-wrapper {
		background-color: #fff5ce !important; 
		padding: 50px 20px 20px !important; 
		border-color: #fff5ce !important; 
		position: relative;
		background-image: none !important;

		* {
			color: #525252 !important; 
			font-size: 16px !important; 
			font-family: 'Proxima Nova' !important;
		}

		.divido-widget-heading {
			background-color: #ffcc09 !important;
			color: #000 !important;
			font-size: 20px !important;
			padding: 10px 20px;
			line-height: 1.3;
			@include border-radius(5px 5px 0 0); 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			font-weight: $semibold; 
			color: $color-black;
		}

		.divido-widget-summary {
			margin-bottom: 5px; 
			font-weight: $semibold;
			margin-top: 10px;
		}

		.divido-widget-control {
			label {
				margin-top: 15px !important; 
				margin-bottom: 5px;
			}

			select {
				border: 1px solid $color-orange !important;
				@include border-radius(5px); 
				background-color: $color-white !important; 
				height: 40px; 
				padding: 5px 5px;

				&:focus {
					outline: 0 !important;
				}
			}

			input {
				&[type='range'] {
					width: calc(100% - 50px) !important; 
					margin-right: 10px;
					vertical-align: middle;
				}
			}
		}

		.divido-widget-info {
			border: 1px solid #d9d0af; 
			@include border-radius(5px); 
			display: flex; 
			flex-wrap: wrap;

			dt {
				&.divido-widget-term {
					padding: 5px 1px 5px 10px !important; 
					border-top: 1px solid #d9d0af !important; 
					width: 25%; 
					display: inline-flex; 
					vertical-align: top;
				}

				&.divido-widget-data {
					padding: 5px 10px 5px 1px !important; 
					border-top: 1px solid #d9d0af !important; 
					width: 25%; 
					display: inline-flex; 
					vertical-align: top;
				}
			}

			dd {
				&.divido-widget-data {
					padding: 5px 10px 5px 1px !important; 
					border-top: 1px solid #d9d0af !important; 
					width: 25%; 
					display: inline-flex; 
					vertical-align: top;
				}
			}
		}
	}
}

#pay_by_Divido .divido-widget-wrapper .divido-widget-info dd.divido-widget-data:nth-of-type(odd){border-right: 1px solid #d9d0af;}
.payment-option .vendor-image{position: absolute; top: 50%; @include transform(translateY(-50%)); right: 20px;}

#pay_by_Divido .divido-widget-wrapper .divido-widget-info dt.divido-widget-term:nth-of-type(-n+2),
#pay_by_Divido .divido-widget-wrapper .divido-widget-info dd.divido-widget-data:nth-of-type(-n+2){border-top: 0 !important;}
.payment-option{margin-bottom: 20px;}
#pay_by_Divido .divido-widget-wrapper .divido-widget-info dt.divido-widget-term,
#pay_by_Divido .divido-widget-wrapper .divido-widget-info dd.divido-widget-data{line-height: 1.3;}
