.enquiry-sec {
    form {
        padding: 20px;

        @media (max-width:640px) {
            margin-bottom: 20px;
        }

        .checkbox {
            label {
                padding-left: 26px;
                @include user-select(none);

                input[type='checkbox'] {
                    margin-right: 10px;
                    opacity: 0;
                    position: absolute;
                }
            }
        }
    } //form

    .map-address {
        border-radius: 5px;
        overflow: hidden;
    }

    .address-detail {
        position: relative;
        flex-wrap: wrap;

        i {
            font-size: 33px;
            color: $color-orange;
            margin-right: 14px;
            padding-top: 5px;

            &.fa-map-marker-alt {
                width: 100%;
                margin-bottom: 10px;

                @include bp(medium) {
                    width: auto;
                    margin-bottom: 0;
                }
            }
        }

        address {
            font-size: 16px;
            color: #525252;
            @include flex(1 0 auto);
            line-height: 1.49;

            @include bp(large) {
                font-size: 18px;
            }

            em {
                font-style: normal;
                display: block;
                color: $color-orange;
                font-weight: bold;
                font-size: 1.12em;
                line-height: 1.2;
                margin-bottom: 0.4em;
            }

            @media (max-width: 640px) {
                font-size: 14px;
                @include flex(1);
            }
        } //address

        figure {
            position: absolute;
            right: 10px;
            min-width: 1em;
            max-width: 1em;
            height: 1em;
            font-size: 103px;

            @media (max-width: 640px) {
                font-size: 80px;
            }
        }
    } // .address-details
}