/* ==========================================================================
   #FAQ-SEC
   ========================================================================== */

.c-faq-sec {
	margin: 0 auto;

	&.homepage {
		@include bp(medium) {
			min-width: 660px;
			max-width: 660px;
		}
	}

	.faq-details {
		.col-4 {
			margin-bottom: 60px;
		}
		
		a {
			display: block;
			font-size: 22px;
			margin-bottom: 20px;
		}

		ul {
			li {
				a {
					color: inherit;
					font-size: 16px;
					margin-bottom: 0;

					&.view-all {
						opacity: 0.8;
						margin-top: 10px;
					}
				}
			}
		}
	}

	&.banner {
		background-color: #f3f3f3;
		padding: 40px 0;
		text-align: center;
		overflow: hidden;

		.container {
			position: relative;
		}

		.cloud-img1 {
			position: absolute;
			left: -248px;
			top: -70px;
			width: 263px;
			height: 223px;
		}

		.cloud-img2 {
			position: absolute;
			top: -40px;
			right: -200px;
			width: 263px;
			height: 223px;
		}

		h2 {
			color: inherit;

			span {
				color: $color-orange;
			}
		}

		.form-box {
			width: 400px;
			display: inline-block;

			@include bp(medium) {
				width: 450px;
			}

			.form-control {
				font-size: 20px;
				height: 50px;
				width: 68%;
				display: inline;
				border: 1px solid #ced4da;
				border-radius: 0.25rem 0 0 0.25rem;

				@include bp(medium) {
					width: 71%;
				}
			}

			.btn {
				height: 50px;
				display: inline;
				margin-left: -5px;
				margin-top: -5px;
				border-radius: 0;
				border: 0;
            	box-shadow: none;
			}
		}

		.contact-links {
			background-color: $color-white;
			padding: 20px;
			border-radius: 30px;

			a {
				width: 100%;
				margin-left: 0;
			}

			.live-chat-click {
				@media (max-width: 640px) {
					margin: 16px 0;
				}

				p {
					font-size: 16px !important;
				}
			}
		}
	}
}