/* ==========================================================================
   #FAQ-ACCORDIAN
   ========================================================================== */

.faq-accordian {

    .card {
        margin-bottom: 15px; 
        border: 1px solid $color-grey;
        @include border-radius(5px);
        overflow: hidden;
        @include transition(0.4s ease all);

        &:nth-child(even) {
            border: 1px solid $color-orange;

            h5 {
                color: $color-orange;
            }
        }

        &.is-open {
            .card-header {
                em {
                    @include transform(rotate(180deg));
                }
            } //.card-header

        } //.is-open

        .card-header {
            border: 0;
            @include border-radius(0);
            background-color: transparent;
            position: relative;
            padding: 16px 40px 16px 16px; 
            cursor: pointer;

            h5 {
                font-size: 14px;
                line-height: 1.6;

                @include bp(medium) {
                    font-size: 18px;
                    padding-left: 14px;
                }
            }

            em {
                width: 1em; 
                height: 1em; 
                font-size: 25px; 
                background-color: $color-orange; 
                @include border-radius(100%);
                position: absolute; 
                right: 15px; 
                top: 14px; 
                font-style: normal; 
                color: $color-white; 
                @include flexbox;
                align-items: center; 
                justify-content: center; 
                @include transition(0.3s ease all);

                &:before {
                    content: "q";
                    font-family: warmzilla-icon; 
                    font-size: 0.52em;
                }
            }
        } //.card-header

        .card-body {
            padding: 16px;

            @include bp(medium) {
                padding: 16px 30px;
                margin-top: 20px;
            }

            p {
                font-size: 14px; 
                color: #525252;

                @include bp(medium) {
                    font-size: 18px;
                }

                a {
                    display: initial;
                    font-size: inherit;
                }
            }

            ul {
                list-style: initial;
                padding-left: 20px;

                &.features {
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 20px;

                    li {
                        border-bottom: 1px solid $color-very-light-grey;
                        padding: 10px;
                        border-radius: 6px;

                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                    
                }
            }

            table {
                &.product-features {
                    font-size: 16px;
                    width: 100%;
                    margin-bottom: 20px;
                    text-align: left;
        
                    tr {
                        border-bottom: 1px solid $color-very-light-grey;

                        &:last-child {
                            border-bottom: 0;
                        }
        
                        td {
                            padding: 10px;
        
                            &:first-child {
                                color: $color-orange;
                                font-weight: $bold;
                            }
                        }
                    }
                }

                &.dimensions {
                    text-align: center;
                    width: 100%;
                    font-size: 16px;
                    margin-bottom: 20px;
                    
                    tr {
                        th, td {
                            padding: 10px;
                            border: 1px solid $color-very-light-grey;
                        }

                        th {
                            background-color: #fcfcfc;
                        }
                    }
                }
            }

            .features {
                ul {
                    list-style: none;
                }
            }

            .boiler-extras {
                @include bp(medium) {
                    display: table;
                    border-spacing: 20px;
                }

                .item {
                    display: inline-block;
                    text-align: center;
                    border: 1px solid #d3d3d3;
                    border-radius: 4px;
                    padding: 20px;
                    margin-bottom: 20px;

                    @include bp(medium) {
                        display: table-cell;
                        width: 50%;
                    }

                    h3 {
                        font-size: 16px;
                        color: $color-orange;
                        font-weight: $normal;
                    }

                    img {
                        height: 110px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 16px;
                    }

                    a {
                        display: block;
                        color: $color-white;
                        background-color: #f9a606;
                        border: 1px solid #f9a606;
                        width: 230px;
                        margin: 0 auto;
                        padding: 5px;
                        border-radius: 4px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    div {
                        vertical-align: bottom;
                    }

                    .cost {
                        display: block;
                        outline: 1px dashed $color-grey;
                        padding: 5px;
                        border-radius: 4px;
                        width: 230px;
                        margin: 0 auto;
                        font-weight: 600;
                        color: #f9a606;
                    }

                    &.selected {
                        border: 2px solid #3cb878;

                        .cost {
                            outline: 1px dashed #3cb878;
                        }

                        a {
                            background-color: #3cb878;
                            border: 1px solid #3cb878;
                            cursor: default;
                        }
                    }

                    &.full {
                        text-align: center;

                        @include bp(large) {
                            text-align: left;
                        }

                        img {
                            height: 130px;
                            margin: 0 auto;

                            @include bp(large) {
                                float: left;
                                margin-right: 20px;
                            }
                        }

                        .cost {
                            display: inline-block;
                            text-align: center;
                            width: 100%;
                            margin-bottom: 10px;
                            max-width: 230px;

                            @include bp(large) {
                                width: 200px;
                                margin-right: 10px;
                                margin-bottom: 0;
                            }
                        }

                        .select-therm {
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            margin: 0 !important;
                            max-width: 230px;

                            @include bp(large) {
                                width: 230px;
                            }
                        }
                    }
                }
            }

            .add-to-cart-form-wrapper {
                width: 75%;

                .half-box {
                    display: inline-block;
                    width: 48%;
                    margin-right: 20px;

                    &:nth-child(even) {
                        margin-right: 0;
                    }
                }

                label {
                    font-size: 16px;
                    font-weight: $regular;
                    color: #525252 !important;
                }

                .custom-select {
                    border: 1px solid $color-orange;
                    font-size: 16px;
                    width: 100%;
                    color: #9f9f9f;
                    
                    &:focus {
                        color: initial;
                    }
                }

                
            }
        } //.card-body
    } //.card

    &.boiler {
        .card {
            &.is-open {
                background-color: $color-white;
            }

            .card-header {
                padding: 14px 40px 14px 26px;

                h5 {
                    display: inline-block;
                    padding-left: 0;
                    font-size: 20px;
                    vertical-align: middle;

                    @include bp(large) {
                        padding-left: 22px;
                        font-size: 22px;
                    }
                }

                figure {
                    width: 76px;
                    vertical-align: middle;
                    text-align: center;
                    display: none;

                    @include bp(medium) {
                        display: inline-block;
                    }
                }

                em {
                    top: 30%;
                }
            }

            .card-body {
                text-align: center;
                font-size: 16px;

                @include bp(medium) {
                    text-align: left;
                }

                p {
                    font-size: 16px;
                }

                .custom-select {
                    border: 1px solid $color-orange;
                    width: 100%;

                    @include bp(small) {
                        width: 300px;
                    }

                    @include bp(medium) {
                        width: 270px;
                    }

                    @include bp(large) {
                        width: 300px;
                    }
                
                }

                .add-to-cart-form-wrapper {
                    width: 100%;

                    .half-box {
                        width: 100%;
                        margin-right: 0;

                        @include bp(medium) {
                            width: 48%;
                            margin-right: 10px;
                        }
                    }
                }
            }

            &.product-description {
                .card-header {
                    figure {
                        width: 40px;
                        margin: 4px 27px 2px 22px;
                    }
                }
            }

            &.radiators {
                .card-header {
                    figure {
                        width: 65px;
                        margin: 6px 20px 4px 5px;
                    }
                }

                .card-body {
                    .prod {
                        @include bp(medium) {
                            float: left;
                        }
                    }

                    a.myson-modal {
                        display: block;

                        span {
                            background-image: url(/images/site/view-magnifier-orange.svg);
                            display: inline-block;
                            width: 17px;
                            height: 17px;
                            margin-right: 8px;
                            vertical-align: middle;
                        }
                    }

                    img {
                        width: 150px;
                        display: block;
                        margin: 0 auto 10px;

                        @include bp(medium) {
                            float: left;
                            margin-right: 60px;
                        }

                        &.myson {
                            width: 260px;
                        }
                    }

                    .c-tick-list {
                        margin-top: 20px;

                        @include bp(medium) {
                            margin-top: 90px;
                        }
                    }

                    .custom-select {
                        width: 100%;
                        margin-right: 20px;
                    }

                    .btn {
                        background-color: #f9a606;
                        font-size: 16px;
                        font-weight: $normal;
                        width: 100%;
                    }

                    .radiators-added {
                        font-size: 16px;
                        opacity: 0.7;

                        @include bp(medium) {
                            position: absolute;
                            top: -3px;
                        }
                    }

                    .add-rads {
                        background-color: #fcfcfc;
                        padding: 20px;

                        @include bp(medium) {
                            padding-top: 50px;
                        }
                    }

                    .rads-list {
                        margin-top: 10px;
                        text-align: left;
                        
                        .c-tick-list {
                            margin: 0;
                        }
                    }
                }
            }

            &.heating-controls {
                .card-header {
                    figure {
                        width: 62px;
                        margin: -6px 17px -10px 6px;
                    }
                }
            }

            &.trvs {
                .card-header {
                    figure {
                        width: 72px;
                        margin: -11px 12px -15px 1px;
                    }
                }

                .card-body {
                    .add-trvs {
                        padding: 30px 10px;
                        background-color: #fcfcfc;
                    }

                    .btn {
                        background-color: #f9a606;
                        font-size: 14px;
                        font-weight: 500;
                        margin-top: 10px;
                        width: 100%;

                        @include bp(small) {
                            width: 300px;
                        }

                        @include bp(medium) {
                            width: auto;
                            margin-top: -3px;
                            margin-left: 10px;
                        }
                    }

                    img {
                        width: 190px;
                        display: block;
                        margin: 0 auto 10px;

                        @include bp(medium) {
                            float: left;
                            margin-right: -30px;
                            margin-left: -50px;
                        }
                    }
                }
            }

            &.what-comes {
                .card-header {
                    figure {
                        width: 55px;
                        margin: -3px 18px -6px 11px;
                    }
                }
            }

            &.pumpzone {
                .card-header {
                    figure {
                        width: 45px;
                        margin-left: 13px;
                        margin-right: 30px;
                    }
                }

                .clear-valve {
                    background-color: #f9a606;
                    font-size: 16px;
                    font-weight: 500;
                    float: right;
                    padding: 5px;
                    border-radius: 4px;
                    width: 230px;
                }

                .change-valve {
                    border: 0;
                    height: 34px;
                    width: 100%;
                    font-weight: $semibold;
                }
            }
        }
    }
}
