/* ==========================================================================
   #FEATURE-BOXES
   ========================================================================== */
   
.feature-boxes {
    img {
        display: block; 
        margin: auto;
    }
    
    .item {
        @include flex(1 0 0%);
        padding:52px 25px 40px; 
        position: relative; 
        border-bottom: 1px solid #e5e5e5;

        @media (min-width:1024px) and (max-width:1199px) {	
            padding: 40px 10px 30px;
        }

        @media (min-width:768px) and (max-width:1023px) {
            flex-basis: 33.33%;
            padding: 40px 20px 30px;
        }

        @media (max-width:767px) {
            flex-basis: 33.33%;
            padding: 30px 10px 20px;
        }

        @media (max-width:640px) {
            flex-basis: 50%;
            padding: 20px 10px 20px;
        }    

        & + .item {
            border-left: 1px solid #e5e5e5;
        }

        h5 {
            margin-bottom: 0;
            color: #5c5c5c;
            font-weight: $semibold;

            @media (min-width:1200px) and (max-width:1600px) {	
                font-size: 15px;
            }

            @media (min-width:1024px) and (max-width:1199px) {	
                font-size: 14px; 
            }
            
            @media (max-width:640px) {	
                font-size: 13px;
            }

        } // h5

        figure {
            margin-bottom: 30px;

            @media (min-width:1024px) and (max-width:1199px) {	
                margin: 0 auto 20px; 
                width: 50px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                margin-left: auto;
                margin-right: auto; 
                margin-bottom: 20px;
                width: 65px;
            }

            @media (max-width:767px) {
                width: 50px; 
                margin-left: auto; 
                margin-right: auto;
                margin-bottom: 15px;
            }

        } //figure

        &:nth-child(3n + 4) {

            @media (min-width:768px) and (max-width:1023px) {
                border-left: 0;
            }
            
            @media (max-width:767px) {
                border-left:0;
            }

            @media (max-width:640px) {
                border-left: 1px solid #e5e5e5;
            }
        }

        &:nth-child(odd) {
            @media (max-width:640px) {
                border-left: 0;
            }
        }

    } //.item

    a {
        &.item {

            &:hover {

                background-color: #fef5d7;
                text-decoration: none;
            } //:hover
        } //.item
    } //a

    &.how-it-works {
        .item {
            flex-basis: 100%;
            border: 0;

            @include bp(medium) {
                flex-basis: 0;
            }

            figure {
                width: auto;
            }
        }
    }
}
