/* ==========================================================================
   #FIND-A-BOILER-SEC
   ========================================================================== */
   
.find-a-boiler-sec {
    .banner {
        .left-part {
            h1 {
                color: $color-white;
            }

            p, 
            p strong a {
                color: $color-black;
            }
        } //.left-part

        .btn {
            margin-top: 20px;

            &[class*="fa-"] {
                margin-left: 25px;font-size: 40px;
            }
        } //.btn

        .logo {     
            width: 220px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;

            @include bp(large) {
                display: inline-block;
                margin-left: 20px;
                margin-top: 36px;
            }
        }

        .row {
            align-items: center;padding-bottom: 100px;
        }

        .bg-img {
            position: relative;
        } //bg-img
    } //.banner
} //.find-a-boiler-sec


.modal-content{padding: 20px;}
.modal .close{position: absolute; top: 0; right: 5px;}
.modal-dialog{max-width: 1000px;}
.modal-body{overflow: auto;max-height: 80vh;}



.custom-control-label::before{background-color: transparent; border:1px solid #ced4da; top: 0.15rem;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after{background-image: none;background-color: #525252;}
.custom-control-label::after{width: 8px; height: 8px; /*background-color: #525252; */@include border-radius(100%);left: -20px; top: 0.40rem; /*opacity: 0; visibility: hidden;*/}
.custom-control-input:active ~ .custom-control-label::before{background-color: transparent;}
.custom-control-input:focus ~ .custom-control-label::before{-webkit-box-shadow: none;box-shadow: none;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{background-color: transparent;}
.form-box .custom-control{margin-right: 10px;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{background-color: transparent;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{opacity: 1; visibility: visible;}
.custom-checkbox .custom-control-label::after{width: 1rem;height: 1rem; @include border-radius(0.25rem); top: 0.15rem; left: -1.5rem;}
.custom-control-input:checked ~ .custom-control-label::before{background-color: transparent;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{background-color: #525252;}

@media (max-width:640px) {
    .find-a-boiler-sec .banner .right-part{order: 1; justify-content: center !important;margin-top: 20px;}
    .find-a-boiler-sec .banner .right-part img{max-width: 70%;margin: 0 auto;display: block;}
}