/* ==========================================================================
   #FOOTER-SOCIAL
   ========================================================================== */

.c-footer-social {
    flex: 1 1 100%;

    @include bp(medium) {
        margin-left: 30px;
    }

    a {
        width: 34px;
        height: 34px;
        display: inline-flex;
        background-color: #e6e6e6;
        color: #212121;
        font-size: 0;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        i {
            font-size: 18px !important;
            color: #212121 !important;
            padding: 0 !important;
            margin-right: 0 !important;
        }

        &:hover {
            text-decoration: none; 
            background-color: #ecb808;
        } //:hover
    }
}