/* ==========================================================================
   #FORM-GROUP
   ========================================================================== */
.form-group {
    .form-box {
        margin-bottom: 25px;
        width: 100%;
        position: relative;

        &.half-box {
            width: 49%;

            @media (max-width:640px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        &.third-box {
            width: 28%;
            margin-right: 80px;
        }

    } //.form-box

    .form-control {
        &:not(textarea) {
            height: 50px;

            @media (max-width:767px) {
                height: 40px;
            }
        }

        &:focus {
            border: 1px solid #acacac;
        }

        @include placeholder {
            color: rgba(117,116,115,0.5);
        }
    } //.form-control

    .custom-checkbox .custom-control-label::before{@include border-radius(3px);}

} //.form-group
