/* ==========================================================================
   #GALLERY-SEC
   ========================================================================== */
   
.gallery-sec {
    background-color: #f1f1f1;

    .c-trustbox-gallery {
        padding: 0px;

        @include bp(large) {
            padding: 0 15px;
        }

        .slick-arrow {
            font-size: 50px;
            display: inline-block;
            color: $color-orange;
            cursor: pointer;
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            z-index: 99;

            i {
                display: block;
            }

            &.slick-prev {
                left: 0;
            } //.slick-prev

            &.slick-next {
                right: 0;
            }

        } //.slick-arrow

        .item {
            padding: 15px;
            text-align: center;
            border: 1px solid #ced4da;
            border-radius: 8px;
            margin: auto 10px;
            background-color: $color-white;
            font-size: 14px;
            color: inherit;
            height: 124px;

            @include bp(medium) {
                padding: 20px;
                height: 146px;
            }

            @include bp(large) {
                font-size: 16px;
                height: 164px;
            }

            &:hover {
                text-decoration: none;
            }

            .content {
                max-height: 70px;
                overflow: hidden;
            }

            h3 {
                font-size: 16px;
                color: $color-orange;
                font-weight: $semibold;

                @include bp(medium) {
                    font-size: 18px;
                }

                @include bp(large) {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
            }

            img {
                &.stars {
                    margin: -10px auto 11px auto;
                    width: 110px;

                    @include bp(medium) {
                        width: auto;
                        margin: -6px auto 11px auto;
                    }
                }
            }

            p {
                font-size: inherit;
            }
        }

    } //.trustbox-gallery

    .gallery-slider {
        padding: 0 30px;
        
        .item {
            display: inline-block;
            vertical-align: top; 
            pointer-events: none;
            padding: 0;

            h5 {
                padding: 0 20px;
                font-size: 14px;
            }

            p {
                padding: 0 20px;
                font-size: 14px;
            }

            figure {
                padding: 20px;
                width: 100%; 
                display: inline-flex; 
                justify-content: center; 
                align-items: center;

                a {
                    pointer-events: visible;
                }
            }
        }
    }
} //.gallery-sec

.trustbox-area {
    .logo {
        margin-right: 20px;
        width: 280px;
        margin-top: 2px;

        &.mob {
            @include bp(medium) {
                display: none;
            }
        }

        &.desk {
            display: none;

            @include bp(medium) {
                display: inline-block;
                width: 340px;
            }
        }
    }

    p {
        margin-top: 5px;

        @include bp(medium) {
            display: inline-block;
        }
    }
}

#cform select{padding: 0.375rem 1.75rem 0.375rem 0.75rem !important;}
.filter-by .form-box label{width: auto;  display: block; margin: 0 0 10px 0;vertical-align: middle;}
.form-group .filter-by .form-box{margin-bottom: 0; margin-right: 15px;}
.form-group .filter-by .form-control:not(textarea){height: 38px;}