/* ==========================================================================
   #GENERAL-FORM
   ========================================================================== */

.general-form {
    background-color: #f6f5f3;

    .form-group {
        margin-bottom: 10px;

        label {
            display: none;
        }

        button {
            font-size: 14px;
            text-transform: none;
        }
    }
}