/* ==========================================================================
   #GIVE-A-CALL
   ========================================================================== */

.give-a-call {
    background-color: #f6f5f3;

    .call-box {
        border: 3px solid #d9d9d9; 
        display: inline-flex; 
        max-width: 470px; 
        background-color: $color-white;

        @media (min-width:768px) and (max-width:1023px) {
            flex-wrap: wrap; 
            flex-direction: column;
        }

        @media (max-width:640px) {
            width: 100%; 
            max-width: none;
        }

        i {
            font-size: 70px; 
            margin: 0;

            @media (min-width:768px) and (max-width:1023px) {
                font-size: 50px;
            }

            @media (max-width:767px) {
                font-size: 35px;
            }
        }

        p {
            margin-bottom: 0;
        }

        .call-icon {
            display: inline-flex;
            align-items: center; 
            background-color: $color-orange; 
            color: $color-white; 
            padding: 10px 23px; 
            position: relative; 
            margin: -3px 40px -3px -3px;

            @media (min-width:1024px) and (max-width:1199px) {
                margin: -3px 24px -3px -3px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                margin: -3px -3px 20px -3px; 
                min-width: 100%; 
                justify-content: center; 
                padding: 15px 10px;
            }

            @media (max-width:767px) {
                margin: -3px 20px -3px -3px;
                padding: 10px 10px;
            }

            &:after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 17px 0 17px 17px;
                border-color: transparent transparent transparent $color-orange; 
                position: absolute;
                left: 100%;

                @media (min-width:768px) and (max-width:1023px) {
                    left: 0; 
                    right: 0; 
                    top: 100%; 
                    margin: auto;
                    border-color:#ed7622 transparent transparent transparent; 
                    border-width: 17px 17px 0 17px;
                }
            }
        } //.call-icon

        .call-details {
            padding: 15px 60px 15px 3px;

            @media (min-width:1024px) and (max-width:1199px) {	
                padding: 15px 20px 15px 3px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                padding:5px 16px;
            }

            @media (max-width:767px) {
                padding:5px 10px;
            }

            p {
                font-size: 30px; 
                line-height: 1.2;
                margin-bottom: 0; 
                color: #525252;

                @media (min-width:768px) and (max-width:1023px) {
                    margin-bottom: 0;
                }

                @media (max-width:767px) {
                    margin-bottom: 5px;
                    font-size: 20px;
                }
                
                @media (max-width:640px) {
                    font-size: 18px;
                }

                a {
                    color: $color-orange;
                    letter-spacing: 0.035em; 
                    font-size: 24px;

                    @media (max-width:767px) {
                        font-size: 21px
                    }

                    &:hover {
                        color: #525252; 
                        text-decoration: none;
                    }
                }
            }

            span {
                @media (max-width:767px) {
                    font-size: 17px;
                }
            }

            small {
                font-size: 20px; 
                font-weight: $regular;
                display: block;
                line-height: 1.4; 
                color: #777777; 
                font-family: 'Proxima Nova'; 
                margin-top: 15px;
            }
        } //.call-details

        .desc {
            margin-bottom: 80px;

            @media (max-width:1023px) {
                margin-bottom: 20px;
            }

            h1 {
                margin-bottom: 30px;
            }
        } //.desc

        .img-part {

            @media (max-width:640px) {
                margin-top: 20px;
            }

            figure {
                max-width: 370px;
                margin: 0 auto;

                @media (max-width:767px) {
                    max-width: 260px;
                }

                @media (max-width:640px) {
                    max-width: 180px;
                }
            }
        } //.img-part
    } //.call-box
}

@media (min-width:1024px) and (max-width:1199px) {	
    .give-a-call .call-box .call-icon{margin: -3px 24px -3px -3px;}
    .give-a-call .call-box .call-details{padding: 15px 20px 15px 3px;}
}