/* ==========================================================================
   #GREAT-PRICE-SEC
   ========================================================================== */
   
.great-price-sec {
    padding-bottom:50px;

    .promise-part {
        padding-left: 100px;
        padding-right: 100px;

        @media (max-width:1023px) {
            padding-left: 0;
            padding-right: 0;
        }

        .promise-list {
            @include flex(1 0 0%);

            ul {
                margin-bottom: 5px;

                li {
                    font-size: 20px;
                    padding: 8px 0 8px 38px;
                    border-bottom: 1px solid #e95e1b;
                    border-top: 1px solid #f18e29;
                    position: relative;

                    &:first-child {
                        border-top: 0;
                    }

                    &:before {
                        content: "";
                        width: 19px;
                        height: 14px;
                        background: url(../images/site/check-icon2.png)no-repeat center / cover;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    } //:before
                } //li
            } //ul
        } //.promise-list

        .img-part {
            p {
                text-align: center;
                
                em {
                    font-size: 12px;
                }
            }
        }

        .rep-text {
            font-size: 12px;
        }
    } //.promise-part

    .price-tag {
        padding: 15px 20px; 
        border: 1px solid #f4aa5c; 
        @include border-radius(5px);
        
        small {
            display: block;
            line-height: 1;
        } //small

        span {
            font-size: 55px;
            font-weight: $bold;
            @include flexbox; 
            align-items: center;
            line-height: 1;

            em {
                font-size: 16px;
                font-weight: $normal;
                font-style: normal;
                @include border-radius(100%);
                border: 1px solid rgba(255,255,255,0.3);
                width: 40px; 
                height: 40px; 
                display: inline-flex; 
                align-items: center; 
                justify-content: center;
                position: relative;
                margin-left: 30px;
                margin-right: 30px;

                &:before {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: rgba(255,255,255,0.3);
                    left: 0;
                    display: block;
                    position: absolute;
                    left: 100%;
                } //:before

                &:after {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: rgba(255,255,255,0.3);
                    display: block;
                    position: absolute;
                    right: 100%;
                } //:after

            } //em

        } //span

    } //.price-tag

    figure {
        margin-right: 0;
        margin-top: -10px;
    } //figure

} //.great-price-sec

@media (min-width:1024px) and (max-width:1199px) {	
    .great-price-sec .promise-part{padding-left: 60px;padding-right: 60px;}
}

@media (min-width:768px) and (max-width:1023px) {
    .great-price-sec .price-tag span{font-size: 35px;}
}

@media (max-width:640px) {
    .great-price-sec .price-tag span{font-size: 25px;}
    .great-price-sec .price-tag{padding: 10px 15px;}
}