/* ==========================================================================
   #HAMBURGER
   ========================================================================== */

.hamburger {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto; 
    text-align: center;
    background-color: transparent;

    &:not(.close) {
        position: static;
        top: 20px;
        right: 20px;
        z-index: 99; 
        color: rgba(0, 0, 0, 0.5); 
        border: 0; 
        align-self: center;
    }

    &:hover,
    &:focus {
        background-color: transparent;
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    .line {
        width: 30px;
        height: 4px;
        background-color: #e67e22;
        display: block;
        margin: 6px auto;
    }

    &.close {
        padding: 10px;
        opacity: 1;

        .wrap {
            position: relative;
            width: 30px;
            height: 30px;
            display: block;
        }

        .line {
            margin: 0;
            width:100%;
            position: absolute;
            top: calc(50% - 2px);
            @include transform(rotate(45deg));
            background-color: #1d1d1b;

            &:last-child {
                @include transform(rotate(-45deg));
            }
        } //.line
    } //.close
}

@media (min-width:768px) and (max-width:1023px) {
    .hamburger:not(.close){margin-right: 2%;}
}