/* ==========================================================================
   #HERO-SECTION
   ========================================================================== */

.c-hero-section {
    background-image: url('/images/site/mobile-bg-cut-circles.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-top: 10px solid #ebe6d9;
    height: 688px;
    width: 100%;
    background-size: cover;

    @include bp(small) {
        background-image: url('/images/site/main-banner-bg.jpg');
        min-height: 400px;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: auto;
    }

    @include bp(medium) {
        height: 490px;
    }

    @include bp(large) {
        height: 556px;
    }

    div {
        height: 100%;
    }

    .banner-slider {
        overflow: hidden;
    }

    .clouds {
        display: none;
        height: 196px;
        width: 247px;
        position: absolute;

        @include bp(large) {
            display: block;
        }

        &.clouds-1 {
            right: 0;
            position: absolute;
            left: unset;
            margin-right: 0;
        }

        &.clouds-2 {
            left: unset;
            margin-left: -280px;
        }
    }

    &.covid-banner {
        background-image: url("/images/uploads/covid-banner-mob.jpg");

        @include bp(small) {
            height: auto;
            background-position: center;
        }

        @include bp(medium) {
            background-image: url("/images/uploads/covid-banner.png");
        }
    }

    &.summer-banner {
        background-image: url('/images/site/summer-banner-mob.jpg');
        background-position: center;

        @include bp(small) {
            background-image: url('/images/site/summer-banner-boilers.jpg');
            height: 556px;
        }

        .container {
            position: relative;
        
            .left-part {
                background: none;
                margin: 120px auto;
                text-align: center;
                position: static;
                display: block;
                height: auto;
                width: unset;
                margin-bottom: 10px;

                @include bp(small) {
                    width: 500px;
                    margin: 40px auto;
                    margin-bottom: 10px;
                }

                .content {
                    padding: 0;
                    position: static;

                    h1 {
                        font-family: 'Timothy';
                        font-weight: $regular;
                        font-size: 50px !important;
                        margin-bottom: 0;

                        @include bp(medium) {
                            font-size: 60px !important;
                        }
                    }

                    img {
                        width: 290px;
                        position: static;
                        height: auto;
                        margin: 0 auto;
                        margin-bottom: 20px;

                        @include bp(small) {
                            width: 320px;
                            margin-bottom: 10px;
                        }
                    }

                    p {
                        font-size: 16px;

                        @include bp(medium) {
                            font-size: 18px;
                        }
                        
                        span {
                            color: $color-red;
                            font-weight: $bold;
                        }
                    }

                    .btn {
                        width: unset;

                        &:nth-of-type(2) {
                            margin: 10px auto;
                            font-size: 12px;
                            float: none;

                            @include bp(small) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .date-bubble {
                text-align: center;

                @include bp(large) {
                    width: 354px;
                    height: 232px;
                    background-image: url('/images/site/date-bubble.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding-top: 90px;
                    position: absolute;
                    top: 22%;
                }

                &:nth-child(2) {
                    left: calc(0% - 210px);
                }

                &:last-of-type {
                    right: calc(0% - 210px);
                    display: none;

                    @include bp(large) {
                       display: block;
                    }
                }

                p {
                    color: $color-white;
                    font-weight: $semibold;
                    line-height: 1;
                    margin-bottom: 10px;
                    
                    span {
                        font-family: 'Timothy';
                        color: $color-red;
                        font-size: 30px;

                        @include bp(medium) {
                            font-size: 40px;
                        }

                    }
                }
            }
        }
    }

    &.one-in-100 {
        background-image: url("/images/site/main-banner-bg.jpg");
        overflow: hidden;
        border-top: 0;
        padding: 0;

        @include bp(medium) {
            height: auto;
        }

        @include bp(large) {
            height: 669px;
        }

        .rip {
            width: auto;
            height: auto;
            position: initial;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 9;
        }

        .clouds {
            width: auto;
            height: auto;
            display: none;

            @include bp(large) {
                display: block;
            }

            &.clouds-2 {
                left: initial;
                right: -87px;
                position: absolute;
                display: block;
                width: 160px;

                @include bp(medium) {
                    width: 180px;
                    right: 50px;
                }

                @include bp(large) {
                    width: auto;
                }
            }
        }

        .left-part {
            display: none;

            @include bp(xlarge) {
                display: inline-block;
                background-image: url("/images/site/house-vector-circles.png");
                top: 220px;
                margin-top: 0;
                width: 800px;
                height: 454px;
                margin-left: -200px;
            }
        }

        .right-part {
            padding: 0;
            background-image: url("/images/site/1in100-gradientbg.png");
            background-position: center -17px;
            margin-left: -15px;
            margin-right: -15px;

            @include bp(small) {
                background-size: auto;
                margin-top: 0;
                height: 100%;
                width: 100%;
                margin: 0;
                margin-left: -15px;
                margin-right: -15px;
            }

            @include bp(medium) {
                display: block;
                width: 769px;
                height: 723px;
                margin: 0 auto;
                right: 0;
                bottom: 0;
                background-position: center -45px;
            }

            @include bp(xlarge) {
                bottom: 83%;
                top: -80%;
                right: -50%;
                display: inline-block;
            }

            .content {
                padding: 0 20px;
                padding-top: 145px;
                margin: 0 auto;
                height: auto;
                text-align: center;

                @include bp(small) {
                    padding: 0 60px;
                    padding-top: 100px;
                }

                @include bp(medium) {
                    padding: 0 110px;
                    padding-top: 100px;
                }

                @include bp(large) {
                    padding-top: 150px;
                }

                h1 {
                    font-size: 16px;
                    color: $color-black;
                    font-weight: $semibold;

                    @include bp(medium) {
                        font-size: 20px;
                    }
                }

                img {
                    width: auto;
                    height: auto;
                    position: initial;
                    margin: 0 auto 30px;
                    width: 150px;

                    @include bp(medium) {
                        width: 180px;
                        margin: 0 auto 20px;
                    }
                }

                p {
                    color: $color-black;
                }

                .btn {
                    background: transparent;
                }
            }
        }
    }

    &.c-how-it-works {
        background-image: url("/images/site/mobile-bg-gradient.jpg");
        background-size: cover;
        background-position: center center;
        height: 574px;
        overflow: hidden;

        @include bp(medium) {
            height: 682px;
            overflow: initial;
        }

        @include bp(large) {
            height: 560px;
        }

        .left-part {
            background-image: url(/images/site/1in100-gradientbg.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 415px;
            width: 438px;
            background-size: cover;
            position: absolute;
            top: -55px;
            left: 50%;
            transform: translate(-50%);
            max-width: none;
            margin-top: 0 !important;

            @include bp(medium) {
                top: 0;
                left: -10%;
                height: 523px;
                width: 569px;
                transform: none;
                margin-top: -95px !important;
                position: relative;
            }

            @include bp(large) {
                position: initial;
                width: 769px;
                height: 723px;
                margin-left: -150px;
                display: inline-block;
                margin-right: 0;
                margin-top: -140px !important;
            }
            
            .content {
                padding: 52px 47px;
                margin: 0 10px;

                @include bp(medium) {
                    padding: 0 95px;
                    padding-top: 95px;
                }

                @include bp(large) {
                    padding-left: 162px;
                    max-width: 635px;
                    padding-top: 155px;
                }

                h1 {
                    font-size: 32px !important;

                    @include bp(medium) {
                        font-size: 34px !important;
                    }

                    @include bp(large) {
                        font-size: 40px !important;
                    }
                }

                .btn {
                    max-width: 230px;
                    margin-top: 0 !important;
                }
            }
        }

        .right-part {
            width: 243px;
            height: 280px;
            background-size: contain;
            margin: 0 auto;
            background-image: url('/images/site/header-vector-element.png');
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99;
            margin-bottom: -15px;

            @include bp(medium) {
                left: unset;
                right: 2%;
                width: 530px;
                height: 493px;
            }

            @include bp(large) {
                top: unset;
                right: 0;
                bottom: 0;
            }

            @include bp(xlarge) {
                position: initial;
                display: inline-block;
                margin-bottom: 40px;
            }
        }
    }

    &.c-best-price {
        background-image: url(/images/site/mobile-bg-full-gray.jpg);
        height: 586px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        @include bp(medium) {
            background-image: url(/images/site/grey-bg.jpg);
            height: 488px;
        }

        .left-part {
            @include bp(medium) {
                top: -33px;
            }

            @include bp(large) {
                background-image: url(/images/site/circles-left.png);
            }

            .content {
                @include bp(medium) {
                    padding: 0 27px;
                    padding-top: 125px;
                    max-width: 445px;
                }

                @include bp(large) {
                    padding: 0 172px;
                    padding-top: 190px;
                    max-width: none;
                }

                .btn {
                    max-width: 300px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    display: block;

                    @include bp(medium) {
                        display: inline-flex;
                        margin-bottom: 0;
                    }
                }
            }

            h1 {
                font-size: 30px !important;

                @include bp(medium) {
                    font-size: 38px !important;
                }
            }

            .btn {
                margin: 0;
            }
        }

        .right-part {
            background-image: url(/images/site/best-price-image.png);
            width: 320px;
            height: 168px;
            right: 8%;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 16px;

            @include bp(large) {
                width: 440px;
                height: 231px;
                right: 15%;
            }
            
            img {
                width: 91px;
                height: 174px;
                left: 22px;
                top: -165px;
                display: none;

                @include bp(medium) {
                    display: block;
                }
            }
        }
    }

    &.black-friday {
        background-image: url(/images/site/black-friday-mobile-bg.jpg);
        height: 591px;

        @include bp(small) { 
            background-image: url(/images/site/black-friday-bg.jpg);
        }

        .left-part {
            padding-top: 15px;
            top: 54px;

            @include bp(small) { 
                background-image: url(/images/site/white-circles.png);
                top: -20px;
            }

            @include bp(medium) { 
                top: 56px;
            }

            h1, p {
                margin-bottom: 10px;

                @include bp(medium) { 
                    margin-bottom: 15px;
                }
            }

            .btn {
                margin-top: 0;
                margin-bottom: 0;
            }

            .trustpilot {
                margin-top: 12px;
                height: 20px;

                @include bp(medium) { 
                    margin-top: 20px;
                    height: 30px;
                }
            }
        }

        .right-part {
            bottom: 0;
            position: relative;

            @include bp(medium) { 
                bottom: 18%;
            }

            @include bp(large) { 
                bottom: 85%;
            }

            .banner-icons {
                width: 566px;
                margin-top: 80px;
                display: inline;

                @include bp(small) { 
                    width: 340px;
                }
    
                @include bp(medium) { 
                    margin-top: 120px;
                    width: 400px;
                }

                @include bp(large) { 
                    margin-top: 175px;
                    width: auto;
                }
            }

            .banner-badge {
                width: 100px;
                height: auto;
                left: 40px;
                top: 64px;

                @include bp(small) { 
                    top: 114px;
                    left: 105px;
                }
    
                @include bp(medium) { 
                    top: 86px;
                    width: 100px;
                }

                @include bp(large) { 
                    top: 130px;
                    width: 140px;
                    left: 130px;
                }
            }
        }
    }

    &.xmas-banner {
        background-image: url('/images/site/mobile-banner-christmas-bg.jpg');
        background-size: cover;
        height: 572px;

        @include bp(small) {
            background-image: url('/images/site/tablet-banner-bg.jpg');
        }

        @include bp(large) {
            background: url('/images/site/desktop-banner-christmas-bg.jpg');
            background-repeat: no-repeat;
            height: 471px;
            background-position: center bottom;
            background-size: cover;
        }

        @include bp(xlarge) {
            background-size: 100% auto;
        }

        @include bp(xxlarge) {
            height: 540px;
        }

        .left-part {
            background: none;
            top: 0;
            text-align: left;
            padding-top: 10px;
            padding-right: 60px;
            margin-left: 5px;
            
            @include bp(large) {
                height: 470px;
            }

            @include bp(xlarge) {
                margin-left: -170px;
            }

            .content {
                margin-left: 5px;

                @include bp(small) {
                    padding: 0;
                    padding-top: 160px;
                    padding-right: 145px;
                }

                @include bp(medium) {
                    padding: 100px 175px 0 0;
                }

                @include bp(large) {
                    padding: 150px 215px 0 0;
                }

                @include bp(xlarge) {
                    padding: 154px 224px 0 180px;
                }
            }

            h1 {
                font-size: 26px !important;
                margin-bottom: 5px;

                @include bp(medium) {
                    font-size: 28px !important;
                }

                @include bp(xlarge) {
                    font-size: 46px !important;
                }
            }

            p {
                font-size: 14px;
                line-height: 20px;

                @include bp(large) {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            .btn {
                width: 186px;
                font-size: 16px;
                padding: 7px 20px;
                margin-top: 0;
            }

            .tp-icon {
                display: block;
                margin-top: 20px;

                @include bp(small) {
                    margin-top: 0;
                }
            }

            img.trustpilot {
                margin: 0;
                height: 24px;

                &.desk {
                    display: none;

                    @include bp(small) {
                        display: block;
                    }
                }

                &.tp-mob {
                    @include bp(small) {
                        display: none;
                    }
                }
            }
        }
    }

    img {
        position: absolute;
        top: 0;
        width: 742px;
        height: 552px;
        left: 165px;

        &.derek-pic {
            display: none;

            @include bp(xlarge) {
                display: block;
                width: 100px;
                height: auto;
                right: calc(0% + 50px);
                left: unset;
                top: 40px;
            }
        }

        &.plant-pic {
            display: none;

            @include bp(xlarge) {
                display: block;
                left: 0%;
                right: unset;
                width: 140px;
                height: auto;
                bottom: 0;
                top: unset;
                z-index: 999999;
            }
        }
    }

    .left-part {
        text-align: center;
        z-index: 99;
        margin: 0 auto;
        padding-top: 30px;
        height: auto;
        max-width: 330px;

        @include bp(small) {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-image: url('/images/site/1in100-gradientbg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 600px;
            height: 520px;
            margin-top: -150px;
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }

        @include bp(medium) {
            text-align: left;
            width: 500px;
            height: 420px;
            margin-left: unset;
            margin-right: unset;
            top: 20px;
            max-width: unset;
            margin-top: -95px;
        }

        @include bp(large) {
            height: 669px;
            width: 623px;
            margin-top: -140px;
            top: unset;
        }

        @include bp(xlarge) {
            width: 769px;
            height: 723px;
            display: inline-block;
            margin-right: -135px;
            margin-left: -170px;
            top: -94px;
        }

        .content {
            padding: 0;
            color: $color-black;
            font-size: 16px;
            padding-top: 0;

            @include bp(small) {
                padding: 0 76px;
                padding-top: 165px;
                position: absolute;
                position: initial;
                max-width: 450px;
                margin: 0 auto;
            }

            @include bp(medium) {
                padding: 0 95px;
                padding-top: 78px;
                position: absolute;
                max-width: unset;
            }

            @include bp(large) {
                font-size: 20px;
                padding: 0 115px;
                padding-top: 155px;
            }

            @include bp(xlarge) {
                padding: 0 175px;
                padding-top: 155px;
                margin: 0 auto;
                height: auto;
            }
        }

        h1 {
            font-size: 36px !important;
            color: $color-red;
            font-weight: $bold;
            font-family: $secondary-font;

            @include bp(medium) {
                font-size: 28px !important;
            }

            @include bp(large) {
                font-size: 38px !important;
            }

            @include bp(xlarge) {
                font-size: 51px !important;
            }


        } //h1

        p {
            font-size: 18px;
            line-height: 26px;
            color: $color-black;

            @include bp(medium) {
                line-height: 22px;
            }

            @include bp(large) {
                font-size: 20px;
                line-height: 26px;
            }
        }

        .btn {
            width: 100%;
            margin-top: 0;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 0;

            @include bp(small) {
                margin: 0;
                width: auto;
                font-size: inherit;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            &:nth-of-type(2) {
                float: none;
                margin-top: 10px;
                margin-bottom: 0;

                @include bp(small) {
                    float: right;
                    margin-top: 15px;
                }

                @include bp(medium) {
                    margin-top: 20px;
                    margin-right: 55px;
                }

                @include bp(large) {
                    margin-top: 10px;
                    margin-right: 0;
                }

                @include bp(xlarge) {
                    margin-top: 20px;
                    margin-right: 55px;
                }
            }
        }

        img {
            height: 30px;
            width: auto;
            position: initial;
            margin-top: 15px;
            display: block;

            &.trustpilot {
                margin-top: 10px;
                height: 23px;
                margin-left: auto;
                margin-right: auto;

                @include bp(medium) {
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 0;
                    height: 30px;
                    margin-top: 10px;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
            margin-left: 30px;
            margin-bottom: 20px;

            @media (max-width:767px) {
                margin-left: 25px;
            }

            li {
                font-size: 20px;
                letter-spacing: 0.010em;
                color: $color-black;
                font-weight: $semibold;
                margin-bottom: 10px;
                position: relative;

                @media (max-width: 767px) {
                    font-size: 16px;
                }

                &:before {
                    content: "";
                    background: url(../images/site/check-icon.png) no-repeat center/cover;
                    font-size: 20px;
                    width: 1em;
                    height: 1em;
                    display: inline-block;
                    position: absolute;
                    left: -30px;
                    top: 5px;
                } //:before

            } //li

        } //ul

    } //.left-part

    .right-part {
        padding-top: 25px;
        text-align: center;

        @include bp(small) {
            background-image: url("/images/site/orange-circles.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            bottom: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: -160px;
            padding: 0;
            width: 600px;
            height: 520px;
            position: relative;
            right: unset;
            max-width: 100%;
        }

        @include bp(medium) {
            width: 457px;
            height: 490px;
            right: -50%;
            display: inline-block;
            bottom: 68px;
        }

        @include bp(large) {
            bottom: 264px;
            width: 557px;
            height: 590px;
        }

        @include bp(xlarge) {
            width: 637px;
            height: 670px;
            right: -15%;
            bottom: -8%;
            margin: 0;
        }

        .banner-icons {
            width: 275px;
            height: auto;
            position: initial;
            margin: 0 auto;
            margin-top: 53px;

            @include bp(small) {
                display: block;
                margin: 0 auto;
                margin-top: 100px;
                padding-top: 86px;
            }

            @include bp(medium) {
                width: 280px;
                margin-top: 105px;
                padding-top: 0;
            }

            @include bp(large) {
                width: 400px;
                margin-top: 42px;
            }

            @include bp(xlarge) {
                width: 450px;
                margin-top: 55px;
            }

            &.special-offer {
                margin-top: 76px;

                @include bp(small) {
                    padding-top: 126px;
                }

                @include bp(medium) {
                    padding-top: 44px;
                }
            }
        }

        .guy-in-chair {
            width: 250px;
            margin-top: -14px;
            display: block;
            margin: 0 auto;
            position: initial;
            height: auto;

            @include bp(small) {
                padding-top: 110px;
                margin-top: 100px;
            }

            @include bp(medium) {
                width: 280px;
                margin-top: -8px;
            }

            @include bp(large) {
                width: 390px;
                margin-top: -60px;
            }

            @include bp(xlarge) {
                margin-top: 0px;
            }
        }

        figure {
            &:first-of-type {
                margin-right: 0;
            }
        } //figure

        .boiler-img {
            width: 280px;

            img {
                max-width: 80%;
            }
        } //.boiler-img

        .item {
            padding: 0;
            margin: 0 15px;
        }

        .video-part {

            .item {
                padding: 0;
                margin: 0 15px;
                display: block;
                @include border-radius(7px);
                overflow: hidden;
                -webkit-box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.2);
                box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.2);

                img {
                    @include transition(all 0.3s ease);
                    display: block;
                } //img

            } //.item

            .play-btn {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                font-size: 50px;
                width: 1em;
                height: 1em;
                color: $color-white;
            } //.play-btn

        } //.video-part

        .lion-img {
            width: 300px;
        } //.lion-img
        
    } //.right-part

    .price-match {
        background-repeat: no-repeat;
        width: 75px;
        height: 100px;
        position: absolute;
        right: 15%;
        z-index:99;
        background-size: contain;
        background-image: url(/images/site/best-price-icon.png);
        top: -2%;
        display: none;

        @include bp(medium) {
            width: 106px;
            height: 142px;
            right: 5%;
            top: -4%;
            display: block;
        }

        @include bp(large) {
            right: 17%;
        }
    }
} //.c-hero-section