/* ==========================================================================
   #HOW-IT-WORKS-VIDEO
   ========================================================================== */

.c-how-it-works-video {
    div {
        width: 300px;
        height: 160px;
        margin: 0 auto;

        @include bp(medium) {
            width: 650px;
            height: 350px;
        }
        
        @include bp(large) {
            width: 1000px;
            height: 520px;
        }
        
        iframe {
            height: 100%;
            border-radius: 8px;
        }
    }
}