/* ==========================================================================
   #INTEREST-FREE
   ========================================================================== */
.c-interest-free {
    background-color: #00b67a;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;

    &.black-friday {
        background-color: $color-red;
    }

    p {
        font-size: 12px;

        @include bp(medium) {
            font-size: 14px;
        }

        @include bp(large) {
            font-size: 16px;
        }
        
        span {
            font-weight: $semibold;
        }
    }

    &.mobile {
        display: block;

        @include bp(medium) {
            display: none;
        }
    }

    &.desktop {
        display: none;

        @include bp(medium) {
            display: block;
        }
    }

    &.black-friday {
        background-color: $color-red;
    }
}