.job-detail-sec {
    .confirm-block {
        @include flex(1 0 auto);

        form {
            display: inline-flex; 
            vertical-align: top;
        }

        a {
            margin: 0 0 0 10px;
        }
    }

    .declined-message {
        border: 1px solid #b92100; 
        padding: 10px; 
        position: relative; 
        max-width: 98%; 
        margin: 0 auto;
        
        p {
            color: #b92100;
        }

        .close-btn {
            position: absolute; 
            right: -7px; 
            top: -7px; 
            cursor: pointer; 
            background-color: $color-white;

            &:hover {
                color: $color-orange;
            }
        }
    }

    .success-message {
        border: 1px solid #28a745; 
        padding: 10px; 
        position: relative; 
        max-width: 98%; 
        margin: 0 auto;

        p {
            color: #28a745;
        }

        .close-btn {
            position: absolute; 
            right: -7px; 
            top: -7px; 
            cursor: pointer; 
            background-color: $color-white;

            &:hover {
                color: $color-orange;
            }
        }
    }
}

.property-details {
    padding: 20px; 
    border: 1px solid #d3d3d3;
    @include border-radius(5px);

    li {
        list-style: disc;
    }

    header {
        @include flexbox; 
        align-items: flex-start; 
        justify-content: space-between;
    }
}

.job-property-data {
    .job-product-list {
        li {
            color: #525252;
            font-weight: $bold; 
            line-height: 1.4;
            padding: 8px 10px; 
            border-right: 1px solid #dbdbdb; 
            width: 50%;



            &:nth-child(4n-7),
            &:nth-child(4n+2) {
                background-color: #f6f5f3;
            }

            &:nth-child(even) {
                border-right: 0;
            }

            .survey-label {
                font-weight: $bold;
                font-size: 15px; 
                flex-basis: 300px;
                line-height: 1.3; 
                @include flex(1 0 70%);
                padding-right: 5px;

                @media (max-width:767px) {
                    font-size: 12px;
                }
            }

            .survey-value {
                font-size: 15px;
                font-weight: $regular; 
                position: relative; 
                @include flex(1 0 40%);
                padding-left: 10px;

                @media (max-width:767px) {
                    font-size: 12px;
                }

                &:before {
                    content: ":"; 
                    display: inline-block;
                    font-weight: $bold; 
                    position: absolute; 
                    left: 0;
                }
            }
        } // li
    } // .job-property-list
} // .job-property-data

.property-details label{margin-bottom: 0;}

ul.list-style{margin: 0 0 0 20px;}
ul.list-style > li{list-style: outside disc;}

ol{margin: 0 0 0 25px;}
ol > li{list-style: outside decimal;}

.comments .comment-reply{ border-top: 1px solid #d3d3d3;padding-top: 1rem;}
.comments .comment{ border-bottom: 1px solid #d3d3d3;padding-bottom: 1rem;}
.comments .comment-meta {font-weight: $bold;}
.comments .comment-meta span{font-weight: $normal;}
.comments .comment-body p{margin-bottom: 0;}

.comments ul ul{margin-left: 30px;}
.comments ul li{margin-bottom: 10px;padding-top: 5px;padding-left: 3px;font-size: 14px;}
.comments ul li {
    @media (max-width:640px) {
        font-size: 12px;
    }
}
.comments ul li .comment-text{ margin: 3px 0;}
.comments ul li .comment-text p { font-size: 14px;}
.comments ul li .reply{position: relative;}
.comments ul li .reply:before{content: "\f3e5"; font-family: Font Awesome\ 5 Pro;font-weight: $bold;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;line-height: 1; font-size: 14px; margin-right: 6px;}
.comments ul li .comment-heading span{color: $color-black;}

.detail-page span.divido-widget-launcher {pointer-events: none; } 
.detail-page span.divido-widget-launcher a {text-align: left; } 
.detail-page span.divido-widget-launcher:before {display: none; }
.alert.alert-error {padding-left: 0; font-size: 17px; color: #ff0000; }
.remove-pointer-event{pointer-events: none;}
.reset-link .reset-btn {border: 2px solid $color-orange;font-size: 16px;padding: 7px 30px 7px 45px;line-height: 2;@include border-radius(10px);font-weight: $semibold;display: inline-block; margin-top: 40px;background-image: url(/images/site/reset-icon-3-orange.svg); background-repeat: no-repeat; background-size: 16px; background-position: 21px 14px;}
.reset-link .reset-btn:hover {background-color: $color-orange; color: $color-white; text-decoration: none;background-image: url(/images/site/reset-icon-3-white.svg);}
#summary_accordion .reset-link a {text-decoration: none; font-style: normal;}
