/* ==========================================================================
   #KEYWORD-SEC
   ========================================================================== */

.c-keyword-sec {
	padding: 60px 0;

	h2 {
		color: $color-red;
	}

	.item {
		flex-direction: column;
		width: 100%;

		&:nth-child(1) {
			@include bp(medium) {
				width: 60%;
				margin-bottom: 20px;
			}
		}

		&:nth-child(2) {
			align-items: center;

			@include bp(medium) {
				width: 35%;
				height: 0;
				
				img {
					width: 80%;
				}
			}
		}

		&:nth-child(3) {
			@include bp(medium) {
				width: 60%;
			}
		}
	}

	.btn {
		max-width: 300px;
	}
}