.list {
    li {
        
        position: relative;
        padding-left: 20px;
        color: #525252;
        margin-bottom: 5px;
        line-height: 1.5;
        font-weight: $light;

        @media (max-width:640px) {
            font-size: 15px;
        }
        
        i {
            font-size: 20px;
            color: $color-orange;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}