.content-block {
    background-color: #fff5ce !important;
    color: #525252 !important;
    font-size: 12px !important;
	font-family: 'Proxima Nova' !important;
	position: absolute;
	z-index: 9999999;
	max-width: 320px;
	@include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px);

	&.checkout {
		position: initial;
		box-shadow: initial;
		max-width: none;
	}

	.header {
		background-color: #ffcc09 !important;
		color: #000 !important;
		font-size: 20px !important;
		padding: 10px 20px;
		font-weight: 600;

		.close {
			width: 2em;
			height: 2em;
			@include flexbox;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			color: $color-orange !important;
			border: 1px solid $color-orange;
			background-color: $color-white;
			@include border-radius(100%); 
		}
	}

	.content {
		padding: 15px;

		label {
			font-weight: $bold;
			margin-bottom: 5px;
			font-size: inherit;
			color: #525252 !important;
		}

		select {
			border: 1px solid $color-orange;
			border-radius: 5px;
			height: 30px;
			padding: 5px;
		}

		.text-center {
			text-align: left !important;
		}

		input[type="range"] {
			width: calc(100% - 30px) !important;
		}
	}

	.data {
		margin-top: 15px;
	}

	.modal-content {
		padding: 0;
		background-color: transparent;
		border: 0;
	}

	.close {
		top: 10px;
		right: 10px;
		opacity: 1;
	}

	.modal-body {
		padding: 0;
		margin-bottom: 20px;
	}

	.modal-dialog {
		margin: 0;
	}

	.quotes {
		display: block;
	}

	.duration {
		padding: 10px 20px;
		font-weight: $semibold;

		select {
			border: 1px solid $color-orange;
			border-radius: 5px;
			height: 30px;
			padding: 5px 5px;
			margin-top: 5px;
			width: 100%;
		}
	}

	.deposits {
		padding: 10px 20px;
		font-weight: $semibold;

		input[type='range'] {
			width: calc(100% - 40px);
			display: inline-block;
			padding: 0;
			-webkit-appearance: none;
			height: 3px;
			background: #d3d3d3;
			-webkit-transition: .2s;
			transition: opacity .2s;

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 15px;
				height: 15px;
				border-radius: 50%; 
				background: #ed7622;
				cursor: pointer;
			}

			&::-moz-range-thumb {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background: #ed7622;
				cursor: pointer;
			}
		}

		.percentage {
			vertical-align: top;
			margin-left: 10px;
		}
	}

	table {
		thead {
			tr th {
				padding: 10px 0;
			}
		}

		tr td {
			padding: 5px 10px 5px 0;
		}
	}
}