.c-logo-strip {
    width: 100%;
    color: $color-white;
    background-image: url('/images/site/logo-strip-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;

    &__logos {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    h3 {
        color: $color-yellow;
        text-align: center;
        font-weight: $regular;
        margin: 0;
        padding-top: 15px;

        @include bp(medium) {
            float: left;
            width: 34%;
            line-height: 77px;
            font-size: 24px;
            padding: 0;
        }

        @include bp(large) {
            font-size: 28px;
            line-height: 145px;
        }

        @include bp(xlarge) {
            font-size: 40px;
        }
    }

    img {
        width: 200px;
        vertical-align: middle;
        margin-left: 25px;

        @include bp(large) {
            margin-top: 15px;
        }
    }
}