/* ==========================================================================
   #MAIN-FOOTER
   ========================================================================== */

.main-footer {
    width:100%; 
    height:auto; 
    background:#212121; 
    line-height: normal; 
    color: #a9a9a9;
    padding-bottom: 32px;

    @include bp(medium) {
        padding-bottom: 0;
    }

    p {
        font-size: 14px;
    }

    .title {
        * {
            color: #ecb808;
        }
    } // .title

    ul {
        li {
            font-size: 16px;
            letter-spacing: 0.001em;
            padding: 5px 0;
            width: 48%;
            display: inline-block;

            @include bp(small) {
                width: 100%;
                display: block;
            }

            a {
                color: #a9a9a9;
                line-height: 1.3;
            } //a

        } //li
    }// ul

    .input-group {
        input, button {
            height: 42px;
        }
    }

    input {
        &:focus {
            border: 0; 
            background-color: #4d4d4d; 
            color: #b5b5b5; 
            font-size: 14px;
            letter-spacing: 0.001em;
        }
    } // input

    .form-control {
        border: 0; 
        background-color: #4d4d4d; 
        color: #b5b5b5; 
        font-size: 14px;
        letter-spacing: 0.001em;
    } //.form-control

    &::-webkit-input-placeholder {
        opacity: 1 !important; 
        color: #b5b5b5;
    }

    &:-moz-placeholder {
        opacity: 1 !important; 
        color: #b5b5b5;
    }

    &::-moz-placeholder {
        opacity: 1 !important; 
        color: #b5b5b5;
    }

    &:-ms-input-placeholder {
        opacity: 1 !important; 
        color: #b5b5b5;
    }

    .newsletter-part {
        max-width: 470px;
    } //.newsletter-part

    .newsletter-form {
        max-width: 320px;

        p {
            font-size: 16px;
            letter-spacing: 0.001em;
            color: #a9a9a9;
        }
    } //.newsletter-form

    .footer-social {
        a {
            width: 34px; 
            height: 34px;
            display: inline-flex; 
            background-color: #8e8e8e; 
            color: #212121;
            font-size: 0;
            @include border-radius(100%);
            @include transition(all 0.3s ease);
            
            &:hover {
                text-decoration: none; 
                background-color: #ecb808;
            } //:hover

            i {
                font-size: 18px;
            }
        } //a
    } //.footer-social

    .contact-us {
        max-width: 245px;

        .contact-data {
            padding-top: 10px;
        }

        p {
            font-size: 16px;
            color: #a9a9a9;
            padding-left: 30px; 
            position: relative;
            margin-bottom: 15px;
            line-height: 1.5;

            a {
                color: inherit;
            }

            i {
                color: #ecb808;
                width: 20px;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    } //.contact-us

    .top-footer {
        padding-bottom: 50px;
    } //.top-footer

    .copy-right-part {
        padding: 19px 0;
        
        .container {
            justify-content: left !important;

            @include bp(medium) {
                justify-content: space-between !important;
            }
        }

        p {
            font-size: 14px;
            margin-bottom: 7px;
            line-height: 1.5;
            width: 100%;

            @include bp(medium) {
                width: auto;
            }

            a {
                color: #a2a2a2;
                display: inline-block;
                width: 48%;
                margin-bottom: 7px;

                @include bp(medium) {
                    display: inline;
                    margin-bottom: 0;
                }

                &:after {
                    @include bp(medium) {
                        content: "|"; 
                        display: inline-block; 
                        margin: 0 12px;
                    }
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    } //.copy-right-part

} // .main-footer

