/* ==========================================================================
   #MAIN-HEADER
   ========================================================================== */

.main-header {
    width: 100%;
    height: auto;

    .top-header {
      border-bottom: 1px solid #e5e5e5;

      @media (max-width:767px) {
        display: none;
      }

      .contact-link {
        border-left: 1px solid #e5e5e5;

        @media (max-width:640px) {
          width: 100%;
          border-left: 0; 
          border-bottom: 1px solid #e5e5e5;
        }

        p {
          font-size: 16px;
          padding: 10px 20px;
          border-right: 1px solid #e5e5e5;
          margin-bottom: 0;
          display: inline-flex;
          align-items: center;

          &:first-child {
            border-left:1px solid #e5e5e5;
          }

          @media (min-width:768px) and (max-width:1023px) {
            font-size: 14px;
            padding: 10px;
          }

          @media (max-width:767px) {
            padding: 7px 10px; 
            font-size: 13px;
          }

          @media (max-width:640px) {
            width: 50%;
            justify-content: center;
            font-size: 11px; 
            padding: 3px 5px;
          }

          a {
            color: #777;
            margin-left: 3px;
          }

          strong {
            color: #2a2934;
            font-size: 1.1em;
          }
        }
      } //.contact-link

      .account-link {
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;

        @media (max-width:640px) {
          width: 100%;
        }

        .my-account {
          padding: 0;
          display: inline-block;
          border-right: 1px solid #e5e5e5;

          @media (max-width:640px) {
            width: 50%;
            justify-content: center;
          }

          .dropdown-toggle {
            background-color: transparent;
            color: #525252;
            font-size: 16px;
            text-transform: none;
            font-weight: normal;

            @media (max-width:640px) {
              font-size: 13px; 
              height: 30px;
            }
          }
        }

        .login-section {
          @include flexbox;
          justify-content: space-between;
          align-items: center;
          border-right: 1px solid #e5e5e5;

          a {
            color: #525252;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            padding: 0 10px;

            @media (min-width:768px) and (max-width:1023px) {
              font-size: 14px;
            }
          } //a

        } //login-section

        .social-link {
          padding: 0 10px;

          @media (max-width: 640px) {
            width: 50%;
            justify-content: center;
          }

          a {
            padding: 10px;
            width: 35px;
            height: 35px;
            display: inline-flex;
            justify-content: center;
            color: #b2b2b2;
            align-items: center;
            @include transition(all 0.3s);
            font-size: 0;

            @media (max-width:640px) {
              width: 30px; 
              height: 30px;
            }

            i {
              font-size: 16px;
            }
          } //a

        }//.social-link

      } //.account-link

      @media (max-width: 767px) {
        display: none;
      }

    } //.top-header

    .bottom-header {
      
      .navbar {

        .navbar-brand {
          max-width: 275px;
          padding-top: 0.83rem;
          padding-bottom: 0.83rem;
          width: 275px;

          @media (max-width: 1199px) {
            max-width: 180px;
            width: 180px;
          }

          @media (max-width: 640px) {
            max-width: 150px;
            width: 150px;
          }
        } //.navbar-brand

        .navbar-nav {
          margin-right: 10px;
        } //.navbar-nav

        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 16px;
            font-weight: $semibold;
            margin-right: 18px;

            @media (min-width:1024px) and (max-width:1199px) {	
              margin-right: 10px;
            }
            
            .nav-link {
              color: #525252;
              @include transition(all 0.3s ease);
              position: relative;

              &:hover {
                background-color: #f3f4f5;
              }

              &.faqs, &.blogs, &.how-it-works {
                &:after {
                  font-family: warmzilla-icon;
                  font-size: 0.5em;
                  content: "q";
                  margin-left: 10px;
                }
              }
            } //.nav-link

            &:last-of-type {
              margin-right: 0;
            }
          } //li

          &.submenu {
            box-shadow: 0 2px 6px 0 rgba(41,70,97,.2);
            background-color: #fff;
            display: none;
            position: absolute;
            top: 100%;
            z-index: 999;

            li {
              margin-right: 0; 

              a {
                padding-right: 1.5rem;
              }
            }

            &.open {
              display: block;
            }
          }
        } //ul

        .btn {
          font-size: 16px;
          margin-left: 20px;
        }

      } //.navbar
    } //.bottom-header
} 
