/* ==========================================================================
   #MESH-CONTAINER
   ========================================================================== */

.c-mesh-container {
    background-image: url('/images/site/black-mesh-bg.jpg');
    background-size: auto;
    color: $color-white;
    padding-top: 4rem !important;
    padding-bottom: 5rem !important;

    @include bp(medium) {
        padding-top: 6rem !important;
        padding-bottom: 7rem !important;
    }

    .container {
        position: relative;
    }

    h2 {
        text-align: center;
        color: $color-yellow;
        line-height: 1.7;
        
        @include bp(medium) {
            text-align: left;
            line-height: 1.5;
        }
    }

    p {
        text-align: center;

        @include bp(medium) {
            text-align: left;
        }
    }

    &__devices {
        position: absolute;
        background-image: url('/images/site/devices.png');
        background-repeat: no-repeat;
        background-size: cover;

        @include bp(medium) {
            height: 589px;
            width: 300px;
            top: 50px;
            right: 20px;
        }

        @include bp(large) {
            right: 75px;
            height: 839px;
            width: 420px;
            top: 0;
        }
    }
}