/* ==========================================================================
   #MISSION-STATEMENT
   ========================================================================== */

.c-mission-statement {
    border: 3px solid $color-red;
    padding: 40px;
    background-color: $color-white;
    margin-bottom: 20px;
    margin: 0 20px 10px 20px;

    @include bp(medium) {
        margin: -100px 0 10px 0;
    }

    img {
        margin: 0 auto;
        width: 65px;
        display: block;
        margin-bottom: 20px;
    }

    p {
        color: $color-red;
        line-height: 1.8;

        span {
            color: initial;
        }
    }
    
}