.mobile-nav {
    .nav-backdrop {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.8);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.4s ease-in);
    } //.nav-backdrop

    .nav-logo {
        padding: 15px;
    } //.nav-logo
    
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width:80%;
        height: 100%;
        background-color: #3ab4a6;
        max-width: 450px;
        @include transition(all 0.3s ease-in-out);
        z-index: 999;

        .menu-outer {
            max-height: calc(100vh - 80px);
            overflow-y: auto;
            padding-bottom: 60px;

            .quick-icons {
                padding: 20px;
                text-align: center;
                margin-bottom: 30px;

                a {
                    border: 2px solid white;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    line-height: 80px;
                    margin-right: 20px;
                    position: relative;

                    i {
                        font-size: 31px;
                    }

                    span {
                        font-size: 16px;
                        left: 50%;
                        bottom: -27px;
                        position: absolute;
                        line-height: 1;
                        margin-left: -30px;
                        width: 100%;
                    }

                }
            }
        }

    } //.menu

    &.is-open {

        .menu {
            left: 0;
        }

        .nav-backdrop {
            opacity: 1;
            z-index: 999;
            visibility: visible;
        }
    } //&.is-open

    .menu-outer {

        ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;

            &.active {
                a {
                    background-color: $color-black;
                }
            }

            &.header-social-links {
                a {
                    display: inline-block;
                    vertical-align: middle;
                    border: 0;
                    font-size: 0;

                    i {
                        font-size: 22px;
                    }
                }
            }

            a {
                display: block;
                padding: 14px 30px;
                cursor: pointer;
                z-index: 2;
                font-size: 22px;
                text-decoration: none;
                color: $color-white;
                border-bottom: 1px solid $color-white;
            }
        } //ul, li
    } //.menu-outer
}

#mobilenav .caret{display: block;width: 36px;height: 36px;position: absolute;top: 3px;right: 2px;cursor: pointer;}
#mobilenav .caret:not(.trigger-caret){pointer-events: none;}
#mobilenav .caret:before,
#mobilenav .caret:after{content:'';position: absolute;top: 0;left: 0;bottom: 0;right: 0;display: block;margin: auto; width: 20px;height: 2px;background: $color-white;}
#mobilenav .caret:after{@include transform(rotate(-90deg));@include transition(all .2s ease);}
#mobilenav .is-open > .caret:after{@include transform(rotate(0));}
#mobilenav .has-sub>a{padding-right: 40px;}
#mobilenav li li a { padding-left: 30px; font-size: 14px;text-decoration: none;color: #dddddd;background: #49505a; }
#mobilenav li li li a {padding-left: 50px;}

