/* ==========================================================================
   #MY-NEW-JOBS
   ========================================================================== */

.c-my-new-jobs {
    .row {
        .row {
            background-color: transparent;
            width: 100%;
        }
    }

    .entry_data {
        padding: 0 !important;

        @include bp(small) {
            padding: 1rem !important;
        }
    }

    .item {
        @include border-radius(5px);
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;

        @include bp(small) {
            padding: 20px;
        }

        @include bp(medium) {
            padding: 30px 40px;
        }

        figure {
            @include border-radius(inherit);
            overflow: hidden; 
            display: inline-flex;
            flex-basis: 10%;

            @media (max-width:640px) {
                margin: 0 auto 15px auto;
                display: none;
            }
        } //figure

        .product-name {
            flex-basis: 100%;
            margin: 0;

            @include bp(medium) {
                flex-basis: 84%;
            }

            @include bp(large) {
                flex-basis: 52%;
            }

            h3 {
                font-size: 26px;
                font-weight: $semibold;
                width: auto !important;
                text-decoration: none;
                margin-left: 0;
                margin-bottom: 5px;

                @media (max-width:640px) {
                    font-size: 18px;
                }
            }

            a {
                color: $color-black;
                text-decoration: underline;
            }

            .new-comment {
                color: $color-red;
                border: 1px solid $color-red;
                text-align: center;
                @include border-radius(10px);
                font-size: 14px;
                padding: 10px;
                margin-top: 20px;
                display: block;
                max-width: 220px;

                @media (max-width:640px) {
                    margin-top: 10px;
                    padding: 7px;
                }
            }
        }

        section {
            margin: 0 -20px !important;

            @include bp(medium) {
                margin: 0 -40px !important;
            }
        }
    }

    .center-desc {
        @include flex(1);
    }

    .install-address, .install-date, .property-data, .job-summary, .engineer-assigned, .comments, .customer-uploads, .installation-checklists {
        border: 1px solid #d3d3d3;
        overflow: hidden;
        @include border-radius(10px);
        width: 260px;

        @media (max-width:767px) {
            flex-basis: 100%;
            width: auto;
            margin-right: 0;
        }

        .row {
            background-color: $color-white;

            .row {
                background-color: transparent;
            }
        }

        .row-heading {
            font-weight: $bold;
            font-size: 16px;

            .data-item {
                font-size: 15px;
            }

            a {
                font-size: 10px;
                position: absolute;
                right: 15px;
                top: 7px;
                border-radius: 0.25rem;
            }
        } //.row-heading

        .data-item {
            padding: 0.63em 0.7em;
            font-size: 14px;
            color: #525252;

            @media (max-width:767px) {
                font-size: 12px;
            }

            p {
                font-size: 14px;
                margin-bottom: 10px;

                @media (max-width:767px) {
                    font-size: 12px;
                }
            }
        } //.data-item

        .data-view {
            @media (max-width:640px) {
                width: 100%;
            }

            @media (max-width:576px) and (orientation:portrait) {
                flex-direction: column;
                border-top: 0;
            }
        }
    } //.install-address

    .install-address {
        flex-basis: 100%;
        width: auto;
        margin: 0;
        margin-bottom: 0 !important;

        @include bp(large) {
            flex-basis: 37%;
            margin-bottom: 1rem !important;
        }

        .row-heading {
            @media (max-width:640px) {
                display: block !important; 
            }
        }

        .data-item {
            &:before {
                content: none;
            }
        }

        @media (min-width:1024px) and (max-width:1199px) {	
            .install-address{flex-basis: 50%;}
        }
    }

    .job-summary {
        flex-basis: 100%;
        width: auto;
        margin: 0;

        @include bp(large) {
            flex-basis: 33%;
        }
    }

    .engineer-assigned {
        flex-basis: 100%;

        @include bp(medium) {
            flex-basis: 50%;
        }

        @include bp(large) {
            flex-basis: 33%;
        }
        
        .row-heading {
            @media (max-width:640px) {
                display: block !important; 
            }
        }

        .data-item {
            &:before {
                content: none;
            }
        }

        select {
            border: 1px solid $color-orange;
            font-weight: $semibold;
            @include border-radius(8px);
            padding: 7px 10px;
            width: 75%;

            option {
                font-weight: $semibold;
                padding: 7px 10px;
            }
        }

        .engineer-icon {
            vertical-align: middle;
            width: 65px;
            margin-right: -5px;
            margin-left: -13px;
        }

        .btn {
            float: right;
            font-size: 12px;
            width: 120px;
            right: 21px;
            border-radius: 0.25rem;
            margin-bottom: 15px;
            margin-top: 5px;
        }
    }

    .install-date {
        flex-basis: 100%;
        margin-bottom: 0 !important;

        @include bp(medium) {
            flex-basis: 48%;
            margin-bottom: 1rem !important;
        }

        @include bp(large) {
            flex-basis: 27%;
        }

        .row-heading {
            @media (max-width:640px) {
                display: block !important; 
            }
        }

        .data-item {
            &:before {
                content: none;
            }
        }
    }

    .job-status {
        font-weight: $bold;
        font-size: 1.2em;
        color: $color-black !important;

        span {
            color: $color-orange;
        }
    }

    .comments {
        width: 100%;
        flex-basis: 100%;

        .data-item {
            padding: 10px 20px;

            ul {
                margin-bottom: 10px;

                .comment-heading {
                    font-weight: $semibold;

                    span {
                        color: inherit;

                        strong {
                            font-weight: $semibold;
                        }
                    }
                }
            }
        }
    }

    

    .installation-checklists {
        width: 100%;
        flex-basis: 100%;

        .checklists {
            border-top: 1px solid rgba(0,0,0,0.2);
            margin-left: -0.7em;
            margin-right: -0.7em;
            margin-bottom: -0.7em;

            .col-xl-3 {
                border-bottom: 1px solid rgba(0,0,0,0.2);
                padding: 20px;

                @include bp(medium) {
                    border-right: 1px solid rgba(0,0,0,0.2);
                }

                &:nth-of-type(2) {
                    border-right: 0;

                    @include bp(xlarge) {
                        border-right: 1px solid rgba(0,0,0,0.2);
                    }
                }

                &:last-of-type {
                    border-right: 0;
                }

                .checklist {
                    width: 100%;

                    span {
                        font-weight: $semibold;
                        display: block;
                        color: inherit;
                    }

                    .btn {
                        font-size: 14px;
                        padding: 10px 0;
                        border-radius: 0;

                        span {
                            background-repeat: no-repeat;
                            width: 20px;
                            height: 20px;

                            &.jobs-review {
                                background-image: url(/images/site/jobs-review-white.svg);
                                margin-right: 5px;
                            }

                            &.post-install {
                                background-image: url(/images/site/completed-jobs-white.svg);
                                margin-right: 0;
                            }

                            &.gas-safety {
                                background-image: url(/images/site/gas-safety-icon-white.svg);
                                margin-right: 5px;
                            }

                            &.tick {
                                background-image: url(/images/site/tick-inside-circle.svg);
                                margin-right: 10px;
                            }

                            &.view {
                                background-image: url(/images/site/view-magnifier.svg);
                                margin-right: 10px;
                            }

                        }
                    }
                }
            }
        }
    }

    .property-data {
        flex-basis: 100%;
        width: auto;
        margin: 0;

        @include bp(large) {
            flex-basis: 65%;
        }

        .row-heading {
            @media (max-width:640px) {
                display: block !important; 
            }
        }

        .data-item {
            &:before {
                content: none;
            }
        }
    }

    .customer-uploads-form {
        display: none;
    }

    .engineer-image-uploads {
        display: none;
    }

    .customer-uploads {
        width: 100%;

        .photos {
            border-top: 1px solid rgba(0,0,0,0.2);
            margin-left: -0.7em;
            margin-right: -0.7em;
            
            .col-3 {
                border-right: 1px solid rgba(0,0,0,0.2);
                padding: 20px;

                &:last-of-type {
                    border-right: 0;
                }

                .photo {
                    span {
                        font-weight: $semibold;
                        display: block;
                        margin-bottom: 5px;
                    }

                    figure {
                        width: 100%;
                    }
                }
            }
        }
    }

    .job-detail-body {
        .row {
            background-color: $color-white;
        }
    }

    .status-update {
        flex-basis: 100%;
        margin: 0;
        text-align: center;
        margin-top: 15px;

        &.alt {
            margin-top: 0;

            .btn {
                float: none;

                @include bp(medium) {
                    margin-bottom: 1rem;
                }

                @include bp(large) {
                    float: left;
                }
            }
        }

        @include bp(large) {
            flex-basis: 33%;  
        }

        .confirm-block { 
            margin: 0 auto;
            width: 100%;
        }

        .status-show {
            border: 1px solid $color-orange;
            color: #525252;
            font-size: 16px;
            padding: 10px 20px;
            display: inline-block;
            line-height: 1.2;
            @include border-radius(20px);
            margin-right: 10px;
            min-width: 195px;
            text-transform: capitalize;

            @media (max-width: 640px) {
                min-width: auto;
                height: auto;
                padding: 6px 15px;
            }
        }

        form {
            width: 100%;
            margin-bottom: 10px;

            @include bp(medium) {
                margin-bottom: 0;
            }
        }

        .btn {
            @include bp(medium) {
                margin-bottom: 15px !important;
            }

            @include bp(large) {
                margin: 0 auto;
            }

            .tick {
                width: 22px;
                height: 22px;
                background-image: url(/images/site/tick-inside-circle.svg);
                background-repeat: no-repeat;
                margin-right: 10px;

                @include bp(medium) {
                    width: 25px;
                    height: 25px;   
                } 
            }

            .cross {
                background-image: url(/images/site/cross_icon.svg);
                background-repeat: no-repeat;
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }

            .view {
                background-image: url(/images/site/view-magnifier.svg);
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }

    .quote-header {
        color:$color-white;
        width:100%;
        font-size: 20px;
        padding: 10px;
        font-weight: $semibold;
        cursor:pointer;
        margin-bottom:10px;
        position:relative;

        img {
            width:25px;
            margin-left:10px;
        }

        .collapse {
            &:not(.show) {
                display: none !important;
            }
        }

        em {
            &.submenu-caret {
                @include flexbox;
                position: absolute; 
                right: 10px; 
                top: 50%; 
                width: 23px; 
                height: 23px;
                @include transform(translateY(-50%));
                @include transition(all 0.5s ease); 
                align-items: center; 
                cursor: pointer;
                @include border-radius(100%); 
                border: 2px solid $color-white;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    left: calc(50% - 7px);
                    width: 13px;
                    height: 3px;
                    background: $color-white;
                }

                &:after {
                    @include transform(rotate(0));
                    @include transition(all 0.5s ease);
                }

                &.collapsed {
                    &:after {
                        @include transform(rotate(90deg));
                    }
                }
            }
        } //em
    }
}

.reply-comment {
    font-size: 14px;
    padding: 0.67em 1.67em;
    float: right;
}

@media (max-width:640px) {
    .c-my-new-jobs .filter-by.inner-group{flex-direction: column;}
    .c-my-new-jobs .form-group .filter-by .form-box{width: 100% !important;}
    .c-my-new-jobs .price-slider{width: 100%;padding: 0; margin: 20px 0;}
    .c-my-new-jobs .filter-by.inner-group .custom-select{width: 100%;}
}

@media (max-width:767px) {
    .c-my-new-jobs .quote-header {font-size: 16px;}
}