/* ==========================================================================
   #MYSON-MODAL
   ========================================================================== */
   
.c-myson-modal {
    overflow-y: hidden;
    
    .modal-dialog {
        max-width: 1200px;
        margin: 15px;
        
        @include bp(medium) {
            margin: 20px;
        }

        @include bp(large) {
            margin: 0 auto;
        }

        .close {
            top: 10px;
            right: 10px;
            font-size: 2rem;

            .fal {
                color: $color-orange;
            }
        }

        .modal-content {
            padding: 30px;
        }

        .modal-body {
            max-height: none;
        }
    }

    .logo {
        width: 220px;
        margin-bottom: 20px;

        @include bp(large) {
            width: 270px;
            margin-bottom: 30px;
        }
    }

    .radiator {
        margin: 0 auto;
        display: block;
        margin-top: 30px;
        width: 65%;
        display: none;

        @include bp(medium) {
            margin-top: 140px;
            width: 100%;
            margin-left: 15px;
        }

        @include bp(large) {
            display: block;
        }
    }

    h3 {
        font-size: 22px;
        color: inherit;
        font-weight: $regular;
    }

    p {
        font-size: 15px;
    }

    .c-tick-list {
        font-size: 15px;

        @include bp(medium) {
            margin-top: 20px;
        }

        @include bp(large) {
            padding-left: 40px !important;
        }

        li {
            font-size: 15px;
        }
    }

    .icon {
        text-align: center;
        color: #f9a606;
    }

    .btn {
        border: 2px solid #e74436;
        color: #e74436;
        margin: 20px auto;
        display: block;
        max-width: 300px;

        &:hover {
            background-color: #e74436;
            color: $color-white;

            span {
                background-image: url('/images/site/go-arrows.svg');
            }
        }

        @include bp(large) {
            position: absolute;
            display: inline-flex;
            bottom: 0;
            left: 26%;
            margin: 0;
        }

        span {
            background-image: url('/images/site/go-arrows-red.svg');
            height: 24px;
            width: 35px;
            background-repeat: no-repeat;
            background-size: 42px;
            margin-top: -6px;
        }
    }

    .rad-small {
        width: 200px;
        margin-bottom: 20px;
        
        @include bp(medium) {
            float: right;
            margin-left: 20px;
            margin-top: -30px;
            margin-bottom: 0;
        }

        @include bp(large) {
            display: none;
        }
    }
}