/* ==========================================================================
   #MYSON-BANNER
   ========================================================================== */

.c-myson-banner {
    background-color: #9a9b9a;
    color: $color-white;
    text-align: center;
    position: relative;
    padding: 60px 0;

    @include bp(large) {
        background-image: linear-gradient(90deg, #9a9b9a 68%, #ec4435 20%);
        padding: 120px 0;
        text-align: left;
    }
    
    h2 {
        color: $color-white;
    }

    .logo {
        width: 178px;
        margin: 20px auto;

        @include bp(medium) {
            width: 230px;
        }

        @include bp(large) {
            width: 220px;
            margin: 0;
            margin-bottom: 20px;
        }
    }

    .rip {
        left: 0;
        position: absolute;
        width: 100%;
        max-width: none;

        &.top {
            top: 0;
            margin-top: 0;
        }

        &.bottom {
            bottom: -1px;
            transform: rotate(180deg) scaleX(-1);
        }
    }

    img {
        max-width: 370px;
        width: 100%;
        margin-top: 20px;

        @include bp(large) {
            max-width: 100%;
        }
    }
}