/* ==========================================================================
   #NEWSLETTER
   ========================================================================== */

   .c-newsletter {
       max-width: 470px;
       margin-bottom: 1rem;

       .c-newsletter__form {
           max-width: 320px;
           margin-bottom: 1.5rem;

           p {
               color: $color-fill;
           }

           .form-control {
               border: 0;
               background-color: #4d4d4d;
               color: #b5b5b5;
               font-size: 14px;
           }

           input {
               height: 42px;
           }
       }
   }