/* ==========================================================================
   #NEW-BOILER-BANNER
   ========================================================================== */

.new-boiler-banner {
    overflow: hidden;

    .text-part {
        margin-top: 50px; 
        position: relative;
        z-index: 1;

        @media (max-width:1199px) {
            margin-top: 30px;
        }

        h1 {
            color: $color-white;
            font-weight: $bold; 
            text-transform: uppercase;
            font-size: 40px; 
            text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35); 
            line-height: 1.05;

            @media (min-width:1024px) and (max-width:1199px) {	
                font-size: 3.16vw;
            }

            @media (min-width:768px) and (max-width:1023px) {
                font-size: 25px;
            }

            @media (max-width:767px) {
                font-size: 4vw;
            }

            @media (max-width:640px) {
                font-size: 24px;
            }
        }
    } //.text-part

    .desc {
        max-width: 430px;

        @media (min-width:768px) and (max-width:1023px) {
            max-width: 360px;
        }

        p {
            font-size: 22px; 
            color: $color-white;
            line-height: 1.35;

            @media (min-width:1024px) and (max-width:1199px) {
                font-size: 20px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                font-size: 16px;
            }

            @media (max-width:767px) {
                font-size: 14px;
            }

            @media (max-width:640px) {
                font-size: 16px;
            }
        }
    } //.desc

    .worth-tag {
        background-color: $color-black;
        display: inline-block; 
        font-size: 33px; 
        color: $color-white;
        font-weight: $bold; 
        line-height: 1.1; 
        text-transform: uppercase; 
        padding: 12px 28px 14px 28px;
        margin-top: 30px;
        margin-left: 125px;
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35);
        position: relative;
        z-index: 1;

        @media (min-width:1024px) and (max-width:1199px) {	
            margin-left: 80px;
            font-size: 28px;
        }

        @media (min-width:768px) and (max-width:1023px) {
            margin-left: 55px;
            font-size: 20px;
        }

        @media (max-width:767px) {
            font-size: 18px;
            margin-top: 20px;
            margin-left: 40px;
        }

        @media (max-width:640px) {
            margin: 0 -15px; 
            min-width: 100%;
            text-align: center;
            font-size: 34px;
            display: block;
        }

        span {
            font-size:10px;
            font-weight:$normal;
            vertical-align:7px;

            @media (max-width:1023px) {
                vertical-align:3px;
            }

            @media (max-width:640px) {
                vertical-align:7px;
            }
        }
    } //.worth-tag

    .banner-wrap {
        margin: 0 auto;
        position: relative;
        min-height: 380px; 
        padding: 40px 250px 40px 300px;

        @media (min-width:1024px) and (max-width:1199px) {	
            padding: 40px 250px 40px 240px; 
            min-height: 340px;
        }

        @media (min-width:768px) and (max-width:1023px) {
            padding: 20px 100px 20px 200px;
            min-height: 300px;
        }

        @media (max-width:767px) {
            padding: 20px 0px 20px 190px; 
            min-height: 260px;
        }

        @media (max-width:640px) {
            padding: 0;
        }

        .left-img {
            position: absolute; 
            bottom: 0; 
            left: -12px;

            @media (min-width:1024px) and (max-width:1199px) {
                max-width: 270px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                max-width: 250px;
            }

            @media (max-width:767px) {
                max-width: 220px;
            }

            @media (max-width:640px) {
                position: static;
                max-width: 100%; 
                text-align: center;
            }
        }

        .char-img {
            position: absolute; 
            right: -11%;
            bottom: 0;

            @media (min-width:1024px) and (max-width:1199px) {	
                max-width: 400px; 
                right: -4%;
            }

            @media (min-width:768px) and (max-width:1023px) {
                max-width: 300px;
                right: -8%;
            }

            @media (max-width:767px) {
                max-width: 260px; 
                display: none;
            }
        }
    } //.banner-wrap

    [class*='cloud-img'] {
        position: absolute;
    }

    .cloud-img1 {
        left: 0; 
        top: 30px; 
        width: 75px;

        @media (min-width:768px) and (max-width:1023px) {
            width: 60px;
        }

        @media (max-width:767px) {
            width: 60px;
            left: -10px;
            top: 22px;
        }

        @media (max-width:640px) {
            left: auto;
            top: 50px;
            right: 0;
        }
    }

    .cloud-img2 {
        right: 22%; 
        top: 42px; 
        width: 125px;

        @media (min-width:1024px) and (max-width:1199px) {
            top: 30px;
            max-width: 100px;
        }

        @media (min-width:768px) and (max-width:1023px) {
            width: 85px;
        }

        @media (max-width:767px) {
            width: 80px; 
            top: 20px; 
            right: 3%;
        }

        @media (max-width:640px) {
            top: 40%; 
            right: 3%; 
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
} //.new-boiler-banner


@media (min-width:1024px) and (max-width:1199px) {	
    .new-boiler-banner .banner-wrap .left-img{max-width: 270px;}
    .new-boiler-banner .banner-wrap{padding: 40px 250px 40px 240px; min-height: 340px;}
    .new-boiler-banner .banner-wrap .char-img{max-width: 400px; right: -4%;}
    .new-boiler-banner .worth-tag{margin-left: 80px;font-size: 28px;}
    .new-boiler-banner .text-part h1{font-size: 3.16vw;}
    .new-boiler-banner .text-part{margin-top: 30px;}
    .new-boiler-banner .cloud-img2{top: 30px;max-width: 100px;}
    .new-boiler-banner .desc p{font-size: 20px;}
} 