/* ==========================================================================
   #ONE-IN-100
   ========================================================================== */
   
.c-one-in-100 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 0;
    width: 100%;
    font-size: 16px;

    @include bp(medium) {
        display: flex;
        text-align: right;
        flex-wrap: wrap;
    }

    @include bp(large) {
        font-size: 18px;
    }

    p {
        text-align: center;

        @include bp(medium) {
            text-align: right;
            font-size: 16px;
            margin-bottom: 0;
        }

        @include bp(large) {
            font-size: 18px;
        }
    }

    img {
        width: 265px;
        margin: 0 auto;
        margin-top: 20px;
        display: block;

        @include bp(medium) {
            margin: initial;
            margin-left: 20px;
            margin-top: 0;
        }
    }

    .btn {
        margin-top: 30px;

        @include bp(large) {
            margin-top: 0;
            margin-left: 30px;
        }
    }

    .break {
        @include bp(medium) {
            height: 0;
            flex-basis: 100%;
        }

        @include bp(large) {
            flex-basis: auto;
        }
    }
}