/* ==========================================================================
   #ONE-IN-100-BANNER
   ========================================================================== */

.in-100-banner {
    display: none;
    margin-top: 30px;

    @include bp(medium) {
        display: block;
    }
}