.order-details { 
    border: 1px solid #76726f;
    background-color: $color-white;

    .o-icon {
        width: 60px; 
        height: 60px; 
        display: inline-block;
        vertical-align: top;
        margin-right: 20px; 
        text-align: center;

        @media (min-width:1024px) and (max-width:1199px) {	
            width: 40px; 
            height: 50px;
            margin-right: 10px;
        }

        @media (min-width:768px) and (max-width:1023px) {
            width: 45px; height: 45px;margin-right: 10px;
        }

        img {
            max-height: 100%;
        }
    } //.o-icon

    .o-data {
        display: inline-block;
        vertical-align: top;
        @include flex(1 0 0%);

        .price {
            font-size: 20px;
            color: $color-orange;
            font-weight: $semibold;
            margin-left: 30px; 
            text-transform: uppercase;

            @media (min-width:1024px) and (max-width:1199px) {
                margin-left: 10px;
                font-size: 18px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                font-size: 16px;
                margin-left: 15px;
            }
        }
    } //o-data

    .order-header {
        padding: 22px 23px;
        background-color: #fefbf8;
        @include flexbox;
        border-bottom:1px solid #76726f;

        @media (min-width:1024px) and (max-width:1199px) {
            padding: 18px 14px;
        }

        @media (min-width:768px) and (max-width:1023px) {
            padding: 14px;
        }

        h4 {
            font-size: 26px;
            color: $color-orange;
            margin-bottom: 0.4em;

            @media (max-width:1199px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 16px;
        }
        
    } //.order-header

    .order-body {
        .item {
            padding: 24px 26px 20px 20px;
            @include flexbox; 
            align-items: center;

            @media (min-width:1024px) and (max-width:1199px) {	
                padding: 18px 15px 15px 15px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                padding: 15px;
            }

            + .item {
                border-top: 1px solid rgba(161,161,161,0.3);
            }

            h6 {
                color: #757473;
                font-size: 16px;
                font-weight: $regular;
                @include flexbox;
                justify-content: space-between;
                align-items: center;
            }

            .btn-line-link {
                font-size: 14px;
                font-weight: $semibold;
                color: $color-orange; 
                text-decoration: underline;
                display: inline-block;
            }
        }
    } //.order-body

    .order-footer {
        padding: 15px 30px; 
        background-color: #fefbf8; 
        border-top:1px solid #76726f;

        @media (min-width:768px) and (max-width:1023px) {
            padding: 10px 20px;
        }

        span {
            font-size: 24px;
            display: inline-block;
            font-weight: $semibold; 
            line-height: 1.4;

            @media (min-width:1024px) and (max-width:1199px) {
                font-size: 22px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                font-size: 20px;
            }
        }

        .price {
            color: $color-orange; 
            float: right;
            font-size: 26px;
            line-height: 1.3;

            @include bp(xlarge) {
                font-size: 30px;
            }

            .vat {
                font-size: 16px;
                font-weight: $regular;
                color: #727272;
            }
        }
    } //.order-footer

    .order-fixed-price {
        background-color: #727272;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: right;
        padding-right: 30px;

        span {
            color: $color-white;
        }
    } //.order-fixed-price
} //.order-details


@media (min-width:1024px) and (max-width:1199px) {
    .order-details .order-body .item{padding: 18px 15px 15px 15px;}
    .order-details .o-icon{width: 40px; height: 50px;margin-right: 10px;}
    .order-details .o-data .price{margin-left: 10px;font-size: 18px;}
    .order-details .order-header h4{font-size: 20px;}
    .order-details .order-header{padding: 18px 14px;}
    .order-details .order-footer span{font-size: 22px;}
}