/* promise section */
.promise-sec {
    .promise-part {
        figure {
            margin-left: auto;
            margin-right: auto;
            max-width: 230px;

            @include bp(medium) {
                margin-right: 40px;
                max-width: 240px;
            }

            @include bp(large) {
                margin-right: 90px;
                max-width: 362px;
            }

            &.img-part {
                display: none;

                p {
                    text-align: center;
                }
    
                em {
                    font-size:0.7em; 
                    margin-top: -5px;
                }
            }
        } //figure

        .promise-list {
            ul {
                margin-bottom: 20px;
                width: 100%;
    
                @include bp(medium) {
                    width: auto;
                }
    
                li {
                    font-size: 16px;
                    padding: 6px 0 6px 30px;
                    border-bottom: 1px solid #e95e1b;
                    border-top: 1px solid #f18e29; 
                    position: relative;

                    @include bp(medium) {
                        font-size: 20px;
                        padding: 8px 0 8px 38px; 
                    }
    
                    &:before {
                        content: ""; 
                        width: 19px; 
                        height: 14px; 
                        background: url(../images/site/check-icon2.png)no-repeat center / cover; 
                        display: inline-block; 
                        position: absolute; 
                        left: 0; 
                        top: 15px;
                        font-size: 15px;

                        @include bp(medium) {
                            font-size: 18px;
                        }
                    }
    
                    &:first-child {
                        border-top: 0;
                    }
    
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
    
            p {
                display: block;
            }
    
            .small-promise-text p {
                display: block; 
                font-size: 10px; 
                width: 100%;
            }
    
            .m75 {
                margin-top: 75px;
            }
    
            .rep-text {
                font-size:0.6em;
            } //.rep-text
    
        } //.promise-list
    } //.promise-part
}
