.product-detail-sec {
    .item {
        .price-details {
            @include border-radius(5px);

            p {
                margin: 5px 0 0 0; 
                width: 100%;
            }

            .price-tag {

                .left-part, 
                .right-part {

                    span {
                        font-size: 24px; 
                        font-weight: $semibold;
                        line-height: 1; 
                        margin-right: 0;
                    }
                }
            }
        }

        .inner-item {
            h1 {
                &.mobile {
                    @include bp(medium) {
                        display: none;
                    }
                }
    
                &.desktop {
                    display: none;
                    @include bp(medium) {
                        display: block;
                    }
                }
            }

            .img-block {
                figure {
                    padding: 20px; 
                    width: 100%;
                    border: 1px solid #dbdbdb;
                    @include border-radius(5px);
                }
            }
        }

        .product-spec {
            .specification {
                border: 1px solid #dbdbdb;
                @include border-radius(5px); 
                
                .card {
                    border:1px solid #f6f5f3;

                    ul {
                        li {
                            @include flexbox; 
                            border-top: 1px solid #f6f5f3;

                            &:first-child {
                                border-top: 0;
                            }

                            .card-dd,
                            .card-dt {
                                width: 50%; 
                                display: inline-block; 
                                vertical-align: top; 
                                padding: 10px 20px;
                                font-size: 18px; 
                                line-height: 1.1;
                            }

                            .card-dd {
                                border-right: 1px solid #f6f5f3;
                            }
                        }
                    }
                }

                .output-info {
                    ul {
                        li {
                            @include flexbox; 
                            align-items: center; 
                            justify-content: space-between;
                            padding: 6px 0; 
                            border-top: 1px solid #f6f5f3;

                            &:first-child {
                                border-top: 0;
                            }
                        }
                    }
                }
            }

            .key-features {
                border: 1px solid #dbdbdb;
                @include border-radius(5px);    
            }

            .energy-rating {
                border: 1px solid #dbdbdb;
                @include border-radius(5px);
            }
        }
    }
}