/* ==========================================================================
   #PROGRESS-BAR
   ========================================================================== */
.progress-bar-wrapper {
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
}

.wz-progress-bar {
    display: none;
    max-width: 1550px;
    padding: 10px 37px 45px;
    margin: auto;

    @include bp(medium) {
        display: block;
    }

    @include bp(large) {
        padding: 10px 50px 45px;
    }

    @include bp(xlarge) {
        padding: 15px 75px 35px;
    }

    .wz-steps-wizard {
        position: relative;

        .wz-step {
            position: relative;

            .wz-step-icon {
                width: 1.82em;
                height: 1.82em;
                font-size: 22px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #eeeef8;
                @include border-radius(100%);
                -webkit-box-shadow: inset 0.375px 0.927px 3px 0px rgba(176, 176, 176, 0.7);
                box-shadow: inset 0.375px 0.927px 3px 0px rgba(176, 176, 176, 0.7);
                vertical-align: middle;

                @media (min-width:768px) and (max-width:1023px) {
                    font-size: 20px;
                }
        
                span {
                    width: 1.4549em;
                    height: 1.4549em;
                    font-size: 1em;
                    background-color: #f7f7f7;
                    @include flexbox;
                    justify-content: center;
                    text-align: center;
                    background-image: -moz-linear-gradient( 108deg, rgb(239, 239, 239) 0%, rgb(255, 255, 255) 100%);
                    background-image: -webkit-linear-gradient( 108deg, rgb(239, 239, 239) 0%, rgb(255, 255, 255) 100%);
                    background-image: -ms-linear-gradient( 108deg, rgb(239, 239, 239) 0%, rgb(255, 255, 255) 100%);
                    @include border-radius(inherit);
                    -webkit-box-shadow: inset 0.375px 0.927px 3px 0px rgba(0, 0, 0, 0.25);
                    box-shadow: inset 0.375px 0.927px 3px 0px rgba(0, 0, 0, 0.25);
        
                    i {
                        font-size: 0.90em;
                        margin: auto;
                        display: none;
                    }
        
                    em {
                        font-style: normal;
                    }
                }
            } //.wz-step-icon
        
            p {
                width: 180px;
                font-size: 13px;
                letter-spacing: 0.03em;
                margin: 0;
                margin-top: 5px;
                position: absolute;
                left: 50%;
                @include transform(translateX(-50%));
                z-index: 1;

                @media (min-width:1024px) and (max-width:1199px) {
                    width: 135px;
                }

                @media (min-width:768px) and (max-width:1023px) {
                    width: 100px;
                    font-size: 11px;
                }
            }

            &.finished {
                .wz-step-icon {
                    span {
                        color: $color-white;
                        align-items: center;
                        background-image: -moz-linear-gradient( 108deg, rgb(111, 161, 0) 0%, rgb(158, 202, 33) 100%);
                        background-image: -webkit-linear-gradient( 108deg, rgb(111, 161, 0) 0%, rgb(158, 202, 33) 100%);
                        background-image: -ms-linear-gradient( 108deg, rgb(111, 161, 0) 0%, rgb(158, 202, 33) 100%);

                        i {
                            display: inline-flex;
                        }

                        em {
                            display: none;
                        }
                    }
                }
            } //.finished

            &.active {
                .wz-step-icon {
                    color: $color-white;
                    background-image: -moz-linear-gradient( 108deg, rgb(241, 138, 20) 0%, rgb(251, 192, 14) 100%);
                    background-image: -webkit-linear-gradient( 108deg, rgb(241, 138, 20) 0%, rgb(251, 192, 14) 100%);
                    background-image: -ms-linear-gradient( 108deg, rgb(241, 138, 20) 0%, rgb(251, 192, 14) 100%);
                    -webkit-box-shadow: inset 0.375px 0.927px 3px 0px rgba(0, 0, 0, 0.25);
                    box-shadow: inset 0.375px 0.927px 3px 0px rgba(0, 0, 0, 0.25);

                    span {
                        background-image: none; 
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            } //.active
        } //.wz-step
    } //.wz-steps-wizard

    .wz-progress {
        background-color: $color-white;
        width: calc(100% - 20px); 
        height: 12px; 
        -webkit-box-shadow: inset 0px 1px 2px 0px rgba(176, 176, 176,1);
        box-shadow: inset 0px 1px 2px 0px rgba(176, 176, 176,1); 
        padding: 1px 10px 1px 10px; 
        margin: 0 auto; 
        left: 0; 
        right: 0;
        position: absolute;
        top: 13px;

        @media (min-width:768px) and (max-width:1023px) {
            top: 12px;
        }

        .wz-progress-line {
            width: 0;
            height: 100%;
            background-image: -moz-linear-gradient( 90deg, rgb(241, 138, 20) 0%, rgb(251, 192, 14) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(241, 138, 20) 0%, rgb(251, 192, 14) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(241, 138, 20) 0%, rgb(251, 192, 14) 100%);
            -webkit-box-shadow: inset 0.375px 0.927px 3px 0px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0.375px 0.927px 3px 0px rgba(0, 0, 0, 0.25); 
            @include transition(0.4s ease);
        } //.wz-progress-line

        &.active-2 {
            .wz-progress-line {
               width: 20%;
            }
        }

        &.active-3 {
            .wz-progress-line {
               width: 40%;
            }
        }

        &.active-4 {
            .wz-progress-line {
               width: 60%;
            }
        }

        &.active-5 {
            .wz-progress-line {
               width: 80%;
            }
        }

        &.active-6 {
            .wz-progress-line {
               width: 100%;
            }
        }
    } // .wz-progress
}

.payment-option .choose-boiler-list .item .img-block{width: 100%; max-width: none; margin-bottom: 20px;}
.payment-option .choose-boiler-list .item .price-details{margin: 0 auto; min-width: auto; width: 100%;}
.payment-option .pay-buttons .custom-radio{border: 1px solid #ced4da;@include border-radius(5px); overflow: hidden; margin-bottom: 15px; padding-left: 0;}
.payment-option .pay-buttons .custom-radio .custom-control-label{padding: 15px 75px 15px 2.5rem; position: relative;}
.payment-option .pay-buttons .custom-radio .custom-control-label::before{top: 1.15rem; left: 1rem;}
.payment-option .pay-buttons .custom-radio .custom-control-label::after{top: 1.4rem; left: 1.25rem;}
.payment-option .pay-buttons .custom-radio .custom-control-label,
.payment-option .custom-radio .custom-control-input:checked ~ .custom-control-label{pointer-events: none;}
.payment-option .pay-buttons .custom-radio .custom-control-label.collapsed,
.payment-option .custom-radio .custom-control-input:not(:checked) ~ .custom-control-label{pointer-events: auto;}