.que-sec { 
    background-color:#f6f5f3;
    padding-bottom: 40px;

    &.start-now-screen {
        padding-bottom: 0;
    }
}
.heading-second *{font-weight: $semibold; letter-spacing: 0.001em;}
.heading-second span,.heading-second em{color: $color-orange; font-style: normal;}
.que-sec .que-list .item{padding: 20px; /*border: 3px solid transparent; */@include border-radius(0); cursor: pointer; height: 340px; overflow: hidden; padding-bottom: 70px;}
.que-sec .que-list .square-box .item{height: 240px;padding: 20px;}
.que-sec .que-list .square-box figure{margin: 25px auto 20px auto;height: 80px;}
.que-sec .que-list .square-box.card{@include flex(0 0 25%);}
.que-sec .que-list .price-info{position: absolute; top: 0; right: 0;font-size: 18px;font-style: normal;background-color: $color-orange; color: $color-white;padding: 9px 13px;line-height: 1.1;}
.que-sec .que-list .card-title{color: #827e79; font-weight: $light;font-size: 30px; @include transition(all 0.4s ease);line-height: 1.2;}
.que-sec .que-list p{font-size: 14px; color: #525252;@include transition(all 0.4s ease);visibility: hidden;}
.que-sec .que-list .card-select{font-size: 16px; font-weight: $semibold; color: $color-white; justify-content: center; position: absolute; bottom: 0; left: 20px; right: 20px; line-height: 1.4; opacity: 0; visibility: hidden;}
.que-sec .que-list .card-select.btn-dark:not(:disabled):not(.disabled):active,
.que-sec .que-list .card-select.btn-dark:not(:disabled):not(.disabled).active,
.que-sec .que-list .card-select.show > .btn-dark.dropdown-toggle{background-color: $color-orange; border: 0;}
.que-sec .que-list figure{margin: 60px auto 30px auto; height: 110px; width: 100%; @include transition(all 0.4s ease);}
.que-sec .que-list figure img{max-height: 100%;display: block;margin: 0 auto;}
.que-sec .que-list .card-body{padding-bottom: 50px !important; position: relative;}
.que-sec .que-list .item{position: relative; -webkit-box-shadow: 0px 7px 15px 0px rgba(79, 69, 34, 0.1);box-shadow: 0px 7px 15px 0px rgba(79, 69, 34, 0.1);}
.que-sec .que-list .item .info{font-size: 31px; color: #e1e1dd;position: absolute; top: 15px;left: 10px;margin: 0; @include transition(all 0.2s ease);pointer-events: none;}
.que-sec .que-list .card-info .item:hover figure{height: 50px;margin: 0 auto 10px;}
.que-sec .que-list .item:hover .card-title{color: $color-orange;}
.que-sec .que-list .item:hover p,
.que-sec .que-list .item:hover .card-select{opacity: 1; visibility: visible;}
.que-sec .que-list .card{background-color: transparent; border: 0; @include border-radius(0); padding: 15px;max-width: 310px; @include flex(1 0 0);}
.que-sec .que-list .card:before{content: "";width: calc(100% - 40px); height: 50%; background: url(../images/site/card-box-shadow.png) no-repeat bottom center / contain; position: absolute; left: 0; right: 0; bottom: 3px; margin: auto; pointer-events: none;}
.que-sec .que-list .item::before,
.que-sec .que-list .item::after,
.que-sec .que-list .item .hover-border::before,
.que-sec .que-list .item .hover-border::after{content: ""; background: $color-orange; @include transition(all 0.3s linear);position: absolute;}
.que-sec .que-list .item::before,
.que-sec .que-list .item::after{width: 0; height: 3px;}
.que-sec .que-list .item::after{right: 0;bottom: 0;transition-duration: 0.4s;}
.que-sec .que-list .item::before{left: 0;top: 0;transition-duration: 0.4s;}
.que-sec .que-list .item:hover::before, .que-sec .que-list .item:hover::after{width: 100%;}
.que-sec .que-list .item .hover-border::before,
.que-sec .que-list .item .hover-border::after{width: 3px;height: 0; }
.que-sec .que-list .item .hover-border::before{left: 0;top: 0;transition-duration: 0.4s;}
.que-sec .que-list .item .hover-border::after{right: 0;bottom: 0;transition-duration: 0.4s;}
.que-sec .que-list .item:hover .hover-border::before, .que-sec .que-list .item:hover .hover-border::after{height: 100%;}
.que-sec .que-list .item:hover .info{opacity: 0; visibility: hidden;}
.que-sec .que-list .item:hover .card-select{opacity: 1; visibility: visible; bottom: 20px;}
.que-sec .back-btn{color: $color-orange;@include inline-flex;font-size: 24px; @include border-radius(50%);padding: 8px; border: 2px solid $color-orange; position: absolute; top: 50%; left: -90px; align-items: center;justify-content: center;z-index: 1;}
.que-sec .back-btn:hover{background-color: $color-orange; color: $color-white;text-decoration: none;}
.que-sec .back-btn:before{display: block;margin-left: -2px;}
.que-sec .heading-second{padding: 10px 180px; position: relative;min-height: 110px;@include flexbox;align-items: center;justify-content: center; flex-direction: column;}
.que-sec .heading-second p{margin-top: 20px;}
.que-sec .heading-second *{margin-bottom: 0; font-weight: $light; color: #757473; }
.que-sec .heading-second em { color: $color-orange; }
.que-sec .need-help-img{position: absolute;right: 0;width: 1em;font-size: 165px;height: 0.74em;}
.que-sec .mob-need-help-img{display:none;}
.que-sec .need-help-img img{width: 100%;}
.que-sec .need-help-img span{color: $color-white;font-size: 0.08em;font-weight: $semibold; position: absolute;top: 1.4em; left: 1em;}
.que-sec .need-help-img span i{display: none;}
.que-sec .container{max-width: 1370px; padding: 0 100px;}
.que-sec .que-list .full-img .wrap-div{height:60%;}
.que-sec .que-list .full-img .item{padding: 0;}
.que-sec .que-list .full-img .card-title{padding: 0 20px;display: inline-block;}
.que-sec .que-list .full-img figure{margin: auto;height: 100%;margin-bottom: 40px;/*padding: 3px 3px 0;*/margin-top: 5px; border-bottom: 1px solid #e1e1dd; @include flexbox; align-items: flex-end;}
.que-sec .que-list .card-number{height: 200px; @include flex(0 0 25%);}
.que-sec .que-list .card-number .item{padding: 20px;@include flexbox; align-items: center; justify-content: center;}
.que-sec .que-list .card-number .number-text{margin: auto; font-family: 'Open Sans', sans-serif;font-size: 90px; color: $color-orange;line-height: 1;display: block; margin-top: -5px;}
.que-sec .que-list .card-number .number-text sup{font-size: 0.5em;top: -1em;}

.que-sec.question_104 {
    .card {
        &:before {
            background: none;
        }
    
        .need-help {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
    }
}

.reset-link .reset-btn {border: 2px solid $color-orange;font-size: 16px;padding: 7px 30px 7px 45px;line-height: 2;@include border-radius(10px); font-weight: $semibold;display: inline-block; margin-top: 40px;background-image: url(/images/site/reset-icon-3-orange.svg); background-repeat: no-repeat; background-size: 16px; background-position: 21px 14px;}
.reset-link .reset-btn:hover {background-color: $color-orange; color: $color-white; text-decoration: none;background-image: url(/images/site/reset-icon-3-white.svg);}

@media (min-width:1024px) and (max-width:1199px) {	
    .que-sec .container{padding: 0 50px;}
    .que-sec .back-btn{left: -45px;}
    .que-sec .que-list figure{height: 90px;}
    .que-sec .que-list .card-title{font-size: 24px;}
    .que-sec .que-list p{font-size: 13px;}
    .que-sec .need-help-img{font-size: 150px;}f
    .que-sec .heading-second{padding-right: 160px;text-align: left !important;}
    .que-sec .que-list .card-select{font-size: 12px;}
    .que-sec .que-list .card:before{bottom: 5px;}
}

@media (min-width:768px) and (max-width:1023px) {
    .que-sec .back-btn{left: -40px; bottom: -86px; top: initial;}
    .que-sec .heading-second{padding: 10px 80px;}
    .que-sec .need-help-img{right: -40px; font-size: 120px;}
    .que-sec .que-list .card,.que-sec .que-list .square-box.card{@include flex(1 0 33.33%);}
    .que-sec .container{padding: 0 50px;}
    .que-sec .que-list .item .card-title{font-size: 24px;}
    .que-sec .que-list p{font-size: 13px;}
    .que-sec .que-list .card-select{font-size: 14px;}
    .que-sec .que-list .card:before{bottom: 5px;}
}

@media (max-width:767px) {
    .que-sec .container{padding: 0 25px;}
    .que-sec .heading-second{text-align: left !important; align-items: initial;padding: 0; min-height: initial;}
    .que-sec .heading-second{flex-direction: column;}
    .que-sec .heading-second h2 { font-size: 29px; font-weight:300;padding-bottom:20px;}
    .que-sec .heading-second em {font-weight: 300;}
    .que-sec .need-help-img{display:none;}
    .que-sec .need-help-img span{@include inline-flex; align-items: center;}
    .que-sec .que-list .item,.que-sec .que-list .square-box .item{height: auto;padding: 0;}
    .que-sec .que-list figure{ margin: 12px 17px 12px 25px !important; width: 45px;height: 45px !important;display: inline-block; vertical-align: top; display: inline-flex; align-items: center; justify-content: center;}
    .que-sec .que-list .card-select{display: none;}
    .que-sec .que-list .card:not(.card-number),.que-sec:not(.card-number) .que-list .square-box.card{max-width: none; @include flex(none);}
    .que-sec .que-list .card-title{/*width: calc(100% - 54px);*/ display: inline-flex;margin-bottom: 0; /*height: 40px;*/ line-height: 1; align-items: center;font-size: 24.5px; font-weight: 300; padding-right: 40px; @include flex(1 0 auto);}
    .que-sec .que-list p{padding: 15px 15px;margin-bottom: 0;display: none;border-top: 1px solid #e1e1dd; font-size: 14px;line-height: 1.3; visibility: visible !important; opacity: 1 !important; -webkit-transition: none;-o-transition: none;transition: none; position: relative;}
    .que-sec .que-list .item .info{left: auto; right: 0;top: 0; height: 64px; width: 50px; align-items: center;justify-content: center; border-left: 1px solid #e1e1dd; font-size: 25px; opacity: 1 !important; visibility: visible !important; pointer-events: visible;z-index: 1;}
    .que-sec .que-list .item.is-show-info .card-text{display: block;}
    .que-sec .que-list .item.is-show-info .info{color: #ed7622; border-color: #e1e1dd;}
    .que-sec .que-list .item::before,.que-sec .que-list .item::after{display: none;}
    .que-sec .que-list .item .hover-border{display: none;}
    .que-sec .que-list .item .card-text:after,
    .que-sec .que-list .item .card-text:before{content:" "; display: block; position: absolute; width: 0; height: 0; left: 70px; border-style: solid; border-width: 12px 12px 0 12px;}
    .que-sec .que-list .item .card-text:before{top: 0; border-color: #e1e1dd transparent transparent;}
    .que-sec .que-list .item .card-text:after{top: -1px; border-color: #fff transparent transparent;}
    .que-sec .que-list .item .wrap-div{@include flexbox;align-items: center;}
    .que-sec .back-btn{display: none;}
    .que-sec .que-list .square-box .price-info{ height: 55px;align-items: center;display: inline-flex;}
    .que-sec .que-list .card-number{height: auto;@include flex(0 0 33.33%);}
    .que-sec .que-list .card-number .item{/*height: 130px;*/}
    .que-sec .que-list .card-number .number-text{font-size: 70px;}

    .custom-control-label::after{top: 0.35rem;}
    .custom-control-label::before{top: 0.10rem;}


    .que-sec .mob-need-help-img {position: absolute;display: block; left: 50%;width: 1em;font-size: 150px;height: 105px;margin-top: 15px;margin-left: auto;margin-right: auto;transform: translate(-60%);z-index:10;}
    .que-sec .mob-need-help-img span{color: #fff;font-size: 0.08em;font-weight: 600; position: absolute;top: 1.4em; left: 1em;}
    .que-sec .mob-need-help-img span i{display: none;}
    .que-sec .mob-need-help-img + .reset-link { margin-top: 100px; }
    .reset-link{position:relative;}
    .progress-bar-wrapper { display: none !important;}

    .que-sec .folded {width: 100%; margin-top: 50px;}
    .que-call .back-btn.mobile-btn {top: -35px;}
    .que-sec .back-btn.mobile-btn {display: inline-block !important; position: absolute; left: 0; text-decoration: none; margin:0;}
    .que-sec .back-btn.mobile-btn:before{margin-left: 0;}
    .que-sec .folded .back-btn.mobile-btn:before{margin-left: 0;}
    .que-sec .assign-back-btn .back-btn.mobile-btn{top: 30px; margin-right: 10px;}
    .que-sec .assign-back-btn .back-btn.mobile-btn:before{margin-left: -2px;}

    .que-sec .reset-link.no-center {text-align: unset !important}
    .reset-link .reset-btn {z-index:12;}

    .dark-orange-bg:before { background-color: transparent; }

    .que-sec .que-list .full-img figure{margin: 12px 0 12px 25px !important;width: 70px; height: 45px;/*padding: 3px 3px 0;*/margin-top: 5px; border-bottom: 0;}
    .que-sec .que-list .full-img .wrap-div{height:100%;}
}

@media (max-width:640px) {
    .que-sec .que-list .item .info{height: 55px;font-size: 20px;width: 45px;}
    .que-sec .que-list p{font-size: 12px;}
    .que-sec .need-help-img span{font-size: 14px;}
    .que-sec .need-help-img{line-height: 1;}
    .que-sec .que-list .card-number .number-text{font-size: 40px;}
    .que-sec .que-list .full-img figure{border: 0;align-items: center;}
}

@media (min-width:1024px) and (max-width:1199px) {	
    .que-sec .container{padding: 0 50px;}
    .que-sec .back-btn{left: -45px; bottom: -86px;top: initial;}
    .que-sec .que-list figure{height: 90px;}
    .que-sec .que-list .card-title{font-size: 24px;}
    .que-sec .que-list p{font-size: 13px;}
    .que-sec .need-help-img{font-size: 150px;}
    .que-sec .heading-second{padding-right: 160px;text-align: left !important;}
    .que-sec .que-list .card-select{font-size: 12px;}
    .que-sec .que-list .card:before{bottom: 5px;}
}
