.quote-modal {
    border: 1px solid #d3d3d3; 
    overflow: hidden; 
    @include border-radius(5px);

    .modal-dialog {
        max-width:1173px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) !important;

        .modal-content {
            border: 0;
            background-image: url(/images/site/quote-modal-mob-bg.jpg);
            @include border-radius(0);
            overflow: hidden;
            margin: 0 auto;
            padding: 80px 20px 5px 20px;
            width: 300px;
            max-width: 400px;
            height: 563px;
            background-size: contain;

            @include bp(small) {
                padding: 120px 38px 40px 38px;
                width: 400px;
                max-width: none;
                height: 750px;
                background-size: contain;
            }

            @include bp(xlarge) {
                padding: 50px 40px 40px 40px;
                background-image: url(/images/site/quote-modal-bg.jpg);
                width: 1172px;
                height: 573px;
            }

            input {
                .error-inner {
                    background-color:$color-white;
                    padding:0.375rem 0.75rem;
                    border:1px solid red;
                    font-size:18px;
                    position:unset;
                }
            }

            .close {
                top: 10px;
                right: 10px;
                font-size: 1.6rem;
                text-shadow: none;
                opacity: 1;
                z-index: 99;

                @include bp(xlarge) {
                    top: 20px;
                    right: 20px;
                    font-size: 2rem;
                }

                .fal {
                    color: $color-white;
                }
            } //.close

            .img-zilla {
                position: absolute;
                right: -24px;
                width: 370px;
                bottom: -282px;
                display: none;
                top: auto;
                height: auto;
                left: auto;

                @include bp(xlarge) {
                    display: block;
                }
            } //.img-zilla

            .modal-body {
                padding: 0;
                overflow: hidden;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 85%;
                @include transform(translate(-50%, -50%));

                @include bp(xlarge) {
                    width: 640px;
                }

                h2 {
                    font-size: 30px;
                    color:#ec4435;
                    font-weight:$bold;

                    @include bp(small) {
                        font-size: 36px;
                    }

                    @include bp(xlarge) {
                        font-size:51px;
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 1.4;
                    color:$color-black; 
                    font-weight: $semibold;

                    @include bp(small) {
                        font-size: 16px;
                        line-height: 1.4;
                    }

                    @include bp(xlarge) {
                        font-size: 20px;
                    }

                    a {
                        text-decoration:underline;
                        color: unset;
                    }

                    &.login-text {
                        font-size: 14px;
                        
                        @include bp(small) {
                            width: 300px;
                        }

                        @include bp(xlarge) {
                            font-size: 20px;
                            width: auto;
                        }
                    }
                }

                .general-form {
                    background:none;
                }

                .row {
                    margin-bottom: 0;

                    @include bp(xlarge) {
                        margin-bottom: 15px;
                    }
                }

                .form-group {
                    margin: 0;
                    background: none;

                    .col-lg-6 {
                        max-width: 100%;
                        @include flex(0 0 100%);

                        @include bp(xlarge) {
                            max-width: 50%;
                            @include flex(0 0 50%);
                        }
                    }

                    .text-center {
                        @include bp(xlarge) {
                            text-align: left !important;
                        }
                    }

                    div.error-inner {
                        background-color: transparent;
                        border: 0;
                        color: $button-primary-bg;
                        font-size: 14px;
                        padding: 0;
                    }

                    .form-control {
                        margin-bottom: 10px;
                        height: 40px;
                        font-size: 16px;
                        font-weight: $semibold;
                        border: 0;

                        @include bp(small) {
                            font-size: 20px;
                            height: 50px;
                        }

                        @include bp(xlarge) {
                            margin-bottom: 0;
                        }

                        &.error-inner {
                            border: 1px solid $button-primary-bg;
                        }
                    }

                    .btn-dark {
                        font-size: 18px;
                        background-color:#ec4435;
                        font-weight:$bold;
                        padding: 10px 54px;
                        @include border-radius(0);

                        @include bp(small) {
                            font-size: 24px;
                            padding: 14px 58px;
                        }

                        .next-icon {
                            background-image: url(/images/site/go-arrows.svg);
                            height: 30px;
                            width: 35px;
                            background-repeat: no-repeat;
                            background-size: 50px;
                        }
                    }

                    textarea {
                        height: auto !important;
                    }

                    .form-input {
                        border:0;
                        margin-bottom:10px;
                        padding:8px 10px;
                        @include border-radius(4px);
                        font-weight:$bold;
                        font-size:18px;
                        @include placeholder {
                            color: rgba(117,116,115,0.5);
                        }

                        &:nth-child(odd) {
                            margin-right: 10px;
                        }
                    } //.form-input
                } //.form-group
            }

            .alert {
                display: none;
            }
        }
    }
}
