/* ==========================================================================
   #QUOTE-BANNER
   ========================================================================== */

.c-quote-banner {
    background-color: $color-yellow;
    text-align: center;
    padding: 20px;

    h3 {
        font-size: 18px;
        color: #ec4435;
        margin: 0 0 15px 0;
        vertical-align: middle;
        line-height: 1.4;

        @include bp(medium) {
            font-size: 20px;
            margin: 0 20px 0 0;
            line-height: 1.2;
        }

        @include bp(large) {
            font-size: 22px;
            display: inline;
        }
    }

    .btn {
        @include bp(medium) {
            margin-top: 15px;
        }

        @media (min-width: 1040px) {
            margin: 0;
        }
    }
}