.quotes {
    .quote-header {
        img {
            width: 25px;
            margin-left: 10px;
        }
    }

    .quote-container {
        width: 800px;
        margin: 0 auto;

        @media (max-width:1023px) {
            width: 100%;
        }

        h3 {
            margin-bottom: 15px;
            font-weight: $semibold;
        }

        .quote-includes {
            border: 1px solid #d3d3d3;
            overflow: hidden;
            @include border-radius(5px);
            margin: 0 auto;
        }
    }
}

.quote-includes .row + .row{border-top: 1px solid #d3d3d3;}
.quote-includes .data-item{padding: 0.63em 0.7em;line-height: 1.3; font-size: 16px; color: #525252;}
.quote-includes .row-heading .data-item{font-weight: $bold;}
.quote-includes .row-heading .data-item img{width: 100%;}
.quote-includes .data-view{border-top: 1px solid #d3d3d3;}
.quote-includes .data-item ul {margin: -0.63em -0.7em}
.quote-includes .data-item ul li{font-size:20px;padding:10px 20px;border-bottom:1px solid;border-bottom-color:rgba(211,211,211,0.5);position:relative;@include flexbox;flex-direction:row;flex-wrap:nowrap; align-items:center;margin-bottom:0;}
.quote-includes .data-item ul li:nth-last-child(2) {border:0;}
.quote-includes .data-item ul li span{font-weight:$semibold;color:$color-orange;}
.quote-includes .data-item ul li.total{border-bottom:0;border-top: 1px solid rgba(211,211,211,1);text-align: right;display:block;}
.quote-includes .data-item ul li.vat{border-bottom:0;text-align: right;display:block;background-color:#727272;color:$color-white;font-size:16px;padding:7px 20px;}
.quote-includes .data-item ul li.total span{font-size:24px;}
.quote-includes .data-item ul li img {width:100%;}
.quote-includes .row-heading .data-item{color:$color-orange;font-size:24px;@include flexbox;flex-direction:row;align-items:center;}
.quote-includes .icon{float:left;width:40px; margin-right:15px;height:35px;}
.quote-includes .feature{width:100%;padding-right:15px;}
.quote-includes .cost{text-align:right;}
.install-btn span{background:url('/images/site/calendar-white.svg') no-repeat;background-size:30px;height:34px;width:31px;margin-right:10px;}


@media (max-width:767px) {
    .quote-includes .row-heading .data-item{font-size:18px;}
    .quote-includes .data-item ul li {font-size: 16px;}
    .quote-includes .data-item ul li.total span {font-size:20px;}
}

@media (max-width:480px) {
    .quote-includes .row-heading .data-item{font-size:16px;}
    .quote-includes .row-heading .data-item .feature{width:auto;}
    .quote-includes .data-item ul li{font-size:14px;padding:10px;}
    .quote-includes .data-item ul li.total span {font-size:18px;}
}

