/* range slider */
.price-slider{@include flex(1 0 auto); display: inline-flex; padding:0 50px; align-items: center; flex-wrap: wrap;}

.price-slider label{@include inline-flex; @include flex(1 0 auto); margin:0 0 10px 0; width: 100%;}
.price-slider .wrap-range-slider{width: 100%;@include flexbox; align-items: center; padding-top: 16px;}
.price-range{width: 100%;margin-top: 0; position: relative;}
.irs-bar{background: $color-orange;border: 0; height: 6px;}
.irs-line{height: 2px;border: 0; background-color: #c2c2c2 !important;}

.irs-slider{width: 15px; height: 15px;background: $color-white;@include border-radius(100%);border: 1px solid #bababa;}
.irs-slider:before{content: ""; position: absolute; width: 20px; height: 20px;cursor: pointer;top: -2px;left: -6px;z-index: 1;}
.irs{height: 15px;}
.irs-bar{top: 5px;}
.irs-line{top: 7px;}
.irs-slider{top: 0;}
.txt-f{margin: 0 5px; line-height: 1;margin-top: 2px;}
.irs-from, .irs-to, .irs-single{top: -22px !important; font-size: 14px;}
.irs-min,.irs-max{display: none !important;}