.scroll-top {
    width: 40px; 
    height: 40px;
    @include flexbox; 
    background-color: #ffcc09;
    @include border-radius(100%);
    align-items: center;
    justify-content: center;
    color: $color-black; 
    position: absolute; 
    left: 50%; 
    bottom: 0; 
    @include transform(translate(-50%, 50%));
    @include transition(all 0.3s ease);

    @media (max-width:1023px) {
        bottom: 10px;
    }

    &:hover {
        text-decoration: none;
        background-color: #8e8e8e;
        color: $color-white;
    }
} //.scroll-top