.c-service-areas {
    .card {
        cursor: pointer;

        &.open {
            .submenu-caret {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        &.closed {
            & + .row {
                display: none;
            }
        }

        .submenu-caret {
            width: 1em;
            height: 1em;
            font-size: 25px;
            background-color: #ed7622;
            border: 2px solid $color-white;
            @include border-radius(100%);
            position: absolute;
            right: 15px;
            top: 8px;
            font-style: normal;
            color: #fff;
            @include flexbox;
            align-items: center;
            justify-content: center;
            -webkit-transition: 0.3s ease all;
            -o-transition: 0.3s ease all;
            transition: 0.3s ease all;

            @include bp(medium) {
                top: 14px;
            }

            &:before {
                content: "q";
                font-family: warmzilla-icon;
                font-size: 0.52em;
            }
        }
    }

    .item {
        padding: 0 20px;

        @include bp(medium) {
            padding: 0 40px;
        }

        ul {
            width: 100%;
            margin-top: 40px;
            margin-bottom: 20px;

            @include bp(small) {
                column-count: 2;
            }

            @include bp(large) {
                column-count: 3;
            }

            li {
                margin-bottom: 20px;
            }
        }
    }

    .error-msg {
        color: $color-red;
        font-weight: $semibold;
        margin-top: 20px;
    }
}