/* ==========================================================================
   #SHARE-BAR
   ========================================================================== */
   
.c-share-bar {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 999;

	@include bp(medium) {
		display: none;
	}

	.st-btn {
		width: 25% !important;
		padding: 0 !important;
		display: inline-block !important;
	}
}