/* ==========================================================================
   #SITEMAP
   ========================================================================== */

.c-sitemap {
	ul {
		padding: inherit;
		list-style: disc;

		li a {
			color: inherit;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}