/* slick */
.slick-arrow {
    font-size: 50px;
    display: inline-block; 
    color: $color-orange; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    @include transform(translateY(-50%));
    z-index: 99;

    i {
        display: block;
    }

    &.slick-next {
        right: 10px;
    }

    &:hover {
        color: #1d1d1b;
    }

    &.slick-prev {
        left: 10px;
    }

    .slick-dots {
        @include flexbox;
        justify-content: center; 
        list-style: none;

        li {
            &:before {
                display: none !important;
            }
        }
    }  
}

