/* ==========================================================================
   #STATUS-UPDATE
   ========================================================================== */

.status-update {
    .status-show { 
        position: relative;

        .tooltiptext {
            visibility: visible;
            width: 165px;
            background-color: #fecc09;
            color: #525254;
            text-align: center;
            @include border-radius(30px);
            padding: 10px 20px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 60%;
            margin-left: -65px;
            opacity: 1;
            @include transition(opacity 0.3s); 
            font-size: 16px;

            strong {
                font-weight: $bold;
            }

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 15px 15px 0 0;
                border-style: solid;
                border-color: #fecc09 transparent transparent transparent; 
                width: 0; 
                height: 0;
            }
        }
    }
}
