/* ==========================================================================
   #STICKY-PRICE-BAR
   ========================================================================== */
   
.c-sticky-price-bar {
    background: $color-white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 2px 1px 3px 5px rgba(0, 0, 0, 0.25);
    z-index: 9999999999;
    padding: 10px 0;
    margin-left: -16px;

    @include bp(medium) {
        display: none;
    }

    p {
        display: inline-block;
        margin: 0;
    }

    .price {
        display: block;
        font-weight: $semibold;
        font-size: 22px;
    }

    .btn {
        float: right;
        color: $color-white;
        width: auto;
        font-size: 14px !important;
        padding: 10px 15px;
        margin-top: 4px;

        &:before {
            display: none !important;
        }

        @include bp(small) {
            font-size: 16px !important;
        }
    }
}