.survey-summary-acc {
    margin-bottom: 10px;

    .card {
        border: 0; 
        display: block;
        background-color: #fcfcfc;
        padding: 5px 0;

        @include bp(medium) {
            padding: 0;
        }

        .card-header {
            position: relative;
            @include inline-flex;
            width: 300px;
            border-radius: 0.25rem;
            display: block;
            margin: 15px auto;
            float: none;

            @include bp(medium) {
                display: inline-flex;
            }

            &:first-of-type {
                @include bp(medium) {
                    margin-right:10px;
                    float: left;
                }
            }
    
            a {
                color: $color-white;
                font-size: 14px;
                font-weight: $semibold;
                font-style: normal !important;
                text-decoration: none;
                line-height: 1.5;
                letter-spacing: 0.002em;
                width: 100%;

                @media (min-width:768px) and (max-width:1023px) {
                    font-size:14px;
                    padding-right: 40px;
                }
                
            } //a
    
            h5 {
                padding-right: 20px;
                cursor: pointer;
                font-size: 14px;
                font-weight:$semibold;
                line-height: 1.5;

                @media (max-width:1023px) {
                    font-size: 14px;
                }
            }
    
            &.bg-orange {
                * {
                    color: $color-white;
                    @include user-select(none);
                }
            } //.bg-orange
    
            &.bg-light-orange {
                background-color:#f9a606;
    
                em {
                    &.submenu-caret {
                        background-image: url(/images/site/reset-survey-white.svg);

                        &:after {
                            display:none;
                        }
                    }
                }
            } //.bg-light-orange
    
            i {
                font-size: 23px;
                display: inline-flex;
                vertical-align: middle;
                margin-right: 1em;
                position: absolute;
                margin-left: -40px;
                margin-top: -2px;
            }
    
            em {
                &.submenu-caret {
                    background-image: url(/images/site/view-magnifying-glass-white.svg);
                    background-repeat: no-repeat;
                    right: 20px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    @include flexbox;
                    position: absolute;
                    top: 50%;
                    @include transition(all 0.5s ease);
                    align-items: center; 
                    cursor: pointer;
                    width: 23px;
                    height: 23px;
                    opacity: 0.7;

                    &.collapsed {
                        &:after {
                            transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                        }
                    }
    
                    &:before,
                    &:after {
                        // content: '';
                        // position: absolute;
                        // left: calc(50% - 11px);
                        // width: 16px;
                        // height: 2px;
                        // background: $color-white;
                    }
    
                    &:after {
                        @include transform(0);
                        @include transition(all 0.5s ease);
                    }
                }
            } //em
    
            .summary-list {
                width: calc(100% + 1px);
    
                li {
                    color: #525252;
                    font-weight: $bold; 
                    line-height: 1.4;
                    padding: 12px 20px; 
                    border-right: 1px solid #dbdbdb; 
                    width: 50%;
    
                    &:nth-child(4n-7),
                    &:nth-child(4n+2) {
                        background-color: #f6f5f3;
                    }
                }
            } //.summary-list
        } //.card-header

        .card-body {
            border-radius: 0 0 5px 5px;
            border: 1px solid #dbdbdb;

            .summary-list {
                border: 1px solid #dbdbdb;
                width: calc(100% + 1px);

                li {
                    color: #525252;
                    font-weight: $bold;
                    line-height: 1.4;
                    padding: 5px 10px;
                    border-right: 1px solid #dbdbdb;
                    width: 50%;

                    @media (min-width:768px) and (max-width:1023px) {
                        padding: 10px 15px;
                    }

                    @media (max-width:767px) {
                        width: 100%;
                    }

                    @media (max-width:640px) {
                        padding: 12px 10px;
                    }

                    &:nth-child(4n-7),
                    &:nth-child(4n+2) {
                        background-color: #f6f5f3;

                        @media (max-width:767px) {
                            background-color: $color-white;
                        }
                    }

                    &:nth-child(odd) {
                        @media (max-width:767px) {
                            background-color: #f6f5f3;
                        }
                    }

                    .survey-label {
                        font-weight: $bold;
                        font-size: 14px;
                        flex-basis: 300px;
                        line-height: 1.3;
                        @include flex(1 0 0);
                        padding-right: 10px;

                        @media (min-width:768px) and (max-width:1023px) {
                            font-size: 16px;
                        }

                        @media (max-width:640px) {
                            font-size: 12px;
                        }
                    }

                    .survey-value {
                        font-size: 18px;
                        font-weight: $regular;
                        @include flex(1 0 0);
                        position: relative;
                        padding-left: 15px;

                        &:before {
                            content: ":"; 
                            display: inline-block;
                            font-weight: $bold; 
                            position: absolute; 
                            left: 0;

                            @media (min-width:768px) and (max-width:1023px) {
                                margin-right: 10px;
                                font-size: 16px;
                            }

                            @media (max-width:640px) {
                                font-size: 13px;
                                margin: 0 10px 0 5px;
                            }
                        }
                    }

                    a {
                        .survey-modify {
                            font-size: 16px;
                            font-weight: $semibold; 
                            color: $color-orange; 
                            position: relative;
                            line-height: normal; 
                            align-items: center; 
                            display: inline-flex;
                            margin-left: 12px;

                            @media (min-width:768px) and (max-width:1023px) {
                                font-size: 14px;
                            }

                            @media (max-width:640px) {
                                font-size: 13px;
                            }

                            &:hover {
                                [class*='ic-'] {
                                    opacity: 1; 
                                    visibility: visible;
                                }
                            }

                            &[class*='ic-'] {
                                font-size: 11px;
                                text-decoration: none !important;
                                position: absolute;
                                left: -23px;
                                opacity: 0;
                                visibility: hidden;
                                @include transition(all 0.4s ease);
                            }
                        }
                    }
                }
            }
        } //.card-body
    } //.card
}
