/* ==========================================================================
   #TAB-SECTION
   ========================================================================== */

.c-tab-section {
    background-color: $color-white;
    border: 1px solid #BFBFBF;
    box-shadow: 0px 8px 20px rgba(136, 136, 136, 0.5);
    padding: 30px;
    overflow: hidden;

    @include bp(medium) {
        padding: 40px 50px;
    }
    
    @include bp(large) {
        padding: 40px 80px;
    }

    .c-tab-section__nav {
        text-align: center;

        .c-tab-section__link {
            font-size: 16px;
            background-color: initial;
            color: inherit;
            border-radius: 10px;
            width: 110px;
            padding: 6px 0;
            font-weight: $normal;
            margin-right: 0;

            @include bp(medium) {
                margin-right: 15px;
                font-size: 18px;
                width: 140px;
            }

            @include bp(large) {
                width: 160px;
            }

            &:last-of-type {
                margin-right: 0;
            }

            &--active,
            &:hover {
                background-color: $color-red;
                color: $color-white;
            }
        }

    }

    .c-tab-section__content {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.33s, opacity 0.33s linear;
        height: 0;
        transform:translate(9999px);

        &--active {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
            transform:translate(0);
            height: auto;
        }

        .red-line {
            margin: 20px 0 20px 0
        }

        .warminstaller {
            width: 75%;
            margin: 0 auto 15px auto;
            display: block;
        }

        .price-match-icon {
            max-width: 200px;
            margin-top: 20px;
            margin-bottom: 25px;

            @include bp(medium) {
                margin-top: 0;
                max-width: none;
                height: 180px;
            }

            &.first {
                margin-top: 0;
            }
        }
    }
}