/* ==========================================================================
   #TICK-LIST
   ========================================================================== */

.c-tick-list {
    list-style: none !important;
    padding-left: 0 !important;
    margin-bottom: 20px;
    text-align: left;

    li {
        border-bottom: 1px solid $color-very-light-grey;
        padding: 10px 0;
        font-size: 16px;
        padding-left: 40px;
        text-indent: -40px;

        &:last-of-type {
            border-bottom: 0;
        }

        &:before {
            content: "y";
            font-family: "warmzilla-icon" !important;
            font-style: normal !important;
            font-weight: 500 !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: $color-orange;
            margin-right: 20px;
            font-size: 21px;
            vertical-align: middle;
        }
    }
}