/* ==========================================================================
   #TRUSTBOX-GALLERY
   ========================================================================== */

.c-trustbox-gallery {
    padding: 0 15px;

    .item {
        padding: 0 20px;

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }

        h4 {
            font-size: 16px;
        }

        .slick-arrow {
            &.slick-prev {
                left: 0;
            }

            &.slick-next {
                right: 0;
            }
        }
    }
}