
/* Update Your Availability */
.switch {position: relative;display: inline-block; font-size: 60px; width: 1em; height: 0.5em; margin: 0;}
.switch input {display:none;}
.switch .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #c92d39;@include transition(all 0.4s ease); @include border-radius(30px);}
.switch .slider:before {position: absolute;content: "";height: 0.35em;width: 0.35em;left: 0.06em;top: 50%;background-color: white;@include transition(all 0.4s ease); @include border-radius(50%); box-shadow: 0.731px 0.682px 2px 0px rgba(1, 1, 1, 0.3); @include transform(translate(0, -50%));}
.switch input:checked + .slider {background-color: #8fd43a;}
.switch input:focus + .slider {box-shadow: 0 0 1px #8fd43a;}
.switch input:checked + .slider:before {@include transform(translate(0.55em, -50%));}

.button-grp .btn{ height: 40px; font-weight: $bold; margin-left: 10px;}
.button-grp .btn-secondary{ box-shadow: none;}
.button-grp .btn-secondary:before{ display: none;}
.button-grp .btn-secondary:hover{ background-color: #1d1d1b;}
.day-list{ background-color: $color-white; border: 1px solid #cdcdcd; padding: 0 0;}
.day-list .single-day {@include flexbox; justify-content: space-between; padding: 10px 20px; border-bottom: 1px solid #cdcdcd; align-items: center;}
.day-list .single-day:last-child{ border-bottom: 0;}
.day-list .single-day p{ margin: 0;}