/* upload image */
.CIField .CITable thead th.top_actions .UploadImages{border: 0px solid $color-orange; padding: 10px 10px 10px 10px !important;height: auto !important; background: $color-orange !important ; color: $color-white;margin: 4px 10px 5px 4px !important; font-size: 16px; font-family: 'Proxima Nova'; letter-spacing: 0.05em; @include transition(all 0.3s ease);}
.CIField .CITable thead th.top_actions .UploadImages:before{content: "s"; font-family: "warmzilla-icon" !important;font-style: normal !important;font-weight: $normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; margin-right: 10px; margin-top: -3px; display: inline-block; vertical-align: middle; pointer-events: none;}
.CIField .CITable thead th.top_actions .UploadImages input[type="file"]{height: 100%;}
.CIField .CITable thead th.top_actions .UploadImages:hover{background-color: #000 !important; color: $color-white !important;}
.CIField .CITable thead th.top_actions{background: transparent !important;}

.CIField .CITable thead th.top_actions .block{float: none !important; display: inline-block; vertical-align: middle !important;}
.CIField .CITable thead th.top_actions .block_long{float: none !important; display: inline-block;}
.CIField .UploadProgress{float: none !important;}
.CIField .CITable thead th.top_actions .StopUpload{padding: 0 20px !important;}
.CIField .ImageQueue .File{height: auto !important;}
#cform table th:last-child{border-right: 1px solid #b6c0c2 !important;}
#cform table th:nth-child(2),
#cform table td:nth-child(2){/*display: none;*/}
#cform table th:nth-child(3){width: 120px !important;}
#cform table td .ImageCover,
#cform table td .ImageEdit,
#cform table td .ImageReplace{display: none;}
#cform table td {border: 1px solid #e3e3e3 !important;}
#cform table tr:last-child td{border-bottom: 1px solid #e3e3e3 !important;}
.CIField .CITable{border: 1px solid #b6c0c2 !important; }
.CIField .Image .gIcon{position: relative; font-size: 25px !important; background: none !important; margin: 0 5px 0 0 !important;width: 25px !important; height: 25px !important;}
.CIField .Image .gIcon:before{font-family: "warmzilla-icon" !important;font-style: normal !important;font-weight: $normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.CIField .Image .gIcon.ImageMove:before{content: "u";color: #2686ef;}
.CIField .Image .gIcon.ImageDel:before{content: "t";color: #e02727;}
.CIField .Image .gIcon:hover{text-decoration: none;}
/*.CIField .Image .gIcon.ImageMove:hover:before{color: #2686ef;}
.CIField .Image .gIcon.ImageDel:hover:before{color: #e02727;}*/
.CIField .Image .gIcon:hover:before{color: $color-black;}
.CIField{overflow: auto; padding: 5px 0 !important;}
.icon-wrapper img.icon-image{ position: absolute;right: 10px;bottom: 7px; display: none;}
.icon-wrapper img.icon-image.wrong{bottom: 10px;}
.icon-wrapper img.icon-image.loader{bottom: 12px;}
.icon-wrapper div.error-inner {position: absolute;}

.control-group{margin-bottom: 20px;}
.control-group .alert{padding: 0;margin: 0 0 5px;}
.control-group .error-list{border: 1px solid #f00;padding: 10px 0;background: #e07676;color: $color-black;@include border-radius(5px);}
.control-group  .error-list li{ padding-left: 10px;list-style: inside disc;}