.form-group {
	.CIField {
		margin: 1rem 0;

		.CITable {
			border: 1px solid #d3d3d3;
			border-collapse: inherit !important;
			border-radius: 10px;

			thead th {
				&.top_actions {
					padding: 7px !important;

					.UploadImages {
						padding: 0.8em 1.2em;
						margin-top: 5px;
						background-color: #ec4435;
						color: #fff;
						height: auto;
						font-size: 12px;
						font-weight: 600;
						line-height: initial;
						cursor: pointer;
						text-shadow: none;
						background-image: none;

						input[type='file'] {
							height: 100%;
						}
					}
				}
			}

			.ci-upload-btn {
				p {
					width: auto;
					float: left;
					margin: 13px 20px 0 3px;
				}
			}
		}
	}
}