/* ==========================================================================
   #VALUES-SECTION
   ========================================================================== */

.c-values-section {
    background-image: url('/images/site/mobile-bg-gradient.jpg');
    background-size: cover;
    height: 368px;

    @include bp(medium) {
        background-image: url('/images/site/bg-gradient-tablet.jpg');
        height: 400px;
        padding-top: 60px;
    }

    @include bp(large) {
        background-image: url('/images/site/header-bg-colour.jpg');
    }

    .red-line {
        margin: 0 0 20px 0;
    }
    
    h2 {
        margin-bottom: 30px;

        @include bp(large) {
            margin-bottom: 40px;
        }
    }
    
    ul {
        padding-left: 20px;
        
        li {
            color: $color-black;
            margin-bottom: 10px;
            list-style-type: disc;

            @include bp(large) {
                margin-bottom: 20px;
            }
        }
    }

    img {
        margin-top: -36px;

        @include bp(large) {
            margin-top: 0;
        }
    }
}