/* ==========================================================================
   #VENDIGO-CALC
   ========================================================================== */
   
.c-vendigo-calc {
    border: 1px solid $color-orange;
    padding: 20px;

    input {
        &[type=range] {
            -webkit-appearance: none;
            border: 0;
            margin: 0;
            padding: 0;
            
            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 10px !important;
                background: #d3d3d3;
                outline: none;
                -webkit-transition: opacity .15s ease-in-out;
                transition: opacity .15s ease-in-out;
                border: 0;
                padding: 0;
                margin: 15px 0;
            }

            &::-ms-track {
                width: 100%;
                height: 10px !important;
                background: transparent;
                outline: none;
                color: transparent;
                border-color: transparent;
                border-width: 6px 0;
                padding: 0;
            }

            &::-moz-range-track {
                width: 100%;
                height: 10px !important;
                background: #d3d3d3;
                outline: none;
                -webkit-transition: opacity .15s ease-in-out;
                transition: opacity .15s ease-in-out;
                border: 0;
                padding: 0;
                margin: 15px 0;
            }

            &::-ms-fill-lower {
                background: #d3d3d3;
            }

            &::-ms-fill-upper {
                background: #d3d3d3;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                background: $color-orange;
                cursor: pointer;
                margin-top: -6px;
            }

            &::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 25px;
                background: $color-orange;
                cursor: pointer;
            }

            &::-ms-thumb {
                width: 25px;
                height: 25px;
                border-radius: 25px;
                background: $color-orange;
                cursor: pointer;
            }

            &:-moz-focusring {
                outline: 1px solid white;
                outline-offset: -1px;
            }
        }
    }

    p {
        font-size: 14px !important;
        margin: 0 !important;
        width: 100% !important;

        @include bp(medium) {
            font-size: 16px !important;
        }
    }

    .close {
        color: $color-orange;
        border-radius: 100%;
        border: 1px solid $color-orange;
        height: 1.5em;
        width: 1.5em;
        text-align: center;
        z-index: 1;
        align-items: center;
        justify-content: center;
        display: none;
        margin-top: -37px;
        margin-right: -37px;
        background-color: $color-white;
        opacity: 1;

        &:hover {
            opacity: 1 !important;
            color: $color-orange !important;
        }
    }

    &--float {
        position: absolute;
        z-index: 99;
        background-color: $color-white;
        @include border-radius(8px);
        border: 2px solid $color-orange;
        width: 360px;
        display: none;
        right: 0;
        bottom: 0;
        max-width: 300px;
        @include box-shadow(rgba(0, 0, 0, 0.5) 0 2px 8px 0);

        @include bp(small) {
            max-width: none;
        }

        @include bp(medium) {
            right: 50px;
        }

        @include bp(large) {
            right: -140px;
        }

        .close {
            display: flex;
        }
    }
}