/* ==========================================================================
   #VIDEO-SEC
   ========================================================================== */

.c-video-sec {
    .c-video-sec__text-part {
        .play-video-btn {
            display: inline-flex;
            align-items: center;

            i {
                display: inline-block;
                font-size: 23px;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    } //.c-video-sec__text-part

    .c-video-sec__video-part {
        .item {
            display: block;
            @include border-radius(7px);
            overflow: hidden;
            -webkit-box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.2);
            box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.2);

            img {
                @include transition(all 0.3s ease);
                display: block;
            }

            .play-btn {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                font-size: 75px;
                width: 1em;
                height: 1em;
                color: $color-white;
            }
        } //.item
    } // .c-video-sec__video-part

    .video-model {
        .model-dialog {
            max-width: 1000px;

            .close {
                height: auto;
                margin-bottom: 5px;
                z-index: 99;
                top: 0;
                right: 0;
            } //.close
        } //.model-dialog
    } //.video-model
} //.c-video-sec