/* video section */
.video-part {
    .item {
        display: block; 
        @include border-radius(7px);
        overflow: hidden; 
        -webkit-box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.2);
        box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.2);

        &:hover {
            img {
                -webkit-transform:scale(1.05);
                -ms-transform:scale(1.05);
                -o-transform:scale(1.05);
                transform:scale(1.05);
            }
        }

        img {
            @include transition(all 0.3s ease);
            display: block;
        } //img
        
    } //.item

    .play-btn {
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        font-size: 75px; 
        width: 1em; 
        height: 1em;
        color: $color-white;
    } //.play-btn

.text-part .play-video-btn{display: inline-flex;align-items: center;}
.text-part .play-video-btn i{display: inline-block; font-size: 23px;vertical-align: middle;margin-left: 10px;}