.warminstaller {
    background-color: #f6f5f3;

    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: url(/images/site/cogs.gif) center center no-repeat rgba(0,0,0,0.7);
        display: none;
        z-index: 99;

        &:before {
            content: "Please wait, uploading can take up to a few minutes";
            display: block;
            font-size: 25px;
            color: rgba(255,255,255,0.8);
            text-align: center;
            position: fixed;
            left: 50%;
            top: 28%;
            transform: translate(-50%, -50%);

            @include bp(small) {
                top: 30%;
            }

            @include bp(medium) {
                top: 32%;
                font-size: 30px;
            }
        }
    }

    .container {
        background-color: $color-white;
        box-shadow: 0px 7px 15px 0px rgba(79, 69, 34, 0.1); 
        margin: 0 15px;
        width: auto;
        max-width: 1170px;
        padding: 0 15px;

        @include bp(small) {
            margin: 0 27px;
            padding: 0 20px;
        }

        @include bp(medium) {
            padding: 44px 50px;
            margin: 0 27px;
        }

        @include bp(xlarge) {
            margin: 0 auto;
        }

        .ui-widget {
            font-family: inherit;
        }

        .ui-widget.ui-widget-content {
            box-shadow: none;
            border: 0;
            padding: 0;

            .ui-tabs-panel {
                padding: 0;
            }
        }

        .o-layout { 
            padding: 20px;
            position: relative;
            overflow: hidden;

            @include bp(large) {
                padding: 40px 55px;
            }

            .ce_image {
                display: none;
                position: absolute;
                top: 30px;
                right: 15px;
                width: 175px;

                @include bp(medium) {
                    display: block;
                }

                @include bp(large) {
                    width: auto;
                    right: 30px;
                }
            }
        }

        h3 {
            color: $color-orange;
            font-weight: $semibold;
            font-size: 20px;
            text-decoration: underline;
            width: 100%;
            margin-bottom: 30px;

            @include bp(large) {
                font-size: 20px;
            }
            
        }

        span {
            color: $color-orange;
        }

        .btn {
            .next-icon, 
            .prev-icon {
                background-image: url(/images/site/go-arrows.svg);
                height: 30px;
                width: 35px;
                background-repeat: no-repeat;
                background-size: 50px;
            }

            .prev-icon {
                transform: scaleX(-1);
            }
        }

        ul {
            &.icon-list {
                width: auto;

                @include bp(large) {
                    width: 440px;
                }

                li {
                    font-size: 16px;
                    padding-left: 12px;
                    margin-bottom: 15px;
                    @include flexbox;
                    align-items: center;
                    line-height: 22px;

                    @include bp(large) {
                        font-size: 24px;
                        margin-bottom: 25px;
                        line-height: 30px;
                    }

                    &:last-of-type {
                        margin-bottom: 8px;
                    }

                    .icon, .details {
                        display: inline-block;
                    }

                    span {
                        color: $color-orange;
                    }

                    .details {
                        margin-top: 5px;
                    }

                    .icon {
                        width: 34px;
                        min-width: 34px;
                        margin-right: 20px;
                        vertical-align: top;

                        @include bp(large) {
                            width: 58px;
                            min-width: 58px;
                            margin-right: 35px;
                        }
                        
                    }

                    img {
                        width: 100%;
                    }
                }
            } //.icon-list

            &.boiler-img-cats {
                li {
                    font-size: 15px;
                    font-weight: $semibold;
                    display: inline-block;
                    margin-right: 25px;
                }
            }
        }

        hr {
            margin: 40px -20px;
            border-bottom-width: 0px !important;
            border-top-width: 1px !important;
            border: solid rgba(0, 0, 0, 0.2);

            @include bp(medium) {
                margin: 40px -60px;
            }

            @include bp(large) {
                margin: 40px -104px;
            }
        }

        section {
            margin: 0 -20px;
            padding: 40px 20px;
            border-bottom: 1px solid;

            @include bp(medium) {
                margin: 0 -50px;
                padding: 40px 60px;
            }

            @include bp(large) {
                padding: 40px 104px;
            }

            &.bt-1 {
                border-top: 1px solid;
            }

            &:last-of-type {
                border-bottom: 0;
            }
        }

        #tabs ul {
            display: none;
        }

        .btn--orange {
            color: $color-orange;
            border: 1px solid $color-orange;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            height: 43px;
            display: block;
            max-width: 300px;

            &:hover {
                background-color: $color-orange;
                color: $color-white;

                span {
                    &.view {
                        background-image: url(/images/site/view-magnifier.svg);
                    }
                }
            }

            @include bp(medium) {
                width: 100%;
            }

            span {
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                display: inline-block;

                &.view {
                    background-image: url(/images/site/view-magnifier-orange.svg);
                    margin-right: 10px;
                    margin-bottom: -3px;
                }
            }
        }

        .c-become-installer {
            .page {

                h3 {
                    margin-bottom: 40px;
                    margin-left: 0;
                }

                .btn {
                    margin: 0; 

                    @include bp(medium) {
                        max-width: 280px;
                    }

                    @include bp(large) {
                        max-width: 355px;
                    }

                    & + .btn {
                        margin-top: 20px;

                        @include bp(medium) {
                            margin-top: 0;
                        }
                    }

                    &.company-role {
                        margin-bottom: 40px;

                        @include bp(medium) {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .company-selection {
                p {
                    margin: 20px 0;
                    font-size: 26px;

                    @include bp(medium) {
                        margin: 40px 0;
                        font-size: 37.5px;
                    }
                }
            }
        }

        .c-gas-safety {
            .row {
                margin-bottom: 0;

                @include bp(medium) {
                    margin-bottom: 25px;
                }
            }
        }

        .form-group {
            max-width: 100%;
            margin: auto 0;

            label, p {
                margin-bottom: 5px;
                font-size: 15px;
                display: block;
                width: 100%;

                &.large {
                    font-weight: $bold;
                    font-size: 17px;
                    margin-bottom: 20px !important;
                }
            }

            p {
                font-size: 15px;
                line-height: 1.3;
            }

            label {
                font-weight: $semibold;
            }

            .row {
                margin-left: 0;
                margin-right: 0;

                &:only-child {
                    padding-bottom: 0;
                }
            }

            h3 {
                & + p {
                    margin-top: -20px;
                    margin-bottom: 40px !important;
                }
            }

            .signature {
                canvas {
                    width: 100%;
                    height: 100%;
                }
            }

            .form-box {
                width: 100%;
                margin-bottom: 0;

                @include bp(medium) {
                    width: 46%;
                    margin-right: 30px;
                }

                @include bp(large) {
                    width: 27.3%;
                    margin-right: 68px;
                }

                &.full {
                    width: 100%;
                    margin-right: 0;

                    a {
                        display: inline-block;
                        margin-right: 15px;

                        @include bp(medium) {
                            width: 32.7%;
                        }
                    }

                    input[type="file"] {
                        & + label {
                            @include bp(medium) {
                                width: 32.7%;
                            }
                        }
                    }
                }

                &.half {
                    width: 100%;
                    margin-right: 0;

                    @include bp(small) {
                        width: 50%;
                    }
                }

                &.checkbox {
                    label {
                        padding-left: 15px;
                        text-indent: -15px;
                    }
                }

                // &:nth-child(3n+3) { 
                //     margin-right: 0; 
                // }

                &:last-of-type {
                    margin-right: 0;
                }

                &.radio-2 {
                    fieldset .custom-radio {
                        width: calc(100% / 2);
                    }
                }

                &.radio-3 {
                    fieldset .custom-radio {
                        width: calc(100% / 3);

                        &:nth-child(2) {
                            border-radius: 0;
                        }
                    }
                }

                & + .form-box p {
                    margin-top: 10px;
                }

                .table {
                    display: table;
                    width: 300px;
                    border: 1px solid;
                    table-layout: fixed;
                }

                input {
                    margin-bottom: 20px;
                    font-size: 15px;
                    height: 42px;

                    @include bp(large) {
                        margin-bottom: 5px;
                    }
                    
                    &[type="file"] {
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        z-index: -1;

                        &:focus {
                            & + label {
                                background-color: $color-black;
                                outline: 1px dotted $color-white;
                                outline: -webkit-focus-ring-color auto 5px;
                            }
                        }
                    }

                    &[type="checkbox"] {
                        height: auto;
                        margin: 0;
                        margin-right: 5px;
                        vertical-align: middle;
                        position: relative;
                    }
                }

                .inputfile-label {
                    background-color: $color-orange;
                    color: $color-white !important;
                    cursor: pointer;
                    display: inline-flex;
                    font-size: 18px;
                    font-weight: $semibold;
                    line-height: 43px;
                    text-align: center;
                    width: 100%;
                    max-width: 300px;
                    margin-bottom: 20px !important;
                    vertical-align: middle;
                    justify-content: center;
                    border-radius: 0.25rem;

                    @include bp(large) {
                        width: 100%;
                        margin-bottom: 0 !important;
                    }

                    .upload {
                        background-image: url('/images/site/image-upload-white.svg');
                        background-repeat: no-repeat;
                        width: 28px;
                        height: 28px;
                        margin: 7px 10px 0 0; 
                    }

                    &:hover {
                        background-color: $color-black;
                    }
                }

                .error-inner {
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                select {
                    margin-bottom: 20px;
                    width: 100%;
                    font-size: 15px;
                    height: 42px;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;

                    @include bp(medium) {
                        margin-bottom: 0;
                    }
                }

                p {
                    font-size: 15px;
                }

                label {
                    &.custom-radio {
                        height: 44px;
                        display: inline-block;
                        vertical-align: middle;
                        text-align: center;
                        font-weight: $semibold;
                        margin-bottom: 0 !important;
                        border-radius: 6px 0px 0px 6px;
                        border: 1px solid #c4c9be;
                        border-right: 0;
                        cursor: pointer;

                        &:has(input) {
                            outline: 1px solid;
                        }

                        &:hover {
                            background-color: #f3fde7;
                        }

                        &.selected {
                            background-color: #f3fde7;
                        }

                        &:nth-child(2) {
                            border-radius: 0px 6px 6px 0px;
                            border: 1px solid #c7c1c1;

                            &:hover {
                                background-color: #faeded;
                            }

                            &.selected {
                                background-color: #faeded;
                            }
                        }

                        &:nth-child(3) {
                            border-radius: 0px 6px 6px 0px;
                            border: 1px solid #c7bfb1;
                            border-left: 0;

                            &:hover {
                                background-color: #f9e9ce;
                            }

                            &.selected {
                                background-color: #f9e9ce;
                            }
                        }

                        .custom-control-label {
                            margin-top: 13px;
                            &:before, &:after {
                                content: none;
                            }
                        }
                    }

                    &.styled-check {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: $regular;
                        @include user-select(none);

                        @include bp(medium) {
                            font-size: 16px;
                        }

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;

                            &:checked {
                                & ~ .checkmark {
                                    &:after {
                                        display: block;
                                    }
                                }
                            }
                        }

                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 23px;
                            width: 23px;
                            border: 1px solid #acacac;
                            border-radius: 2px;

                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                                left: 8px;
                                top: 4px;
                                width: 6px;
                                height: 12px;
                                border: solid $color-orange;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                .tool {
                    right: 0;
                    background-image: url(/images/site/help-question.svg);
                    background-repeat: no-repeat;
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    top: -7px;
                    cursor: pointer;

                    .tooltip-text {
                        visibility: hidden;
                        width: auto;
                        background-color: rgba(0,0,0,0.7);
                        color: #fff;
                        text-align: center;
                        border-radius: 4px;
                        padding: 5px;
                        position: absolute;
                        z-index: 1;
                        font-size: 14px;
                        left: -150px;

                        @include bp(medium) {
                            width: 300px;
                        }
                    }

                    &:hover {
                        .tooltip-text {
                            visibility: visible;
                        }
                    }

                    &.large {
                        width: 30px;
                        height: 30px;
                        top: -32px;
                        right: 0;

                        @include bp(small) {
                            right: initial;
                        }

                        @include bp(large) {
                            width: 35px;
                            height: 35px;
                        }
                    }

                    @include bp(large) {
                        right: -30px;
                    }
                }
            } // .form-box

            hr {
                margin: 0px -20px 40px -20px;



                @include bp(large) {
                    margin: 0px -42px 40px -42px;
                }
            }

            .CIField {
                margin: 1rem 0;
                width: 100%;
            
                .CITable {
                    border: 1px solid #d3d3d3;
                    border-collapse: inherit !important;
                    border-radius: 10px;
                    width: 100%;

                    td:first-child {
                        width: 250px !important;
                    }

                    thead th.top_actions {
                        padding: 7px !important;
                    }

                    .ci-upload-btn {
                        p {
                            width: auto;
                            float: left;
                            margin: 13px 20px 0 3px;
                        }
                    }

                    .Image {
                        .ImageCover, .ImageEdit, .ImageReplace, .ImageMove {
                            display: none;
                        }

                        .ImageDel {
                            background-color: $color-red;
                            background-image: none;
                            color: #fff;
                            padding: 0.7em 1.2em;
                            height: auto;
                            font-size: 12px;
                            font-weight: 600;
                            width: 100%;
                            text-align: center;

                            &:before {
                                content: "Delete";
                            }

                            &:hover {
                                text-decoration: none !important;
                                background-color: $color-black !important;
                            }
                        }
                    }
                }
            }

            .CIField .CITable thead th.top_actions .UploadImages {
                padding: 0.8em 1.2em;
                margin-top: 5px;
                background-color: $color-red;
                color: $color-white;
                height: auto;
                font-size: 12px;
                font-weight: 600;
                line-height: initial;
                cursor: pointer;
                text-shadow: none;
                background-image: none;

                @include bp(medium) {
                    padding: 1.2em 1.8em;
                    margin-top: 0;
                }

                input[type='file'] {
                    height: 100%;
                }
            }
        } // .form-group

        .success-message {
            border: 1px solid $color-orange;
        }

        .dashboard-tabs {
            .c-warminstaller-tabs {
                display: block;
            }
        }

        .update-options {
            text-align: center;

            @include bp(medium) {
                text-align: left;
            }

            a {
                text-transform: uppercase;
                padding: 18px 10px;
                color: $color-grey;
                @include inline-flex;
                border-radius: 10px;
                background-color: #f6f5f3;
                align-items: center;
                justify-content: space-between;
                line-height: 1.2;
                width: 171px;
                height: 165px;
                text-align: center;
                position: relative;
                box-shadow: 2px 2px 6.51px 0.49px rgba(0, 0, 0, 0.21);
                margin-right: 30px;
                cursor: pointer;
                font-size: 18px;

                &.pending {
                    cursor: auto;
                    
                    &:hover {
                        background-color: #f6f5f3;

                        span {
                            color: $color-grey;
                            
                            &.icon {
                                background: url('/images/site/engineer-icon.svg') no-repeat !important;
                            }
                        }
                    }
                }

                &:hover {
                    background-color: $color-orange;
                    color: $color-white;
                    text-decoration: none;

                    span {
                        color: $color-white;
                    }

                    &.update-company {
                        .icon {
                            background: url('/images/site/company-icon-alt.svg') no-repeat;
                        }
                    }

                    &.engineer {
                        .icon {
                            background: url('/images/site/engineer-icon-alt.svg') no-repeat;
                        }
                    }

                    &.add-engineer {
                        .icon {
                            background: url('/images/site/add-engineer-icon-alt.svg') no-repeat;
                        }
                    }
                }

                .icon {
                    width: 111px;
                    height: 78px;
                    position: absolute;
                    top: 17px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }

                &.update-company {
                    .icon {
                        background: url('/images/site/company-icon.svg') no-repeat;
                    }
                }

                &.engineer {
                    .icon {
                        background: url('/images/site/engineer-icon.svg') no-repeat;
                    }
                }

                &.add-engineer {
                    .icon {
                        background: url('/images/site/add-engineer-icon.svg') no-repeat;
                    }
                }

                i {
                    font-size: 44px;
                    position: absolute;
                    top: 15px;
                    left: 50%;
                    margin-left: -20px;
                }
                
                span {
                    color: $color-grey;
                    margin: 84px auto 0;
                }
            }
        }


        .contact-links {
            a {
                width: 100%;
                margin-bottom: 15px;
                margin-top: 0;

                & + a { 
                    margin-left: 0;
                }
            }
        }
    }

    .enquiry-sec {
        margin: 0 auto;

        form {

            .form-group {
                margin-bottom: 10px;

                label {
                    display: none !important;
                }
            }
            
            #form-input-what_best_describes_you,
            #form-input-dbs_certificate {
                display: none;
            }
        }
    }

    .btn--dashboard {
        background-color: $color-orange;
        color: $color-white;
        height: 48px;
        width: 275px;

        @include bp(medium) {
            display: none;
        }


    }

    .text-container {
        width: auto;
        max-width: 800px;
        margin: 0 30px;

        @include bp(large) {
            margin: 0 auto;
        }

        p {
            line-height: 1.7;
        }
    }

    .no-engineer {
        display: none;

        .warning {
            background: url(/images/site/warning-icon-orange.svg);
            background-repeat: no-repeat;
            width: 26px;
            height: 26px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}