/* ==========================================================================
   #WARMINSTALLER-TABS
   ========================================================================== */
   
.c-warminstaller-tabs {
    display: block;
    margin: 0 auto;

    @include bp(small) {
        width: auto;
    }

    @include bp(medium) {
        display: block;
        margin-bottom: 20px;
    }

    .engineer-tabs {
        li {
            margin: 0;
            margin-right: 20px;
            min-width: 46%;
            max-width: 46%;
            @include flex(1 0 0%);
            @include inline-flex;
            margin-bottom: 20px;

            @include bp(small) {
                min-width: 124px;
                max-width: 99px;
            }
    
            &:first-of-type {
                @include flex(1 0 100%);
                max-width: unset;
                margin: 0;
                margin-bottom: 30px;

                @include bp(small) {
                    @include flex(1 0 0);
                    max-width: 99px;
                    margin-right: 16px;
                }
            }

            &:nth-of-type(odd) {
                margin-right: 0;

                @include bp(small) {
                    margin-right: 16px;
                }
            }

            &:last-of-type {
                a span {
                    width: 80%;
                }
            }
    
            a {
                font-size: 11px;
                font-weight: $light;
                text-transform: uppercase;
                padding: 10px;
                color: $color-grey;
                @include flexbox;
                border-radius: 10px;
                background-color: $color-light-grey;
                align-items: center;
                justify-content: space-between;
                line-height: 1.2;
                width: 100%;
                height: 116px;
                text-align: center;
                position: relative;
                box-shadow: 2px 2px 6.51px 0.49px rgba(0, 0, 0, 0.21);
    
                span {
                    margin-top: auto;
                    margin-left: auto;
                    margin-right: auto;
                    color: $color-grey !important;
                    font-size: 12px;
                }
    
                i {
                    position: absolute;
                    top: 20px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;

                    &.ic-jobs-available {
                        background-image: url('/images/site/jobs-available-icon.svg');
                        height: 47px;
                        width: 47px;
                    }

                    &.ic-update-availability {
                        background-image: url('/images/site/calendar-thin-icon.svg');
                        height: 46px;
                        width: 45px;
                    }

                    &.ic-scheduled-jobs {
                        background-image: url('/images/site/scheduled-jobs.svg');
                        width: 44px;
                        height: 41px;
                        top: 24px;
                    }

                    &.ic-completed-jobs {
                        background-image: url('/images/site/completed-jobs.svg');
                        height: 46px;
                        width: 35px;
                        top: 22px;
                    }

                    &.ic-jobs-review {
                        background-image: url('/images/site/jobs-review.svg');
                        height: 43px;
                        width: 38px;
                        top: 23px;
                    }

                    &.ic-warmzilla-news {
                        background-image: url('/images/site/news-icon.svg');
                        width: 42px;
                        height: 34px;
                        top: 19px;
                    }

                    &.ic-warminstaller-shop {
                        background-image: url('/images/site/shop-icon.svg');
                        width: 36px;
                        height: 44px;
                        top: 11px;
                    }

                    &.ic-update-profile {
                        background-image: url('/images/site/profile-icon.svg');
                        height: 49px;
                        width: 47px;
                        top: 20px;
                    }

                    &.ic-talk-to-us {
                        background-image: url('/images/site/talk-to-us.svg');
                        width: 47px;
                        height: 44px;
                        top: 28px;
                    }
                } //i
    
                &:hover {
                    text-decoration: none;
                    background-color: $color-orange;
                    color: $color-white;
    
                    span {
                        color: $color-white !important;
                    }

                    i {
    
                        &.ic-jobs-available {
                            background-image: url('/images/site/jobs-available-icon-alt.svg');
                        }
    
                        &.ic-update-availability {
                            background-image: url('/images/site/calendar-thin-icon-alt.svg');
                        }
    
                        &.ic-scheduled-jobs {
                            background-image: url('/images/site/scheduled-jobs-alt.svg');
                        }
    
                        &.ic-completed-jobs {
                            background-image: url('/images/site/completed-jobs-alt.svg');
                        }
    
                        &.ic-jobs-review {
                            background-image: url('/images/site/jobs-review-alt.svg');
                        }
    
                        &.ic-warmzilla-news {
                            background-image: url('/images/site/news-icon-alt.svg');
                        }
    
                        &.ic-warminstaller-shop {
                            background-image: url('/images/site/shop-icon-alt.svg');
                        }
    
                        &.ic-update-profile {
                            background-image: url('/images/site/profile-icon-alt.svg');
                        }
    
                        &.ic-talk-to-us {
                            background-image: url('/images/site/talk-to-us-alt.svg');
                        }
                    } //i
                }
            }
    
            &.active {
                a {
                    background-color: $color-orange;
                    color: $color-white;
    
                    span {
                        color: $color-white !important;
                    }

                    i {
                        &.ic-jobs-available {
                            background-image: url('/images/site/jobs-available-icon-alt.svg');
                        }
    
                        &.ic-update-availability {
                            background-image: url('/images/site/calendar-thin-icon-alt.svg');
                        }
    
                        &.ic-scheduled-jobs {
                            background-image: url('/images/site/scheduled-jobs-alt.svg');
                        }
    
                        &.ic-completed-jobs {
                            background-image: url('/images/site/completed-jobs-alt.svg');
                        }
    
                        &.ic-jobs-review {
                            background-image: url('/images/site/jobs-review-alt.svg');
                        }
    
                        &.ic-warmzilla-news {
                            background-image: url('/images/site/news-icon-alt.svg');
                        }
    
                        &.ic-warminstaller-shop {
                            background-image: url('/images/site/shop-icon-alt.svg');
                        }
    
                        &.ic-update-profile {
                            background-image: url('/images/site/profile-icon-alt.svg');
                        }
    
                        &.ic-talk-to-us {
                            background-image: url('/images/site/talk-to-us-alt.svg');
                        }
                    } //i
                }
            }
    
            &:last-of-type {
                margin-right: 0;
            }
        }
    } //.engineer-tabs
}