/* ==========================================================================
   #WARMINSTALLER-HEADER
   ========================================================================== */
   
.c-warminstaller-header {
    border-bottom: 1px solid $color-grey;
    margin: 0;
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;

    @include bp(small) {
        margin-left: -20px;
        margin-right: -20px;
    }

    @include bp(medium) {
        margin-left: -50px;
        margin-right: -50px;
        padding: 0 104px 40px;
    }

    .c-warminstaller-header__inner {
        margin: 0 auto;

        &.layout {
            max-width: 935px;
        }

        h1, h2 {
            font-weight: $light;
            color: $color-text;
            font-size: 24px;
            margin: 0;

            @include bp(medium) {
                font-size: 26px;
            }
    
            @include bp(large) {
                font-size: 37.5px;
            }

            img {
                width: 36px;
                margin-right: 20px;
                vertical-align: middle;

                @include bp(medium) {
                    width: 62px;
                    margin-right: 30px;
                    margin-top: -10px;
                }

                &.dash {
                    width: 50px;
                    margin-right: 10px;
                    margin-top: -15px;

                    @include bp(medium) {
                        width: 120px;
                    }
                }

                &.warminstaller-logo {
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    margin-top: -10px;

                    @include bp(large) {
                        width: 310px;
                        margin-top: -12px;
                        margin-right: 0;
                        display: inline;
                    }
                }
            }

            .btn {
                margin-top: 10px;
                width: auto;

                @include bp(large) {
                    float: right;
                    margin-top: 0;
                }

                span {
                    &.update {
                        background-image: url(/images/site/profile-icon-alt.svg);
                        background-repeat: no-repeat;
                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                    }

                    &.add-engineer {
                        background-image: url(/images/site/plus-icon-white.svg);
                        background-repeat: no-repeat;
                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                    }

                    &.calendar {
                        background-image: url(/images/site/calendar-thin-icon-alt.svg);
                        background-repeat: no-repeat;
                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                    }

                    &.scheduled {
                        background-image: url(/images/site/scheduled-jobs-alt.svg);
                        background-repeat: no-repeat;
                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                    }
                }
            }
        }
    
        p {
            font-size: 14px;
            font-weight: $regular;
            margin-top: 20px;
            margin-bottom: 0;

            @include bp(large) {
                font-size: 18px;
                line-height: 1.3;
            }
        }
    
        span {
            color: $color-orange;
            font-weight: $semibold;
        }
    }
}