/* ==========================================================================
   #WHATS-INCLUDED
   ========================================================================== */
   
.c-whats-included {
    @include bp(medium) {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }

    h2 {
        text-align: center;
        display: block;

        @include bp(medium) {
            text-align: left;
            margin-left: 20px;
            display: inline-block;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 50px;

        @include bp(medium) {
            display: inline-block;
            margin-top: -26px;
            margin-bottom: 0;
            width: 65px;
        }
    }

    p {
        text-align: center;

        @include bp(medium) {
            text-align: left;
            margin-left: 85px;
        }
    }

    ul {
        margin-left: 30px;
        font-size: 16px;
        margin-top: 30px;

        @include bp(medium) {
            column-count: 2;
            margin: 0;
            font-size: 18px;
            margin-left: 85px;
            margin-top: 30px;
        }
        
        li {
            background: url(/images/site/tick-inside-circle-orange.svg) no-repeat left top;
            background-repeat: no-repeat;
            background-size: 24px;
            padding-left: 42px;
            margin: 20px auto;
            font-size: 16px;

            @include bp(medium) {
                font-size: 18px;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}