/* ==========================================================================
   #WHITE-CALENDAR
   ========================================================================== */
   
.white-calendar {
    .fc-toolbar {
        position: relative;

        .fc-center {
            h2 {
                text-transform: uppercase;
            }
        }   

        .fc-right,
        .fc-left {
            top: 50%; 
            @include transform(translateY(-50%));
            position: absolute;
        }

        .fc-right {
            right: 14%;
        }

        .fc-left {
            left: 14%;
        }

        .fc-state-default {
            height: 40px;
            width: 40px;
            @include border-radius(50%);
            background-color: $color-white;
            border: 2px solid #212121;
            @include flexbox;
            justify-content: center;
            background-image: none;

            &:after {
                font-family: "warmzilla-icon" !important;
                font-style: normal !important;
                font-weight: $normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                speak: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale; 
                font-size: 20px;
            }

            &.fc-state-hover {
                background-color: #212121; 
                color: $color-white;
            }

            &.fc-next-button {

                &:after {
                    content: "A";
                }
            }

            &.fc-prev-button {
                &:after {
                    content: "z";
                }
            }

            .fc-icon {
                display: none;
            }
        } //.fc-state-default
    } //.fc-toolbar

    .fc-view-container {
        border: 1px solid #f7f5ed;
        border-top: 0;
    
        .fc-row {
            &:not(.fc-widget-header) {
                table {
                    border-spacing: 6px 3px; 
                    border-collapse: separate;
                }
            }
        }

        .fc-basic-view {
            margin: 0;
        }

        .fc-day-header {
            font-size: 16px;
            background-color: $color-orange; 
            color: $color-white;
            border-color:$color-orange;
            text-transform: uppercase;
            padding: 5px;
            font-weight: $semibold;

            @include bp(large) {
                font-size: 23px;
            }
        }

        table {
            .fc-widget-content {
                &.fc-widget-content {
                    background-color: $color-white;
                    position: relative;
                }

                .fc-day-grid-container {
                    overflow: hidden !important;
                    height: auto !important;

                    .selected-date {
                        &:not(.fc-day-top) {
                            background-color: $color-orange !important; 
                            color: $color-white;
            
                            &:before {
                                content: "selected"; 
                                font-size:12px;
                                text-transform:uppercase;
                                bottom: 3px;
                                left: 0;
                                right: 0;
                                text-align: center;
                                font-weight: 600;
                                position: absolute;
                            }
            
                            &:after {
                                content: "y"; 
                                font-family: "warmzilla-icon" !important;
                                font-style: normal !important;
                                font-weight: $normal !important;
                                font-variant: normal !important;
                                text-transform: none !important;
                                speak: none;
                                line-height: 1;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale; 
                                left: 0;
                                right: 0; 
                                text-align: center; 
                                position: absolute; 
                                bottom: 29px;
                                font-size: 24px;
                            }
                        }
            
                        &.fc-day-top {
                            span {
                                color: $color-white;
                            }
                        }
                    }

                    .fc-content-skeleton {
                        .fc-past {
                            span {
                                color: rgba(114,114,114,0.3);
                            }
                        }

                        .fc-event-container {
                            .fc-event {
                                margin: 0;
                                height: 0;
                                
                                .fc-content {
                                    height: 0;
                                }
                            }
                        }
                
                        .confirm {
                            background-color: #ebebeb !important; 
                            cursor: not-allowed;
                
                            &:hover {
                                background-color: #ebebeb !important;
                            }
                
                            &:after {
                                display: none;
                            }
                        }
                
                        .select-date {
                            &:hover {
                                span {
                                    color: $color-white !important;
                                }
                            }
                        }
                
                        .fc-day-number {
                            line-height: 1; 
                            font-size: 20px;
                            font-weight: $semibold; 
                        }
                    }
        
                    .fc-day {
                        &:not(.unavailable) {
                            &:not(.fc-disabled-day) {
                                &:not(.fc-past) {
                                    &:not(.selected-date):before {
                                        content: "available";
                                        color: #029e0a;
                                        font-size: 12px;
                                        font-weight: $semibold; 
                                        text-transform: uppercase; 
                                        position: absolute;
                                        bottom: 3px; 
                                        left: 0; 
                                        right: 0;
                                        text-align: center; 
                                    }
                                }
                            }
                        }
                    }
        
                    .confirm {
                        &:not(.fc-day-top) {
                            content: 'FULL'; 
                            color: #676767;
                            font-size: 13px;
                            font-weight: $semibold; 
                            text-transform: uppercase; 
                            position: absolute; 
                            bottom: 1px; 
                            left: 0; 
                            right: 0;
                            text-align: center;
                        }
                    }
        
                    .unavailable {
                        background-color: #ebebeb !important;

                        &.fc-past {
                            background-color: #fff !important;

                            &:before {
                                content: "" !important;
                            }
                        }
        
                        &:not(.fc-day-top) {
                            &:before {
                                content: "FULL";
                                font-size: 12px;
                                font-weight: $semibold; 
                                text-transform: uppercase; 
                                position: absolute; 
                                bottom: 3px; 
                                left: 0; 
                                right: 0;
                                text-align: center;
                            }
                        }

                        &.hideit {
                            &:before {
                                display: none !important;
                            }
                        }
                    }
        
                    .available {
                        cursor: pointer;
                    }
        
                    .fc-bgevent {
                        border: 1px solid rgba(172,172,172,0.3);
                    }
                }
            }
        }        
    }
}

.selected-date-info {display: none;}
.checkout--wrap .step-loader{@include flexbox; align-items: center; justify-content: center; flex-direction: row-reverse;}
.checkout--wrap .step-loader .ajax-loader{position: static; left: auto;right: auto;margin-right: -40px;margin-left: 15px; margin-top: 10px;}
.cc-message{width: 100%}
.cc-compliance{padding-right: 4em;} 
.search-for-add {margin-top: -30px; margin-bottom: 30px;}

@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
    .cc-message {
        font-size: 12px;
        line-height: 16px;
    }
}

@media (min-width:1024px) and (max-width:1199px) {
    .white-calendar {
        table {
            font-size: 1.16em;
        }

        .fc-view-container {
            .fc-day-header {
                font-size: 20px;
            }

            .available {
                &:not(.fc-day-top):before {
                    font-size: 11px;
                }
            }

            .unavailable {
                &:before {
                    font-size: 11px;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .white-calendar {
        .fc-header-toolbar {
            padding: 10px;

            .fc-state-default {
                @include flexbox; 
                justify-content: center;
                width: 30px;
                height: 30px;

                .fc-icon {
                    top: auto;
                }
            }

            .fc-center {
                h2 {
                    font-size: 25px;
                    margin-bottom: 0;
                }
            }

            .fc-right {
                right: 10%;
            }

            .fc-left {
                left: 10%;
            }
        }

        .fc-view-container {
            table {
                font-size: 0.73em;

                .fc-widget-content {
                    .fc-day-grid-container {
                        .available {
                            &:not(.fc-day-top) {
                                font-size: 6px;
                            }
                        }

                        .fc-day:not(.unavailable):not(.fc-disabled-day):not(.fc-past):not(.selected-date):before {
                            font-size: 8px !important;
                            content: "";
                            background-color: #029a0a;
                            width: 15px;
                            height: 15px;
                            border-radius: 15px;
                            border: 0;
                            margin: 0 auto;
                        }
            
                        .unavailable {
                            &:not(.fc-day-top):before {
                                font-size: 6px;
                            }
                        }
            
                        .confirm {
                            &:not(.fc-day-top):before {
                                font-size: 10px;
                            }
                        }
            
                        .fc-day-number {
                            font-size: 12px !important; 
                            width: 18px; 
                            height: 18px; 
                            bottom: 14px;
                        }
            
                        .fc-day-header {
                            font-size: 15px;
                        }
            
                        .selected-date {
                            &:not(.fc-day-top):before {
                                font-size: 8px !important;
                                content: "";
                                background-color: #fff;
                                width: 15px;
                                height: 15px;
                                border-radius: 15px;
                                border: 0;
                                margin: 0 auto;
                            }

                            &:not(.fc-day-top):after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:767px) {
    .white-calendar {
        .fc-header-toolbar {
            height: 50px;
            @include flexbox; 
            align-items: center;
            justify-content: center; 

            .fc-right, 
            .fc-left {
                top: 50%;
            }

            .fc-right {
                right: 20%;
            }

            .fc-left {
                left: 20%;
            }

            .fc-state-default {
                border: 1px solid #212121;
                width: 25px; 
                height: 25px;
    
                &:after {
                    font-size: 13px;
                }
            }
        }

        .fc-view-container {
            .available {
                &:not(.fc-day-top):before {
                    font-size: 10px;
                }
            }

            .unavailable {
                &:before {
                    font-size: 10px;
                }
            }

            .select-date {
                .fc-day-number {
                    color: #029e0a;
                }
            }

            .selected-date {
                &:not(.fc-day-top):after {
                    display: none;
                }
            }
        }  
    }
}

@media (max-width:640px) {
    .white-calendar {
        .fc-header-toolbar {
            .fc-state-default {
                height: 30px; 
                width: 30px; 

                .fc-icon {
                    font-size: 16px;
                }
            }

            .fc-center {
                h2 {
                    font-size: 20px;
                }
            }
        }

        .fc-view-container {
            table {
                .fc-widget-content {
                    .fc-day-grid-container {
                        .fc-day-header {
                            padding: 3px;
                            font-size: 12px; 
                            font-weight: 400;
                        }

                        .not-avil, .confirm, .pending {
                            &:after {
                                font-size: 15px; 
                                bottom: 5px;
                            }
                        }

                        .available {
                            &:not(.fc-day-top):before {
                                font-size: 8px !important;
                            }
                        }

                        .fc-day:not(.unavailable):not(.fc-disabled-day):not(.fc-past):not(.selected-date):before {
                            font-size: 8px !important;
                            content: "";
                            background-color: #029a0a;
                            width: 15px;
                            height: 15px;
                            border-radius: 15px;
                            border: 0;
                            margin: 0 auto;
                        }

                        .unavailable {
                            &:before {
                                font-size: 8px !important;
                            }
                        }

                        .confirm {
                            &:not(.fc-day-top):before {
                                font-size: 8px !important;
                            }
                        }

                        .fc-day-number {
                            font-size: 15px;
                        }

                        .selected-date {
                            &:not(.fc-day-top) {
                                &:before {
                                    font-size: 8px !important;
                                    content: "";
                                    background-color: #fff;
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 15px;
                                    border: 0;
                                    margin: 0 auto;
                                }

                                &:after {
                                    display: none;
                                }
                            }
                        }

                        .fc-row {
                            &:not(.fc-widget-header) {
                                table {
                                    border-spacing: 2px 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}

@media (max-width:480px) {
    .white-calendar {
        .fc-header-toolbar {
            .fc-right {
                right: 7%;
            }

            .fc-left {
                left: 7%;
            }
        }

        .fc-view-container {
            table {
                .fc-widget-content {
                    .fc-day-grid-container {
                        .fc-content-skeleton {
                            .fc-day-header {
                                font-size: 12px;
                            }
            
                            .fc-day-number {
                                font-size: 14px;
                            }
            
                            .available {
                                &:not(.fc-day-top):before {
                                    font-size: 1.6vw; 
                                    bottom: 3px;
                                }
                            }
            
                            .unavailable {
                                &:before {
                                    font-size: 1.6vw; 
                                    bottom: 3px;
                                }
                            }
            
                            .confirm {
                                &:not(.fc-day-top):before {
                                    font-size: 1.6vw; 
                                    bottom: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1199px) {	
    .white-calendar #calendar .available:not(.fc-day-top):before, .white-calendar #calendar .unavailable:before{font-size: 11px;}
    .white-calendar #calendar th.fc-day-header{font-size: 20px;}
    .white-calendar .fc table{font-size: 1.16em;}
}






