/*
* Author: 		Tom Jaeger
* Contact:		Tom@EEHarbor.com
* Notes:		This is the core screen file for the entire site.
*
* CONTENTS
* -------------------------
* ==@import 		Imported CSS fields
*/
/* ==@import
------------------------------------------------------------------------------*/
@import url(screen/base.css);
@import url(screen/typography.css);
@import url(screen/forms.css);
@import url(screen/tables.css);
@import url(screen/navigation.css);
@import url(screen/alerts.css);
@import url(screen/pagination.css);

.btn {
	display: inline-block;
	text-shadow: none;
	}
.gap {
	margin: 10px;
	}
#charge_container .tg .tg{
	margin: 10px;
	background-color: #fff;
	}
#charge_container .plan_value {
	font-size: 1rem;
	width: 15%;
	text-align: center;
	}
#charge_container .plan_amount {
	font-size: 1.4rem;
	font-weight: bold;
	}
#charge_container .card_details {
	width: 143px;
	margin: 0 auto;
	}
#charge_container .stripe_card {
	display: block;
	padding: 10px 5px;
	margin-bottom: 5px;
	background: #ECF1F4;
	width: 100px;
	border: 1px solid #B0B9BF;
	border-radius: 6px;
	text-align: center;
	padding-left: 35px;
	}
#charge_container .stripe_card.type_visa {
	background: #ECF1F4 url(../images/visa.png) 6px 7px no-repeat;
	}
#charge_container .stripe_card.type_american {
	background: #ECF1F4 url(../images/amex.png) 6px 7px no-repeat;
	}
#charge_container .stripe_card.type_diners {
	background: #ECF1F4 url(../images/diners.png) 6px 7px no-repeat;
	}
#charge_container .stripe_card.type_discover {
	background: #ECF1F4 url(../images/discover.png) 6px 7px no-repeat;
	}
#charge_container .stripe_card.type_jcb	 {
	background: #ECF1F4 url(../images/jcb.png) 6px 7px no-repeat;
	}
#charge_container .stripe_card.type_mastercard {
	background: #ECF1F4 url(../images/mastercard.png) 6px 7px no-repeat;
	}
#charge_container .stripe_card_owner {
	text-align: center;
	}
#charge_container .test_mode td {
	background: #FFFCBF;
	}
.extended_data_body {
	display: block;
	overflow: auto;
	}
#charge_container td em {
	color: #5F6C74;
	}
#charge_container td em.error {
	color: #E11842;
	font-size: 1em;
	display: block;
	padding-top: 3px;
	}
#charge_container .pull_right {
	float: right;
	}
#charge_container .export_button {
	font-weight: normal;
	}
#charge_container td.sub-table {
	padding: 0;
	vertical-align: top;
	}
#charge_container td.sub-table table {
	border-bottom: 0;
	}
#charge_container td.sub-table tr.inactive {
	opacity: 0.3;
	}
#charge_container .cancelled_payment {
	color: #D91350 ;
	}
#charge_container .hidden {
	display: none;
	}
.charge-transactions table td {
	font-size: 12px;
	}
table td {
	white-space: initial;
	}
.box table {
	border: 0;
	}
label.choice {
	margin-right: 20px;
	}
.roland_table td.roland_drag_handle {
	background-image: url(../images/gfx/drag.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 5px 15px;
	}
.roland_table .ui-sortable-helper {
	display: block;
	-webkit-box-shadow:  2px 2px 3px rgba(0,0,0,0.4);
	-moz-box-shadow:  0 0 5px rgba(0,0,0,0.4);
	box-shadow:  0 0 5px rgba(0,0,0,0.4);
	border-top: 1px solid #fff;
	opacity: 0.8;
	}
.roland_table td.roland_drag_handle:hover {
	cursor: move;
	}
.roland_table a.add_row, .roland_table a.remove_row {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -3000px;
	display: inline-block;
	}
.roland_table a.add_row {
	background: url(../images/gfx/plus.png);
	margin-right: 5px;
	}
.roland_table a.remove_row {
	background: url(../images/gfx/minus.png);
	}
.roland_table .roland_nav {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	line-height: 16px;
	}
.fa-sm {
	font-size: 0.9em;
	}
.fa.error {
  color: #B94A48;
	}
.fa.info {
  color: #3A87AD;
	}
.fa.warning {
  color: #3A87AD;
	}
.fa.success {
  color: #468847;
	}

/* Foundation Styles */
.data-small {
	font-size: 12px;
	}
.bg-warning {
	padding: 5px 10px;
	background-color: #FFDD7C;
	}
.box {
	margin-bottom: 20px;
	}
.box .settings table th {
	text-align: left;
	}
.box .settings table td {
	vertical-align: top;
	}
.ee2 .box {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom-color: rgba(0, 0, 0, 0.4);
	margin-top: 9px;
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
	}
.ee2 .box h1 {
	border-bottom: 1px solid #e8e8e8;
	color: gray;
	font-size: 18px;
	font-weight: 400;
	padding: 10px;
	position: relative;
	background-image: -moz-linear-gradient(top,#fff,#f9f9f9);
	background-image: -webkit-linear-gradient(top,#fff,#f9f9f9);
	background-image: linear-gradient(to right,top,#fff,#f9f9f9);
	}
.ee2 .box h2 {
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: #37444D;
	margin: 0;
	padding: 9px;
	font-size: 16px;
	font-weight: bold;
	}
.ee2 .box .settings h2 {
	background-color: #f5f5f5;
	border: solid #e8e8e8;
	border-width: 1px 0;
	color: gray;
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
	}
.ee2 .box table {
	border-collapse: collapse;
	}
.ee2 .box table th, .ee2 .box table td {
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
	}
.ee2 .box table th {
	background-color: #f5f5f5;
	}
.special-visible-row td {
	border-top: 1px solid #e6e6e6;
	}
.ee2 .box table tbody tr:nth-child(2n) td {
	background-color: #fcfcfc;
	}
.ee2 .box table tbody tr:last-child td, .last-visible-row td {
	border-bottom: 0 !important;
	}
.ee2 .box .settings table td {
	color: #333;
	}
.ee2 .box .settings table td em {
	color: #5F6C74;
	}
.ee2 .box .settings input[type="checkbox"], .ee2 .box .settings input[type="radio"] {
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 5px;
	}
.ee2 .box .settings input[type="checkbox"], .ee2 .box .settings input[type="radio"] {
	margin-bottom: 0;
	}
.ee2 .btn {
	display: inline-block;
	text-shadow: none;
	}
.ee2 .btn {
	background-color: #22a456;
	border: 1px solid #22a456;
	color: #fff !important;
	cursor: pointer;
	font-size: 11px;
	line-height: 1;
	padding: 6px 8px 5px;
	text-decoration: none !important;
	text-transform: uppercase;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 rgba(0,0,0,.09)inset;
	-webkit-box-shadow: 0 0 rgba(0,0,0,.09)inset;
	box-shadow: 0 0 rgba(0,0,0,.09)inset;
	}
.ee2 button.btn {
	padding: 6px 8px 7px;
	}
.ee2 .btn.action {
	background-color: #1f80bd;
	border-color: #1f80bd;
	color: #fff;
	}
.ee2 .btn:hover {
    background-color: #197a40;
    border: 1px solid #197a40;
    color: #fff;
	}
.ee2 .setting-txt h3 {
	font-size: 14px !important;
	font-weight: 700;
	margin-bottom: 5px !important;
	}
.ee2 .setting-txt em {
	color: gray;
	font-size: 12px;
	font-style: normal;
	margin: 5px 0;
	margin-bottom: 10px;
	display: block;
	}
div.setting-txt > em {
	padding: 5px 10px 0 10px;
	}
.ee3 .charge-transactions {
	padding: 0;
	}
.text-pad {
	padding: 10px;
	}