{preload_replace:template_group="store"}
{preload_replace:template="index"}
 
	 
{embed="{template_group}/_header" title="Items" template_group="{template_group}" template="{template}" entry_id="{entry_id}" }
 
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
	{embed="{template_group}/_navbar" template_group="{template_group}" template="{template}"}

	{embed="{template_group}/_subhead" template_group="{template_group}" template="{template}"}

	{!-- since we're using twitter bootstrap, the main content area is designated "container", or some other specific classes depending on your requirements--}
	<div class="container">
		{!-- twitter bootstrap breaks up content into rows. The main section of this template is all one row. Rows can also be broken up into more rows --}
		<div class="row">

			{!-- twitter bootstrap breaks up (by default) pages into a 12 column grid. span3, span9 designate how much space these sections will take up --}
			<div class="span3">
				<div class="bs-docs-sidenav">
					{embed="{template_group}/_leftnav" template_group="{template_group}" template="{template}"}
 				</div>

			</div>

			{exp:cartthrob:multi_add_to_cart_form 
				class='form-horizontal' 
				return="{template_group}/view_cart"} 
			
			<div class="span9">
				<section>
					{exp:channel:entries channel="store_packages"}
 						<div class="row">
							<div class="span6">

								<h1>{title}</h1>
								{packages_description}
								<h4>{packages_packages:price} <small><strong>Price</strong></small></h4>

								<p>Price including tax 	{packages_packages:plus_tax}</p>
							
															{!-- using twitter bootstrap here to lay out the form niceley... hence the form-horizontal class set here --}

									<input type="hidden" name="entry_id[{count}]" value="{entry_id}" />
 									{packages_packages}

									  	<div class="control-group">
											<h3>{sub:title}</h3>
											{exp:cartthrob:item_options row_id="{sub:row_id}{count}"  entry_id="{entry_id}"}
									            {if dynamic}
									                <label class="control-label" for="{option_field}">{option_label}</label>
									                {input}
									            {if:else}
									                {if options_exist}
									                    <label class="control-label" for="{option_field}">{option_label}</label>
													    <div class="controls">
									                    {select} 
									                        <option {selected} value="{option_value}">
									                            {option_name}{if option_price_numeric != 0} +{option_price}{/if}
									                        </option>
									                    {/select}
														</div>
									                {/if}
									            {/if}
									        {/exp:cartthrob:item_options}
										</div>
									{/packages_packages}
									Add item to Cart?: <input type="checkbox" value="1" checked="checked" name="quantity[{count}]" /> 
							 		
							</div>
 
							<div class="span3">
								<ul class="thumbnails">
									<li class="span3">						
										<div class="thumbnail">
										{if packages_images}
											<img src="{packages_images}" />
										{if:else}
											<img src="{theme_folder_url}../user/cartthrob/store_themes/basic_white/images/main_pic.jpg" />
										{/if}
										</div>
									</li>
								</ul>
							</div>
						</div>
 					{/exp:channel:entries}

					{exp:channel:entries channel="products"}
						{if "{product_inventory}" != "0" }
						<div class="row">
							<div class="span6">

								<h1>{title}</h1>
								{if product_sku}#{product_sku}{/if}
								{product_description}
								{if product_original_price && product_original_price > product_price}
									<h4>{product_price} <small><strong>Sale Price</strong> <i class="icon-tags"></i></small></h4>
										<div class="alert alert-info">
											<del><small>Regular Price: <strong>{product_original_price}</strong></small></del>
										</div>
								{if:else}
								<h4>{product_price} <small><strong>Regular Price</strong></small></h4>
								{/if}
									{if no_tax !="Yes"}<p>Price including tax <strong>{product_price:plus_tax}</strong></p>{/if}


								<input type="hidden" name="entry_id[{count}-{count}]" value="{entry_id}" />
							

							  	<div class="control-group">
									{exp:cartthrob:item_options entry_id="{entry_id}"}
							            {if dynamic}
							                <label class="control-label" for="{option_field}">{option_label}</label>
							                {input}
							            {if:else}
							                {if options_exist}
							                    <label class="control-label" for="{option_field}">{option_label}</label>
											    <div class="controls">
							                    <select name="item_options[{count}-{count}][{option_field}]">
							                       {options}
							 						<option {selected} value="{option_value}">
							                            {option_name}{if option_price_numeric != 0} +{option_price}{/if}
							                        </option>
													{/options}
							                    </select>
												</div>
							                {/if}
							            {/if}
							        {/exp:cartthrob:item_options}
								</div>
								Add item to Cart?: <input type="checkbox" value="1" checked="checked" name="quantity[{count}-{count}]" /> 
						 		
 							</div>
 
							<div class="span3">
								<ul class="thumbnails">
									<li class="span3">						
										<div class="thumbnail">
										{if product_detail_image}
											<img src="{product_detail_image}" />
										{if:else}
											<img src="{theme_folder_url}../user/cartthrob/store_themes/basic_white/images/main_pic.jpg" />
										{/if}
										</div>
									</li>
								</ul>
							</div>
						</div>
						{/if}
					{/exp:channel:entries}


					<div class="row">
						<div class="control-group">
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Add to Cart</button>
				      		</div>
						</div>
					</div>
					
				</section>
				</div>
				{/exp:cartthrob:multi_add_to_cart_form}
				
		</div>
	</div>

	 	{embed="{template_group}/_footer" template="{template}" template_group="{template_group}" entry_id="{entry_id}"}
