/* ==========================================================================
   #BOX
   ========================================================================== */

.o-box {
    padding: 20px 30px;
    background: $color-bg;
    margin: 0 auto 20px;
    outline: 1px solid;

    @include bp(large) {
        max-width: 1170px;
    }
}