/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.o-layout {
  width: 100%;
  margin: 0 auto;
  border: 1px solid $color-orange;

  @include bp(large) {
    width: 100%;
    max-width: 960px;
  }

    p {
      @include bp(medium) {
        max-width: 940px;
        margin: 0 auto 20px;
      }
    }
  }
  
  .o-layout__item {
    @include flex(1);
  }
  
  .o-layout--guttered {
    justify-content: space-between;
  
    > .o-layout__item {
      @include flex(none);
    }
  }
  
  .o-layout--2 {
    > .o-layout__item {
      @include bp(medium) {
        width: 49%;
      }
    }
  }
  
  .o-layout--3 {
    > .o-layout__item {
      @include bp(medium) {
        width: 32%;
      }
    }
  }
  
  .o-layout--4 {
    > .o-layout__item {
      @include bp(medium) {
        width: 24%;
      }
    }
  }