.space-large {
      padding: 40px 0;

    @include bp(medium) {
      padding: 50px 0;
    }

    @include bp(large) {
      padding: 70px 0;
    }
  }

.space-small {
  padding: 30px 0;
}

.space-medium {
    padding: 50px 0;
}

.space-xlarge {
  padding: 120px 0;
}