{!--<h3 class="h4 text-orange">Card Details</h3>
<div class="card-details d-flex flex-wrap">                 
    <div class="form-box card-number-details">
        <label for="credit_card_number">Credit Card Number</label>
        <input type="text" name="" value="" id="credit_card_number" class="form-control" placeholder="eg 0000 0000 0000 0000" />
    </div>
    <div class="form-box validity-details">
        <label>Exp. Month/Year</label>
        <span>
            <input type="text" class="form-control" name="expiration_month" id="expiration_month" placeholder="MM">
            <input type="text" class="form-control" name="expiration_year" id="expiration_year" placeholder="YYYY">
        </span>
    </div>
    <div class="form-box cvv-details">
        <label for="credit_card_number">CVV</label>
        <input type="password" name="" value="" id="CVV2" class="form-control" placeholder="eg 000" />
    </div>
</div>--}