<p>Thermostatic radiator valves regulate the flow of water through your radiator to achieve the temperature you require in a room. These typically have a number from 0-5 printed on the head. They are a money saving option which have been proved to enhance the efficiency and workings of your central heating system.</p>
<p><strong>WarmZilla highly recommend!</strong></p>