form {
    width: 100%;
}

label {
    line-height: 1.2;
    margin-bottom: 10px !important;
    display: block;
    font-size: 18px;

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

input[type="text"], 
input[type="submit"], 
input[type="button"], 
input[type="password"], 
input[type="email"], 
input[type="tel"], 
input[type="search"], 
textarea {
    -webkit-appearance: none;
    outline: none;

    &:focus {
        border-color: #66afe9;
        outline: none; 
        border-color: transparent; 
        -webkit-box-shadow: none;
        box-shadow: none;
        z-index: 0;
    }
}

textarea { 
    height:120px; 
    resize:none; 
    overflow: auto; 
    padding: 20px 15px; 
    width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
    background-color: #cbcbcb; 
    padding: 0 15px; 
    display: inline-block; 
    vertical-align: top; 
    font-size: 14px; 
    font-weight: 600; 
    line-height: 1.52857143; 
    text-align: center; 
    border: none; 
    text-transform: none; 
    border-radius: 0px; 
    color: #fff; 
    background-color: #0eb769;

    &:hover {
        color: $color-white;
    }
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button:focus {
    outline: none;
}

::-webkit-input-placeholder { 
    opacity: 1 !important; 
    color: #000; 
}

:-moz-placeholder { 
    opacity: 1 !important; 
    color: #000; 
}

::-moz-placeholder { 
    opacity: 1 !important; 
    color: #000; 
}

:-ms-input-placeholder { 
    opacity: 1 !important; 
    color: #000; 
}

input[type="field"] {
    position: relative;
    opacity: 0;
    z-index: 2;
}