/* ==========================================================================
   #HEADINGS
   ========================================================================== */

  h1, h2, h3, h4, h5, h6 {
    font-family: $default-font;
    font-weight: $normal;
    line-height: 1.3;
    letter-spacing: 0.002em;
    color: $color-red;
    margin-bottom: 15px;

    &.alternate {
      font-weight: $light;
      color: $color-text;

      strong {
        font-weight: $regular;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  h1, .h1 {
    font-size: 26px;

    @include bp(medium) {
      font-size: 30px;
    }

    @include bp(large) {
      font-size: 34px;
    }
  }
  
  h2, .h2 {
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 15px;

    @include bp(large) {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
  
  h3, .h3 {
    color: $color-orange;
    font-size: 24px;

    @include bp(large) {
      font-size: 26px;
    }
  }
  
  h4, .h4 {
    font-size: 20px;
  }
  
  h5, .h5 {
    font-size: 20px;

    @media (min-width:768px) and (max-width:1023px) {
      font-size: 18px;
    }

    @media (max-width:767px) {
      font-size: 16px;
    }

    @media (max-width:640px) {
      font-size: 14px;
    }
  }
  
  h6, .h6 {
    font-size: 18px;
  }

