/* ==========================================================================
   #HR
   ========================================================================== */

  hr {
    border:0 #000 solid; 
    border-top-width:1px; 
    clear:both; 
    height:0;
    margin: 10px auto 40px;
  }