    
/* ==========================================================================
   #PAGE
   ========================================================================== */

 body {
    background-color: $color-white;
    color: $color-text;
    font-family: $default-font;
    font-size: 	1.25rem; /* 20px */
    line-height: 1.5; 
    min-height: 100%; 
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    outline: none;
    @include flexbox;
    flex-wrap: wrap;

    @media (max-width:767px) {
      font-size: 1rem;
    }

    @media (max-width:640px) {
      font-size: 0.875rem;
    }
  
    @include bp(medium) {
      font-size: 0.875em; /* 14px */
    }
  
    @include bp(large) {
      font-size: 1em; /* 15px */
    }
  }

  div {
    outline: none;
  }

  b, strong {
    font-weight: $semibold;
  }