/* ==========================================================================
   #IMAGES
   ========================================================================== */

  img {
    border:none; 
    max-width: 100%; 
    vertical-align: top; 
    height: auto;

    &[src$=".svg"] {
      width: 100%;
    }
  }