/* ==========================================================================
   #LINKS
   ========================================================================== */

   a {
    color: $color-link;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  
    &:hover {
      text-decoration: underline;
    }
  }