/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

   p {
       font-size: 16px;
       margin-bottom: 20px;
       letter-spacing: 0.005em;
       line-height: 1.6;

       @include bp(large) {
        font-size: 18px;
        line-height: 1.6;
    }

       &:last-child {
           margin-bottom: 0 !important;
       }

       a {
           font-weight: $semibold;
       }
   }