section {
    .heading {
        p {
            @include bp(medium) {
                font-size: 18px;
                margin-top: -10px;
            }

            @include bp(large) {
                font-size: 20px;
            }
        }
    }
}