/* ==========================================================================
   #SPAN
   ========================================================================== */

   span {
       strong {
           font-weight: $regular;
       }
   }