<div class="c-best-price-banner">
    <div class="container">
        <a href="/price-match" class="price-match">&nbsp;</a>
        <div class="content">
            <img src="/images/site/best-price-boiler.jpg" alt="boiler" />
            <h2>Best Price, Guaranteed</h2>
            <p>We guarantee to offer the best price on your new boiler. If you find a better price elsewhere, we’ll take £50 off the price of your boiler.</p>
            <a href="/price-match" class="btn btn--primary btn--inverted">Learn more <span></span></a>
        </div>
        <div class="image"></div>
    </div>
</div>