<section class="c-blog-sec space-medium bg-gray">
    <div class="container">
        <div class="desc">
            <div class="heading text-center">
                <h2>Check out our blog</h2>
                <p>Our blog has plenty of tips, tricks and useful info on heating, gadgets and money-saving advice</p>
            </div>
        </div>
        {!--
        =====================================================
            Blog list with Pagination.
            Fields:
                - Title (title)
                - Image (blog_image) [File=>Image Only]
                - Summary (blog_summary) [Wygwam]
                - Content (blog_content) [Wygwam]
        =====================================================
        --}
        {exp:channel:entries
            channel="blog"
            disable="member_data|trackbacks|relationships"
            dynamic="yes" limit="3" orderby="date" pagination="bottom"}
            {if count == 1}
            
            <div class="blog-post-list mt-5">
                <div class="row entry_data">
                    {/if}
        
                    <div class="item col-12 col-sm-6 col-lg-4">
                        <a class="inner-item" href="{path='/blog/{segment_1}/{url_title}'}">
                            {if blog_image}
                            <figure class="mb-3" style="background: url({exp:ce_img:pair src='{blog_image}' width='350' height='220' crop='yes' quality='75' cache='no' overwrite_cache='yes' allow_scale_larger='yes'}{made}{/exp:ce_img:pair}) no-repeat center / cover">
                                {exp:ce_img:single src="{blog_image}" width='350' height='220' crop="yes" alt='{title}' quality="75" cache="no" overwrite_cache="yes" allow_scale_larger="yes" attributes='class="ce_image"'}
                            {if:else}
                            <figure class="mb-3" style="background: url({exp:ce_img:pair src='/images/site/no-image.png' width='350' height='220' crop='yes' quality='75' cache='no' overwrite_cache='yes' allow_scale_larger='yes'}{made}{/exp:ce_img:pair}) no-repeat center / cover">
                                {exp:ce_img:single src="/images/site/no-image.png" width='350' height='220' alt='{title}' crop="yes" quality="75" cache="no" overwrite_cache="yes" allow_scale_larger="yes" attributes='class="ce_image"'}
                            {/if}
                                <span class="view-date position-absolute text-block">
                                    <em>{entry_date format="%d"}</em>
                                    {entry_date format="%M"}
                                </span>
                            </figure>
                            <div class="desc mb-3">
                                <h2 class="h5 text-orange">
                                    {exp:chopper words="10" allow="<p>" append="..."}{title}{/exp:chopper}</h2>
                                <span>
                                {exp:chopper words="30" allow="<p>" append="..."}
                                    {if blog_summary}
                                        {blog_summary}
                                    {if:else}
                                        {blog_content}
                                    {/if}
                                {/exp:chopper}
                                </span>
                            </div>
                            <div class="blog-category"><strong>Category:</strong> {categories}{category_name} | {/categories}</div>
                        </a>
                    </div>
                    {if count == total_results}
                </div>
            </div>
            {/if}
        {/exp:channel:entries}
        <div class="text-center mt-5">
            <a href="/blog" class="btn btn--primary btn--inverted">View blog</a>
        </div>
    </div>
</section>
