<div class="c-call-back">
    <div class="container">
        <h3><span>Stuck?</span> Speak to one of our expert engineers </h3>
        <a href="#" class="btn btn--primary" data-toggle="modal" data-target="#request_callback">Request Callback <span></span></a>
    </div>
</div>

<div class="modal fade request-callback quote-modal" id="request_callback" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times-circle"></i></span>
            </button>      
            <img src="/images/site/zilla-left.png" alt="Zilla" class="img-zilla">
            <div class="modal-body">
                <div class="content">
                    <h2>Request a Callback</h2>
                    <p>Please complete the form below and one of the WarmZilla team will give you a call to discuss your needs.</p>
                    <div class="form-group">
                        {!--
                        =====================================================
                            Including Contact form
                        =====================================================
                        --}
                        {exp:freeform_next:form 
                            form_id="6" 
                            id="callback_form"
                            class="validation-form request-callback" 
                            submit_class="btn btn--primary" 
                            return_url="{path='/find-a-boiler#thank-you'}"
                        }
                        <div class="row">
                            <div class="col-xs-12 col-lg-6 form-group">
                                <input name="name" type="text" id="form-input-name" class="form-control required validate[required]" placeholder="Name *">
                            </div>
                            <div class="col-xs-12 col-lg-6 form-group">
                                <input name="phone" type="text" id="form-input-phone" class="form-control required validate[required]" placeholder="Contact Number *">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 form-group">
                                <input name="email" type="email" id="form-input-email" class="form-control required validate[required]" placeholder="Email *">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 form-group">
                                <textarea name="additional_info" id="form-input-additional-info" class="form-control" rows="3" placeholder="Additional Info"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 form-group">
                                <button type="submit" class="btn btn--primary" name="form_page_submit">Submit Info <span class="next-icon"></span></button>
                            </div>
                        </div>
                        {/exp:freeform_next:form}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade quote-modal" id="thank-you-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times-circle"></i></span>
            </button>   
            <img src="/images/site/zilla-left.png" alt="Zilla" class="img-zilla"/> 
            <div class="modal-body">    
                <h2>Thank you </h2>
                <p>You should receive a callback from us shortly.</p>
                <div class="form-group">
                <button type="button" data-dismiss="modal" class="btn btn--primary">Continue Browsing <span class="next-icon"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('submit', 'form#callback_form', function() {
            $(".request-callback button").prop("disabled", false);
            if (! $(this).valid()) 
            {
                return false;
            }
        });

        if (document.location.href.indexOf('thank-you') > -1 ) {
            setTimeout($('#thank-you-modal').modal('toggle'), 1000)
        }
    });
</script>