<!-- popup -->
<div class="modal fade confirm-modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times-circle"></i></span>
            </button>      
            <div class="modal-body">
                <div class="content">
                    <p>Do you really want to remove all stored questions and start from the beginning?</p>
                    <div class="comfirm-btn text-right">
                        <a href="javascript:void(0);" class="btn btn--primary small-btn accept-restore">Yes</a>
                        <a href="javascript:void(0);" class="btn btn--secondary small-btn cancel-btn" data-dismiss="modal">No</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end popup -->