<section class="c-crisis-banner space-large u-mob-center" style="padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-4 col-12">
                <img src="/images/site/crisis-logo.jpg" class="logo" alt="Crisis Logo" />
                <img src="/images/site/crisis-image.jpg" alt="Crisis image" class="mt-4 mb-4"/>
            </div>
            <div class="col-lg-6 col-12 mt-3">
                <h2>We support homelessness charity Crisis</h2>
                <p>WarmZilla is supporting Crisis' Home For All campaign to end homelessness and to support those people who are most exposed to coronavirus through the WarmZilla mission of 'Warm For All'.</p>
                <p>The WarmZIlla Warm For All mission aims to increase awareness of Crisis' work, raise donations from fundraisers and allow WarmZilla customers to donate through our website to Crisis.</p>
                <p>Every £25 donated could provide essential support to people having to leave temporary accommodation and those made newly homeless by the coronavirus emergency. Any donation large or small can make a massive difference.</p>
            </div>
        </div>
        <div class="heading text-center mt-4">
            <a class="btn btn--primary btn--inverted" href="https://www.crisis.org.uk/get-involved/donate/" target="_blank">Donate now</a>
        </div>
    </div>
</section>