<select name="engineer">
	<option selected>Select Engineer</option>
	{exp:smart_members:profile group_id="10" member_id="ALL_MEMBERS" limit="500" order_by="engineer_company_name" sort="asc"}
	<option value="{member_id}">{engineer_company_name}</option>
	{/exp:smart_members:profile}
</select>