<section class="c-faq-sec space-medium">
    <div class="container">
        <div class="desc">
            <div class="heading text-center">
                <h2>Got a question for us?</h2>
                <p>Below, we've listed some of the most common questions we get asked about WarmZilla...</p>
            </div>
        </div>

        <div class="faq-details mt-3">
            <div class="container">
                <div class="row">
                    {exp:channel:entries
                        channel="faqs"
                        disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
                        dynamic="no" url_title="general" require_entry="yes"
                    }
                    <section class="c-faq-sec homepage">
                        <div class="desc">
                            <div class="container">
                                {faqs_question_answers}
                                    {faqs_question_answers:gf_simple_content}
                                        {content}
                                    {/faqs_question_answers:gf_simple_content}
                                {/faqs_question_answers}
                            </div>
                        </div>
                        <div class="faq-details mt-3">
                            <div class="container">
                                <div class="faq-accordian">
                                    {faqs_question_answers}
                                        <div class="faqs-list">
                                            {faqs_question_answers:faqs_question_answers_grid}
                                                {content}
                                                <div class="card general" id="{content:url}" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                                                    <div class="card-header">
                                                        <h5 class="h6 mb-0" itemprop="name">{content:question}</h5>
                                                        <em class="submenu-caret"></em>
                                                    </div>
                                                    <div class="collapse">
                                                        <div class="card-body pt-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                                            <div itemprop="text">{content:answer}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {/content}
                                            </div>
                                            {/faqs_question_answers:faqs_question_answers_grid}
                                        </div>
                                    {/faqs_question_answers}
                                </div>
                            </div>
                        </div>
                    </section>
                    {/exp:channel:entries}
                </div>
            </div>
        </div>
        
    </div>
</section>
