{!--
=====================================================
    Add "Global Fields" data 
=====================================================
--}
{exp:channel:entries disable="categories|category_fields|member_data|pagination|trackbacks|relationships" dynamic="no" entry_id="{embed:entry_id}"}

	{!--
    =====================================================
        Pages Content
        Fields:
            - Simple Content (gf_simple_content) [Wygwam]
            - Cloud Banner (gf_simple_content) [Grid]
    =====================================================
    --}
	{pages_content}

    {!--
    =====================================================
        Sub Title (gf_sub_title) [Text Input]
    =====================================================
    --}
    {pages_content:gf_sub_title}
    <div class="container">
        <div class="heading">
            <h1 class="h2 font-weight-bold text-orange">{content}</h1>
        </div>
    </div>
    {/pages_content:gf_sub_title}

	{!--
    =====================================================
        Simple Content (gf_simple_content) [Wygwam]
    =====================================================
    --}
    {pages_content:gf_simple_content}
    <div class="container simple-content">
        {content}
    </div>
    {/pages_content:gf_simple_content}

	{!--
    =====================================================
        Cloud Banner (cloud_banner) [Grid]
        Fields:
            - Title (title) [Text Input]
            - Image (image) [File=>Image Only]
            - Content (content) [Wygwam]
            - Link (link) [Text Input]
            - Link Text (link_text) [Text Input]
    =====================================================
    --}
	{pages_content:cloud_banner}
	{content}
	<section class="find-a-boiler-sec position-relative">
        <div class="banner">
            <div class="bg-img w-100 h-100 position-absolute" style="background: url('images/site/find-boiler-bg.jpg') no-repeat center/cover"></div>
            <div class="container position-relative">
                <div class="row space-medium">
                    <div class="left-part col-sm-6 col-md-7 col-12 pr-lg-5 pr-md-2">
                    	{if content:title}
                        <h1>{content:title}</h1>
                        {/if}

                        {content:content}

                        <a href="{content:link}" class="btn btn--primary {content:link_class}">{content:link_text} </a>
                        <img src="/images/site/trustpilot-logo-final-stars.png" alt="trustpilot logo" class="logo">
                    </div>

                    {if content:image}
                    <div class="right-part col-sm-6 col-md-5 col-12 d-inline-flex justify-content-end">
                        <figure>
	                        {exp:ce_img:single src="{content:image}" width='332' height='518' alt='{content:title}' crop="yes" quality="75" cache="no" overwrite_cache="yes" allow_scale_larger="yes" attributes='class="ce_image"'}
                        </figure>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </section>
    {/content}
    {/pages_content:cloud_banner}

    {!--
    =====================================================
        Give us a ring Callout (give_us_a_ring_callout) [Grid]
        Fields:
            - Heading (heading) [Text Input]
            - Sub Heading (sub_heading) [Wygwam]
            - Call now box content (call_now_box_content) [Wygwam]
            - Image (image) [File=>Image Only]
    =====================================================
    --}
    {pages_content:give_us_a_ring_callout}
        {content}
        <section class="que-sec give-a-call space-large position-relative">
            <div class=" container">
                <div class="que-call position-relative">
                    <div class="row">                                
                        <div class="col-sm-6 pl-md-5">
                            <div class="desc">
                                <h1 class="h2 text-orange main-title">{content:heading}</h1>
                                {content:sub_heading}
                            </div>
                            {if content:call_now_box_content}
                            <div class="call-box" style="margin-top: 20px;">
                                <div class="call-details">
                                    {content:call_now_box_content}
                                </div>
                            </div>
                            {/if}
                            {if embed:add_back_arrow == "yes"}
                            <a href="Javascript:void(0);" class="accept-restore btn btn--primary btn--small" style="margin-top: 20px;">Reset survey</a>
                            {/if}
                            {if embed:add_back_arrow == "no"}
                            <a href="Javascript:void(0);" class="accept-restore btn btn--primary btn--small" style="margin-top: 20px;">Reset survey</a>
                            {/if}
                        </div>
                        {if content:image}
                        <div class="col-sm-6 img-part">
                            <figure class="">
                                <img src='{content:image}' alt='{content:heading}'>
                            </figure>
                        </div>
                        {/if}

                        {if embed:add_back_arrow == "yes"}
                        <div class="text-center reset-link folded">
                            <a href="Javascript:void(0);" class="ic-left-arrow back-btn mobile-btn"></a>
                        </div>
                        {/if}
                    </div> 
                </div>   
            </div>   
        </section>
        {/content}
    {/pages_content:give_us_a_ring_callout}

    {/pages_content}

{/exp:channel:entries}