{exp:channel:entries
	channel="products"
	disable="categories|category_fields|member_data|pagination|trackbacks"
	dynamic="no" entry_id="{embed:entry_id}"
}
{if '{embed:type}' == 'landing'}
<h3 class="h5 text-orange w-100">{p_related_boiler_description:title} {if product_sku}({product_sku}){/if}</h3>
{if:elseif '{embed:type}' == 'header'}
<title>{p_related_boiler_description:title} {if product_sku}({product_sku}){/if}</title>
{if:elseif '{embed:type}' == 'breadcumb'}
<li class="active breadcrumb-item"><a href="javascript:;">{p_related_boiler_description:title}</a></li>
{if:elseif '{embed:type}' == 'sidebar'}
<p>{p_related_boiler_description:title} {if product_sku}({product_sku}){/if}</p>
{if:elseif '{embed:type}' == 'blank'}
{p_related_boiler_description:title}
{if:else}
<header class="w-100 mb-4 d-flex justify-content-between">
    <h2 class="h4 w-100 font-weight-bold text-orange">{p_related_boiler_description:title} {if product_sku}({product_sku}){/if}</h2>
</header>
{/if}
{/exp:channel:entries}