<div id="mobilenav" class="d-block d-lg-none">
    <div class="nav-backdrop"></div>                    
    <div id="menu" link-clickable="false" class="orange-gradiant-bg">
        <div class="row no-gutters">
            <div class="col-8">
                <!--<div class="nav-logo">
                    <h2 class="no-margin">Logo</h2>
                </div>-->
            </div>
            <div class="col-4 text-right">
                <button class="hamburger close">
                    <span class="wrap">
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="menu-outer">
            <ul role="menu">
                <li><a href="tel:{header_phone_number}">freephone: {header_phone_number}</a></li>
                <li><a href="mailto:{header_email_address}">{header_email_address}</a></li>
                {exp:channel:entries
                    channel="home"
                    disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
                    dynamic="no" limit="1"
                }
                <li class="header-social-links">
                {social_media_links}
                    <a href="{social_media_links:link}" target="_blank"><i class="fab {social_media_links:icon}"></i></a>
                {/social_media_links}
                </li>
                {/exp:channel:entries}
            </ul>
        </div>
    </div>
</div>
<!-- header part --> 
<header class="main-header bg-white">
    <div class="top-header">
        <div class="container d-flex justify-content-between flex-wrap">
            <div class="contact-link d-flex">
                <p>support : <a href="tel:{header_phone_number}"><strong> {header_phone_number}</strong></a></p>
                <p><a href="mailto:{header_email_address}">{header_email_address}</a></p>
            </div>
            <div class="account-link d-flex">
                
                <div class="login-section">
                    <a class="dropdown-item" href="{site_url}"><img src="/images/site/brand.svg" alt="Warmzilla logo" style="width:140px;"></a>
                </div>
               
                {!--
                ===========================================================
                    Social Media links from Home channel
                    Fields:
                        - Social Media links (social_media_links)
                ===========================================================
                --}
                {exp:channel:entries
                    channel="home"
                    disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
                    dynamic="no" limit="1"
                }
                {social_media_links}
                {if social_media_links:count == 1}
                <div class="social-link d-inline-flex align-items-center">
                    {/if}
                    <a href="{social_media_links:link}" target="_blank"><i class="fab {social_media_links:icon}"></i></a>
                    {if social_media_links:count == social_media_links:total_rows}
                </div>
                {/if}
                {/social_media_links}
                {/exp:channel:entries}

            </div>
        </div>
    </div>
</header>