<div id="mobilenav" class="mobile-nav d-block d-lg-none">
    <div class="nav-backdrop"></div>                    
    <div id="menu" link-clickable="false" class="orange-gradiant-bg menu">
        <div class="row no-gutters">
            <div class="col-8">
                <!--<div class="nav-logo">
                    <h2 class="no-margin">Logo</h2>
                </div>-->
            </div>
            <div class="col-4 text-right">
                <button class="hamburger close">
                    <span class="wrap">
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="menu-outer">
            <div class="quick-icons">
                <a href="{path='login'}"><i class="ic-profile-update"></i><span>account</span></a>
                <a href="tel:{header_phone_number}"><i class="ic-call"></i><span>call</span></a>
                <a href="mailto:{header_email_address}"><i class="ic-mail"></i><span>email</span></a>
            </div>
            
            <ul role="menu">
                <li {if segment_1 == 'find-a-boiler'}class="active"{/if}><a href="{path='/find-a-boiler'}">Find a Boiler</a></li>
                <li {if segment_1 == ''}class="active"{/if}><a href="{site_url}">Home</a></li>
                <li {if segment_1 == 'how-it-works'}class="active"{/if}><a href="{path='/how-it-works'}">How it Works</a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="/best-boiler-price-guarantee" class="nav-link">Best Price Guarantee</a></li>
                        <li><a href="/1-in-100-boilers-free" class="nav-link">1 in 100 boilers free</a></li>
                    </ul>
                </li>
                <li {if segment_1 == 'about-us'}class="active"{/if}><a href="{path='/about-us'}">About Us</a></li>
                <li {if segment_1 == 'faqs'}class="active"{/if}><a href="{path='/faqs'}">FAQs</a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="/faqs/installation" class="nav-link">Boiler Installation</a></li>
                        <li><a href="/faqs/whats-included" class="nav-link">What's Included</a></li>
                        <li><a href="/faqs/payment" class="nav-link">Payment</a></li>
                        <li><a href="/faqs/survey-questions" class="nav-link">Survey Questions</a></li>
                        <li><a href="/faqs/general" class="nav-link">General</a></li>
                        <li><a href="/faqs/landlord" class="nav-link">Landlord</a></li>
                    </ul>
                </li>
                <li {if segment_1 == 'blog'}class="active"{/if}><a href="{path='/blog'}">Blog</a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="/blog/category/fuel-types" class="nav-link">Fuel Types</a></li>
                        <li><a href="/blog/category/guides" class="nav-link">Boiler Guides</a></li>
                        <li><a href="/blog/category/news" class="nav-link">News</a></li>
                        <li><a href="/blog/category/reviews" class="nav-link">Reviews</a></li>
                        <li><a href="/blog/category/saving-money" class="nav-link">Saving Money</a></li>
                        <li><a href="/blog/category/smart-technology" class="nav-link">Smart Technology</a></li>
                    </ul>
                </li>
                <li {if segment_1 == 'contact-us'}class="active"{/if}><a href="{path='/contact-us'}">Contact Us</a></li>
                
                {exp:ce_cache:escape}
                {if logged_out}
                {if:else}
                <li><a href="javascript:;">My Account</a>
                    <ul>
                        <li><a class="dropdown-item" href="{path='dashboard'}">Members Dashboard</a></li>
                        <li><a class="dropdown-item" href="{path='dashboard/change-password'}">Change Password</a></li>
                        <li><a class="dropdown-item" href="{exp:smart_members:logout return='login' secure_return='yes'}">Logout</a></li>
                    </ul>
                </li>
                {/if}
                {/exp:ce_cache:escape}
                {exp:channel:entries
                    channel="home"
                    disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
                    dynamic="no" limit="1"
                }
                <li class="header-social-links">
                {social_media_links}
                    <a href="{social_media_links:link}" target="_blank">{social_media_links:link}<i class="fab {social_media_links:icon}"></i></a>
                {/social_media_links}
                </li>
                {/exp:channel:entries}
            </ul>
        </div>
    </div>
</div>
<!-- header part --> 
<header class="main-header bg-white">
    <div class="top-header">
        <div class="container d-flex justify-content-between flex-wrap">
            <div class="contact-link d-flex">
                <p>Freephone: <a href="tel:{header_phone_number}" itemprop="telephone"><strong> {header_phone_number}</strong></a></p>
                <p><a href="mailto:{header_email_address}" itemprop="email">{header_email_address}</a></p>
            </div>
            <div class="account-link d-flex">
                {exp:ce_cache:escape}
                {if logged_out}
                <div class="login-section">
                    {if segment_3 == 'my-order' && segment_4 == 'finalise-order'}
                    <a class="dropdown-item" href="{path='dashboard/login/my-order/finalise-order'}">Login</a>
                    <!-- <a class="dropdown-item" href="{path='dashboard/register/my-order/finalise-order'}">Register</a> -->
                    {if:elseif segment_1 == 'find-a-boiler' && segment_2 == 'view-boiler' && segment_3 != ''}
                    <a class="dropdown-item" href="{path='dashboard/login/my-order/finalise-order'}">Login</a>
                    <!-- <a class="dropdown-item" href="{path='dashboard/register/my-order/finalise-order'}">Register</a> -->
                    {if:else}
                    <a class="dropdown-item" href="{path='login'}">Login</a>
                    <!-- <a class="dropdown-item" href="{path='register'}">Register</a> -->
                    {/if}
                </div>
                {if:else}
                <div class="my-account dropdown d-inline-flex align-items-center">
                    <button class="dropdown-toggle"type="button" id="dropdownMenu1" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false"> My Account </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="{path='dashboard'}">Members Dashboard</a>
                        <a class="dropdown-item" href="{path='dashboard/change-password'}">Change Password</a>
                        <a class="dropdown-item" href="{exp:smart_members:logout return='login' secure_return='yes'}">Logout</a>
                    </div>
                </div>
                {/if}
                {/exp:ce_cache:escape}
                
                {!--
                ===========================================================
                    Social Media links from Home channel
                    Fields:
                        - Social Media links (social_media_links)
                ===========================================================
                --}
                {exp:channel:entries
                    channel="home"
                    disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
                    dynamic="no" limit="1"
                }
                {social_media_links}
                {if social_media_links:count == 1}
                <div class="social-link d-inline-flex align-items-center">
                    {/if}
                    <a href="{social_media_links:link}" target="_blank">{social_media_links:link}<i class="fab {social_media_links:icon}"></i></a>
                    {if social_media_links:count == social_media_links:total_rows}
                </div>
                {/if}
                {/social_media_links}
                {/exp:channel:entries}

            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0 align-items-stretch">
                <a class="navbar-brand" href="{site_url}"><img src="/images/site/brand.svg" alt="warmzilla logo"></a>
                <button class="hamburger navbar-toggler" type="button">
                    <span class="wrap">
                        <span class="line orange-gradiant-bg"></span>
                        <span class="line orange-gradiant-bg"></span>
                        <span class="line orange-gradiant-bg"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse align-items-stretch" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item d-inline-flex {if segment_1 == ''}active{/if}">
                            <a class="nav-link d-flex align-items-center" href="{site_url}">Home</a>
                        </li>
                        <li class="nav-item d-inline-flex how-it-works {if segment_1 == 'how-it-works'}active{/if}">
                            <a class="nav-link d-flex align-items-center how-it-works" href="{path='/how-it-works'}">How it Works</a>
                            <ul class="submenu">
                                <li><a href="/best-boiler-price-guarantee" class="nav-link">Best Price Guarantee</a></li>
                                <li><a href="/1-in-100-boilers-free" class="nav-link">1 in 100 boilers free</a></li>
                            </ul>
                        </li>
                        <li class="nav-item d-inline-flex {if segment_1 == 'about-us'}active{/if}">
                            <a class="nav-link d-flex align-items-center" href="{path='/about-us'}">About Us</a>
                        </li>
                        <li class="nav-item d-inline-flex faqs {if segment_1 == 'faqs'}active{/if}">
                            <a class="nav-link d-flex align-items-center faqs" href="{path='/faqs'}">FAQs</a>
                            <ul class="submenu">
                                <li><a href="/faqs/installation" class="nav-link">Boiler Installation</a></li>
                                <li><a href="/faqs/whats-included" class="nav-link">What's Included</a></li>
                                <li><a href="/faqs/payment" class="nav-link">Payment</a></li>
                                <li><a href="/faqs/survey-questions" class="nav-link">Survey Questions</a></li>
                                <li><a href="/faqs/general" class="nav-link">General</a></li>
                                <li><a href="/faqs/landlord" class="nav-link">Landlord</a></li>
                            </ul>
                        </li>
                        <li class="nav-item d-inline-flex blogs {if segment_1 == 'blog'}active{/if}">
                            <a class="nav-link d-flex align-items-center blogs" href="{path='/blog'}">Blog</a>
                            <ul class="submenu">
                                <li><a href="/blog/category/fuel-types" class="nav-link">Fuel Types</a></li>
                                <li><a href="/blog/category/guides" class="nav-link">Boiler Guides</a></li>
                                <li><a href="/blog/category/news" class="nav-link">News</a></li>
                                <li><a href="/blog/category/reviews" class="nav-link">Reviews</a></li>
                                <li><a href="/blog/category/saving-money" class="nav-link">Saving Money</a></li>
                                <li><a href="/blog/category/smart-technology" class="nav-link">Smart Technology</a></li>
                            </ul>
                        </li>
                        <li class="nav-item d-inline-flex {if segment_1 == 'contact-us'}active{/if}">
                            <a class="nav-link d-flex align-items-center" href="{path='/contact-us'}">Contact Us</a>
                        </li>
                    </ul>  
                    <a href="{path='/find-a-boiler'}" class="btn btn--primary align-self-center">Get your Quote</a>                              
                </div>
            </nav>
        </div>
    </div>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://www.warmzilla.co.uk"
        }
    </script>
</header>