<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<meta name="google-site-verification" content="oQY_BI5ZVnPU_i76daibfmPU0saAwGDMULxVTC8bGVs" />
<link rel="icon" type="image/ico" href="/images/site/favicon.png" />
{exp:minimee:css}
<link href="/css/bootstrap.css" rel="stylesheet" async/>
<link href="/css/main.css" rel="stylesheet" />
<link href="/css/slick.css" rel="stylesheet" />
<link href="/css/jquery.fancybox.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<link href="/fonts/styles.css" rel="stylesheet"/>  
<link href="/fonts/generated/generated-font.css" rel="stylesheet"/>  
{/exp:minimee:css}
{exp:minimee:js}
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/js.cookie.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" async></script>
<script src="/js/async-iframe.js"></script>
{/exp:minimee:js}
<script>
window.addEventListener("load", function(){
	window.cookieconsent.initialise({
		"palette": {"popup": {"background": "#000"}, "button": {"background": "#f1d600"} },
		"content": {"href": "/cookie-policy"}
	})
});
</script>

<!-- Share this buttons -->
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e54f5556f0a0100127363b5&product=sticky-share-buttons&cms=sop' async='async'></script>
<!-- Share this buttons-->

<!-- TrustBox script -->
<script src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End Trustbox script -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129204746-1"></script>

<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '2085230348196567'); 
	fbq('track', 'PageView');
</script>

<noscript>
	<img height="1" width="1" src="https://www.facebook.com/tr?id=2085230348196567&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-129204746-1');
gtag('config', 'AW-779300717');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZX273T');</script>
<!-- End Google Tag Manager -->