<section class="c-join-banner space-medium text-center">
    <div class="container">
        <div class="red-line"></div>
        <h3 class="text-red">Join the WarmZilla team</h3>
        <p style="max-width: 420px; margin: 20px auto;">We're always looking for top talent to join our team, if you think you’d be a good fit then fire over your C.V and we'll take a look.</p>
        <a href="#" class="btn btn--primary btn--inverted">Get in touch</a>
    </div>
</div>