<div class="c-logo-strip">
    <div class="container">
        <h3>Our Partners</h3>
        <div class="c-logo-strip__logos slider-for">
            <img src="/images/site/fca-logo-white.svg" alt="FCA Logo" style="width: 100px;">
            <img src="/images/site/trustpilot-logo-white.svg" alt="Trustpilot logo">
            <img src="/images/site/gassafe-logo-white.svg" alt="Gas Safe logo">
            <img src="/images/site/stripe-white-logo.svg" alt="Stripe logo">
            <img src="/images/site/worcester-logo-white.svg" alt="Worcester logo">
            <img src="/images/site/honeywell-logo-white.svg" alt="honeywell logo">
            <img src="/images/site/google-logo-white.svg" alt="google logo">
            <img src="/images/site/hive-logo-white.svg" alt="Hive logo">
            <img src="/images/site/ico-logo-white.svg" alt="Ico logo">
            <img src="/images/site/ideal-logo-white.svg" alt="Ideal logo">
            <img src="/images/site/adey-logo-white.svg" alt="Adey logo">
            <img src="/images/site/nest-logo-white.svg" alt="Nest logo">
            <img src="/images/site/salus-logo-white.svg" alt="Salus logo">
            <img src="/images/site/vendigo-logo-white.svg" alt="vendigo logo">
            <img src="/images/site/vokera-logo-white.svg" alt="vokera logo">
            <img src="/images/site/vaillant-logo-white.svg" alt="vaillant logo">
        </div>
    </div>
</div>