<!-- footer part --> 
<footer class="c-footer">
    <div class="c-footer__top">
        <div class="o-wrapper">
            <div class="row">
                <div class="col-md-3 col-xl-4 col-sm-6 col-12 mb-3 mb-md-0">
                    <div class="title">
                        <h5>Help & Support</h5>
                    </div>
                    <ul>
                        <li {if segment_1 == 'how-it-works'} class="active" {/if}><a href='{path="/how-it-works"}'>How it Works</a></li>
                        <li {if segment_1 == 'faqs'} class="active" {/if}><a href='{path="/faqs"}'>FAQs</a></li>
                        <li {if segment_1 == 'become-an-installer'} class="active" {/if}><a href='{path="/become-an-installer"}'>Become an Installer</a></li>
                        <li {if segment_1 == 'blog'} class="active" {/if}><a href='{path="/blog"}'>Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-12 c-newsletter order-sm-2 order-md-0 mb-3 mb-md-0">
                    <div class="title">
                        <h5>Follow Us</h5>
                    </div>
                    <form action="https://warmzilla.us19.list-manage.com/subscribe/post?u=59bbd104646a6261e7fed4841&amp;id=acef020d45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="c-newsletter__form">
                        <p>Sign Up For Our Newsletter</p>
                        <div class="input-group">
                            <input class="form-control" placeholder="Email Address" aria-label="" aria-describedby="basic-addon1" type="email" name="EMAIL" id="mce-EMAIL" placeholder="email address">
                            <div class="input-group-append">
                                <button class="btn c-btn c-btn--success" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
                            </div>
                        </div>
                    </form>

                    {!--
                    ===========================================================
                        Social Media links from Home channel
                        Fields:
                            - Social Media links (social_media_links)
                    ===========================================================
                    --}
                    {exp:channel:entries
                        channel="home"
                        disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
                        dynamic="no" limit="1"
                    }
                    {social_media_links}
                    {if social_media_links:count == 1}
                    <div class="c-footer__social d-flex">
                        {/if}
                        <a href="{social_media_links:link}" class="d-inline-flex align-items-center justify-content-center mr-2" target="_blank"><i class="fab {social_media_links:icon}"></i></a>
                        {if social_media_links:count == social_media_links:total_rows}
                    </div>
                    {/if}
                    {/social_media_links}
                    {/exp:channel:entries}

                </div>
                <div class="col-md-4 col-sm-6 col-12 c-footer__contact-us order-sm-1 order-md-0">
                    <div class="title">                                  
                        <h5>Contact Us</h5>
                    </div>
                    <address>
                        <p><i class=""><img src="/images/site/add-marker.svg" alt=""></i><span itemprop="name">WarmZilla Limited</span> <br>
                        {contact_address}</p>
                    </address>
                    <div class="contact-data" >
                        <p><i> <img src="/images/site/call.svg" alt=""> </i> <a href="tel:{telephone_number}" itemprop="telephone">{telephone_number}</a></p>
                        <p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><i><img src="/images/site/mail.svg" alt=""></i><a href="mailto:{footer_email_address}" itemprop="email">{footer_email_address}</a></p>
                    </div>
                </div>
                <div class="col-12 register-info">
                    <p>Registered in England & Wales Company No. 09301554</p>
                    <p>WarmZilla Limited are Authorised and regulated by the Financial Conduct Authority FRN 815093 for credit broking.</p>
                </div>
            </div>
        </div>               
        <!-- <div class="chat-popup d-flex align-items-center">
<em class="close"><i class="fal fa-times-circle"></i></em>
<a href="#" class="position-relative inner-part d-flex align-items-center">
<div class="txt">
<small>Need Help ?</small>
<span>START A CHAT</span>                            
</div>
<figure>
<img src="/images/site/chat-icon.png" alt="">
</figure>
</a>
</div>                    
<a href="javascript:;" class="scroll-top">
<i class="fal fa-chevron-up"></i>
</a>   -->                    
    </div>  
    <div class="copy-right-part bg-black">
        <div class="container d-flex flex-wrap justify-content-sm-between justify-content-center">
            <p>© {current_time format="%Y"} WarmZilla. All rights reserved.</p>
            <p>
                <a href='{path="/terms-conditions"}' {if segment_1 == 'terms-conditions'} class="active" {/if}>Terms & Conditions</a>
                <a href='{path="/privacy-policy"}' {if segment_1 == 'privacy-policy'} class="active" {/if}>Privacy Policy</a>
                <a href='{path="/cookie-policy"}' {if segment_1 == 'cookie-policy'} class="active" {/if}>Cookie Policy</a>
            </p>
        </div>
    </div>
</footer>

<!--[if IE]>
<script src="/js/html5shiv.js"></script>
<![endif]--> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>  
<script src="/js/bootstrap.min.js"></script>  
<script src="/js/slick.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js'></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/scripts.js"></script>

<!--Start of Tawk.to Script-->
<script>
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5bd6f3b365224c264051383d/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->