<div class="c-one-in-100">
    <p>We refund the cost of every 1 in 100 boilers we sell.<br>Could you be our 1 in 100?</p>
    <img src="/images/site/1-in-100-logo.png" alt="1 in 100 icon">
    <div class="break"></div>
    <a href="/1-in-100-boilers-free" class="btn btn--primary btn--inverted">Learn more</a>
</div>