<section class="c-hero-section position-relative one-in-100">
    <img src="/images/site/grey-rip.png" alt="grey rip" class="rip" />
    <div class="banner-slider">
        <div class="item">
            <div class="container">
                <img src="/images/site/clouds-left.png" alt="clouds" class="clouds" />
                <img src="/images/site/clouds-right.png" alt="clouds" class="clouds clouds-2" />
                <div class="left-part">
                </div>
                <div class="right-part">
                    <div class="content">
                        <img src="/images/site/1-in-100-icon.png" alt="1 in 100 icon">
                        <h1>We give away 1 in every 100 boilers sold.</h1>
                        <p>Your new boiler comes with a Derek the Dinosaur plushy with a unique number - if your number is chosen, we will refund your purchase completely.</p>
                        <a href="/1-in-100-boilers-free" class="btn btn--primary btn--inverted" tabindex="0">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>