{exp:channel:entries
    channel="orders" status="open|Payment Processing|Process Offsite|New|Scheduled|Installation Done|Installed|Completed|Under Review"
    disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
    dynamic="no" entry_id="{embed:entry_id}"
}
{if '{embed:is_pdf}' == 'yes'}
<h4>Order Status: <strong>{status}</strong></h4>
{if:else}
<div class="row">
    <div class="col-md-12 order-status">
        <h4>Order Status: <strong>{status}</strong></h4>
    </div>
</div>
{/if}
{/exp:channel:entries}