<section class="c-quote-banner">
    <div class="container">
        <h3 class="text-red">Get an instant fixed price quote on your new boiler in 90&nbsp;seconds</h3>
        <a href="{site_url}find-a-boiler" class="btn btn--primary">Get your Quote</a>
    </div>
</section>