{exp:channel:entries
    channel="review"
    disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
    dynamic="no"
}
{if count == 1}
<section class="gallery-sec space-small">
    <div class="c-trustbox-gallery slider-for">
        {/if}
        <a href="{link_to_review}" target="_blank" class="item" itemscope itemtype="http://schema.org/Review">
            <h3 itemprop="author">{title}</h3>
            
            {if review_stars == 5}
                <img src="/images/site/trustpilot-5-stars.jpg" alt="5 stars" class="stars" />
            {/if}
            <div class="content">
                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="Warmzilla">
                {exp:chopper words="10"}
                    {review_main}
                {/exp:chopper}
                </span>
            </div>
        </a>
        {if count == total_results}
    </div>
    <div class="trustbox-area mt-4 u-text-center">

        <a href="https://uk.trustpilot.com/review/warmzilla.co.uk" target="_blank"><img src="/images/site/trustpilot-logo.png" alt="trustpilot" class="logo mob"/></a>
        <a href="https://uk.trustpilot.com/review/warmzilla.co.uk" target="_blank"><img src="/images/site/trustpilot-excellent-stars.png" alt="trustpilot" class="logo desk"/></a>
        <p><strong>4.8</strong> out of <strong>5</strong> average score</p>
    </div>
</section>
{/if}
{/exp:channel:entries}