<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<meta name="google-site-verification" content="oQY_BI5ZVnPU_i76daibfmPU0saAwGDMULxVTC8bGVs" />
<link rel="icon" type="image/ico" href="/images/site/favicon.png" /> 
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/main.css" rel="stylesheet" />
<link href="/css/slick.css" rel="stylesheet" />
<link href="/css/jquery.fancybox.min.css" rel="stylesheet" />
<link href="/css/fontawesome.min.css" rel="stylesheet"/>
<link href="/fonts/generated/generated-font.css" rel="stylesheet"/>
<link href="/fonts/styles.css" rel="stylesheet"/>         
<link href="https://file.myfontastic.com/xsXE3q2xkTp4TYX6jZNJQ3/icons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />

<script src="/js/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
	window.cookieconsent.initialise({
		"palette": {"popup": {"background": "#000"}, "button": {"background": "#f1d600"} },
		"content": {"href": "/cookie-policy"}
	})
});
</script>

<!-- TrustBox script -->
<script src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End Trustbox script -->

{!--
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129204746-1"></script>

<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-129204746-1');
gtag('config', 'AW-779300717');
</script> --}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZX273T');</script>
<!-- End Google Tag Manager -->