{!--
=====================================================
    SEO Lite code with Extra fields
    SEO Fields:
		Meta Keywords (meta_keywords)
		Meta Description (meta_description)
		Canonical URL (canonical_url)
		Entry Title (entry_title)
    Extra Fields:
    	- Extra Image (extra:image)
    	- Extra Description (extra:desc)
        - SEO Image (gf_seo_image) [file=>Image Only]
=====================================================
--}
{exp:channel:entries
	disable="categories|category_fields|member_data|pagination|trackbacks|relationships"
	dynamic="no" entry_id="{embed:entry_id}"
}
{exp:seo_lite entry_id="{entry_id}"}
	{if entry_title}
	<title>{entry_title}</title>
	{if:else}
	<title>{title} | {site_name}</title>
	{/if}
	
	{if meta_keywords} 
		<meta name='keywords' content="{meta_keywords}" temp="test"/> 
	{/if}

	{if meta_description} 
		<meta property="og:description" content="{meta_description}"/>
		<meta name='description' content="{meta_description}" />
	{if:elseif extra:desc != " ..." && extra:desc != ""} 
		<meta property="og:description" content="{exp:chopper chars='256' append='...' allow=''}{extra:desc}{/exp:chopper}"/>
		<meta name='description' content="{exp:chopper chars='256' append='...' allow=''}{extra:desc}{/exp:chopper}" /> 
	{/if}

	{if canonical_url} 
		<link rel='canonical' href="{canonical_url}" />
		<meta property="og:url" content="{canonical_url}"/> 
	{/if}

	{if entry_title == ''} 
		<meta property="og:title" content="{site_name}"/> 
	{if:else}
		<meta property="og:title" content="{entry_title}"/> 
	{/if}

	{if gf_seo_image}
		<meta property="og:image" content="{gf_seo_image}"/>
	{if:else}
		{if extra:image}
		<meta property="og:image" content="{extra:image}"/>
		{/if}
	{/if}
{/exp:seo_lite}
{/exp:channel:entries}