<div class="container pt-5 pb-5 c-whats-included">
    <div class="left-part col-md-9 col-lg-7">
        <img src="/images/site/gift-icon.svg" alt="gift icon">
        <h2 class="text-orange">What's included?</h2>
        <p>Your WarmZilla boiler installation comes with everything you need (and some extras).</p>
        <ul>
            <li>Gas Safe installation</li>
            <li>System filter</li>
            <li>Flue / plume kit</li>
            <li>System cleanse</li>
            <li>Smart thermostat</li>
            <li>5-10 year guarantee</li>
        </ul>
    </div>
</div>